<div class="row">
	<div class="col-12">
		<kt-portlet>
			<kt-portlet-header title="Manifest Carrier Master - Vendor Carrier">
				<ng-container ktPortletTools> </ng-container>
			</kt-portlet-header>

			<kt-portlet-body>
				<div *ngIf="menuForb" class="alert alert-warning box-msg" role="alert">
					<strong>Warning!</strong>
					<span style="padding-left: 10px;">You doesn't have permission to access this page.</span>
            	</div>

				<div *ngIf="menuPriv">
					
                    <div align="left">
                        <dx-button icon="plus" [width]="25" [height]="25" type="success" (onClick)="addCost()"></dx-button>
                    </div>
                    
                    <br/>
                    
                    <dx-data-grid [dataSource]="dsList" [showBorders]="true">
                      <dxo-filter-row [visible]="true"></dxo-filter-row>
                      <dxo-header-filter [visible]="true"></dxo-header-filter>

					  <dxi-column [allowFiltering]="false" [fixed]="true" caption="Action" alignment="center" [allowSorting]="false" cellTemplate="cellTemplate" [width]="80"></dxi-column>

						<div *dxTemplate="let data of 'cellTemplate'">
							<dx-drop-down-button
								[dropDownOptions]="{ width: 150 }"
								icon="menu"
								[items]="[{icon: 'edit' ,key: 'delete', value: 'Delete', data: data.data}]"
									(onItemClick)="actionCLick($event)"
									[displayExpr]="'value'"
									[keyExpr]="'key'"
									>
                            </dx-drop-down-button>
						</div>
								<!-- {icon: 'close' ,key: 'delete', value: 'Delete', data: data.data} -->
					  <!-- <dxi-column type="adaptive" [width]="50"></dxi-column> -->
                    
                      <dxi-column dataField="vendorName" dataType="string" caption="Vendor" alignment="left" [width]="300"> </dxi-column>
                      <dxi-column dataField="carrierName" dataType="string" caption="Carrier" alignment="left" > </dxi-column>

                    </dx-data-grid>

				</div>
			</kt-portlet-body>
			

		</kt-portlet>

	</div>
</div>



