<div class="row">
	<div class="col-12">
		<kt-portlet>
			<kt-portlet-header title="Master Mapping Area - Create">
				<ng-container ktPortletTools> </ng-container>
			</kt-portlet-header>

			<kt-portlet-body>
                
                <div class="row  ml-2 mr-3">
                    <div class="col-md">
                        <div class="dx-fieldset">
                            
                            <div class="dx-field">
                                <div class="dx-field-label">Area</div>
                                <div class="dx-field-value">
                                    <dx-select-box [dataSource]="areaDs" [searchEnabled]="true" displayExpr="cityName" valueExpr="cityId" [(value)]="formCreate.areaId" [showClearButton]="true">
										<dx-validator>
											<dxi-validation-rule type="required"></dxi-validation-rule>
										</dx-validator>
									</dx-select-box>
                                </div>
                            </div>

                            <div class="dx-field">
                                <div class="dx-field-label">Kota</div>
                                <div class="dx-field-value">
                                    <dx-select-box [dataSource]="cityDs" [searchEnabled]="true" displayExpr="cityName" valueExpr="cityId" [(value)]="formCreate.cityId" [showClearButton]="true" (onValueChanged)="onTriggerChange($event)">
										<dx-validator>
											<dxi-validation-rule type="required"></dxi-validation-rule>
										</dx-validator>
									</dx-select-box>
                                </div>
                            </div>

                            <div class="dx-field">
                                <div class="dx-field-label">Kecamatan</div>
                                <div class="dx-field-value">
                                    <dx-select-box [dataSource]="subDistrictDs" [searchEnabled]="true" displayExpr="masterSubDistrictName" valueExpr="masterSubDistrictId" [(value)]="formCreate.subDistrictId" [showClearButton]="true">
										<dx-validator>
											<dxi-validation-rule type="required"></dxi-validation-rule>
										</dx-validator>
									</dx-select-box>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                
                
                <div class="row  ml-2 mr-3">
                    <div class="col-md text-right">
                        <dx-button text="Create" type="default" (onClick)="onSave()"></dx-button>&nbsp;&nbsp;
                        <dx-button text="Kembali" type="danger" (onClick)="onBack()"></dx-button>  
                    </div>
                </div>
                                
    
			</kt-portlet-body>
           
		</kt-portlet>

	</div>
</div>



