<div class="row">
	<div class="col-12">
		<kt-portlet>
			<kt-portlet-header title="Konfigurasi">
				<ng-container ktPortletTools> </ng-container>
			</kt-portlet-header>

			<kt-portlet-body>
				<div *ngIf="menuForb" class="alert alert-warning box-msg" role="alert">
					<strong>Warning!</strong>
					<span style="padding-left: 10px;">You doesn't have permission to access this page.</span>
            	</div>

				<div *ngIf="menuPriv">
					<mat-tab-group>

						<mat-tab label="User">
							<kt-user-list></kt-user-list>
						</mat-tab>

						<mat-tab label="Privilege">
							<kt-privilege-list></kt-privilege-list>
						</mat-tab>

						<mat-tab label="Roles">
							<kt-role-list></kt-role-list>
						</mat-tab>

					</mat-tab-group>
				</div>
			</kt-portlet-body>
		</kt-portlet>

	</div>
</div>



