
<mat-dialog-actions>
	<button class="mat-raised-button" (click)="close()">Close</button>
	
</mat-dialog-actions>

<mat-dialog-content style="max-height: 80vh">
	<iframe id='pdfV' type="application/pdf" frameborder="0" [height]="innerHeight+'px'" [width]="innerWidth+'px'" [src]="urlReport"></iframe>

</mat-dialog-content>


