<div class="row  ml-2 mr-3">
    <div class="col-md">
        <div class="dx-fieldset">
            
            <div class="dx-field">
                <div class="dx-field-label">Spb No</div>
                <div class="dx-field-value">
                    <dx-text-box [(value)]="formCreate.spbNo">
                        <dxi-validation-rule type="required" ></dxi-validation-rule>
                    </dx-text-box>
                </div>
            </div>

            <div class="dx-field">
                <div class="dx-field-label">Data Kilo</div>
                <div class="dx-field-value">
                    <table style="width: 100%;">
                        <tr>
                            <th style="text-align: center;">No.</th>
                            <th style="text-align: center;">Jumlah</th>
                            <th style="text-align: center;">Aw</th>
                            <th style="text-align: center;">Vw</th>
                            <th style="text-align: center;">Caw</th>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>
                                <dx-text-box [(value)]="formCreate.spbNo" [readOnly]="true">
                                    <dxi-validation-rule type="required" ></dxi-validation-rule>
                                </dx-text-box>
                            </td>
                            <td>
                                <dx-text-box [(value)]="formCreate.spbNo">
                                    <dxi-validation-rule type="required" ></dxi-validation-rule>
                                </dx-text-box>
                            </td>
                            <td>
                                <dx-text-box [(value)]="formCreate.spbNo">
                                    <dxi-validation-rule type="required" ></dxi-validation-rule>
                                </dx-text-box>
                            </td>
                            <td>
                                <dx-text-box [(value)]="formCreate.spbNo" [readOnly]="true">
                                    <dxi-validation-rule type="required" ></dxi-validation-rule>
                                </dx-text-box>
                            </td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>
                                <dx-text-box [(value)]="formCreate.spbNo" [readOnly]="true">
                                    <dxi-validation-rule type="required" ></dxi-validation-rule>
                                </dx-text-box>
                            </td>
                            <td>
                                <dx-text-box [(value)]="formCreate.spbNo">
                                    <dxi-validation-rule type="required" ></dxi-validation-rule>
                                </dx-text-box>
                            </td>
                            <td>
                                <dx-text-box [(value)]="formCreate.spbNo">
                                    <dxi-validation-rule type="required" ></dxi-validation-rule>
                                </dx-text-box>
                            </td>
                            <td>
                                <dx-text-box [(value)]="formCreate.spbNo" [readOnly]="true">
                                    <dxi-validation-rule type="required" ></dxi-validation-rule>
                                </dx-text-box>
                            </td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>
                                <dx-text-box [(value)]="formCreate.spbNo" [readOnly]="true">
                                    <dxi-validation-rule type="required" ></dxi-validation-rule>
                                </dx-text-box>
                            </td>
                            <td>
                                <dx-text-box [(value)]="formCreate.spbNo">
                                    <dxi-validation-rule type="required" ></dxi-validation-rule>
                                </dx-text-box>
                            </td>
                            <td>
                                <dx-text-box [(value)]="formCreate.spbNo">
                                    <dxi-validation-rule type="required" ></dxi-validation-rule>
                                </dx-text-box>
                            </td>
                            <td>
                                <dx-text-box [(value)]="formCreate.spbNo" [readOnly]="true">
                                    <dxi-validation-rule type="required" ></dxi-validation-rule>
                                </dx-text-box>
                            </td>
                        </tr>
                        <tr>
                            <td>4</td>
                            <td>
                                <dx-text-box [(value)]="formCreate.spbNo" [readOnly]="true">
                                    <dxi-validation-rule type="required" ></dxi-validation-rule>
                                </dx-text-box>
                            </td>
                            <td>
                                <dx-text-box [(value)]="formCreate.spbNo">
                                    <dxi-validation-rule type="required" ></dxi-validation-rule>
                                </dx-text-box>
                            </td>
                            <td>
                                <dx-text-box [(value)]="formCreate.spbNo">
                                    <dxi-validation-rule type="required" ></dxi-validation-rule>
                                </dx-text-box>
                            </td>
                            <td>
                                <dx-text-box [(value)]="formCreate.spbNo" [readOnly]="true">
                                    <dxi-validation-rule type="required" ></dxi-validation-rule>
                                </dx-text-box>
                            </td>
                        </tr>
                        <tr>
                            <td>5</td>
                            <td>
                                <dx-text-box [(value)]="formCreate.spbNo" [readOnly]="true">
                                    <dxi-validation-rule type="required" ></dxi-validation-rule>
                                </dx-text-box>
                            </td>
                            <td>
                                <dx-text-box [(value)]="formCreate.spbNo">
                                    <dxi-validation-rule type="required" ></dxi-validation-rule>
                                </dx-text-box>
                            </td>
                            <td>
                                <dx-text-box [(value)]="formCreate.spbNo">
                                    <dxi-validation-rule type="required" ></dxi-validation-rule>
                                </dx-text-box>
                            </td>
                            <td>
                                <dx-text-box [(value)]="formCreate.spbNo" [readOnly]="true">
                                    <dxi-validation-rule type="required" ></dxi-validation-rule>
                                </dx-text-box>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>

            <div class="dx-field">
                <div class="dx-field-label">Alasan</div>
                <div class="dx-field-value">
                    <dx-text-area
                        [height]="120"
                        [maxLength]="255"
                        [(value)]="formCreate.reason">
                    </dx-text-area>
                </div>
            </div>
            
        </div>
    </div>
</div>


<div class="row  ml-2 mr-3">
    <div class="col-md text-right">
        <dx-button text="Create" type="default" (onClick)="onSave()"></dx-button> 
    </div>
</div>