<div align="left">
    <dx-button icon="plus" [width]="25" [height]="25" type="success" (onClick)="addRoleData()"></dx-button>
</div>

<br/>

<dx-data-grid id="gridContainer"
            [dataSource]="dsRoleList" [showBorders]="true">
  <dxo-filter-row [visible]="true"></dxo-filter-row>
  <dxo-header-filter [visible]="true"></dxo-header-filter>

  <dxi-column dataField="rolesName" dataType="string" caption="Roles Name" alignment="left"> </dxi-column>
  <dxi-column dataField="description" dataType="string" caption="Keterangan" alignment="left"> </dxi-column>
  <dxi-column dataField="countUser" [width]="130" dataType="string" caption="Jumlah User" alignment="center"> </dxi-column>
  <dxi-column type="buttons" [width]="200" caption="Detail" style="font-weight: bold;">
      <dxi-button text="Detail Role" type="success" hint="Detail Role" [onClick]="detailRole"> </dxi-button> 
      <dxi-button text="Detail User" type="success" hint="Detail User" [onClick]="detailUser"> </dxi-button>
  </dxi-column>
</dx-data-grid>