<div class="row">
	<div class="col-12">
		<kt-portlet>
			<kt-portlet-header title="Detail User" style="font-size: larger;">
				<ng-container ktPortletTools> </ng-container>
			</kt-portlet-header>
            
			<kt-portlet-body>
                <div class="row  ml-2 mr-3" style="margin-top: -2%;">
                    <div class="col-md">
                        <div class="dx-fieldset">
                            
                            <div class="dx-field">
                                <div class="dx-field-label">Username</div>
                                <div class="dx-field-value">
                                    <dx-text-box [(value)]="formDetail.username" [disabled]="true">
                                        <dxi-validation-rule type="required" ></dxi-validation-rule>
                                    </dx-text-box>
                                </div>
                            </div> 

                            <div class="dx-field">
                                <div class="dx-field-label">Full Name</div>
                                <div class="dx-field-value">
                                    <dx-text-box [(value)]="formDetail.fullname">
                                        <dxi-validation-rule type="required" ></dxi-validation-rule>
                                    </dx-text-box>
                                </div>
                            </div> 

                            <div class="dx-field">
                                <div class="dx-field-label">E-Mail</div>
                                <div class="dx-field-value">
                                    <dx-text-box [(value)]="formDetail.email">
                                        <dxi-validation-rule type="required" ></dxi-validation-rule>
                                    </dx-text-box>
                                </div>
                            </div> 

                            <div class="dx-field">
                                <div class="dx-field-label">Privilege</div>
                                <div class="dx-field-value">
                                    <div style="width:85%; float: left;">
                                        <dx-text-box [(value)]="formDetail.privilegeName" [disabled]="true">
                                            <dxi-validation-rule type="required" ></dxi-validation-rule>
                                        </dx-text-box>
                                    </div>
                                    <div style="width: 15%; float: right;">
                                        <dx-button text="Ubah Privilege" type="success" style="float: right; width: 100px;" (onClick)="onChangePrivilege()"></dx-button>
                                    </div>
                                </div>
                            </div> 

                            <div class="dx-field">
                                <div class="dx-field-label">Role</div>
                                <div class="dx-field-value">
                                    <div style="width:85%; float: left;">
                                        <dx-text-box [(value)]="formDetail.rolesName" [disabled]="true">
                                            <dxi-validation-rule type="required" ></dxi-validation-rule>
                                        </dx-text-box>
                                    </div>
                                    <div style="width: 15%; float: right;">
                                        <dx-button text="Ubah Role" type="success" style="float: right; width: 100px" (onClick)="onChangeRole()"></dx-button>
                                    </div>
                                </div>
                            </div> 

                            <div class="dx-field">
                                <div class="dx-field-label">Area Role</div>
                                <div class="dx-field-value">
                                    <dx-text-box [(value)]="formDetail.description" [disabled]="true">
                                        <dxi-validation-rule type="required" ></dxi-validation-rule>
                                    </dx-text-box>
                                </div>
                            </div> 

                            <div class="dx-field">
                                <div class="dx-field-label">Status</div>
                                <div class="dx-field-value">
                                    <div style="width:85%; float: left;">
                                        <dx-text-box [(value)]="formDetail.status" [disabled]="true">
                                            <dxi-validation-rule type="required" ></dxi-validation-rule>
                                        </dx-text-box>
                                    </div>
                                    <div style="width: 15%; float: right;">
                                        <dx-button text="Ubah Status" type="success" style="float: right; width: 100px" (onClick)="onChangeStatus()"></dx-button>
                                    </div>
                                </div>
                            </div> 

                        </div>
                    </div>
                </div>

               
                <div class="row  ml-2 mr-3">
                    <div class="col-md text-right">
                        <dx-button text="Update" type="default" (onClick)="onSave()"></dx-button> 
                        &nbsp;&nbsp;
                        <dx-button text="Delete Permanent" type="danger" (onClick)="onDelete()"></dx-button> 
                        &nbsp;&nbsp;
                        <dx-button text="Kembali" type="danger" (onClick)="onBack()"></dx-button>
                    </div>
                </div>

				<!-- </div> -->
			</kt-portlet-body>
		</kt-portlet>

	</div>
</div>