<div class="row">
	<div class="col-12">
		<kt-portlet>
			<kt-portlet-header title="Create Cost Origin">
				<ng-container ktPortletTools> </ng-container>
			</kt-portlet-header>

			<kt-portlet-body>
                
                <div class="row  ml-2 mr-3">
                    <div class="col-md">
                        <div class="dx-fieldset">
                            
                            <div class="dx-field">
                                <div class="dx-field-label">Bandara Asal</div>
                                <div class="dx-field-value">
                                    <dx-select-box [dataSource]="stationOriginDs" [searchEnabled]="true" displayExpr="stationName" valueExpr="stationId" [(value)]="formCreate.stationOriginId" [showClearButton]="true" (onValueChanged)="onTriggerChange($event)">
										<dx-validator>
											<dxi-validation-rule type="required"></dxi-validation-rule>
										</dx-validator>
									</dx-select-box>
                                </div>
                            </div>

                            <div class="dx-field">
                                <div class="dx-field-label">Carrier</div>
                                <div class="dx-field-value">
                                    <dx-select-box [dataSource]="carrierDs" [searchEnabled]="true" displayExpr="carrierName" valueExpr="carrierId" [(value)]="formCreate.carrierId" [showClearButton]="true">
										<dx-validator>
											<dxi-validation-rule type="required"></dxi-validation-rule>
										</dx-validator>
									</dx-select-box>
                                </div>
                            </div>

                            <div class="dx-field">
                                <div class="dx-field-label">Vendor Asal</div>
                                <div class="dx-field-value">
                                    <dx-select-box [dataSource]="vendorOriginDs" [searchEnabled]="true" displayExpr="vendorName" valueExpr="vendorId" [(value)]="formCreate.vendorOriginId" [showClearButton]="true">
										<dx-validator>
											<dxi-validation-rule type="required"></dxi-validation-rule>
										</dx-validator>
									</dx-select-box>
                                </div>
                            </div>

                            <div class="dx-field">
                                <div class="dx-field-label">Base Cost</div>
                                <div class="dx-field-value">
                                    <dx-number-box [(value)]="formCreate.baseCost" >
                                        <dxi-validation-rule type="required" ></dxi-validation-rule>
                                    </dx-number-box>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                
                
                <div class="row  ml-2 mr-3">
                    <div class="col-md text-right">
                        <dx-button text="Update" type="default" (onClick)="onSave()"></dx-button>&nbsp;&nbsp;
                        <dx-button text="Kembali" type="danger" (onClick)="onBack()"></dx-button> 
                    </div>
                </div>

			</kt-portlet-body>
		</kt-portlet>

	</div>
</div>



