<form (submit)="onSearchFormSubmit($event)">
    <dx-form id="formSpbList" [formData]="formSearch">

        <dxi-item itemType="group" cssClass="second-group" [colCount]="2" [cssClass]="'filter-background'"
            caption="Report - Manifest Carrier">
            <dxi-item itemType="group">
                <dxi-item dataField="flightDate" editorType="dxDateBox" [label]="{text: 'Flight Date'}"
                    [editorOptions]="{ pickerType: 'calendar', showClearButton: true, type: 'date'}"></dxi-item>
            </dxi-item>
            <dxi-item itemType="group">
            </dxi-item>
            <dxi-item itemType="button" horizontalAlignment="left"
                [buttonOptions]="{ text: 'Cari', type: 'success', useSubmitBehavior: true }">
            </dxi-item>
        </dxi-item>

    </dx-form>
</form>
<br />


<dx-pivot-grid id="sales" [allowSortingBySummary]="true" [allowSorting]="true" [allowFiltering]="true"
    [allowExpandAll]="true" [showBorders]="true" [dataSource]="dataSource">
    <dxo-export [enabled]="true" fileName="Manifest - Carrier"></dxo-export>
    <dxo-field-chooser [allowSearch]="true" [enabled]="false" ></dxo-field-chooser>
    <dxo-field-panel 
    [showDataFields] = false
    [showRowFields]=true
    [showColumnFields]=true
    [allowFieldDragging]="true"
    [visible]="true">
</dxo-field-panel>
</dx-pivot-grid>