<div class="row">
	<div class="col-12">
		<kt-portlet>
			<kt-portlet-header title="Delete City" style="font-size: larger;">
				<ng-container ktPortletTools> </ng-container>
			</kt-portlet-header>
            
			<kt-portlet-body>
                <div class="row  ml-2 mr-3" style="margin-top: -2%;">
                    <div class="col-md">
                        <div class="dx-fieldset">
                            
                            <div class="dx-field">
                                <div class="dx-field-label">Provinsi</div>
                                <div class="dx-field-value">
									<dx-text-box [(value)]="this.masterProvinceName" [disabled]="true"></dx-text-box>
                                </div>
                            </div>

							<div class="dx-field">
                                <div class="dx-field-label">Type Kota</div>
                                <div class="dx-field-value">
									<dx-text-box [(value)]="this.masterCityType" [disabled]="true"></dx-text-box>
                                </div>
                            </div>

							<div class="dx-field">
                                <div class="dx-field-label">Kode Kota</div>
                                <div class="dx-field-value">
                                    <dx-text-box [(value)]="this.masterCityCode" [disabled]="true"></dx-text-box>
                                </div>
                            </div>
                            <div class="dx-field">
                                <div class="dx-field-label">Nama Kota</div>
                                <div class="dx-field-value">
                                    <dx-text-box [(value)]="this.masterCityName" [disabled]="true"></dx-text-box>
                                </div>
                            </div>

                            <div class="dx-field">
                                <div class="dx-field-label">Ibu Kota</div>
                                <div class="dx-field-value">
                                    <dx-text-box [(value)]="this.masterCityCapital" [disabled]="true"></dx-text-box>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

               
                <div class="row  ml-2 mr-3">
                    <div class="col-md text-right">
                        <dx-button text="Delete" type="danger" (onClick)="onDelete()"></dx-button> 
                        &nbsp;&nbsp;
                        <dx-button text="Kembali" type="default" (onClick)="onBack()"></dx-button>
                    </div>
                </div>

				<!-- </div> -->
			</kt-portlet-body>
		</kt-portlet>

	</div>
</div>