<div class="row">
	<div class="col-12">
		<kt-portlet>

           <div style="padding-left:2%;padding-top:2%;">
                <div style="width: 98%">
                    <label id="manifestCarrierNo" style="color: black; font-size: large;" class="dx-fieldset-header" >&nbsp;</label>
                </div>
                <div style="width: 98%; border-bottom: 1px solid lightgray;"></div>
           </div>
           
			<kt-portlet-body style="margin-top: -2%;">
            
				<div>
                   
                    
                    <dx-data-grid id="gridContainer" [dataSource]="dsRevisiList" [showBorders]="true">
                        <dxo-filter-row [visible]="true"></dxo-filter-row>
                        <dxo-header-filter [visible]="true"></dxo-header-filter>
                        <dxo-paging [pageSize]="20"></dxo-paging>

                        <dxi-column dataField="noSmu" dataType="string" caption="No. SMU" alignment="center"> </dxi-column>
                        <dxi-column dataField="totalFinalWeightSMU" [width]="200" dataType="string" caption="Berat Final SMU" alignment="center"> </dxi-column>
                        <dxi-column dataField="flightDate" [width]="150" dataType="string" caption="Flight Date" alignment="center"> </dxi-column>
                        <dxi-column dataField="vendorName" [width]="150" dataType="string" caption="Vendor Carrier" alignment="center"> </dxi-column>
                        <dxi-column caption="Penerbangan No" alignment="center">
                            <dxi-column dataField="firstFlight" [width]="150" dataType="string" caption="Pertama" alignment="center"> </dxi-column>
                            <dxi-column dataField="lastFlight" [width]="150" dataType="string" caption="Terakhir" alignment="center"> </dxi-column>
                        </dxi-column>
                        <dxi-column dataField="revisiStatus" [width]="150" dataType="string" caption="Revisi Status" alignment="center"> </dxi-column>
                        <dxi-column type="buttons" [width]="80" caption="Detail" style="font-weight: bold;">
                            <dxi-button text="Detail" hint="Detail" [onClick]="detailDataRevisi"> </dxi-button>
                        </dxi-column>
                    </dx-data-grid>

                </div>
                <div class="row  ml-2 mr-3">
                    <div class="col-md text-right">
                       <br/>
                        <dx-button text="Kembali" type="default" (onClick)="onBack()"></dx-button>
                    </div>
                </div>

				<!-- </div> -->
			</kt-portlet-body>
		</kt-portlet>

	</div>
</div>