<div class="row">
	<div class="col-12">
		<kt-portlet>
			<kt-portlet-header title="Terima Barang >> SPB - List">
				<ng-container ktPortletTools> </ng-container>
			</kt-portlet-header>

			<kt-portlet-body>
				<div *ngIf="menuForb" class="alert alert-warning box-msg" role="alert">
					<strong>Warning!</strong>
					<span style="padding-left: 10px;">You doesn't have permission to access this page.</span>
				</div>
				<div *ngIf="menuPriv">
				<mat-tab-group>
					<mat-tab label="Spb - List">
						<ng-template matTabContent>

							<form (submit)="onFormSubmitSpbFilter($event)">
								<dx-form id="formSpbList" [formData]="filterSpb" >

									<dxi-item itemType="group" cssClass="second-group" [colCount]="2" [cssClass]="'filter-background'" caption="Cari SPB">
										<dxi-item itemType="group">
											<!-- DateBox Original -->
											<!-- <dxi-item dataField="dateStart"
													  editorType="dxDateBox"
													  [editorOptions]="{ pickerType: 'rollers', showClearButton: true}"
											></dxi-item> -->

											<!-- DateBox Maksimal 7 Hari Ke Belakang -->
											<dx-date-box 
												[(min)]="filterSpb.minDateStart"
												[(value)]="filterSpb.dateStart"
												[showClearButton]="true">
												<dx-validator>
													<dxi-validation-rule type="required" ></dxi-validation-rule>
												</dx-validator>
											</dx-date-box>

<!--											<dxi-item dataField="spbNo"></dxi-item>-->
										</dxi-item>
										<dxi-item itemType="group">
<!--											<dxi-item dataField="Kota Asal"></dxi-item>-->
<!--											<dxi-item dataField="Kota Tujuan"></dxi-item>-->
										</dxi-item>
										<dxi-item
											itemType="button"
											horizontalAlignment="left"
											[buttonOptions]="{ text: 'Cari SPB', type: 'success', useSubmitBehavior: true }">
										</dxi-item>
									</dxi-item>

								</dx-form>
							</form>

							<br />
							<dx-data-grid
								id="gridContainer"
								[dataSource]="spbListDs"
								[showBorders]="true">

								<dxo-filter-row [visible]="true"></dxo-filter-row>
								<dxo-header-filter [visible]="true"></dxo-header-filter>


								<dxi-column dataField="spbId" [width]="100" [allowFiltering]="false"
											[allowSorting]="false" cellTemplate="cellTemplate"></dxi-column>

								<dxi-column dataField="createdAtLocal" dataType="date" format="dd-MMM-yyyy" caption="Tanggal" > </dxi-column>
								<dxi-column dataField="username" dataType="string" caption="Username" > </dxi-column>
								<dxi-column dataField="spbNo" dataType="string" caption="No. SPB" > </dxi-column>
								<dxi-column dataField="originCityNameCustom" dataType="string" caption="Kota Asal" > </dxi-column>
								<dxi-column dataField="destinationCityNameCustom" dataType="string" caption="Kota Tujuan" > </dxi-column>

								<dxi-column caption="Harga" alignment="center">
									<dxi-column dataField="rates" dataType="int" caption="Harga / Kg"  format="#,##0.##"> </dxi-column>
									<dxi-column dataField="packing" dataType="int" caption="Packing"  format="#,##0.##"> </dxi-column>
									<dxi-column dataField="quarantine" dataType="int" caption="Karantina"  format="#,##0.##"> </dxi-column>
									<dxi-column dataField="etc" dataType="int" caption="Lain - Lain"  format="#,##0.##"> </dxi-column>
									<dxi-column dataField="ppn" dataType="int" caption="PPN"  format="#,##0.##"> </dxi-column>
									<dxi-column dataField="discount" dataType="int" caption="Diskon"  format="#,##0.##"> </dxi-column>
									<dxi-column dataField="discount" dataType="int" caption="Diskon"  format="#,##0.##"> </dxi-column>
									<dxi-column dataField="totalPrice" dataType="int" caption="Total"  format="#,##0.##"> </dxi-column>
								</dxi-column>


								<dxi-column caption="Pengirim" alignment="center">
									<dxi-column dataField="senderName" dataType="string" caption="Nama" > </dxi-column>
									<dxi-column dataField="senderPhone" dataType="string" caption="Telp." > </dxi-column>
									<dxi-column dataField="senderPlace" dataType="string" caption="Tempat" > </dxi-column>
									<dxi-column dataField="senderStore" dataType="string" caption="Toko" > </dxi-column>
									<dxi-column dataField="senderAddress" dataType="string" caption="Alamat" > </dxi-column>
								</dxi-column>


								<dxi-column caption="Penerima" alignment="center">
									<dxi-column dataField="receiverName" dataType="string" caption="Nama" > </dxi-column>
									<dxi-column dataField="receiverPhone" dataType="string" caption="Telp." > </dxi-column>
									<dxi-column dataField="receiverPlace" dataType="string" caption="Tempat" > </dxi-column>
									<dxi-column dataField="receiverStore" dataType="string" caption="Toko " > </dxi-column>
									<dxi-column dataField="receiverAddress" dataType="string" caption="Alamat" > </dxi-column>
								</dxi-column>


								<dxi-column dataField="carrierName" dataType="string" caption="Moda" > </dxi-column>
								<dxi-column dataField="paymentMethod" dataType="string" caption="Cara Bayar" > </dxi-column>
								<dxi-column dataField="qualityOfServiceName" dataType="string" caption="Q.O.S" > </dxi-column>
								<dxi-column dataField="typeOfServiceName" dataType="string" caption="K.O.S" > </dxi-column>

								<div *dxTemplate="let data of 'cellTemplate'">
									<dx-drop-down-button
										text="Cetak"
										icon="print"
										[items]="[
											{key: 'spb', value: 'Spb', data: data.data}
											]"
										(onItemClick)="Print($event)"
										[displayExpr]="'value'"
										[keyExpr]="'key'"
									></dx-drop-down-button>
								</div>

							</dx-data-grid>
						</ng-template>

					</mat-tab>


				</mat-tab-group>
			</div>



			</kt-portlet-body>
		</kt-portlet>

	</div>
</div>



<dx-popup
	[width]="300"
	[height]="250"
	[showTitle]="true"
	title="Pilih Print"
	[dragEnabled]="false"
	[closeOnOutsideClick]="false"
	[(visible)]="printPopupVisible">
	<div *dxTemplate="let data of 'content'">
		<form action="" (submit)="PrintResult($event)" >
			<dx-form id="choosePrint">
				<dxi-item>
					<dx-select-box [tabIndex]="500" dataField="printText" class="printPriv" searchEnabled="true"
					[(value)]="choosePrint.isiPrint" [dataSource]="this.printPrivResult">
							<dx-validator>
								<dxi-validation-rule type="required"> </dxi-validation-rule>
							</dx-validator>
					</dx-select-box>
				</dxi-item>

				<dxi-item
					itemType="button"
					horizontalAlignment="center"
					[buttonOptions]="{ text: 'PRINT', type: 'danger', useSubmitBehavior: true }">
				</dxi-item>
			</dx-form>
		</form>
	</div>
</dx-popup>