<!--<div class="row">-->
<!--	<div class="col-xl-6">-->
<!--		<div class="row row-full-height">-->
<!--			<div class="col-sm-12 col-md-12 col-lg-6">-->
<!--				<kt-portlet [class]="'kt-portlet&#45;&#45;height-fluid-half kt-portlet&#45;&#45;border-bottom-brand'">-->
<!--					<kt-portlet-body [class]="'kt-portlet__body&#45;&#45;fluid'">-->
<!--						<kt-widget26 [value]="570" [desc]="'Total Sales'" [options]="chartOptions1"></kt-widget26>-->
<!--					</kt-portlet-body>-->
<!--				</kt-portlet>-->

<!--				<div class="kt-space-20"></div>-->

<!--				<kt-portlet [class]="'kt-portlet&#45;&#45;height-fluid-half kt-portlet&#45;&#45;border-bottom-brand'">-->
<!--					<kt-portlet-body [class]="'kt-portlet__body&#45;&#45;fluid'">-->
<!--						<kt-widget26 [value]="640" [desc]="'Completed Transactions'" [options]="chartOptions2"></kt-widget26>-->
<!--					</kt-portlet-body>-->
<!--				</kt-portlet>-->
<!--			</div>-->

<!--			<div class="col-sm-12 col-md-12 col-lg-6">-->
<!--				<kt-portlet [class]="'kt-portlet&#45;&#45;height-fluid-half kt-portlet&#45;&#45;border-bottom-brand'">-->
<!--					<kt-portlet-body [class]="'kt-portlet__body&#45;&#45;fluid'">-->
<!--						<kt-widget26 [value]="'234+'" [desc]="'Transactions'" [options]="chartOptions3"></kt-widget26>-->
<!--					</kt-portlet-body>-->
<!--				</kt-portlet>-->

<!--				<div class="kt-space-20"></div>-->

<!--				<kt-portlet [class]="'kt-portlet&#45;&#45;height-fluid-half kt-portlet&#45;&#45;border-bottom-brand'">-->
<!--					<kt-portlet-body [class]="'kt-portlet__body&#45;&#45;fluid'">-->
<!--						<kt-widget26 [value]="'4.4M$'" [desc]="'Paid Comissions'" [options]="chartOptions4"></kt-widget26>-->
<!--					</kt-portlet-body>-->
<!--				</kt-portlet>-->
<!--			</div>-->
<!--		</div>-->
<!--	</div>-->
<!--	<div class="col-xl-6">-->
<!--		<kt-portlet [class]="'kt-portlet&#45;&#45;height-fluid'">-->
<!--			<kt-portlet-header [title]="'Order Statistics'">-->
<!--				<ng-container ktPortletTools>-->
<!--					<kt-context-menu2></kt-context-menu2>-->
<!--				</ng-container>-->
<!--			</kt-portlet-header>-->
<!--			<kt-portlet-body>-->
<!--				<kt-widget12></kt-widget12>-->
<!--			</kt-portlet-body>-->
<!--		</kt-portlet>-->
<!--	</div>-->
<!--</div>-->


<!--<kt-portlet>-->
<!--	<kt-portlet-body [class]="'kt-portlet__body&#45;&#45;fit'">-->
<!--		<div class="row row-no-padding row-col-separator-xl">-->
<!--			<div class="col-xl-4">-->
<!--				<kt-widget1></kt-widget1>-->
<!--			</div>-->
<!--			<div class="col-xl-4">-->
<!--				<kt-widget14 [title]="'Daily Sales'" [desc]="'Check out each collumn for more details'"></kt-widget14>-->
<!--			</div>-->
<!--			<div class="col-xl-4">-->
<!--				<kt-widget14 [title]="'Revenue Change'" [desc]="'Revenue change breakdown by cities'"></kt-widget14>-->
<!--			</div>-->
<!--		</div>-->
<!--	</kt-portlet-body>-->
<!--</kt-portlet>-->


<!--<div class="row">-->
<!--	<div class="col-xl-4">-->
<!--		<kt-portlet [class]="'kt-portlet&#45;&#45;height-fluid'">-->
<!--			<kt-portlet-header [title]="'Download Files'">-->
<!--				<ng-container ktPortletTools>-->
<!--					<kt-context-menu2></kt-context-menu2>-->
<!--				</ng-container>-->
<!--			</kt-portlet-header>-->
<!--			<kt-portlet-body>-->
<!--				<kt-widget4 [data]="widget4_1">-->
<!--					<ng-template #actionTemplate let-item="item">-->
<!--						<div class="kt-widget4__tools">-->
<!--							<a href="javascript:;" class="btn btn-clean btn-icon btn-sm">-->
<!--								<i class="flaticon2-download-symbol-of-down-arrow-in-a-rectangle"></i>-->
<!--							</a>-->
<!--						</div>-->
<!--					</ng-template>-->
<!--				</kt-widget4>-->
<!--			</kt-portlet-body>-->
<!--		</kt-portlet>-->
<!--	</div>-->
<!--	<div class="col-xl-4">-->
<!--		<kt-portlet [class]="'kt-portlet&#45;&#45;height-fluid'">-->
<!--			<kt-portlet-header [title]="'New Users'">-->
<!--				<ng-container ktPortletTools>-->
<!--					<kt-context-menu2></kt-context-menu2>-->
<!--				</ng-container>-->
<!--			</kt-portlet-header>-->
<!--			<kt-portlet-body>-->
<!--				<kt-widget4 [data]="widget4_2">-->
<!--					<ng-template #actionTemplate let-item="item">-->
<!--						<a href="javascript:;" class="btn btn-sm" [ngClass]="item.buttonClass">Follow</a>-->
<!--					</ng-template>-->
<!--				</kt-widget4>-->
<!--			</kt-portlet-body>-->
<!--		</kt-portlet>-->
<!--	</div>-->
<!--	<div class="col-xl-4">-->
<!--		<kt-portlet [class]="'kt-portlet&#45;&#45;height-fluid'">-->
<!--			<kt-portlet-header [title]="'Latest Updates'">-->
<!--				<ng-container ktPortletTools>-->
<!--					<kt-context-menu2></kt-context-menu2>-->
<!--				</ng-container>-->
<!--			</kt-portlet-header>-->
<!--			<kt-portlet-body>-->
<!--				<kt-widget4 [data]="widget4_3">-->
<!--					<ng-template #actionTemplate let-item="item">-->
<!--						<span class="kt-widget4__number" [ngClass]="item.valueColor">{{item.value}}</span>-->
<!--					</ng-template>-->
<!--				</kt-widget4>-->
<!--			</kt-portlet-body>-->
<!--		</kt-portlet>-->
<!--	</div>-->
<!--</div>-->


<!--<div class="row">-->
<!--	<div class="col-xl-8">-->
<!--		<kt-portlet [class]="'kt-portlet&#45;&#45;height-fluid'">-->
<!--			<kt-portlet-header [title]="'Exclusive Datatable'" [class]="'kt-portlet__head&#45;&#45;lg kt-portlet__head&#45;&#45;noborder kt-portlet__head&#45;&#45;break-sm'">-->
<!--				<ng-container ktPortletTools>-->
<!--					<kt-context-menu></kt-context-menu>-->
<!--				</ng-container>-->
<!--			</kt-portlet-header>-->
<!--			<kt-portlet-body [class]="'kt-portlet__body&#45;&#45;fit'">-->
<!--				<kt-data-table></kt-data-table>-->
<!--			</kt-portlet-body>-->
<!--		</kt-portlet>-->
<!--	</div>-->
<!--	<div class="col-xl-4">-->
<!--		<kt-portlet [class]="'kt-portlet&#45;&#45;height-fluid'">-->
<!--			<kt-portlet-header [title]="'Authors Profit'">-->
<!--				<ng-container ktPortletTools>-->
<!--					<kt-context-menu2></kt-context-menu2>-->
<!--				</ng-container>-->
<!--			</kt-portlet-header>-->
<!--			<kt-portlet-body>-->
<!--				<kt-widget4 [data]="widget4_4">-->
<!--					<ng-template #actionTemplate let-item="item">-->
<!--						<span class="kt-widget4__number" [ngClass]="item.valueColor">{{item.value}}</span>-->
<!--					</ng-template>-->
<!--				</kt-widget4>-->
<!--			</kt-portlet-body>-->
<!--		</kt-portlet>-->
<!--	</div>-->
<!--</div>-->


<!--<div class="row">-->
<!--	<div class="col-xl-8">-->
<!--		<kt-portlet [class]="'kt-portlet&#45;&#45;height-fluid'">-->
<!--			<kt-portlet-header [title]="'Best Sellers'">-->
<!--				<ng-container ktPortletTools>-->
<!--					<kt-context-menu2></kt-context-menu2>-->
<!--				</ng-container>-->
<!--			</kt-portlet-header>-->
<!--			<kt-portlet-body>-->
<!--				<kt-widget5></kt-widget5>-->
<!--			</kt-portlet-body>-->
<!--		</kt-portlet>-->
<!--	</div>-->
<!--	<div class="col-xl-4">-->
<!--		<kt-portlet [class]="'kt-portlet&#45;&#45;height-fluid'">-->
<!--			<kt-portlet-header [title]="'Recent Activities'">-->
<!--				<ng-container ktPortletTools>-->
<!--					<kt-context-menu2></kt-context-menu2>-->
<!--				</ng-container>-->
<!--			</kt-portlet-header>-->
<!--			<kt-portlet-body>-->
<!--				<kt-timeline2></kt-timeline2>-->
<!--			</kt-portlet-body>-->
<!--		</kt-portlet>-->
<!--	</div>-->
<!--</div>-->


<!--&lt;!&ndash;-->
<!--<kt-portlet>-->
<!--	<kt-portlet-header>-->
<!--		<ng-container ktPortletTitle>-->
<!--		</ng-container>-->
<!--		<ng-container ktPortletTools>-->
<!--		</ng-container>-->
<!--	</kt-portlet-header>-->
<!--	<kt-portlet-body></kt-portlet-body>-->
<!--	<kt-portlet-footer></kt-portlet-footer>-->
<!--</kt-portlet>-->
<!--&ndash;&gt;-->
