<style>
	.form-group {
		margin-bottom: 5px;
	}
	.header-coa {
	}
</style>

<div class="row">
	<div class="col-12">
		<kt-portlet>
			<!-- <kt-portlet-header title="Rugi Laba">
				<ng-container ktPortletTools> </ng-container>
			</kt-portlet-header> -->

			<kt-portlet-body>
				<div *ngIf="menuForb" class="alert alert-warning box-msg" role="alert">
					<strong>Warning!</strong>
					<span style="padding-left: 10px">You doesn't have permission to access this page.</span>
				</div>
				<div *ngIf="menuPriv">

					<div id="content-to-save" class="container mt-3">
						<h1 class="text-center">Laba Rugi Jakarta</h1>
						<h3 class="mb-3 mt-2 text-center">{{ currentDate | date: 'dd MMMM yyyy' }}</h3>
						<div class="container">
							
							
							<form>
								<div class="row">
									<div class="container mt-3">
										<!-- Section I: Revenue/Pendapatan -->
										<div class="card">
											<div class="card-header">
												<a href="#collapseRevenue">I Revenue</a>
												<span class="float-right font-weight-bold">Rp {{ totalRevenue | number : "1.0-0" }}</span>
											</div>
											<div id="collapseRevenue">
												<div class="card-body">
													<div class="row">
														<div class="col-6 font-weight-bold">Udara</div>
														<div class="col-3 font-weight-bold">Rp</div>
														<div class="col-3 font-weight-bold">
															<span class="float-right font-weight-bold">Rp {{ totalUdara | number : "1.0-0" }}</span>
														</div>
													</div>
													<div *ngFor="let revenue of revenueData">
														<div *ngIf="revenue.carrier === 'air'">
															<div class="row">
																<div class="col-6">{{ revenue.destinationCityCode }}</div>
																<div class="col-3">Rp</div>
																<div class="col-3 text-right">{{ revenue.totalPrice | number : "1.0-0" }}</div>
															</div>
														</div>
													</div>
													<div class="row">
														<div class="col-6 font-weight-bold">Laut</div>
														<div class="col-3 font-weight-bold">Rp</div>
														<div class="col-3 font-weight-bold">
															<span class="float-right font-weight-bold">Rp {{ totalLaut | number : "1.0-0" }}</span>
														</div>
													</div>
													<div *ngFor="let revenue of revenueData">
														<div *ngIf="revenue.carrier === 'sea'">
															<div class="row">
																<div class="col-6">{{ revenue.destinationCityCode }}</div>
																<div class="col-3">Rp</div>
																<div class="col-3 text-right">{{ revenue.totalPrice | number : "1.0-0" }}</div>
															</div>
														</div>
													</div>
													<div class="row">
														<div class="col-6 font-weight-bold">Darat</div>
														<div class="col-3 font-weight-bold">Rp</div>
														<div class="col-3 font-weight-bold">
															<span class="float-right font-weight-bold">Rp {{ totalDarat | number : "1.0-0" }}</span>
														</div>
													</div>
													<div *ngFor="let revenue of revenueData">
														<div *ngIf="revenue.carrier != 'air' && revenue.carrier != 'sea'">
															<div class="row">
																<div class="col-6">{{ revenue.destinationCityCode }}</div>
																<div class="col-3">Rp</div>
																<div class="col-3 text-right">{{ revenue.totalPrice | number : "1.0-0" }}</div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="container mt-3">
										<!-- Baris untuk Total Biaya & Beban -->
										<div class="row mt-3">
											<div class="col-6 font-weight-bold" style="font-size: 1.35rem">TOTAL REVENUE</div>
											<div class="col-6 font-weight-bold text-right" style="font-size: 1.35rem">Rp {{ totalRevenue | number : "1.0-0" }}</div>
										</div>
									</div>
									<div class="container mt-3">
										<div class="card" style="margin-top: 20px">
											<div class="card-header">
												<a data-toggle="collapse">II Cost</a>
												<span class="float-right font-weight-bold">Rp {{ totalCost | number : "1.0-0" }}</span>
											</div>
											<div id="collapseOverhead">
												<div class="card-body">
													<!-- Beban Overhead -->
													<div *ngFor="let cost of costData">
														<div class="row">
															<div class="col-6">{{ cost.coaName }}</div>
															<div class="col-3">Rp</div>
															<div class="col-3 text-right">{{ cost.total | number : "1.0-0" }}</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
									<!-- Section III: Beban/Overhead -->
									<div class="container mt-3">
										<div class="card">
											<div class="card-header">
												<!-- Judul dengan tambahan "Rp" dan nilainya -->
												<a>III Expenses</a>
												<span class="float-right font-weight-bold">Rp {{ totalBeban | number : "1.0-0" }}</span>
											</div>
											<div id="collapseOverhead">
												<div class="card-body">
													<!-- Beban Overhead -->
													<div *ngFor="let beban of bebanData">
														<div class="row">
															<div class="col-6">{{ beban.coaName }}</div>
															<div class="col-3">Rp</div>
															<div class="col-3 text-right">{{ beban.total | number : "1.0-0" }}</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
									<!-- <div class="container mt-3">
									
										<div class="card">
											<div class="card-header">
												<a data-toggle="collapse" >IV Subsidi</a>
												<span class="float-right font-weight-bold">Rp 0</span>
											</div>
											<div id="collapseSubsidi" class="collapse">
												<div class="card-body">
													<div class="row">
														<div class="col-6">BPN</div>
														<div class="col-3">Rp</div>
														<div class="col-3 text-right">-</div>
													</div>
													<div class="row">
														<div class="col-6">SRI</div>
														<div class="col-3">Rp</div>
														<div class="col-3 text-right">10,000,000</div>
													</div>
													<div class="row">
														<div class="col-6">MDC</div>
														<div class="col-3">Rp</div>
														<div class="col-3 text-right">6,000,000</div>
													</div>
													<div class="row">
														<div class="col-6">UPG</div>
														<div class="col-3">Rp</div>
														<div class="col-3 text-right">5,000,000</div>
													</div>
												</div>
											</div>
										</div>
									</div> -->
									<div class="container mt-3">
										<!-- Baris untuk Total Biaya & Beban -->
										<div class="row mt-3">
											<div class="col-6 font-weight-bold" style="font-size: 1.35rem">TOTAL Cost & Expenses</div>
											<div class="col-6 font-weight-bold text-right" style="font-size: 1.35rem">Rp {{ totalBeban + totalCost | number : "1.0-0" }}</div>
										</div>
									</div>
									<div class="container mt-3">
										<!-- Baris untuk Total Biaya & Beban -->
										<div class="row mt-3">
											<div class="col-12 font-weight-bold text-center" style="font-size: 1.35rem">BALANCE</div>
											<div class="col-12 font-weight-bold text-center" style="font-size: 1.35rem">Rp {{ totalRevenue - totalBeban - totalCost | number : "1.0-0" }}</div>
										</div>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
				<button class="btn btn-primary" style="position: absolute; bottom: 20px; left: 20px; padding: 10px 20px; width: auto; margin-top: 20px" (click)="downloadPDF()">Save as PDF</button>
				<!-- <div id="content-to-save"></div> -->
			</kt-portlet-body>
		</kt-portlet>
	</div>
</div>
