<div class="row">
	<div class="col-12">
		<kt-portlet>
			<kt-portlet-header title="Data Manifest Carrier">
				<ng-container ktPortletTools> </ng-container>
			</kt-portlet-header>

			<kt-portlet-body>
                <dx-data-grid id="gridContainer" [dataSource]="ds" [showBorders]="true" (onCellPrepared)="onCellPrepared($event)">
                    <dxo-filter-row [visible]="false"></dxo-filter-row>
                    <dxo-header-filter [visible]="false"></dxo-header-filter>
                    
                    <dxi-column caption="Manifest Carrier" alignment="center">
                        <dxi-column dataField="manifestCarrierNo" dataType="string" caption="No" alignment="center" > </dxi-column>
                        <dxi-column dataField="fullName" dataType="string" caption="User" alignment="center"> </dxi-column>
                        <dxi-column dataField="createdAt" dataType="date" caption="Tanggal" format="dd-MMM-yyyy" alignment="center"> </dxi-column>
                    </dxi-column>
                
                    <!-- <dxi-column caption="Tanggal Kirim" alignment="center">
                        <dxi-column dataField="fromSendDate" dataType="date" caption="Dari" format="dd-MMM-yyyy" alignment="center" [width]="100"> </dxi-column>
                        <dxi-column dataField="toSendDate" dataType="date" caption="Sampai " format="dd-MMM-yyyy" alignment="center" [width]="100"> </dxi-column>
                    </dxi-column> -->
                
                    <dxi-column dataField="flightDateLocal" dataType="date" caption="Flight Date" format="dd-MMM-yyyy" alignment="center" [width]="150"> </dxi-column>
                    <dxi-column dataField="noSmu" dataType="string" caption="No. SMU" alignment="center" [width]="150"> </dxi-column>
                    <dxi-column dataField="totalFinalWeightSMU" dataType="number" caption="Berat SMU" alignment="center" [width]="150"> </dxi-column>
                
                    <dxi-column caption="Penerbangan" alignment="center">
                        <dxi-column dataField="firstFlight" dataType="string" caption="Pertama" alignment="center" [width]="150"> </dxi-column>
                        <dxi-column dataField="lastFlight" dataType="string" caption="Terakhir" alignment="center" [width]="150"> </dxi-column>
                    </dxi-column>
                
                    <dxi-column type="buttons" [width]="100" caption="Detail">
                        <dxi-button text="Detail" hint="Detail Data" [onClick]="detailData"> </dxi-button>
                    </dxi-column>
                </dx-data-grid>

                <br/>
                <br/>
                <br/>
                
                <div class="h5">Manifest</div>
                
                        <dx-data-grid id="manifest"
                                      [dataSource]="manifestDs" [showBorders]="true">
                            <dxo-filter-row [visible]="false"></dxo-filter-row>
                            <dxo-header-filter [visible]="false"></dxo-header-filter>
                            <dxi-column dataField="manifestNo" dataType="string" caption="Manifest No"  alignment="center"> </dxi-column>
                            <dxi-column dataField="aw" dataType="number" caption="Aw" format="fixedPoint" [width]="100" alignment="center"> </dxi-column>
                            <dxi-column dataField="caw" dataType="number" caption="Caw" format="fixedPoint" [width]="100" alignment="center"> </dxi-column>
                            <dxi-column dataField="koliFinal" dataType="number" caption="Koli Manifest di Kenakan" [width]="200" format="fixedPoint" alignment="center"> </dxi-column>
                            <dxi-column dataField="cawFinal" dataType="number" caption="Berat Manifest di Kenakan" [width]="200" format="fixedPoint" alignment="center"> </dxi-column>
                            <dxi-column dataField="originMasterCityCode" dataType="string" caption="Kota Asal" alignment="center" > </dxi-column>
                            <dxi-column dataField="destinationMasterCityCode" dataType="string" caption="Kota Tujuan" alignment="center" > </dxi-column>
                
                            <dxo-summary>
                                <dxi-total-item
                                    column="aw"
                                    summaryType="sum"
                                    valueFormat="fixedPoint">
                                </dxi-total-item>
                
                                <dxi-total-item
                                    column="caw"
                                    summaryType="sum"
                                    valueFormat="fixedPoint">
                                </dxi-total-item>
                                
                                <dxi-total-item
                                    column="koliFinal"
                                    summaryType="sum"
                                    valueFormat="fixedPoint">
                                </dxi-total-item>
                
                                <dxi-total-item
                                    column="cawFinal"
                                    summaryType="sum"
                                    valueFormat="fixedPoint">
                                </dxi-total-item>
                
                            </dxo-summary>
                        </dx-data-grid>
                
                        <br/>
                        <br/>
                
                        <div class="h5">Biaya Tidak Tetap </div>
                            <dx-pivot-grid
                                [allowSortingBySummary]="true"
                                [allowFiltering]="true"
                                [showBorders]="true"
                                [showColumnGrandTotals]="false"
                                [showRowGrandTotals]="true"
                                [showRowTotals]="false"
                                [showColumnTotals]="false"
                                [dataSource]="PivotDs"
                                (onCellPrepared)="onCellPivotPrepared($event)"
                                (onCellClick)="onPivotCellClick($event)"
                                >
                                <!-- (onExporting)="onExporting($event)" -->
                                
                                <dxo-field-chooser 
                                [applyChangesMode]="applyChangesMode"
                                [allowSearch]="true"
                                [enabled]="true">
                                </dxo-field-chooser>

                                <!-- <dxo-summary>
                                    <dxi-total-item column="destinationCityCode" summaryType="count" > </dxi-total-item>
                            
                                    <dxi-total-item column="koliGerai" summaryType="sum" [customizeText]="thousandSeparator" > </dxi-total-item>
                            
                                </dxo-summary> -->
                
                            </dx-pivot-grid>
                
			</kt-portlet-body>
			<div class="row  ml-2 mr-3">
				<div class="col-md text-right">
					<dx-button text="Kembali" type="default" (onClick)="onBack()"></dx-button>
				</div>
			</div>
		</kt-portlet>

	</div>
</div>
<br/>
<br/>
<br/>
<br/>