<div class="row">
	<div class="col-12">
		<kt-portlet>
			<kt-portlet-header title="Master Pembulatan">
				<ng-container ktPortletTools> </ng-container>
			</kt-portlet-header>

			<kt-portlet-body>
				<div *ngIf="menuForb" class="alert alert-warning box-msg" role="alert">
					<strong>Warning!</strong>
					<span style="padding-left: 10px;">You doesn't have permission to access this page.</span>
				</div>

				<div *ngIf="menuPriv">
                    <dx-button icon="plus" type="success" style="width: 3%;" (onClick)="addRound()"> </dx-button>
                    <p style="white-space: pre-wrap"></p>

                    <dx-data-grid id="gridContainer" [dataSource]="ds" [showBorders]="true" alignment="left">
                        <dxo-filter-row [visible]="true"></dxo-filter-row>
                        <dxo-header-filter [visible]="true"></dxo-header-filter>
                        <dxo-paging [pageSize]="100"></dxo-paging>

                        <dxi-column dataField="roundId"  [allowFiltering]="false" [fixed]="true" caption="Action" alignment="left" [allowSorting]="false" cellTemplate="cellTemplate"></dxi-column>

                        <dxi-column dataField="carrier" dataType="string" caption="Moda"> </dxi-column>
                        <dxi-column dataField="first_value" dataType="string" caption="Nilai Pertama"> </dxi-column>
                        <dxi-column dataField="last_value" dataType="string" caption="Nilai Akhir"> </dxi-column>
                        <dxi-column dataField="final_value" dataType="string" caption="Pembualatan"> </dxi-column>

                        <div *dxTemplate="let data of 'cellTemplate'">
                            <dx-drop-down-button
                                icon="edit"
                                [items]="[
                                        {key: 'hapus', value: 'Hapus', data: data.data}
                                    ]"
                                (onItemClick)="ChooseAction($event)"
                                [displayExpr]="'value'"
                                [keyExpr]="'key'"
                                [dropDownOptions]="{
                                    width: 100
                                }"
                            ></dx-drop-down-button>
                        </div>
                    </dx-data-grid>

				</div>
			</kt-portlet-body>
		</kt-portlet>

	</div>
</div>



