<div class="row">
	<div class="col-12">
		<kt-portlet>
			<kt-portlet-header title="{{this.rolesName}}">
				<ng-container ktPortletTools> </ng-container>
			</kt-portlet-header>

			<kt-portlet-body>
				
                <dx-data-grid id="gridContainer"
                        [dataSource]="dsRoleUserList" [showBorders]="true">
                <dxo-filter-row [visible]="true"></dxo-filter-row>
                <dxo-header-filter [visible]="true"></dxo-header-filter>

                <dxi-column dataField="username" dataType="string" caption="Username" alignment="left"> </dxi-column>
                <dxi-column dataField="fullName" dataType="string" caption="Full Name" alignment="left"> </dxi-column>
                <dxi-column dataField="email" dataType="string" caption="E-Mail" alignment="left"> </dxi-column>
                <dxi-column dataField="privilegeName" dataType="string" caption="Privilege Name" alignment="left"> </dxi-column>
                <dxi-column dataField="desc" dataType="string" caption="Description" alignment="left"> </dxi-column>
                <!-- <dxi-column type="buttons" [width]="200" caption="#" style="font-weight: bold;">
                    <dxi-button text="Privilege" hint="Ubah Privilege" [onClick]="updatePrivilege"> </dxi-button>
                    <dxi-button text="Roles" hint="Ubah Role" [onClick]="updateRoles"> </dxi-button>
                    <dxi-button text="Detail" hint="Detail Role" [onClick]="detailDataRoles"> </dxi-button>
                </dxi-column> -->
            </dx-data-grid>
<br/>
            <div class="row  ml-2 mr-3">
                <div class="col-md text-right">
                    <dx-button text="Kembali" type="default" (onClick)="onBack()"></dx-button>
                </div>
            </div>

			</kt-portlet-body>
		</kt-portlet>

	</div>
</div>



