<div class="row">
	<div class="col-12">
		<kt-portlet>
			<kt-portlet-header title="Monitoring History - History Action">
				<ng-container ktPortletTools> </ng-container>
			</kt-portlet-header>

			<kt-portlet-body>

				<div *ngIf="menuForb" class="alert alert-warning box-msg" role="alert">
					<strong>Warning!</strong>
					<span style="padding-left: 10px;">You doesn't have permission to access this page.</span>
				</div>
				
				<div *ngIf="menuPriv">
					
					<form (submit)="onFormSubmit($event)">
						<dx-form id="formHistoryAksiList" [formData]="searchForm">					
						
							<dxi-item itemType="group" cssClass="second-group" [colCount]="2" [cssClass]="'filter-background'" caption="Cari Aksi">
								<dxi-item itemType="group">
									<dxi-item dataField="date" [label]="{text: 'Tanggal'}"
											editorType="dxDateBox"
											[editorOptions]="{  showClearButton: true}"
									></dxi-item>
									
								</dxi-item>

								<!--<dxi-item itemType="group">
									 <dxi-item dataField="searchForm.name" [label]="{text: 'Nama'}"
									></dxi-item>
									 
									 <div class="dx-field-value">
										<dx-text-box
											[(value)]="searchForm.name">
											<dx-validator>
												 <dxi-validation-rule type="required" message="Password is required"></dxi-validation-rule>
											</dx-validator>
										</dx-text-box>
									</div>
								</dxi-item>-->

								<dxi-item itemType="group">
			
								</dxi-item>

								<!--<dxi-item itemType="group" [colSpan]="2">
									<dxi-item
										itemType="button"
										horizontalAlignment="left"
										[buttonOptions]="{ text: 'Cari', type: 'success', useSubmitBehavior: true }">
									</dxi-item>
								</dxi-item>-->	

								<dxi-item itemType="group" [colSpan]="2">
									<dxi-item
										itemType="button"
										horizontalAlignment="left"
										[buttonOptions]="{ text: 'Cari', type: 'success', useSubmitBehavior: true }">
									</dxi-item>
								</dxi-item>		
			
							</dxi-item>							

							
						</dx-form>		
					</form>

					<br />

					<!--<mat-tab-group>
						<mat-tab label="History Aksi - List">
							<ng-template matTabContent>
		
								<form (submit)="onFormSubmitHistoryAksiFilter($event)">
									<dx-form id="formHistoryAksiList" [formData]="filterHistoryAksi" >-->

										<dx-data-grid 
											id="gridContainer"
											[dataSource]="ds"
											(onRowPrepared)="onRowPrepared($event)"
											[showBorders]="true">

										<!--<dx-data-grid id="gridContainer" #targetDataGrid
																[dataSource]="gmDs" [showBorders]="true">
														<dxo-filter-row [visible]="true"></dxo-filter-row>
														<dxo-header-filter [visible]="true"></dxo-header-filter>
														<dxo-grouping #expand [autoExpandAll]="false" ></dxo-grouping>
														<dxo-paging [pageSize]="1000"></dxo-paging>-->

												<dxo-filter-row [visible]="true"></dxo-filter-row>
												<dxo-header-filter [visible]="true"></dxo-header-filter>
																	
													<dxi-column dataField="username" dataType="string" caption="Nama" > </dxi-column>
													<dxi-column dataField="actionDate" dataType="date" format="dd-MMM-yyyy" caption="Tanggal Action" > </dxi-column>
													<dxi-column dataField="actionDesc" dataType="string" caption="Deskripsi" > </dxi-column>
													<dxi-column dataField="menu" dataType="string" caption="Menu" > </dxi-column>						

										</dx-data-grid>
									<!--</dx-form>
								</form>
							</ng-template>
						</mat-tab>
					</mat-tab-group>-->
				</div>
			</kt-portlet-body>
		</kt-portlet>
	</div>
</div>
									<!--</dx-form>
								</form>-->