<div class="row">
	<div class="col-12">
		<kt-portlet>
			<kt-portlet-header title="Tambah Porter / Pengantar" style="font-size: larger;">
				<ng-container ktPortletTools> </ng-container>
			</kt-portlet-header>
            
			<kt-portlet-body>
                <div class="row  ml-2 mr-3" style="margin-top: -2%;">
                    <div class="col-md">
                        <div class="dx-fieldset">
                            
                            <div class="dx-field">
                                <div class="dx-field-label">Telepon</div>
                                <div class="dx-field-value">
                                    <dx-text-box [(value)]="formCreate.phone">
                                        <dxi-validation-rule type="required" ></dxi-validation-rule>
                                    </dx-text-box>
                                </div>
                            </div> 

                            <div class="dx-field">
                                <div class="dx-field-label">Nama Porter / Pengantar</div>
                                <div class="dx-field-value">
                                    <dx-text-box [(value)]="formCreate.name">
                                        <dxi-validation-rule type="required" ></dxi-validation-rule>
                                    </dx-text-box>
                                </div>
                            </div> 

                        </div>
                    </div>
                </div>
               
                <div class="row  ml-2 mr-3">
                    <div class="col-md text-right">
                        <dx-button text="Simpan" type="success" (onClick)="onSave()"></dx-button>
                        &nbsp;
                        &nbsp;
                        <dx-button text="Kembali" type="default" (onClick)="onBack()"></dx-button>
                    </div>
                </div>

				<!-- </div> -->
			</kt-portlet-body>
		</kt-portlet>

	</div>
</div>