<div class="row">
	<div class="col-12">
		<kt-portlet>
			<kt-portlet-header title="Surat Pengiriman Barang">
				<ng-container ktPortletTools>
					<div *ngIf="menuPriv">
						<h2> No SPB &nbsp;&nbsp;</h2>
						<span class="badge badge-primary ">
							<h2><b>{{spbNumber}}</b></h2>
						</span>
					</div>


				</ng-container>
			</kt-portlet-header>
			<kt-portlet-body>
				<div *ngIf="appGlobalVar.IS_DEBUG">
<!--					{{spbForm.value | json}}-->
				</div>

				<div *ngIf="menuForb" class="alert alert-warning box-msg" role="alert">
					<strong>Warning!</strong>
					<span style="padding-left: 10px;">You doesn't have permission to access this page.</span>
				</div>

				<div *ngIf="menuPriv">
					<form [formGroup]="spbForm" (submit)="DoSubmit($event)" >
						<input type="hidden" id="toTop" />
						<div class="row">
							<div class="col-md-4 ">
								<div class="row">
									<div class="col-md-12">
										<kt-location (receiverCityReload)="customerComponent.ReceiverCity_Reload()"
													 (receiverSubDistrictReload)="customerComponent.ReceiverSubDistrict_Reload()"
													 (receiverPostalCodeReload)="customerComponent.ReceiverPostalCode_Reload()"
													 (receiverUrbanReload)="customerComponent.ReceiverUrban_Reload()"
													 (receiverViaReload)="customerComponent.ReceiverVia_Reload()"
													 (getRates)="serviceTypeComponent.GetRates($event)"
	
										></kt-location>
	
									</div>
									<kt-customer #customerComponent></kt-customer>
									<div class="col-md-12">
	
	
	
									</div>
									<div class="col-md-12">
	
									</div>
								</div>
							</div>
							<div class="col-md-8 ">
								<div class="row">
									<div class="col-md-12">
	
										<kt-goods #goodsComponent (calculateTotalPrice)="CalculateTotalPrice()" [spbId]="spbId" [spbNumberManual]="spbNumberManual"></kt-goods>
	
									</div>
	
									<div class="col-md-12">
										<div class="row">
											<div class="col-md-7">
												<kt-service-type #serviceTypeComponent (calculateTotalPrice)="CalculateTotalPrice()"></kt-service-type>
	
											</div>
											<div class="col-md-5">
	
												<kt-price (calculateTotalPrice)="CalculateTotalPrice()"></kt-price>
	
	
	
												<br />
												<br />
	
												<!--print-->
												<table class="table table-xs table-borderless">
													<tbody>
														<tr>
															<td align="right">
																<!--                      <button type="button" class="btn btn-primary btn-labeled btn-labeled-left btn-lg" (click)="saveAndPrint()" ><b><i class="icon-printer"></i></b> Simpan & Cetak</button>-->
																<dx-button [tabIndex]="700" id="button" text="Simpan & Cetak" type="success"
																	[useSubmitBehavior]="true">
																</dx-button>
	
																<!-- <dx-button [tabIndex]="700" id="buttonTest" text="Test" type="success" *ngIf="appGlobalVar.IS_DEBUG"
																		   (onClick)="TestPrint()"
																>
																</dx-button> -->
															</td>
														</tr>
													</tbody>
												</table>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</form>
				</div>

			</kt-portlet-body>
		</kt-portlet>
	</div>
</div>
