* {
    box-sizing: border-box;
  }
  
  /* Create three equal columns that floats next to each other */
  .column_1 {
    float: left;
    padding: 10px;
  }
  .column_2 {
    float: left;
    padding: 10px;
  }
  .column_3 {
    float: left;
    padding: 10px;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }