

<!--<h2 mat-dialog-title>This is a Dialog title</h2>-->

<mat-dialog-actions>
	<button class="mat-raised-button" (click)="close()">Close</button>
</mat-dialog-actions>

<mat-dialog-content style="max-height: 80vh">

<!--	<button (click)="printPage()">print asdasdas</button>-->

<!-- {{manifestData | json}}  -->
	<div id="printJS-form">
		<table border="1" width="100%">
			<tr>
				<td width="20%" >No. Manifest : {{manifestData.manifestId}} <br/> Date: {{manifestData.createdAtLocal }}</td>
				<td style="text-align: center; font-size: 20px; font-weight: bold">Manifest <br/> {{manifestData.destinationCityCode}} {{manifestData.alphabet}}</td>
				<td *ngFor="let item of manifestCarrierDs; let ix = index" style="width: 12%;">
					SMU : 			{{item.noSmu }} <br/>
					Berat SMU : 	{{item.totalFinalWeightSMU }} <br/> 
					First Flight : 	{{item.firstFlight }} <br/> 
					Last Flight : 	{{item.lastFlight }} <br/> 
					Flight Date : 	{{item.flightDate }}
				</td>
			</tr>

		</table>
<br/>
		<table datatable class="cell-border compact stripe" [dtTrigger]="dtTrigger" [dtOptions]="dtOptions" >
<!--		<table class="table" border="1">-->
			<thead>
			<tr >
				<th>Aksi</th>
				<th>#</th>
				<th>Koli</th>
				<th>Aw</th>
				<th>Cons</th>
				<th>SPB No</th>
				<th>Caw</th>
				<th>Cons</th>
				<th>Pengirim</th>
				<th>Penerima</th>
				<th>Area</th>
				<th>MOP</th>
				<th>Tunai Asal</th>
				<th>Tunai Tujuan</th>
				<th *ngIf=" manifestData.carrier == 'Laut' && manifestData.destinationCityCode === 'BDJ' ">Caw BDJ</th>
				<th *ngIf=" manifestData.carrier == 'Laut' && manifestData.destinationCityCode === 'BDJ' ">Caw BJU</th>
				<th *ngIf=" manifestData.carrier == 'Laut' && manifestData.destinationCityCode === 'BDJ' ">Caw MTP</th>
				<th *ngIf=" manifestData.carrier == 'Laut' && manifestData.destinationCityCode === 'SRI' ">Caw SRI</th>
				<th *ngIf=" manifestData.carrier == 'Laut' && manifestData.destinationCityCode === 'SRI' ">Caw BNT</th>
				<th *ngIf=" manifestData.carrier == 'Laut' && manifestData.destinationCityCode === 'SRI' ">Caw SGT</th>
			</tr>
			</thead>
			<tbody>
				<!-- {{this.manifestList|json}} -->
			<tr *ngFor="let row of this.manifestList; let i = index" [ngStyle]= "{'background-color': row.isClose === 1 ? '#c4c3c3': ''}">
				<td style="padding: 3px;"  >
<!--					<dx-button text="Pindah Koli"-->
<!--						(onClick)="Update($event, row)"-->
<!--					>-->

<!--					</dx-button>-->

					<dx-drop-down-button *ngIf=" i===0 "
						[dropDownOptions]="{ width: 150 }"
						icon="menu"
						[items]="[
							{icon: 'refresh' ,key: 'change_koli', value: 'Pindah Koli', data: row},
							{icon: 'close' ,key: 'close_koli', value: 'Open / Close', data: row}
							]"
						(onItemClick)="actionCLick($event)"
						[displayExpr]="'value'"
						[keyExpr]="'key'"
					></dx-drop-down-button>

					<dx-drop-down-button *ngIf=" i!==0 && row.koliNo === this.manifestList[i-1].koliNo "
										 [dropDownOptions]="{ width: 150 }"
										 icon="menu"
										 [items]="[
							{icon: 'refresh' ,key: 'change_koli', value: 'Pindah Koli', data: row}
							]"
										 (onItemClick)="actionCLick($event)"
										 [displayExpr]="'value'"
										 [keyExpr]="'key'"
					></dx-drop-down-button>

					<dx-drop-down-button *ngIf=" i!==0 && row.koliNo !== this.manifestList[i-1].koliNo "
										 [dropDownOptions]="{ width: 150 }"
										 icon="menu"
										 [items]="[
							{icon: 'refresh' ,key: 'change_koli', value: 'Pindah Koli', data: row},
							{icon: 'close' ,key: 'close_koli', value: 'Open / Close', data: row}
							]"
										 (onItemClick)="actionCLick($event)"
										 [displayExpr]="'value'"
										 [keyExpr]="'key'"
					></dx-drop-down-button>

				</td>
				<td style="padding: 3px;" >{{i+1}}</td>
				<td style="padding: 3px;" *ngIf=" i===0 "  >{{row.koliNo}}</td>
				<td style="padding: 3px;" *ngIf=" i!==0 && row.koliNo === this.manifestList[i-1].koliNo " ></td>
				<td style="padding: 3px;" *ngIf=" i!==0 && row.koliNo !== this.manifestList[i-1].koliNo ">{{row.koliNo}}</td>

				<td style="padding: 3px;">{{row.aw}}</td>
				<td style="padding: 3px;">{{row.cons}}</td>

				<td style="padding: 3px;" *ngIf=" row.caw !== 0 "  >{{row.spbNo}}</td>
				<td style="padding: 3px;" *ngIf=" row.caw === 0" >{{row.spbNo}}</td>  <!--Pati 12Okt21-->

				<td style="padding: 3px;">{{row.caw}}</td>
				<td style="padding: 3px;">{{row.consCaw}}</td>
				<td style="padding: 3px;">{{(row.senderName !== null) ? row.senderName : row.senderStore}}</td>
				<td style="padding: 3px;">{{(row.receiverName !== null) ? row.receiverName : row.receiverStore}}</td>
				<td style="padding: 3px;">{{row.destinationAreaCode}}</td>
				<td style="padding: 3px;">{{row.paymentMethod}}</td>

				<td style="padding: 3px;">{{ row.tunaiAsal   | number }}</td>

				<td style="padding: 3px;" >{{ row.tunaiTujuan  | number }}</td> 

				<td style="padding: 3px;" *ngIf=" manifestData.carrier == 'Laut' && manifestData.destinationCityCode === 'BDJ' ">{{ row.cawBDJ }}</td>
				<td style="padding: 3px;" *ngIf=" manifestData.carrier == 'Laut' && manifestData.destinationCityCode === 'BDJ' ">{{ row.cawBJU }}</td>
				<td style="padding: 3px;" *ngIf=" manifestData.carrier == 'Laut' && manifestData.destinationCityCode === 'BDJ' ">{{ row.cawMTP }}</td>
				<td style="padding: 3px;" *ngIf=" manifestData.carrier == 'Laut' && manifestData.destinationCityCode === 'SRI' ">{{ row.cawSRI }}</td>
				<td style="padding: 3px;" *ngIf=" manifestData.carrier == 'Laut' && manifestData.destinationCityCode === 'SRI' ">{{ row.cawBNT }}</td>
				<td style="padding: 3px;" *ngIf=" manifestData.carrier == 'Laut' && manifestData.destinationCityCode === 'SRI' ">{{ row.cawSGT }}</td>

			</tr>

			<tr >
				<td >&nbsp;</td>
				<td >&nbsp;</td>
				<td >&nbsp;</td>
				<td >{{sumAw  | number}}</td>
				<td >&nbsp;</td>
				<td >&nbsp;</td>
				<td >{{sumCaw  | number}}</td>
				<td >&nbsp;</td>
				<td >&nbsp;</td>
				<td >&nbsp;</td>
				<td >&nbsp;</td>
				<td >&nbsp;</td>
				<td >{{sumTunaiAsal  | number}}</td>
				<td >{{sumTunaiTujuan  | number}}</td>
				<td *ngIf=" manifestData.carrier == 'Laut' && manifestData.destinationCityCode === 'BDJ' " >{{sumCawBDJ  | number}}</td>
				<td *ngIf=" manifestData.carrier == 'Laut' && manifestData.destinationCityCode === 'BDJ' " >{{sumCawBJU  | number}}</td>
				<td *ngIf=" manifestData.carrier == 'Laut' && manifestData.destinationCityCode === 'BDJ' " >{{sumCawMTP  | number}}</td>
				<td *ngIf=" manifestData.carrier == 'Laut' && manifestData.destinationCityCode === 'SRI' " >{{sumCawSRI  | number}}</td>
				<td *ngIf=" manifestData.carrier == 'Laut' && manifestData.destinationCityCode === 'SRI' " >{{sumCawBNT  | number}}</td>
				<td *ngIf=" manifestData.carrier == 'Laut' && manifestData.destinationCityCode === 'SRI' " >{{sumCawSGT  | number}}</td>
			</tr>



			</tbody>
		</table>
	</div>


<!--	<dx-popup-->
<!--		[width]="300"-->
<!--		[height]="250"-->
<!--		[showTitle]="true"-->
<!--		title="Pindah Koli"-->
<!--		[dragEnabled]="false"-->
<!--		[closeOnOutsideClick]="false"-->
<!--		[(visible)]="false">-->
<!--		<div *dxTemplate="let data of 'content'">-->
<!--			<form action="" (submit)="null" >-->
<!--				<dx-form id="void" [formData]="null">-->

<!--					<dxi-item itemType="group" cssClass="second-group" [colCount]="1" >-->
<!--						<dxi-item itemType="group">-->
<!--							<dxi-item dataField="spbNo"   [editorOptions]="{ readOnly: true}" editorType="dxTextBox"></dxi-item>-->
<!--							<dxi-item dataField="voidReason" editorType="dxTextArea" [editorOptions]="{ height: 90 }" [colSpan]="2" label="Alasan Void">-->
<!--								<dxi-validation-rule type="required"> </dxi-validation-rule>-->
<!--							</dxi-item>-->

<!--						</dxi-item>-->
<!--						<dxi-item-->
<!--							itemType="button"-->
<!--							horizontalAlignment="left"-->
<!--							[buttonOptions]="{ text: 'VOID', type: 'danger', useSubmitBehavior: true }">-->
<!--						</dxi-item>-->
<!--					</dxi-item>-->

<!--				</dx-form>-->
<!--			</form>-->

<!--		</div>-->
<!--	</dx-popup>-->


	<dx-popup
		[width]="400"
		[height]="250"
		[showTitle]="true"
		title="Pindah Koli"
		[dragEnabled]="false"
		[closeOnOutsideClick]="true"
		[(visible)]="popupVisible">
		<div *dxTemplate="let data of 'content'">
			<kt-manifest-change-koli [manifestId]="this.manifestId"
									 [manifestKoliSpbId]="this.manifestKoliSpbId"
									 (popupVisible)="setPopupVisible()" ></kt-manifest-change-koli>
		</div>
	</dx-popup>


	<dx-popup
		[width]="200"
		[height]="100"
		[showTitle]="true"
		title="Open / Close Koli"
		[dragEnabled]="false"
		[closeOnOutsideClick]="true"
		[(visible)]="popupOpenClose">
		<div *dxTemplate="let data of 'content'">
			<dx-button text="Open" type="success" (onClick)="setOpenCloseKoli('open')"  ></dx-button>
			&nbsp;&nbsp;&nbsp;
			<dx-button text="Close" type="danger" (onClick)="setOpenCloseKoli('close')" ></dx-button>
		</div>
	</dx-popup>


<!--	<button type="button" (click)="test()">-->
<!--		Print Form-->
<!--	</button>-->
</mat-dialog-content>


