<div class="row">
	<div class="col-12">
		<kt-portlet>
			<kt-portlet-header title="Master Coa Code">
				<ng-container ktPortletTools> </ng-container>
			</kt-portlet-header>

			<kt-portlet-body>
				<div *ngIf="menuForb" class="alert alert-warning box-msg" role="alert">
					<strong>Warning!</strong>
					<span style="padding-left: 10px">You doesn't have permission to access this page.</span>
				</div>

				<div *ngIf="menuPriv">
					<dx-button icon="plus" type="success" (onClick)="addCodeCoa()"> </dx-button>
					<br />
					<br />
					<dx-data-grid id="gridContainer" [dataSource]="ds" [showBorders]="true">
						<dxo-filter-row [visible]="true"></dxo-filter-row>
						<dxo-header-filter [visible]="true"></dxo-header-filter>
						<dxi-column [allowFiltering]="false" [fixed]="true" caption="Action" alignment="left" [allowSorting]="false" [width]="65" cellTemplate="cellTemplate"></dxi-column>
						<dxi-column dataField="coaCode" dataType="string" caption="Kode COA"> </dxi-column>
						<dxi-column dataField="coaName" dataType="string" caption="Nama"> </dxi-column>
						<dxi-column dataField="coaParentName" dataType="string" caption="COA Parent"> </dxi-column>
						<div *dxTemplate="let data of 'cellTemplate'">
							<dx-drop-down-button
								icon="edit"
								[items]="[
									{ key: 'edit', value: 'Edit', data: data.data },

									{ key: 'delete', value: 'Delete', data: data.data }
								]"
								(onItemClick)="coaCodeAction($event)"
								[displayExpr]="'value'"
								[keyExpr]="'key'"
								[dropDownOptions]="{
									width: 100
								}"
							></dx-drop-down-button>
						</div>
					</dx-data-grid>
				</div>
			</kt-portlet-body>
		</kt-portlet>
	</div>
</div>

<dx-popup [width]="400" [height]="300" [showTitle]="true" title="Edit Coa Code" [dragEnabled]="false" [closeOnOutsideClick]="true" [(visible)]="editCoaCodeVisible">
	<div *dxTemplate="let data of 'content'">
		<form action="" (submit)="editCoaCodeSubmit($event)">
			<dx-form id="updateCoaCode" [formData]="currentCoaCode">
				<dxi-item itemType="group" cssClass="second-group" [colCount]="1">
					<dxi-item itemType="group">
						<dxi-item
							dataField="coaParentId"
							editorType="dxSelectBox"
							[label]="{ text: 'Coa Parent' }"
							[editorOptions]="{
								dataSource: coaParentDs,
								searchEnabled: true,
								displayExpr: 'coaParentName',
								valueExpr: 'coaParentId',
								showClearButton: true
							}"
						>
						</dxi-item>
						<dxi-item dataField="coaCode" editorType="dxTextBox" [label]="{ text: 'Coa Code' }"></dxi-item>
						<dxi-item dataField="coaName" editorType="dxTextBox" [label]="{ text: 'Coa Name' }"></dxi-item>
					</dxi-item>
					<dxi-item itemType="button" horizontalAlignment="center" [buttonOptions]="{ text: 'Submit', type: 'danger', useSubmitBehavior: true }"> </dxi-item>
				</dxi-item>
			</dx-form>
		</form>
	</div>
</dx-popup>
