  <div align="left">
  	<dx-button icon="plus" [width]="25" [height]="25" type="success" (onClick)="addPrivilegeData()"></dx-button>
  </div>

  <br/>

  <dx-data-grid id="gridContainer"
			  [dataSource]="dsPrivilegeList" [showBorders]="true">
	<dxo-filter-row [visible]="true"></dxo-filter-row>
	<dxo-header-filter [visible]="true"></dxo-header-filter>
	<dxo-paging [pageSize]="100"></dxo-paging>

	<dxi-column dataField="privilegeName" dataType="string" caption="Privilege Name" alignment="left"> </dxi-column>
	<dxi-column dataField="countUser" [width]="200" dataType="string" caption="Jumlah User" alignment="center"> </dxi-column>
	<dxi-column dataField="orderCode" [width]="200" dataType="string" caption="Urutan" alignment="center"> </dxi-column>
    <dxi-column type="buttons" [width]="200" caption="Detail" style="font-weight: bold;">
		<dxi-button text="Privilege" hint="Detail Data" [onClick]="detailDataPrivilege"> </dxi-button>
		<dxi-button text="User" hint="Detail Data" [onClick]="detailDataUser"> </dxi-button>
	</dxi-column>
</dx-data-grid>