<div class="row">
	<div class="col-12">
		<kt-portlet>
			<kt-portlet-header title="Detail Data">
				<ng-container ktPortletTools> </ng-container>
			</kt-portlet-header>

			<kt-portlet-body>
					<mat-tab-group>
						<mat-tab label="Sender">
							<kt-master-data-customer-sender></kt-master-data-customer-sender>
						</mat-tab>

						<mat-tab label="Receiver">
							<kt-master-data-customer-receiver></kt-master-data-customer-receiver>
						</mat-tab>
					</mat-tab-group>
			</kt-portlet-body>
			<div class="row  ml-2 mr-3">
				<div class="col-md text-right">
					<dx-button text="Kembali" type="default" (onClick)="onBack()"></dx-button>
				</div>
			</div>
		</kt-portlet>

	</div>
</div>



