<div class="row">
	<div class="col-12">
		<kt-portlet>
			<kt-portlet-header title="AR Create">
				<ng-container ktPortletTools> </ng-container>
			</kt-portlet-header>

			<kt-portlet-body>
				<div *ngIf="menuForb" class="alert alert-warning box-msg" role="alert">
					<strong>Warning!</strong>
					<span style="padding-left: 10px">You doesn't have permission to access this page.</span>
				</div>
				<div *ngIf="menuPriv">
					<div class="container">
						<div class="dx-field mb-2">
							<div class="dx-field-label"><h6>Coa Code</h6></div>
							<div class="dx-field-value">
								<dx-select-box [dataSource]="coaCodeDs" [ngClass]="{ 'is-invalid': submitted }" [searchEnabled]="true" displayExpr="coaFullName" valueExpr="coaId" [(value)]="formCreate.coaId" [showClearButton]="true">
									<dx-validator>
										<dxi-validation-rule type="required"></dxi-validation-rule>
									</dx-validator>
								</dx-select-box>
								<!-- <dx-text-box [(value)]="formCreate.province">
                                    <dxi-validation-rule type="required" ></dxi-validation-rule>
                                </dx-text-box> -->
							</div>
						</div>

						<div class="dx-field">
							<div class="dx-field-label"><h6>Keterangan</h6></div>
							<div class="dx-field-value">
								<dx-text-box [(value)]="formCreate.keterangan">
									<dxi-validation-rule type="required"></dxi-validation-rule>
								</dx-text-box>
							</div>
						</div>
						<div class="dx-field">
							<div class="dx-field-label"><h6>Debit</h6></div>
							<div class="dx-field-value">
								<dx-number-box [(value)]="formCreate.debit">
									<dxi-validation-rule type="required"></dxi-validation-rule>
								</dx-number-box>
							</div>
						</div>
						<div class="dx-field">
							<div class="dx-field-label"><h6>Credit</h6></div>
							<div class="dx-field-value">
								<dx-number-box [(value)]="formCreate.credit">
									<dxi-validation-rule type="required"></dxi-validation-rule>
								</dx-number-box>
							</div>
						</div>

						<div class="row ml-2 mr-3">
							<div class="col-md text-right">
								<dx-button text="Create" type="success" (onClick)="onSave()"></dx-button>
								&nbsp;&nbsp;
								<dx-button text="Kembali" type="default" (onClick)="onBack()"></dx-button>
							</div>
						</div>

						<!-- <p id="coaCodeResult"></p> -->
					</div>
				</div>
			</kt-portlet-body>
		</kt-portlet>
	</div>
</div>
