<div class="row">
	<div class="col-12">
		<kt-portlet>
			<kt-portlet-header title="Manifest - Penerimaan">
				<ng-container ktPortletTools> </ng-container>
			</kt-portlet-header>

			<kt-portlet-body>

				<div *ngIf="menuForb" class="alert alert-warning box-msg" role="alert">
					<strong>Warning!</strong>
					<span style="padding-left: 10px;">You doesn't have permission to access this page.</span>
				</div>
				
				<div *ngIf="menuPriv">

					<div style="background-color: #f5f5f5; padding: 1%; border: 1px solid #e2e2e2;">

						<div class="row  ml-2 mr-3">
							<table style="width: 100%; align-items: left;">
								<tr>
									<td style="width: 30%;">
										<div class="dx-field" >
											<div class="dx-field-label" style="width:15%">Status</div>
											<div class="dx-field-value" style="float:left; width: 80%;">
												<dx-date-box
													[(min)]="lastDays"
													[showClearButton]="true"
													[useMaskBehavior]="true"
													displayFormat="dd-MMM-yyyy"
													[(value)]="formSearch.manifestDate"
												>
													<dx-validator>
														<dxi-validation-rule type="required" ></dxi-validation-rule>
													</dx-validator>
												</dx-date-box>
											</div>
										</div>
									</td>
									<td>
										<div class="dx-field" >
											<dx-button text="Search" type="success" (onClick)="onSearch()"></dx-button> 
										</div>
									</td>
								</tr>
							</table>
						</div>
					
					</div>

					<br/>

					<dx-data-grid id="gridContainer"
								[dataSource]="ds" [showBorders]="true">
						<dxo-filter-row [visible]="true"></dxo-filter-row>
						<dxo-header-filter [visible]="true"></dxo-header-filter>
						<dxi-column [allowFiltering]="false" [fixed]="true" caption="Action" alignment="left"
									[allowSorting]="false" cellTemplate="cellTemplate"></dxi-column>
						<div *dxTemplate="let data of 'cellTemplate'">
							<dx-drop-down-button
								[dropDownOptions]="{ width: 150 }"
								icon="menu"
								[items]="[
								{icon: 'print' ,key: 'print_manifest', value: 'Cetak Manifest', data: data.data},
								{icon: 'print' ,key: 'print_spb', value: 'Cetak SPB', data: data.data}
								]"
								(onItemClick)="actionCLick($event)"
								[displayExpr]="'value'"
								[keyExpr]="'key'"
							></dx-drop-down-button>
						</div>
						<dxi-column type="adaptive" [width]="50"></dxi-column>



						<dxi-column dataField="manifestId" dataType="number" caption="#" width="100"> </dxi-column>
						<dxi-column dataField="createdAtLocal" dataType="date" format="dd-MMM-yyyy" caption="Tanggal" > </dxi-column>
						<dxi-column dataField="manifestNo" dataType="string" caption="Manifest No." [calculateDisplayValue]="ColManifestNo"> </dxi-column>
						<dxi-column dataField="carrier" dataType="string" caption="Moda" > </dxi-column>
						<dxi-column dataField="originCityCode" dataType="string" caption="Kota Asal" > </dxi-column>
						<dxi-column dataField="destinationCityCode" dataType="string" caption="Kota Tujuan"> </dxi-column>
						<dxi-column dataField="provinceName" dataType="string" caption="Provinsi Tujuan"> </dxi-column>
					</dx-data-grid>
				</div>
			</kt-portlet-body>
		</kt-portlet>

	</div>
</div>


<dx-popup
	[width]="300"
	[height]="250"
	[showTitle]="true"
	title="Pilih Print"
	[dragEnabled]="false"
	[closeOnOutsideClick]="false"
	[(visible)]="printPopupVisible">
	<div *dxTemplate="let data of 'content'">
		<form action="" (submit)="PrintResult($event)" >
			<dx-form id="choosePrint">
				<dxi-item>
					<dx-select-box [tabIndex]="500" dataField="printText" class="printPriv" searchEnabled="true"
					[(value)]="choosePrint.isiPrint" [dataSource]="this.printPrivResult">
							<dx-validator>
								<dxi-validation-rule type="required"> </dxi-validation-rule>
							</dx-validator>
					</dx-select-box>
				</dxi-item>

				<dxi-item
					itemType="button"
					horizontalAlignment="center"
					[buttonOptions]="{ text: 'PRINT', type: 'danger', useSubmitBehavior: true }">
				</dxi-item>
			</dx-form>
		</form>
	</div>
</dx-popup>