.balance-sheet {
    width: 80%;
    margin: 0 auto;
  }
  
  .section {
    margin-bottom: 20px;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  th, td {
    padding: 10px;
    text-align: left;
    border: 1px solid #ddd;
  }
  
  tfoot {
    background-color: #f2f2f2;
    font-weight: bold;
  }
  