<div class="row">
	<div class="col-12">
		<kt-portlet>
			<kt-portlet-header title="Neraca">
				<ng-container ktPortletTools> </ng-container>
			</kt-portlet-header>
		
			<kt-portlet-body>

                <div class="balance-sheet">
                    
                    
                    <!-- Aset (Assets) Section -->
                    <div class="section assets">
                      <h3>Assets</h3>
                      <table>
                        <thead>
                          <tr>
                            <th>Description</th>
                            <th>Amount</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let asset of assets">
                            <td>{{ asset.description }}</td>
                            <td>{{ asset.amount | currency:'USD' }}</td>
                          </tr>
                        </tbody>
                        <tfoot>
                          <tr>
                            <th>Total Assets</th>
                            <th>{{ totalAssets() | currency:'USD' }}</th>
                          </tr>
                        </tfoot>
                      </table>
                    </div>
                  
                    <!-- Liabilitas (Liabilities) Section -->
                    <div class="section liabilities">
                      <h3>Liabilities</h3>
                      <table>
                        <thead>
                          <tr>
                            <th>Description</th>
                            <th>Amount</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let liability of liabilities">
                            <td>{{ liability.description }}</td>
                            <td>{{ liability.amount | currency:'USD' }}</td>
                          </tr>
                        </tbody>
                        <tfoot>
                          <tr>
                            <th>Total Liabilities</th>
                            <th>{{ totalLiabilities() | currency:'USD' }}</th>
                          </tr>
                        </tfoot>
                      </table>
                    </div>
                  
                    <!-- Ekuitas (Equity) Section -->
                    <div class="section equity">
                      <h3>Equity</h3>
                      <table>
                        <thead>
                          <tr>
                            <th>Description</th>
                            <th>Amount</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let equityItem of equity">
                            <td>{{ equityItem.description }}</td>
                            <td>{{ equityItem.amount | currency:'USD' }}</td>
                          </tr>
                        </tbody>
                        <tfoot>
                          <tr>
                            <th>Total Equity</th>
                            <th>{{ totalEquity() | currency:'USD' }}</th>
                          </tr>
                        </tfoot>
                      </table>
                    </div>
                  </div>
                  
				
			</kt-portlet-body>
		</kt-portlet>

	</div>
</div>