<div class="row">
	<div class="col-12">
		<kt-portlet>
			<kt-portlet-header title="Detail Pengajuan Approval">
				<ng-container ktPortletTools> </ng-container>
			</kt-portlet-header>

			<kt-portlet-body>
                
                <div class="row  ml-2 mr-3">
                    <div class="col-md">
                        <div class="dx-fieldset">
                            
                            <div class="dx-field">
                                <div class="dx-field-label">Spb No</div>
                                <div class="dx-field-value">
                                    <div style="width:85%; float: left;">
                                        <dx-text-box [(value)]="formCreate.spbNo"[readOnly]="true">
                                            <dxi-validation-rule type="required" ></dxi-validation-rule>
                                        </dx-text-box>
                                    </div>
                                    <div style="width: 15%; float: left; padding-left: 1%;">
                                        <dx-button text="Check" type="success" (onClick)="onPrint()"></dx-button> 
                                    </div>
                                </div>
                            </div>

                            <div class="dx-field">
                                <div class="dx-field-label">Alasan</div>
                                <div class="dx-field-value">
                                    <dx-text-area
                                        [height]="120"
                                        [maxLength]="255"
                                        [(value)]="formCreate.reason" [readOnly]="true">
                                    </dx-text-area>
                                </div>
                            </div>

                            <div class="dx-field">
                                <div class="dx-field-label">Alasan Setuju / Tolak</div>
                                <div class="dx-field-value">
                                    <dx-text-area
                                        [height]="120"
                                        [maxLength]="255"
                                        [(value)]="formCreate.reasonReject">
                                    </dx-text-area>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </div>


                <div class="row  ml-2 mr-3">
                    <div class="col-md text-right">
                        <dx-button text="Approve" type="default" (onClick)="onApprove()"></dx-button> 
                        &nbsp;&nbsp;
                        <dx-button text="Reject" type="danger" (onClick)="onReject()"></dx-button> 
                        &nbsp;&nbsp;
                        <dx-button text="Kembali" type="normal" (onClick)="onBack()"></dx-button> 
                    </div>
                </div>
			</kt-portlet-body>
		</kt-portlet>

	</div>
</div>
