<div class="row">
	<div class="col-12">
		<kt-portlet>
			<kt-portlet-header title="Kode Porter / Pengantar">
				<ng-container ktPortletTools> </ng-container>
			</kt-portlet-header>

			<kt-portlet-body>
				<div *ngIf="menuForb" class="alert alert-warning box-msg" role="alert">
					<strong>Warning!</strong>
					<span style="padding-left: 10px;">You doesn't have permission to access this page.</span>
				</div>

				<div *ngIf="menuPriv">    
                    <table style="width: 100%">
                        <tr>
                            <td style="width: 95%"><dx-button text = "Generate" type="success" style="width: 7%;" (onClick)="generate()"> </dx-button></td>
                            <td style="width: 5%"><dx-button icon = "plus" type="success" style="width: 100%;" (onClick)="addPorterCode()"> </dx-button></td>
                        </tr>
                    </table>
                    
                    
                    <p style="white-space: pre-wrap"></p>

                    <dx-data-grid id="gridContainer" [dataSource]="ds" [showBorders]="true" alignment="left">
                        <dxo-filter-row [visible]="true"></dxo-filter-row>
                        <dxo-header-filter [visible]="true"></dxo-header-filter>
                        <dxo-paging [pageSize]="10"></dxo-paging>

                        <!-- <dxi-column dataField="porterId"  [allowFiltering]="false" [fixed]="true" caption="Action" alignment="left" [allowSorting]="false" cellTemplate="cellTemplate"></dxi-column> -->

                        <dxi-column dataField="code" dataType="string" caption="Kode Porter / Pengantar"> </dxi-column>
                        <dxi-column dataField="phone" dataType="string" caption="Telepon"> </dxi-column>
                        <dxi-column dataField="name" dataType="string" caption="Nama Porter / Pengantar"> </dxi-column>

                        <!-- <div *dxTemplate="let data of 'cellTemplate'">
                            <dx-drop-down-button
                                icon="edit"
                                [items]="[
                                        {key: 'generate', value: 'Generate', data: data.data}
                                    ]"
                                (onItemClick)="ChooseAction($event)"
                                [displayExpr]="'value'"
                                [keyExpr]="'key'"
                                [dropDownOptions]="{
                                    width: 100
                                }"
                            ></dx-drop-down-button>
                        </div> -->
                    </dx-data-grid>

				</div>
			</kt-portlet-body>
		</kt-portlet>

	</div>
</div>



