<div class="row">
	<div class="col-12">
		<kt-portlet>
			<kt-portlet-header title="Reset Password">
				<ng-container ktPortletTools> </ng-container>
			</kt-portlet-header>

			<kt-portlet-body>
				<div *ngIf="menuForb" class="alert alert-warning box-msg" role="alert">
					<strong>Warning!</strong>
					<span style="padding-left: 10px;">You doesn't have permission to access this page.</span>
            	</div>

				<div *ngIf="menuPriv">
                    <dx-button icon="refresh" type="success" style="width: 10%;" (onClick)="resetPassword()"><h6>Reset Password</h6></dx-button>
                    <br/>
                    <br/>
					<dx-data-grid id="gridContainer" [dataSource]="ds" [showBorders]="true">
						<dxo-filter-row [visible]="true"></dxo-filter-row>
						<dxo-header-filter [visible]="true"></dxo-header-filter>
                        <dxi-column dataField="username" dataType="string" alignment="left" caption="Akun"> </dxi-column>
						<dxi-column dataField="email" dataType="string" alignment="left" caption="Email" > </dxi-column>
                        <dxi-column dataField="password" dataType="string" caption="Password" > </dxi-column>
					</dx-data-grid>
				</div>
			</kt-portlet-body>
		</kt-portlet>

	</div>
</div>