<span [formGroup]="spbForm">
	<div class="col-md-12">
			<table class="table table-xs table-bordered pelanggan">

		<tbody>

			<tr>
				<td colspan="3"><b>Pengirim</b></td>
			</tr>

			<!-- <tr>  di non aktifkan 1Agust22
				<td>ID Pelanggan</td>
				<td colspan="2">
					<div class="row">
						<div class="col-12">
							<dx-text-box [tabIndex]="202" class="pelanggan uppercase" placeholder="isi ID Pelanggan" formControlName="idcustpengirim" (keyup.enter)="KetikEnterPengirimIdPelanggan($event,'senderIdCust')">
							</dx-text-box>
						</div>
					</div>
				</td>
				<td>
					<div><dx-button icon="refresh" type="success" (onClick)="ResetDataPengirim()"> 
					</dx-button></div>
				</td>

			</tr> -->
			<!-- Tambah NoTelp 14 Jul 22,  di non aktifkan tgl 1 agust22 -->
			<!-- <tr>
				<td>No. Telepon</td>
				<td>
					<div class="row">
						<div class="col-12">
							<dx-text-box [tabIndex]="202" class="pelanggan uppercase" placeholder="misal 0251234567" formControlName="sendertelp" (keyup.enter)="KetikEnterTelp($event,'senderPhone')">
								(keydown)="SenderPhoneToOld($event)" (onFocusOut)="Punctuation_OnFocusOut($event,'senderPhone')"> 
							<dx-validator>
							</dx-validator>
							</dx-text-box>
						</div>
					</div>
				</td>
			</tr> -->

			<tr>
				<td>No. Hp</td>
				<td>

					<!-- <dx-radio-group class="pelanggan " [tabIndex]="202"
									formControlName="senderType" [dataSource]="phoneType"
									displayExpr="text" valueExpr="value" layout="horizontal">
					</dx-radio-group> -->


					<dx-select-box [tabIndex]="202" id="senderPhone"
								   class="pelanggan uppercase" placeholder="nomor telpon"
								   minSearchLength="5" formControlName="senderId"
								   [dataSource]="senderPhoneDs" displayExpr="phone"
								   valueExpr="customerId" searchEnabled="true" [disabled]="IsSenderDisabled"
								   (keydown)="SenderPhoneToNew()" [showClearButton]="true"
								   (onItemClick)="SenderPhone_OnItemClick($event)"
								   *ngIf="!senderIsNew.sender" itemTemplate="itemCustSenderPhoneDs">
						<div *dxTemplate="let data of 'itemCustSenderPhoneDs'"
							 [innerHTML]="highlightProcess(data.phone, 'senderPhone')">
						</div>
						<dx-validator>
							<dxi-validation-rule type="required"> </dxi-validation-rule>

						</dx-validator>
					</dx-select-box>



					<div class="row"
						 *ngIf="senderIsNew.sender && spbForm.value.senderType == 'home'">
						<div class="col-4">
							<dx-text-box [tabIndex]="202" class="pelanggan uppercase" placeholder="kode area" formControlName="senderArea"
										 (keydown)="SenderPhoneToOld($event)">
							<dx-validator>
								<dxi-validation-rule type="stringLength" [min]="2" message="min 3 & maks 4" ignoreEmptyValue="true"> </dxi-validation-rule>
								<dxi-validation-rule type="stringLength" [max]="4" message="min 3 & maks 4" ignoreEmptyValue="true"> </dxi-validation-rule>
						</dx-validator>
							</dx-text-box>
						</div>
						

						<div class="col-8">
							<dx-text-box [tabIndex]="202" class="pelanggan uppercase" placeholder="nomor telp" formControlName="sender" (keyup.enter)="KetikEnter($event,'senderPhone')">
										 <!--(keydown)="SenderPhoneToOld($event)" (onFocusOut)="Punctuation_OnFocusOut($event,'senderPhone')">  -->
							<dx-validator>
								<dxi-validation-rule type="required"> </dxi-validation-rule>
								<dxi-validation-rule type="stringLength" [min]="5" message="min 5 & maks 8"> </dxi-validation-rule>
								<dxi-validation-rule type="stringLength" [max]="8" message="min 5 & maks 8"> </dxi-validation-rule>
							</dx-validator>
							</dx-text-box>
						</div>
					</div>

					<div class="row"
						 *ngIf="senderIsNew.sender && spbForm.value.senderType == 'hp'">
						<div class="col-12">
							<dx-text-box [tabIndex]="202" class="pelanggan uppercase" placeholder="misal 081234567890" formControlName="sender" (keyup.enter)="KetikEnter($event,'senderPhone')">
								(keydown)="SenderPhoneToOld($event)" (onFocusOut)="Punctuation_OnFocusOut($event,'senderPhone')">  <!-- Pati 1 sept -->
							<dx-validator>
								<!-- <dxi-validation-rule type="required"> </dxi-validation-rule>
								<dxi-validation-rule type="stringLength" [min]="10" message="min 10 & maks 13"> </dxi-validation-rule>
								<dxi-validation-rule type="stringLength" [max]="13" message="min 10 & maks 13"> </dxi-validation-rule> -->
							</dx-validator>
							</dx-text-box>
						</div>

					</div>
					
				</td>
				

				<!-- Button utk enable no HP -->
				<!-- <td>  
					<div><dx-button icon="rename" type="success" (onClick)="enableNOTELP()"></dx-button></div>
				</td> -->

			</tr>
			<tr>
				<td>Nama</td>
				<td colspan="2">

					<dx-select-box [tabIndex]="202" class="pelanggan uppercase" formControlName="senderNameId" 
								   [dataSource]="senderNameDs" displayExpr="customerName"
								   valueExpr="customerNameId" searchEnabled="true"
								   (keydown)="SenderNameToNew($event)" [disabled]="IsSenderDisabled" [showClearButton]="true"
								   *ngIf="!senderIsNew.senderName" >
						<dx-validator>
							<dxi-validation-rule type="required"> </dxi-validation-rule>
						</dx-validator>
					</dx-select-box>

					<dx-text-box [tabIndex]="202" class="pelanggan uppercase" placeholder="nama pelanggan" formControlName="senderName" (keydown)="SenderNameToOld($event)" (keyup.enter)="KetikEnterName($event,'senderName')"
								 *ngIf="senderIsNew.senderName" (onFocusOut)="Punctuation_OnFocusOut($event,'senderName')">
						<dx-validator>
							<!-- <dxi-validation-rule type="required"> </dxi-validation-rule> -->
							<!--								<dxi-validation-rule type="stringLength" [min]="2" message="min 2 & maks 25"> </dxi-validation-rule>-->
							<!--								<dxi-validation-rule type="stringLength" [max]="25" message="min 2 & maks 25"> </dxi-validation-rule>-->
						</dx-validator>
					</dx-text-box>

				</td>
				<!--  di non aktifkan 1agust22  <td>
					<div><dx-button icon="search" type="success" (onClick)="CariNamaPengirim()"> 

					</dx-button></div>
				</td> -->
			</tr>
			<tr>
				<td>Toko</td>
				<td colspan="2">
					<dx-select-box [tabIndex]="202" class="pelanggan uppercase" formControlName="senderStoreId"
								   [dataSource]="senderStoreDs" displayExpr="customerStore" 
							
								   valueExpr="customerStoreId" [disabled]="IsSenderDisabled" searchEnabled="true" [showClearButton]="true"
								   *ngIf="!senderIsNew.senderStore">
						<dx-validator>
							<!-- (keydown)="SenderStoreToNew($event)" -->
<!--							<dxi-validation-rule type="required"> </dxi-validation-rule>-->
						</dx-validator>
					</dx-select-box>

					<dx-text-box [tabIndex]="202" class="pelanggan uppercase" placeholder="nama toko" formControlName="senderStore"
								 *ngIf="senderIsNew.senderStore" (onFocusOut)="Punctuation_OnFocusOut($event,'senderStore')">
						<dx-validator>
							<!-- (keydown)="SenderStoreToOld($event)" -->
<!--							<dxi-validation-rule type="required"> </dxi-validation-rule>-->
										<dxi-validation-rule type="stringLength" [min]="2" message="min 2 & maks 30" ignoreEmptyValue="true"> </dxi-validation-rule>
								<dxi-validation-rule type="stringLength" [max]="30" message="min 2 & maks 30" ignoreEmptyValue="true"> </dxi-validation-rule>
						</dx-validator>
					</dx-text-box>

				</td>
			</tr>
			<tr>
				<td>Tempat</td>
				<td colspan="2">
					<dx-select-box [tabIndex]="202" class="pelanggan uppercase" formControlName="senderPlaceId"
								   [dataSource]="senderPlaceDs" displayExpr="customerPlace" (keydown)="SenderPlaceToNew($event)"
								   [disabled]="IsSenderDisabled" valueExpr="customerPlaceId" searchEnabled="true" [showClearButton]="true"
								   *ngIf="!senderIsNew.senderPlace">
						<dx-validator>
<!--							<dxi-validation-rule type="required"> </dxi-validation-rule>-->
						</dx-validator>
					</dx-select-box>

						<dx-text-box [tabIndex]="202" class="pelanggan uppercase" placeholder="nama tempat" formControlName="senderPlace" 
									 *ngIf="senderIsNew.senderPlace" (onFocusOut)="Punctuation_OnFocusOut($event,'senderPlace')">
							<dx-validator>
								<!-- (keydown)="SenderPlaceToOld($event)" -->
<!--							<dxi-validation-rule type="required"> </dxi-validation-rule>-->
								<!--										<dxi-validation-rule type="stringLength" [min]="2" message="min 2 & maks 30" ignoreEmptyValue="true" > </dxi-validation-rule>-->
								<!--								<dxi-validation-rule type="stringLength" [max]="30" message="min 2 & maks 30" ignoreEmptyValue="true" > </dxi-validation-rule>-->
						</dx-validator>
						</dx-text-box>

				</td>
			</tr>
			<tr>
				<td>Alamat</td>
				<td colspan="2">
					<div>
						<dx-select-box [tabIndex]="202" class="pelanggan uppercase" formControlName="senderAddressId"
									   [dataSource]="senderAddressDs" displayExpr="customerAddress" [showClearButton]="true"
									   valueExpr="customerAddressId" searchEnabled="true" [disabled]="IsSenderDisabled" (keydown)="SenderAddressToNew($event)"
									   *ngIf="!senderIsNew.senderAddress">
							<dx-validator>
							<dxi-validation-rule type="required"> </dxi-validation-rule>
						</dx-validator>
						</dx-select-box>

						<dx-text-area [tabIndex]="202" class="pelanggan uppercase" placeholder="nama jalan, blok, nomor" formControlName="senderAddress" 
									  *ngIf="senderIsNew.senderAddress" [autoResizeEnabled]="true" [minHeight]="100" (onFocusOut)="Punctuation_OnFocusOut($event,'senderAddress')">
							<dx-validator>
							<dxi-validation-rule type="required"> </dxi-validation-rule>
										<dxi-validation-rule type="stringLength" [min]="2" message="min 2 & maks 100"> </dxi-validation-rule>
								<dxi-validation-rule type="stringLength" [max]="100" message="min 2 & maks 100"> </dxi-validation-rule>
						</dx-validator>
						</dx-text-area>
						<!-- (keydown)="SenderAddressToOld($event)" -->
						<!-- Tambahan Pati 3sept rt, rw, kelurahan, kecamatan, postal code -->

						<!-- RT RW -->
						<!-- <div class="kt-space-5"></div>
						<div class="row" *ngIf="senderNew.senderAddress">
							<div class="col-6" style="padding-right: 0 !important;">
								<dx-text-box [tabIndex]="300" class="pelanggan uppercase" formControlName="senderRt" placeholder="rt" maskOld="999">
									<dx-validator>
										<dxi-validation-rule type="stringLength" [min]="1" message="min 1 & maks 3" ignoreEmptyValue="true"> </dxi-validation-rule>
								<dxi-validation-rule type="stringLength" [max]="3" message="min 1 & maks 3" ignoreEmptyValue="true"> </dxi-validation-rule>
									</dx-validator>
								</dx-text-box>
							</div>
							<div class="col-6">
								<dx-text-box [tabIndex]="300" class="pelanggan uppercase" formControlName="senderRw" placeholder="rw" maskOld="999">
									<dx-validator>
										<dxi-validation-rule type="stringLength" [min]="1" message="min 1 & maks 3" ignoreEmptyValue="true"> </dxi-validation-rule>
								<dxi-validation-rule type="stringLength" [max]="3" message="min 1 & maks 3" ignoreEmptyValue="true"> </dxi-validation-rule>
									</dx-validator>
								</dx-text-box>
							</div>
						</div> -->

						 						<!-- <div class="kt-space-5" ></div> 
						 						<div class="row"  *ngIf="senderAddressNew"> 
						 							<div class="col-6" style="padding-right: 0 !important;"> 
						 								<dx-text-box class="pelanggan" formControlName="senderRt" placeholder="rt"> 
						 									  
						 								</dx-text-box> 
						 							</div> 
						 							<div class="col-6"> 
						 								<dx-text-box class="pelanggan" formControlName="senderRw" placeholder="rw"> 
						 									 
						 								</dx-text-box> 
						 							</div> 
						 						</div> 
						 						<div class="kt-space-5" ></div> 
						 						<div class="row"  *ngIf="senderAddressNew"> 
						 							<div class="col-6" style="padding-right: 0 !important;"> 
						 								<dx-select-box id="kelurahan" class="pelanggan" placeholder="kelurahan" 
						 											   formControlName="kelurahan" [dataSource]="null" displayExpr="urbanNameBps" valueExpr="urbanCodeBps" 
						 											   searchEnabled="true" itemTemplate="itemDestkelurahan"> 
						 									<div *dxTemplate="let data of 'itemDestkelurahan'" [innerHTML]="highlightProcess(data.urbanNameBps, 'kelurahan')"> 
						 									</div> 
						 								</dx-select-box> 
						 								&lt;!&ndash;								<dx-text-box class="pelanggan" formControlName="senderKelurahan" placeholder="kelurahan">&ndash;&gt; 
						 								&lt;!&ndash;									<dx-validator>&ndash;&gt; 
						 								&lt;!&ndash;										&lt;!&ndash;															<dxi-validation-rule type="required"> </dxi-validation-rule>&ndash;&gt;&ndash;&gt; 
						 								&lt;!&ndash;									</dx-validator>&ndash;&gt; 
						 								&lt;!&ndash;					kecamatanDs			</dx-text-box>&ndash;&gt; 
						 							</div> 
						 							<div class="col-6"> 
						 								<dx-select-box id="kecamatan" class="pelanggan" placeholder="kecamatan" 
						 											   formControlName="kecamatan" [dataSource]="null" displayExpr="subDistrictNameBps" valueExpr="subDistrictCodeBps" 
						 											   searchEnabled="true" itemTemplate="itemDestkecamatan"> 
						 									<div *dxTemplate="let data of 'itemDestkecamatan'" [innerHTML]="highlightProcess(data.subDistrictNameBps, 'kecamatan')"> 
						 									</div> 
						 								</dx-select-box> 
						 							</div> 
						 						</div> 
						 						<div class="kt-space-5" ></div> 
						 						<div class="row"  *ngIf="senderAddressNew"> 
						 							<div class="col-6" style="padding-right: 0 !important;"> 
						 								<dx-select-box  id="kotamadya" class="pelanggan" placeholder="kotamadya / kabupaten" > 
						 								</dx-select-box> 

						 							</div> 
						 							<div class="col-6"> 
						 								<dx-text-box class="pelanggan" formControlName="senderPostalCodeId" placeholder="kode pos"> 
						 									<dx-validator> 
						 										&lt;!&ndash;															<dxi-validation-rule type="required"> </dxi-validation-rule>&ndash;&gt; 
						 									</dx-validator> 
						 								</dx-text-box> 
						 							</div> 
						 						</div>  -->
					</div>

				</td>
				<td>
					<div><dx-button icon="rename" type="success" (onClick)="editPengirim()" [disabled]="EditSenderDisabled"> </dx-button></div>
					<!-- <div><dx-button icon="clear" type="success" (onClick)="enableNOTELP()"></dx-button></div> -->
				</td>
			</tr>
		</tbody>
	</table>
	</div>


	<dx-popup
		[width]="'90%'"
		[height]="'80%'"
		[showTitle]="true"
		title="Pengirim"
		[dragEnabled]="false"
		[closeOnOutsideClick]="false"
		[(visible)]="senderPopUp">



        <div *dxTemplate="let data of 'content'">

<!--			<dx-button icon="plus"-->
<!--					   text="Tidak ketemu ?. Buat Baru"-->
<!--					   [width]="260"-->
<!--					   [height]="44"-->
<!--					   (click)="senderListChoose($event)"-->
<!--					   type="success">-->
<!--            </dx-button>-->

					<dx-data-grid id="senderList"
								  [remoteOperations]="true"
								  [height]="'90%'"
								  [dataSource]="senderListDs" [showBorders]="true">
					<!-- <dxo-filter-row [visible]="true"></dxo-filter-row> -->
						<!-- <dxo-search-panel
							[visible]="true"
							[highlightSearchText]="true"
							placeholder="cari nomor telpon"
						></dxo-search-panel> -->
						<dxo-paging [pageSize]="100"></dxo-paging>
				<dxo-scrolling mode="virtual"></dxo-scrolling>
										<dxi-column type="buttons" [width]="110" caption="Action">
											<dxi-button text="Pilih"
														[onClick]="senderListChoose"
											> </dxi-button>
										</dxi-column>
										<dxi-column dataField="telp" [allowSearch]="true" caption="Nomor Telepon"> </dxi-column>
										<dxi-column dataField="phone" [allowSearch]="true" caption="Nomor HP"> </dxi-column>
										<dxi-column dataField="customerName" [allowSearch]="false" caption="Nama"> </dxi-column>
										<dxi-column dataField="customerStore" [allowSearch]="false" caption="Toko"> </dxi-column>
										<dxi-column dataField="customerPlace" [allowSearch]="false" caption="Tempat"> </dxi-column>
										<dxi-column dataField="customerAddress" [allowSearch]="false" caption="Alamat"> </dxi-column>
										<dxi-column dataField="rt" [allowSearch]="false" caption="Rt"> </dxi-column>
										<dxi-column dataField="rw" [allowSearch]="false" caption="Rw"> </dxi-column>
										<dxi-column dataField="masterUrbanName" [allowSearch]="false" caption="Kel."> </dxi-column>
										<dxi-column dataField="masterSubDistrictName" [allowSearch]="false" caption="Kec."> </dxi-column>
										<dxi-column dataField="masterCityName" [allowSearch]="false" caption="Kota"> </dxi-column>
										<dxi-column dataField="masterUrbanPostalCode" [allowSearch]="false" caption="Kode Pos"> </dxi-column>
				</dx-data-grid>
				<br>
				<!-- <dx-button icon="plus" type="success" (onClick)="senderEnable()"> </dx-button>   Pati 1 Sept  -->
				<dx-button icon="plus" type="success" (onClick)="senderEnableForApprove()"> </dx-button> 




        </div>
    </dx-popup>

	<dx-popup
	[width]="'90%'"
	[height]="'80%'"
	[showTitle]="true"
	title="Pengirim"
	[dragEnabled]="false"
	[closeOnOutsideClick]="false"
	[(visible)]="senderTelpPopUp">

	<div *dxTemplate="let data of 'content'">

				<dx-data-grid id="senderList"
							  [remoteOperations]="true"
							  [height]="'90%'"
							  [dataSource]="senderTelpListDs" [showBorders]="true">
				<!-- <dxo-filter-row [visible]="true"></dxo-filter-row> -->
					<!-- <dxo-search-panel
						[visible]="true"
						[highlightSearchText]="true"
						placeholder="cari nomor telpon"
					></dxo-search-panel> -->
					<dxo-paging [pageSize]="100"></dxo-paging>
			<dxo-scrolling mode="virtual"></dxo-scrolling>
									<dxi-column type="buttons" [width]="110" caption="Action">
										<dxi-button text="Pilih"
													[onClick]="senderTelpListChoose"
										> </dxi-button>
									</dxi-column>
									<dxi-column dataField="telp" [allowSearch]="true" caption="Nomor Telepon"> </dxi-column>
									<dxi-column dataField="phone" [allowSearch]="true" caption="Nomor HP"> </dxi-column>
									<dxi-column dataField="customerName" [allowSearch]="false" caption="Nama"> </dxi-column>
									<dxi-column dataField="customerStore" [allowSearch]="false" caption="Toko"> </dxi-column>
									<dxi-column dataField="customerPlace" [allowSearch]="false" caption="Tempat"> </dxi-column>
									<dxi-column dataField="customerAddress" [allowSearch]="false" caption="Alamat"> </dxi-column>
									<dxi-column dataField="rt" [allowSearch]="false" caption="Rt"> </dxi-column>
									<dxi-column dataField="rw" [allowSearch]="false" caption="Rw"> </dxi-column>
									<dxi-column dataField="masterUrbanName" [allowSearch]="false" caption="Kel."> </dxi-column>
									<dxi-column dataField="masterSubDistrictName" [allowSearch]="false" caption="Kec."> </dxi-column>
									<dxi-column dataField="masterCityName" [allowSearch]="false" caption="Kota"> </dxi-column>
									<dxi-column dataField="masterUrbanPostalCode" [allowSearch]="false" caption="Kode Pos"> </dxi-column>
			</dx-data-grid>
			<br>
			<!-- <dx-button icon="plus" type="success" (onClick)="senderEnable()"> </dx-button>   Pati 1 Sept  -->
			<dx-button icon="plus" type="success" (onClick)="senderEnableForApprove()"> </dx-button> 

	</div>
</dx-popup>

<dx-popup
	[width]="'90%'"
	[height]="'80%'"
	[showTitle]="true"
	title="Pengirim"
	[dragEnabled]="false"
	[closeOnOutsideClick]="false"
	[(visible)]="receiverTelpPopUp">

	<div *dxTemplate="let data of 'content'">

				<dx-data-grid id="senderList"
							  [remoteOperations]="true"
							  [height]="'90%'"
							  [dataSource]="senderTelpListDs" [showBorders]="true">
				<!-- <dxo-filter-row [visible]="true"></dxo-filter-row> -->
					<!-- <dxo-search-panel
						[visible]="true"
						[highlightSearchText]="true"
						placeholder="cari nomor telpon"
					></dxo-search-panel> -->
					<dxo-paging [pageSize]="100"></dxo-paging>
			<dxo-scrolling mode="virtual"></dxo-scrolling>
									<dxi-column type="buttons" [width]="110" caption="Action">
										<dxi-button text="Pilih"
													[onClick]="receiverTelpListChoose"
										> </dxi-button>
									</dxi-column>
									<dxi-column dataField="telp" [allowSearch]="true" caption="Nomor Telepon"> </dxi-column>
									<dxi-column dataField="phone" [allowSearch]="true" caption="Nomor HP"> </dxi-column>
									<dxi-column dataField="customerName" [allowSearch]="false" caption="Nama"> </dxi-column>
									<dxi-column dataField="customerStore" [allowSearch]="false" caption="Toko"> </dxi-column>
									<dxi-column dataField="customerPlace" [allowSearch]="false" caption="Tempat"> </dxi-column>
									<dxi-column dataField="customerAddress" [allowSearch]="false" caption="Alamat"> </dxi-column>
									<dxi-column dataField="rt" [allowSearch]="false" caption="Rt"> </dxi-column>
									<dxi-column dataField="rw" [allowSearch]="false" caption="Rw"> </dxi-column>
									<dxi-column dataField="masterUrbanName" [allowSearch]="false" caption="Kel."> </dxi-column>
									<dxi-column dataField="masterSubDistrictName" [allowSearch]="false" caption="Kec."> </dxi-column>
									<dxi-column dataField="masterCityName" [allowSearch]="false" caption="Kota"> </dxi-column>
									<dxi-column dataField="masterUrbanPostalCode" [allowSearch]="false" caption="Kode Pos"> </dxi-column>
			</dx-data-grid>
			<br>
			<!-- <dx-button icon="plus" type="success" (onClick)="senderEnable()"> </dx-button>   Pati 1 Sept  -->
			<dx-button icon="plus" type="success" (onClick)="senderEnableForApprove()"> </dx-button> 

	</div>
</dx-popup>


	<div class="col-md-12">

		<table class="table table-xs table-bordered pelanggan">

					<tbody>

						<tr>
							<td colspan="2"><b>Penerima</b></td>
						</tr>

						<!-- di non aktifkan 1Agust22 <tr>
							<td>ID Pelanggan</td>
							<td colspan="2">
								<div class="row">
									 
									<div class="col-12">
										<dx-text-box [tabIndex]="212" class="pelanggan uppercase" placeholder="isi ID Pelanggan" formControlName="idcustpenerima" (keyup.enter)="KetikEnterPenerimaIdPelanggan($event,'receiverIdCust')">
										</dx-text-box>
									</div>
								</div>
							</td>
							<td>
								<div><dx-button icon="refresh" type="success" (onClick)="ResetDataPenerima()"> 
			
								</dx-button></div>
							</td>
						</tr> -->

						<!-- <tr> di non aktifkan 1 Agust22
							<td>No. Telepon</td>
							<td>
								<div class="row">
									<div class="col-12">
										<dx-text-box [tabIndex]="300" class="pelanggan uppercase" placeholder="misal 0251234567" formControlName="receivertelp" (keyup.enter)="KetikEnterTelp($event,'receiverPhone')">
											(keydown)="ReceiverPhoneToOld($event)" (onFocusOut)="Punctuation_OnFocusOut($event,'receiverPhone')"> 
											<dx-validator>
											</dx-validator>
										</dx-text-box>
									</div>
								</div>
							</td>
						</tr> -->

						<tr>
							<td>No. Hp</td>
							<td>
								<!-- <dx-radio-group [tabIndex]="300" class="pelanggan" [tabIndex]="202"
												formControlName="receiverType" [dataSource]="phoneType"
												displayExpr="text" valueExpr="value" layout="horizontal">
								</dx-radio-group> -->

								<dx-select-box [tabIndex]="300" class="pelanggan uppercase" id="receiverPhone"
											   formControlName="receiverId" minSearchLength="5" [showClearButton]="true"
											   itemTemplate="itemReceiverPhoneDs"
											   [dataSource]="receiverPhoneDs" displayExpr="phone"
											   valueExpr="customerId" searchEnabled="true"
											   (keydown)="ReceiverPhoneToNew()"
											   *ngIf="!receiverNew.receiver"
											   (onItemClick)="ReceiverPhone_OnItemClick($event)" [disabled]="IsReceiverDisabled">
									<div *dxTemplate="let data of 'itemReceiverPhoneDs'"
										 [innerHTML]="highlightProcess(data.phone, 'receiverPhone')">
									</div>
									<dx-validator>
							<dxi-validation-rule type="required"> </dxi-validation-rule>
						</dx-validator>
								</dx-select-box>
								<div class="row"
									 *ngIf="receiverNew.receiver && spbForm.value.receiverType == 'home'">
						<div class="col-4">
							<dx-text-box [tabIndex]="300" class="pelanggan uppercase" placeholder="kode area" formControlName="receiverArea">
										 <!-- (keydown)="ReceiverPhoneToOld($event)"> -->
							<dx-validator>
								<dxi-validation-rule type="stringLength" [min]="2" message="min 3 & maks 4" ignoreEmptyValue="true"> </dxi-validation-rule>
								<dxi-validation-rule type="stringLength" [max]="4" message="min 3 & maks 4" ignoreEmptyValue="true"> </dxi-validation-rule>
						</dx-validator>
							</dx-text-box>
						</div>
						<div class="col-8">
							<dx-text-box [tabIndex]="300" class="pelanggan uppercase" placeholder="nomor telp" formControlName="receiver"  (keyup.enter)="KetikEnter($event,'receiverPhone')">
										 <!-- (keydown)="ReceiverPhoneToOld($event)"> -->
<dx-validator>
							<dxi-validation-rule type="required"> </dxi-validation-rule>
								<dxi-validation-rule type="stringLength" [min]="5" message="min 5 & maks 8"> </dxi-validation-rule>
								<dxi-validation-rule type="stringLength" [max]="8" message="min 5 & maks 8"> </dxi-validation-rule>
						</dx-validator>
							</dx-text-box>
						</div>
					</div>

					<div class="row"
						 *ngIf="receiverNew.receiver && spbForm.value.receiverType == 'hp'">
						<div class="col-12">
							<dx-text-box [tabIndex]="300" class="pelanggan uppercase" placeholder="misal 081234567890" formControlName="receiver" (keyup.enter)="KetikEnter($event,'receiverPhone')">
							<!-- <dx-text-box [tabIndex]="300" class="pelanggan uppercase" placeholder="No. HP harus angka misal 081212341234" formControlName="receiver" (keydown)="ReceiverPhoneToOld($event)" (onFocusOut)="Punctuation_OnFocusOut($event,'receiverPhone')"> -->
							<dx-validator>
								<!-- <dxi-validation-rule type="required"> </dxi-validation-rule>
								<dxi-validation-rule type="stringLength" [min]="10" message="min 10 & maks 13"> </dxi-validation-rule>
								<dxi-validation-rule type="stringLength" [max]="13" message="min 10 & maks 13"> </dxi-validation-rule> -->
							</dx-validator>
							</dx-text-box>
						</div>
					</div>

							</td>
							
						</tr>

						<tr>
							<td>Nama</td>
							<td colspan="2">

								<dx-select-box [tabIndex]="300" class="pelanggan uppercase" formControlName="receiverNameId" (keydown)="ReceiverNameToNew($event)"
											   [dataSource]="receiverNameDs" displayExpr="customerName" [showClearButton]="true"
											   valueExpr="customerNameId" searchEnabled="true" [disabled]="IsReceiverDisabled"
											   *ngIf="!receiverNew.receiverName">
									<dx-validator>
<!--							<dxi-validation-rule type="required"> </dxi-validation-rule>-->
						</dx-validator>
								</dx-select-box>

								<dx-text-box [tabIndex]="300" class="pelanggan uppercase" *ngIf="receiverNew.receiverName" (onFocusOut)="Punctuation_OnFocusOut($event,'receiverName')"  (keyup.enter)="KetikEnterName($event,'receiverName')"
											 (keydown)="ReceiverNameToOld($event)"  formControlName="receiverName">
									<dx-validator>
<!--							<dxi-validation-rule type="required"> </dxi-validation-rule>-->
										<!--										<dxi-validation-rule type="stringLength" [min]="2" message="min 2 & maks 25"> </dxi-validation-rule>-->
										<!--								<dxi-validation-rule type="stringLength" [max]="25" message="min 2 & maks 25"> </dxi-validation-rule>-->
						</dx-validator>
								</dx-text-box>
							</td>
							<!-- di non aktifkan 1agust22 <td>
								<div><dx-button icon="search" type="success" (onClick)="CariNamaPenerima()"> 
			
								</dx-button></div>
							</td> -->
						</tr>
						<tr>
							<td>Toko</td>
							<td colspan="2">
								<dx-select-box [tabIndex]="300" class="pelanggan uppercase" formControlName="receiverStoreId"
											   [dataSource]="receiverStoreDs" displayExpr="customerStore" (keydown)="ReceiverStoreToNew($event)"
											   valueExpr="customerStoreId" searchEnabled="true" [showClearButton]="true" [disabled]="IsReceiverDisabled"
											   *ngIf="!receiverNew.receiverStore">
									<dx-validator>
<!--							<dxi-validation-rule type="required"> </dxi-validation-rule>-->
						</dx-validator>
								</dx-select-box>

								<dx-text-box [tabIndex]="300" class="pelanggan uppercase" (onFocusOut)="Punctuation_OnFocusOut($event,'receiverStore')"
								*ngIf="receiverNew.receiverStore" formControlName="receiverStore">
									<dx-validator>
<!--																								<dxi-validation-rule type="required"> </dxi-validation-rule>-->

										<dxi-validation-rule type="stringLength" [min]="2" message="min 2 & maks 30" ignoreEmptyValue="true"> </dxi-validation-rule>
								<dxi-validation-rule type="stringLength" [max]="30" message="min 2 & maks 30" ignoreEmptyValue="true"> </dxi-validation-rule>
									</dx-validator>
								</dx-text-box>
								<!-- (keydown)="ReceiverStoreToOld($event)"  -->
							</td>
						</tr>
						<tr>
							<td>Tempat</td>
							<td colspan="2">
								<dx-select-box [tabIndex]="300" class="pelanggan uppercase" formControlName="receiverPlaceId"
											   [dataSource]="receiverPlaceDs" displayExpr="customerPlace" (keydown)="ReceiverPlaceToNew($event)"
											   valueExpr="customerPlaceId" searchEnabled="true" [showClearButton]="true" [disabled]="IsReceiverDisabled"
											   *ngIf="!receiverNew.receiverPlace">
									<dx-validator>
<!--							<dxi-validation-rule type="required"> </dxi-validation-rule>-->
						</dx-validator>
								</dx-select-box>

								<dx-text-box [tabIndex]="300" class="pelanggan uppercase" *ngIf="receiverNew.receiverPlace" 
								 (onFocusOut)="Punctuation_OnFocusOut($event,'receiverPlace')" formControlName="receiverPlace">
									<dx-validator>
										<!--														<dxi-validation-rule type="required"> </dxi-validation-rule>-->
										<!--										<dxi-validation-rule type="stringLength" [min]="2" message="min 2 & maks 30" ignoreEmptyValue="true" > </dxi-validation-rule>-->
										<!--								<dxi-validation-rule type="stringLength" [max]="30" message="min 2 & maks 30" ignoreEmptyValue="true" > </dxi-validation-rule>-->
									</dx-validator>
								</dx-text-box>
								<!-- (keydown)="ReceiverPlaceToOld($event)" -->
							</td>
						</tr>
						<tr>
							<td>Alamat</td>
							<td colspan="2">
								<div>
									<dx-select-box [tabIndex]="300" class="pelanggan uppercase"
												   formControlName="receiverAddressId" [showClearButton]="true"
												   [dataSource]="receiverAddressDs"
												   displayExpr="customerAddress" valueExpr="customerAddressId" (keydown)="ReceiverAddressToNew($event)"
												   searchEnabled="true" *ngIf="!receiverNew.receiverAddress" [disabled]="IsReceiverDisabled">
										<dx-validator>
							<dxi-validation-rule type="required"> </dxi-validation-rule>
						</dx-validator>
									</dx-select-box>


									<!--									<dx-text-area [tabIndex]="300" class="pelanggan uppercase" readOnly="readOnly"   *ngIf="!receiverNew.receiverAddress && spbForm.get('receiverAddressText').value " formControlName="receiverAddressText" [autoResizeEnabled]="true" [minHeight]="0">-->

									<!--									</dx-text-area>-->

									<dx-text-area [tabIndex]="300" class="pelanggan uppercase" placeholder="nama jalan, blok, nomor" 
												  *ngIf="receiverNew.receiverAddress" formControlName="receiverAddress" [autoResizeEnabled]="true" [minHeight]="100"
												  (onFocusOut)="Punctuation_OnFocusOut($event,'receiverAddress')">
										<dx-validator>
							<dxi-validation-rule type="required"> </dxi-validation-rule>
										<dxi-validation-rule type="stringLength" [min]="2" message="min 2 & maks 100"> </dxi-validation-rule>
								<dxi-validation-rule type="stringLength" [max]="100" message="min 2 & maks 100"> </dxi-validation-rule>
						</dx-validator>
									</dx-text-area>

									<div class="kt-space-5"></div>
						<div class="row" *ngIf="receiverNew.receiverAddress">
							<div class="col-6" style="padding-right: 0 !important;">
								<dx-text-box [tabIndex]="300" class="pelanggan uppercase" formControlName="receiverRt" placeholder="rt" maskOld="999">
									<dx-validator>
										<!--															<dxi-validation-rule type="required"> </dxi-validation-rule>-->
										<dxi-validation-rule type="stringLength" [min]="1" message="min 1 & maks 3" ignoreEmptyValue="true"> </dxi-validation-rule>
								<dxi-validation-rule type="stringLength" [max]="3" message="min 1 & maks 3" ignoreEmptyValue="true"> </dxi-validation-rule>
									</dx-validator>
								</dx-text-box>
							</div>
							<div class="col-6">
								<dx-text-box [tabIndex]="300" class="pelanggan uppercase" formControlName="receiverRw" placeholder="rw" maskOld="999">
									<dx-validator>
										<!--															<dxi-validation-rule type="required"> </dxi-validation-rule>-->
										<dxi-validation-rule type="stringLength" [min]="1" message="min 1 & maks 3" ignoreEmptyValue="true"> </dxi-validation-rule>
								<dxi-validation-rule type="stringLength" [max]="3" message="min 1 & maks 3" ignoreEmptyValue="true"> </dxi-validation-rule>
									</dx-validator>
								</dx-text-box>
								<!-- (keydown)="ReceiverAddressToOld($event)" -->
							</div>
						</div>
						<div class="kt-space-5"></div>
						<div class="row" *ngIf="receiverNew.receiverAddress">
							<div class="col-6" style="padding-right: 0 !important;">
								<dx-select-box [tabIndex]="300" id="receiverKelurahan" class="pelanggan uppercase" placeholder="kelurahan" formControlName="receiverUrban"
											   itemTemplate="itemrRceiverUrbanDs"
											   (onValueChanged)="ReceiverUrban_OnChange($event)" [showClearButton]="true"
											   [dataSource]="receiverUrbanDs" displayExpr="masterUrbanNameCustom"
											   valueExpr="masterUrbanId" searchEnabled="true">
									<div *dxTemplate="let data of 'itemrRceiverUrbanDs'"
										 [innerHTML]="highlightProcess(data.masterUrbanNameCustom, 'receiverKelurahan')">
									</div>
								</dx-select-box>

							</div>
							<div class="col-6">
								<dx-select-box [tabIndex]="300" id="receiverKecamatan" class="pelanggan uppercase" placeholder="kecamatan" formControlName="receiverSubDistrict"
											   itemTemplate="itemrreceiverSubDistrictDsDs" [showClearButton]="true"
											   (onSelectionChanged)="ReceiverSubDistrict_SelectionChanged($event)"
											   [dataSource]="receiverSubDistrictDs" displayExpr="masterSubDistrictNameCustom"
											   valueExpr="masterSubDistrictId" searchEnabled="true">
									<div *dxTemplate="let data of 'itemrreceiverSubDistrictDsDs'"
										 [innerHTML]="highlightProcess(data.masterSubDistrictNameCustom, 'receiverKecamatan')">
									</div>
									<dx-validator>
										<dxi-validation-rule type="required"> </dxi-validation-rule>
									</dx-validator>
								</dx-select-box>
							</div>
						</div>
						<div class="kt-space-5"></div>
						<div class="row" *ngIf="receiverNew.receiverAddress">
							<div class="col-6" style="padding-right: 0 !important;">
								<dx-select-box [tabIndex]="300" id="receiverCity" class="pelanggan uppercase" placeholder="kotamadya / kabupaten" formControlName="receiverCity"
											   itemTemplate="receiverCity" [showClearButton]="true"
											   (onSelectionChanged)="ReceiverCity_SelectionChanged($event)"
											   [dataSource]="receiverCityDs" displayExpr="masterCityName"
											   valueExpr="masterCityId" searchEnabled="true">
									<div *dxTemplate="let data of 'receiverCity'"
										 [innerHTML]="highlightProcess(data.masterCityName, 'receiverCity')">
									</div>
									<dx-validator>
										<dxi-validation-rule type="required"> </dxi-validation-rule>
									</dx-validator>
								</dx-select-box>

							</div>
							<div class="col-6">
								<dx-select-box [tabIndex]="300" class="pelanggan uppercase" placeholder="kode pos" itemTemplate="receiverPostalCode" id="receiverPostalCode"
											   [dataSource]="receiverPostalCOdeDs" displayExpr="masterUrbanPostalCodeCustom" formControlName="receiverPostalCode"
											   (onValueChanged)="ReceiverPostalCode_OnChange($event)" [showClearButton]="true"
											   valueExpr="masterUrbanId" searchEnabled="true">
									<div *dxTemplate="let data of 'receiverPostalCode'"
										 [innerHTML]="highlightProcess(data.masterUrbanPostalCodeCustom, 'receiverPostalCode')">
									</div>
								</dx-select-box>
							</div>
						</div>


								</div>

							</td>
							<td>
								<div><dx-button icon="rename" type="success" (onClick)="editPenerima()" [disabled]="EditReceiverDisabled"> </dx-button></div>
								<!-- <div><dx-button icon="clear" type="success" (onClick)="enableNOTELPReceiver()"></dx-button></div> -->
							</td>

						</tr>

						<tr>
							<td>Via</td>
							<td colspan="2">
								<dx-select-box [tabIndex]="300" [tabIndex]="300" class="pelanggan uppercase" formControlName="receiverViaId" [showClearButton]="true"
											   [dataSource]="receiverViaDs" displayExpr="viaName" *ngIf="!receiverNew.receiverVia" (keydown)="ReceiverViaToNew($event)"
											   valueExpr="viaId">
									<dx-validator>
<!--							<dxi-validation-rule type="required"> </dxi-validation-rule>-->
								</dx-validator>
								</dx-select-box>

								<dx-text-box [tabIndex]="300" class="pelanggan uppercase" *ngIf="receiverNew.receiverVia" maskOld="aaaaaaaaaaaaaaaaaaaaaaaaaaaaaa" (keydown)="ReceiverViaToOld($event)"
											 formControlName="receiverVia">
									<dx-validator>
										<!--														<dxi-validation-rule type="required"> </dxi-validation-rule>-->
										<dxi-validation-rule type="stringLength" [min]="2" message="min 2 & maks 30" ignoreEmptyValue="true"> </dxi-validation-rule>
								<dxi-validation-rule type="stringLength" [max]="30" message="min 2 & maks 30" ignoreEmptyValue="true"> </dxi-validation-rule>
									</dx-validator>
								</dx-text-box>

							</td>
						</tr>

					</tbody>
				</table>
	</div>


	<div class="col-md-12">
		<table class="table table-xs table-bordered pelanggan">

	<tbody>

		<!-- <tr>
			<td colspan="3"><b>P o r t e r</b></td>
		</tr>
		<tr>
			<td>ID/Kode</td>
			<td colspan="2">
				<div class="row">
					<div class="col-12">
						<dx-text-box [tabIndex]="241" class="pelanggan uppercase" placeholder="isi ID Porter" formControlName="idporter" (keyup.onEnterKey)="KetikEnterKodePorter($event,'kodePorter')" (onFocusOut)="KetikEnterKodePorter($event,'kodePorter')" (onKeyUp)="KetikEnterKodePorter($event,'kodePorter')">
						</dx-text-box>
					</div>
				</div>
			</td>
		</tr>
		<tr>
			<td>Nama</td>
			<td colspan="2">
				<div class="row">
					<div class="col-12">
						<dx-text-box [tabIndex]="242" class="pelanggan uppercase" placeholder="isi nama Porter" formControlName="namaporter" [enable]="false">]
						</dx-text-box>
					</div>
				</div>
			</td>
		</tr>
		<tr>
			<td>No. HP</td>
			<td colspan="2">
				<div class="row">
					<div class="col-12">
						<dx-text-box [tabIndex]="243" class="pelanggan uppercase" placeholder="isi No HP Porter" formControlName="hpporter">
						</dx-text-box>
					</div>
				</div>
			</td>
		</tr> -->

	</tbody>
	</table>
	</div>


	<dx-popup
		[width]="'90%'"
		[height]="'80%'"
		[showTitle]="true"
		title="Penerima"
		[dragEnabled]="true"
		[closeOnOutsideClick]="true"
		[(visible)]="receiverPopUp">



        <div *dxTemplate="let data of 'content'">


					<dx-data-grid id="receiverList"
								  [remoteOperations]="true"
								  [height]="'90%'"
								  [dataSource]="receiverListDs" [showBorders]="true">
						<!-- <dxo-search-panel
							[visible]="true"
							[highlightSearchText]="true"
							placeholder="cari nomor telpon"
						></dxo-search-panel> -->
						<dxo-paging [pageSize]="100"></dxo-paging>
				<dxo-scrolling mode="virtual" showScrollbar="always"></dxo-scrolling>
										<dxi-column type="buttons" [width]="110" caption="Action">
											<dxi-button text="Pilih"
														[onClick]="receiverListChoose"
											> </dxi-button>
										</dxi-column>
										<dxi-column dataField="telp" [allowSearch]="true" caption="Nomor Telepon"> </dxi-column>
										<dxi-column dataField="phone" [allowSearch]="true" caption="Nomor HP"> </dxi-column>
										<dxi-column dataField="customerName" [allowSearch]="false" caption="Nama"> </dxi-column>
										<dxi-column dataField="customerStore" [allowSearch]="false" caption="Toko"> </dxi-column>
										<dxi-column dataField="customerPlace" [allowSearch]="false" caption="Tempat"> </dxi-column>
										<dxi-column dataField="customerAddress" [allowSearch]="false" caption="Alamat"> </dxi-column>
										<dxi-column dataField="rt" [allowSearch]="false" caption="Rt"> </dxi-column>
										<dxi-column dataField="rw" [allowSearch]="false" caption="Rw"> </dxi-column>
										<dxi-column dataField="masterUrbanName" [allowSearch]="false" caption="Kel."> </dxi-column>
										<dxi-column dataField="masterSubDistrictName" [allowSearch]="false" caption="Kec."> </dxi-column>
										<dxi-column dataField="masterCityName" [allowSearch]="false" caption="Kota"> </dxi-column>
										<dxi-column dataField="masterUrbanPostalCode" [allowSearch]="false" caption="Kode Pos"> </dxi-column>
				</dx-data-grid>


				<br>   
				<!-- <dx-button icon="plus" type="success" (onClick)="receiverEnable()"> </dx-button> Pati 2 sept 21   -->
				<dx-button icon="plus" type="success" (onClick)="receiverEnableForApprove()"> </dx-button>

        </div>
    </dx-popup>

	<dx-popup [closeOnOutsideClick]="false" [(visible)]="approvalWindowVisible" [width]="'32%'" height="27%">

		<dxi-toolbar-item text="Approval" location="before">
		</dxi-toolbar-item>
		
			<div>
				<div class="row  ml-2 mr-3">
					<div class="col-md text-right">
						
						<div class="dx-field" >
							<div class="dx-field-label">User Name</div>
							<div class="dx-field" >
								<div class="dx-field-value">
									<dx-text-box [(value)]="fromCreate.approveUser">
									</dx-text-box>
								</div>
							</div>
						</div>
		
						<div class="dx-field" >
							<div class="dx-field-label">Password</div>
							<div class="dx-field" >
								<div class="dx-field-value">
									<dx-text-box mode="password" [(value)]="fromCreate.approvePassword">
									</dx-text-box>
								</div>
							</div>
						</div>

					</div>
				</div>
				
				<br/>
				
				<div class="row  ml-2 mr-3">
					<div class="col-md text-center">
						<!-- <dx-button text="Approve" type="success" [onClick]="setApproval"></dx-button> -->
						<dx-button text="Approve" type="success" (onClick)="setApproval()"> </dx-button> 
					</div>
				</div>
	
			</div>
	
	</dx-popup>

	<dx-popup [closeOnOutsideClick]="false" [(visible)]="approvalPenerimaVisible" [width]="'32%'" height="27%">

		<dxi-toolbar-item text="Approval" location="before">
		</dxi-toolbar-item>
		
			<div>
				<div class="row  ml-2 mr-3">
					<div class="col-md text-right">
						
						<div class="dx-field" >
							<div class="dx-field-label">User Name</div>
							<div class="dx-field" >
								<div class="dx-field-value">
									<dx-text-box [(value)]="fromCreate.approveUser">
									</dx-text-box>
								</div>
							</div>
						</div>
		
						<div class="dx-field" >
							<div class="dx-field-label">Password</div>
							<div class="dx-field" >
								<div class="dx-field-value">
									<dx-text-box mode="password" [(value)]="fromCreate.approvePassword">
									</dx-text-box>
								</div>
							</div>
						</div>

					</div>
				</div>
				
				<br/>
				
				<div class="row  ml-2 mr-3">
					<div class="col-md text-center">
						
						<dx-button text="Approve" type="success" (onClick)="setApprovalPenerima()"> </dx-button> 
					</div>
				</div>
	
			</div>
	
	</dx-popup>

	<dx-popup [closeOnOutsideClick]="false" [(visible)]="updateDataPengirimPopupVisible" [width]="'45%'" height="50%">

		<dxi-toolbar-item text="Update Data Pengirim" location="before">
		</dxi-toolbar-item>
		
			<div>
				<table style="width: 100%;">
					<tr>
						<td style="width: 20%;">
							<dx-select-box [dataSource]="senderColumns" displayExpr="Name" valueExpr="ID" searchEnabled="true" [showClearButton]="true" [disabled]="true" [(value)]="formSpbUpdate.paramSender6">
								<dx-validator>
									<dxi-validation-rule type="required"> </dxi-validation-rule>
								</dx-validator>
							</dx-select-box>
						</td>
						<td>
							&nbsp;
						</td>
						<td style="padding-top: 1%;">
							<dx-text-box [(value)]="formSpbUpdate.senderTelp" [disabled]="SenderTelpDisable"></dx-text-box>
						</td>
					</tr>
					<tr>
						<td style="width: 20%;">
							<dx-select-box [dataSource]="senderColumns" displayExpr="Name" valueExpr="ID" searchEnabled="true" [showClearButton]="true" [disabled]="true" [(value)]="formSpbUpdate.paramSender1">
								<dx-validator>
									<dxi-validation-rule type="required"> </dxi-validation-rule>
								</dx-validator>
							</dx-select-box>
						</td>
						<td>
							&nbsp;
						</td>
						<td style="padding-top: 1%;">
							<dx-text-box [(value)]="formSpbUpdate.senderPhone" [disabled]="SenderPhoneDisable"></dx-text-box>
						</td>
					</tr>
					<tr>
						<td>
							<dx-select-box [dataSource]="senderColumns" displayExpr="Name" valueExpr="ID" searchEnabled="true" [showClearButton]="true" [(value)]="formSpbUpdate.paramSender2">
								<dx-validator>
									<dxi-validation-rule type="required"> </dxi-validation-rule>
								</dx-validator>
							</dx-select-box>
						</td>
						<td>
							&nbsp;
						</td>
						<td style="padding-top: 1%;">
							<dx-text-box [(value)]="formSpbUpdate.senderName" [disabled]="SenderNameDisable"></dx-text-box>
						</td>
					</tr>
					<tr>
						<td>
							<dx-select-box [dataSource]="senderColumns" displayExpr="Name" valueExpr="ID" searchEnabled="true" [showClearButton]="true" [(value)]="formSpbUpdate.paramSender3">
								<dx-validator>
									<dxi-validation-rule type="required"> </dxi-validation-rule>
								</dx-validator>
							</dx-select-box>
						</td>
						<td>
							&nbsp;
						</td>
						<td style="padding-top: 1%;">
							<dx-text-box [(value)]="formSpbUpdate.senderStore" [disabled]="SenderStoreDisable"></dx-text-box>
						</td>
					</tr>
					<tr>
						<td>
							<dx-select-box [dataSource]="senderColumns" displayExpr="Name" valueExpr="ID" searchEnabled="true" [showClearButton]="true" [(value)]="formSpbUpdate.paramSender4">
								<dx-validator>
									<dxi-validation-rule type="required"> </dxi-validation-rule>
								</dx-validator>
							</dx-select-box>
						</td>
						<td>
							&nbsp;
						</td>
						<td style="padding-top: 1%;">
							<dx-text-box [(value)]="formSpbUpdate.senderPlace" [disabled]="SenderPlaceDisable"></dx-text-box>
						</td>
					</tr>
					<tr>
						<td style="vertical-align: top;">
							<dx-select-box [dataSource]="senderColumns" displayExpr="Name" valueExpr="ID" searchEnabled="true" [showClearButton]="true" [(value)]="formSpbUpdate.paramSender5">
								<dx-validator>
									<dxi-validation-rule type="required"> </dxi-validation-rule>
								</dx-validator>
							</dx-select-box>
						</td>
						<td>
							&nbsp;
						</td>
						<td style="padding-top: 1%;">
							<dx-text-area class="mandatory-text-box" [height]="90" [maxLength]="255" [disabled]="SenderAddressDisable" [(value)]="formSpbUpdate.senderAddress" > </dx-text-area>
						</td>
					</tr>
				</table>
				
				<br/>
				
				<div class="row  ml-2 mr-2">
					<div class="col-md text-right">
						
						<dx-button text="Simpan" type="success" (onClick)="saveDataUpdatePengirim()"> </dx-button> 
					</div>
				</div>
	
			</div>
	</dx-popup>

	<dx-popup [closeOnOutsideClick]="false" [(visible)]="updateDataPenerimaPopupVisible" [width]="'45%'" height="50%">

		<dxi-toolbar-item text="Update Data Penerima" location="before">
		</dxi-toolbar-item>
		
			<div>
				<table style="width: 100%;">
					<tr>
						<td style="width: 20%;">
							<dx-select-box [dataSource]="receiverColumns" displayExpr="Name" valueExpr="ID" searchEnabled="true" [showClearButton]="true" [disabled]="true" [(value)]="formSpbUpdate.paramSender6">
								<dx-validator>
									<dxi-validation-rule type="required"> </dxi-validation-rule>
								</dx-validator>
							</dx-select-box>
						</td>
						<td>
							&nbsp;
						</td>
						<td style="padding-top: 1%;">
							<dx-text-box [(value)]="formSpbUpdate.receiverTelp" [disabled]="ReceiverTelpDisable"></dx-text-box>
						</td>
					</tr>
					<tr>
						<td style="width: 20%;">
							<dx-select-box [dataSource]="receiverColumns" displayExpr="Name" valueExpr="ID" searchEnabled="true" [showClearButton]="true" [disabled]="true" [(value)]="formSpbUpdate.paramReceiver1">
								<dx-validator>
									<dxi-validation-rule type="required"> </dxi-validation-rule>
								</dx-validator>
							</dx-select-box>
						</td>
						<td>
							&nbsp;
						</td>
						<td style="padding-top: 1%;">
							<dx-text-box [(value)]="formSpbUpdate.receiverPhone" [disabled]="ReceiverPhoneDisable"></dx-text-box>
						</td>
					</tr>
					<tr>
						<td>
							<dx-select-box [dataSource]="receiverColumns" displayExpr="Name" valueExpr="ID" searchEnabled="true" [showClearButton]="true" [(value)]="formSpbUpdate.paramReceiver2">
								<dx-validator>
									<dxi-validation-rule type="required"> </dxi-validation-rule>
								</dx-validator>
							</dx-select-box>
						</td>
						<td>
							&nbsp;
						</td>
						<td style="padding-top: 1%;">
							<dx-text-box [(value)]="formSpbUpdate.receiverName" [disabled]="ReceiverNameDisable"></dx-text-box>
						</td>
					</tr>
					<tr>
						<td>
							<dx-select-box [dataSource]="receiverColumns" displayExpr="Name" valueExpr="ID" searchEnabled="true" [showClearButton]="true" [(value)]="formSpbUpdate.paramReceiver3">
								<dx-validator>
									<dxi-validation-rule type="required"> </dxi-validation-rule>
								</dx-validator>
							</dx-select-box>
						</td>
						<td>
							&nbsp;
						</td>
						<td style="padding-top: 1%;">
							<dx-text-box [(value)]="formSpbUpdate.receiverStore" [disabled]="ReceiverStoreDisable"></dx-text-box>
						</td>
					</tr>
					<tr>
						<td>
							<dx-select-box [dataSource]="receiverColumns" displayExpr="Name" valueExpr="ID" searchEnabled="true" [showClearButton]="true" [(value)]="formSpbUpdate.paramReceiver4">
								<dx-validator>
									<dxi-validation-rule type="required"> </dxi-validation-rule>
								</dx-validator>
							</dx-select-box>
						</td>
						<td>
							&nbsp;
						</td>
						<td style="padding-top: 1%;">
							<dx-text-box [(value)]="formSpbUpdate.receiverPlace" [disabled]="ReceiverPlaceDisable"></dx-text-box>
						</td>
					</tr>
					<tr>
						<td style="vertical-align: top;">
							<dx-select-box [dataSource]="receiverColumns" displayExpr="Name" valueExpr="ID" searchEnabled="true" [showClearButton]="true" [(value)]="formSpbUpdate.paramReceiver5">
								<dx-validator>
									<dxi-validation-rule type="required"> </dxi-validation-rule>
								</dx-validator>
							</dx-select-box>
						</td>
						<td>
							&nbsp;
						</td>
						<td style="padding-top: 1%;">
							<dx-text-area class="mandatory-text-box" [height]="90" [maxLength]="255" [disabled]="ReceiverAddressDisable" [(value)]="formSpbUpdate.receiverAddress" > </dx-text-area>
						</td>
					</tr>
				</table>
				
				<br/>
				
				<div class="row  ml-2 mr-2">
					<div class="col-md text-right">
						
						<dx-button text="Simpan" type="success" (onClick)="saveDataUpdatePenerima()"> </dx-button> 
					</div>
				</div>
	
			</div>
	</dx-popup>

	<dx-popup
		[width]="'90%'"
		[height]="'80%'"
		[showTitle]="true"
		title="ID Pelanggan Pengirim"
		[dragEnabled]="true"
		[closeOnOutsideClick]="true"
		[(visible)]="senderPelangganIDPopUp">



        <div *dxTemplate="let data of 'content'">


					<dx-data-grid id="senderIdPelList"
								  [remoteOperations]="true"
								  [height]="'90%'"
								  [dataSource]="senderIDPelDs" [showBorders]="true">
						<!-- <dxo-search-panel
							[visible]="true"
							[highlightSearchText]="true"
							placeholder="cari nomor telpon"
						></dxo-search-panel> -->
						<dxo-paging [pageSize]="100"></dxo-paging>
				<dxo-scrolling mode="virtual" showScrollbar="always"></dxo-scrolling>
										<dxi-column type="buttons" [width]="110" caption="Action">
											<dxi-button text="Pilih"
														[onClick]="senderIdPelListChoose"
											> </dxi-button>
										</dxi-column>
										<dxi-column dataField="phone" [allowSearch]="true" caption="Nomor Telpon"> </dxi-column>
										<dxi-column dataField="customerName" [allowSearch]="false" caption="Nama"> </dxi-column>
										<dxi-column dataField="customerStore" [allowSearch]="false" caption="Toko"> </dxi-column>
										<dxi-column dataField="customerPlace" [allowSearch]="false" caption="Tempat"> </dxi-column>
										<dxi-column dataField="customerAddress" [allowSearch]="false" caption="Alamat"> </dxi-column>
										<dxi-column dataField="rt" [allowSearch]="false" caption="Rt"> </dxi-column>
										<dxi-column dataField="rw" [allowSearch]="false" caption="Rw"> </dxi-column>
										<dxi-column dataField="masterUrbanName" [allowSearch]="false" caption="Kel."> </dxi-column>
										<dxi-column dataField="masterSubDistrictName" [allowSearch]="false" caption="Kec."> </dxi-column>
										<dxi-column dataField="masterCityName" [allowSearch]="false" caption="Kota"> </dxi-column>
										<dxi-column dataField="masterUrbanPostalCode" [allowSearch]="false" caption="Kode Pos"> </dxi-column>
				</dx-data-grid>


				<br>   
				<!-- <dx-button icon="plus" type="success" (onClick)="receiverEnable()"> </dx-button> Pati 2 sept 21   -->
				<!-- <dx-button icon="plus" type="success" (onClick)="receiverEnableForApprove()"> </dx-button> -->

        </div>
    </dx-popup>

	<dx-popup
		[width]="'90%'"
		[height]="'80%'"
		[showTitle]="true"
		title="Penerima"
		[dragEnabled]="true"
		[closeOnOutsideClick]="true"
		[(visible)]="receiverPelangganIDPopUp">



        <div *dxTemplate="let data of 'content'">


					<dx-data-grid id="receiverIdPelList"
								  [remoteOperations]="true"
								  [height]="'90%'"
								  [dataSource]="receiverIDPelDs" [showBorders]="true">
						<!-- <dxo-search-panel
							[visible]="true"
							[highlightSearchText]="true"
							placeholder="cari nomor telpon"
						></dxo-search-panel> -->
						<dxo-paging [pageSize]="100"></dxo-paging>
				<dxo-scrolling mode="virtual" showScrollbar="always"></dxo-scrolling>
										<dxi-column type="buttons" [width]="110" caption="Action">
											<dxi-button text="Pilih"
														[onClick]="receiverIdPelListChoose"
											> </dxi-button>
										</dxi-column>
										<dxi-column dataField="phone" [allowSearch]="true" caption="Nomor Telpon"> </dxi-column>
										<dxi-column dataField="customerName" [allowSearch]="false" caption="Nama"> </dxi-column>
										<dxi-column dataField="customerStore" [allowSearch]="false" caption="Toko"> </dxi-column>
										<dxi-column dataField="customerPlace" [allowSearch]="false" caption="Tempat"> </dxi-column>
										<dxi-column dataField="customerAddress" [allowSearch]="false" caption="Alamat"> </dxi-column>
										<dxi-column dataField="rt" [allowSearch]="false" caption="Rt"> </dxi-column>
										<dxi-column dataField="rw" [allowSearch]="false" caption="Rw"> </dxi-column>
										<dxi-column dataField="masterUrbanName" [allowSearch]="false" caption="Kel."> </dxi-column>
										<dxi-column dataField="masterSubDistrictName" [allowSearch]="false" caption="Kec."> </dxi-column>
										<dxi-column dataField="masterCityName" [allowSearch]="false" caption="Kota"> </dxi-column>
										<dxi-column dataField="masterUrbanPostalCode" [allowSearch]="false" caption="Kode Pos"> </dxi-column>
				</dx-data-grid>


				<br>   
				<!-- <dx-button icon="plus" type="success" (onClick)="receiverEnable()"> </dx-button> Pati 2 sept 21   -->
				<dx-button icon="plus" type="success" (onClick)="receiverEnableForApprove()"> </dx-button>

        </div>
    </dx-popup>

	<dx-popup [closeOnOutsideClick]="false" [(visible)]="approvalCariNamaPengirim" [width]="'32%'" height="27%">

		<dxi-toolbar-item text="Approval" location="before">
		</dxi-toolbar-item>
		
			<div>
				<div class="row  ml-2 mr-3">
					<div class="col-md text-right">
						
						<div class="dx-field" >
							<div class="dx-field-label">User Name</div>
							<div class="dx-field" >
								<div class="dx-field-value">
									<dx-text-box [(value)]="fromCreate.approveUser">
									</dx-text-box>
								</div>
							</div>
						</div>
		
						<div class="dx-field" >
							<div class="dx-field-label">Password</div>
							<div class="dx-field" >
								<div class="dx-field-value">
									<dx-text-box mode="password" [(value)]="fromCreate.approvePassword">
									</dx-text-box>
								</div>
							</div>
						</div>

					</div>
				</div>
				
				<br/>
				
				<div class="row  ml-2 mr-3">
					<div class="col-md text-center">
						<!-- <dx-button text="Approve" type="success" [onClick]="setApproval"></dx-button> -->
						<dx-button text="Approve" type="success" (onClick)="setApprovalCariNamaPengirim()"> </dx-button> 
					</div>
				</div>
	
			</div>
	
	</dx-popup>

	<dx-popup [closeOnOutsideClick]="false" [(visible)]="approvalCariNamaPenerima" [width]="'32%'" height="27%">

		<dxi-toolbar-item text="Approval" location="before">
		</dxi-toolbar-item>
		
			<div>
				<div class="row  ml-2 mr-3">
					<div class="col-md text-right">
						
						<div class="dx-field" >
							<div class="dx-field-label">User Name</div>
							<div class="dx-field" >
								<div class="dx-field-value">
									<dx-text-box [(value)]="fromCreate.approveUser">
									</dx-text-box>
								</div>
							</div>
						</div>
		
						<div class="dx-field" >
							<div class="dx-field-label">Password</div>
							<div class="dx-field" >
								<div class="dx-field-value">
									<dx-text-box mode="password" [(value)]="fromCreate.approvePassword">
									</dx-text-box>
								</div>
							</div>
						</div>

					</div>
				</div>
				
				<br/>
				
				<div class="row  ml-2 mr-3">
					<div class="col-md text-center">
						<!-- <dx-button text="Approve" type="success" [onClick]="setApproval"></dx-button> -->
						<dx-button text="Approve" type="success" (onClick)="setApprovalCariNamaPenerima()"> </dx-button> 
					</div>
				</div>
	
			</div>
	
	</dx-popup>

	<dx-popup
		[width]="'90%'"
		[height]="'80%'"
		[showTitle]="true"
		title="Pengirim"
		[dragEnabled]="false"
		[closeOnOutsideClick]="false"
		[(visible)]="senderNamePopUp">

        <div *dxTemplate="let data of 'content'">

					<dx-data-grid id="senderNameList"
								  [remoteOperations]="true"
								  [height]="'90%'"
								  [dataSource]="senderNameListDs" [showBorders]="true">

						<dxo-paging [pageSize]="100"></dxo-paging>
				<dxo-scrolling mode="virtual"></dxo-scrolling>
										<dxi-column type="buttons" [width]="110" caption="Action">
											<dxi-button text="Pilih"
														[onClick]="senderNameListChoose"
											> </dxi-button>
										</dxi-column>
										<dxi-column dataField="phone" [allowSearch]="true" caption="Nomor Telpon"> </dxi-column>
										<dxi-column dataField="customerName" [allowSearch]="false" caption="Nama"> </dxi-column>
										<dxi-column dataField="customerStore" [allowSearch]="false" caption="Toko"> </dxi-column>
										<dxi-column dataField="customerPlace" [allowSearch]="false" caption="Tempat"> </dxi-column>
										<dxi-column dataField="customerAddress" [allowSearch]="false" caption="Alamat"> </dxi-column>
										<dxi-column dataField="rt" [allowSearch]="false" caption="Rt"> </dxi-column>
										<dxi-column dataField="rw" [allowSearch]="false" caption="Rw"> </dxi-column>
										<dxi-column dataField="masterUrbanName" [allowSearch]="false" caption="Kel."> </dxi-column>
										<dxi-column dataField="masterSubDistrictName" [allowSearch]="false" caption="Kec."> </dxi-column>
										<dxi-column dataField="masterCityName" [allowSearch]="false" caption="Kota"> </dxi-column>
										<dxi-column dataField="masterUrbanPostalCode" [allowSearch]="false" caption="Kode Pos"> </dxi-column>
				</dx-data-grid>
				<br>
				<dx-button icon="plus" type="success" (onClick)="senderEnableForApprove()"> </dx-button> 
        </div>
    </dx-popup>

	<dx-popup
		[width]="'90%'"
		[height]="'80%'"
		[showTitle]="true"
		title="Penerima"
		[dragEnabled]="true"
		[closeOnOutsideClick]="true"
		[(visible)]="receiverNamePopUp">

        <div *dxTemplate="let data of 'content'">

					<dx-data-grid id="receiverNameList"
								  [remoteOperations]="true"
								  [height]="'90%'"
								  [dataSource]="receiverNameListDs" [showBorders]="true">

						<dxo-paging [pageSize]="100"></dxo-paging>
				<dxo-scrolling mode="virtual" showScrollbar="always"></dxo-scrolling>
										<dxi-column type="buttons" [width]="110" caption="Action">
											<dxi-button text="Pilih"
														[onClick]="receiverNameListChoose"
											> </dxi-button>
										</dxi-column>
										<dxi-column dataField="phone" [allowSearch]="true" caption="Nomor Telpon"> </dxi-column>
										<dxi-column dataField="customerName" [allowSearch]="false" caption="Nama"> </dxi-column>
										<dxi-column dataField="customerStore" [allowSearch]="false" caption="Toko"> </dxi-column>
										<dxi-column dataField="customerPlace" [allowSearch]="false" caption="Tempat"> </dxi-column>
										<dxi-column dataField="customerAddress" [allowSearch]="false" caption="Alamat"> </dxi-column>
										<dxi-column dataField="rt" [allowSearch]="false" caption="Rt"> </dxi-column>
										<dxi-column dataField="rw" [allowSearch]="false" caption="Rw"> </dxi-column>
										<dxi-column dataField="masterUrbanName" [allowSearch]="false" caption="Kel."> </dxi-column>
										<dxi-column dataField="masterSubDistrictName" [allowSearch]="false" caption="Kec."> </dxi-column>
										<dxi-column dataField="masterCityName" [allowSearch]="false" caption="Kota"> </dxi-column>
										<dxi-column dataField="masterUrbanPostalCode" [allowSearch]="false" caption="Kode Pos"> </dxi-column>
				</dx-data-grid>

				<br>   
				<dx-button icon="plus" type="success" (onClick)="receiverEnableForApprove()"> </dx-button>

        </div>
    </dx-popup>

	<dx-popup
		[width]="'90%'"
		[height]="'80%'"
		[showTitle]="true"
		title="List Porter"
		[dragEnabled]="true"
		[closeOnOutsideClick]="true"
		[(visible)]="porterPopUp">

        <div *dxTemplate="let data of 'content'">

					<dx-data-grid id="porterList"
								  [remoteOperations]="true"
								  [height]="'90%'"
								  [dataSource]="porterListDs" [showBorders]="true">

						<dxo-paging [pageSize]="100"></dxo-paging>
				<dxo-scrolling mode="virtual" showScrollbar="always"></dxo-scrolling>
										<dxi-column type="buttons" [width]="110" caption="Action">
											<dxi-button text="Pilih"
														[onClick]="porterListChoose"
											> </dxi-button>
										</dxi-column>
										<dxi-column dataField="Phone" [allowSearch]="true" caption="Nomor Telpon"> </dxi-column>
										<dxi-column dataField="Name" [allowSearch]="false" caption="Nama"> </dxi-column>
										<dxi-column dataField="Code" [allowSearch]="false" caption="Kode"> </dxi-column>

				</dx-data-grid>

				<br>   
				<!-- <dx-button icon="plus" type="success" (onClick)="receiverEnableForApprove()"> </dx-button> -->

        </div>
    </dx-popup>

</span>
