<div class="row">
	<div class="col-12">
		<kt-portlet>
			<kt-portlet-header title="Update Monitoring Shipment">
				<ng-container ktPortletTools> </ng-container>
			</kt-portlet-header>

			<kt-portlet-body>
                
                <div class="row  ml-2 mr-3">
                    <div class="col-md">
                        <div class="dx-fieldset">  

                            <table style="width: 100%;">
                                <tr>
                                    <td>
                                        <div class="dx-field">
                                            <div class="dx-field-label">Via</div>
                                            <div class="dx-field-value">
                                                <dx-text-box [(value)]="this.via" [disabled]="true">
                                                    <dxi-validation-rule type="required" ></dxi-validation-rule>
                                                </dx-text-box>
                                            </div>
                                        </div>
            
                                        <div class="dx-field">
                                            <div class="dx-field-label">Origin</div>
                                            <div class="dx-field-value">
                                                <dx-text-box [(value)]="this.originCityName" [disabled]="true">
                                                    <dxi-validation-rule type="required" ></dxi-validation-rule>
                                                </dx-text-box>
                                            </div>
                                        </div>
            
                                        <div class="dx-field">
                                            <div class="dx-field-label">Corporate</div>
                                            <div class="dx-field-value">
                                                <dx-text-box [(value)]="this.corporateName" [disabled]="true">
                                                    <dxi-validation-rule type="required" ></dxi-validation-rule>
                                                </dx-text-box>
                                            </div>
                                        </div>
            
                                        <div class="dx-field">
                                            <div class="dx-field-label">Tujuan</div>
                                            <div class="dx-field-value">
                                                <dx-text-box [(value)]="this.destinationCityName" [disabled]="true">
                                                    <dxi-validation-rule type="required" ></dxi-validation-rule>
                                                </dx-text-box>
                                            </div>
                                        </div>
            
                                        <div class="dx-field">
                                            <div class="dx-field-label">STT Pegasus</div>
                                            <div class="dx-field-value">
                                                <dx-text-box [(value)]="this.sttPegasus" [disabled]="true">
                                                    <dxi-validation-rule type="required" ></dxi-validation-rule>
                                                </dx-text-box>
                                            </div>
                                        </div>
            
                                        <div class="dx-field">
                                            <div class="dx-field-label">STT Lion Parcel</div>
                                            <div class="dx-field-value">
                                                <dx-text-box [(value)]="this.sttLP" [disabled]="true">
                                                    <dxi-validation-rule type="required" ></dxi-validation-rule>
                                                </dx-text-box>
                                            </div>
                                        </div>
            
                                        <div class="dx-field">
                                            <div class="dx-field-label">SMU</div>
                                            <div class="dx-field-value">
                                                <dx-text-box [(value)]="this.smuNo" [disabled]="true">
                                                    <dxi-validation-rule type="required" ></dxi-validation-rule>
                                                </dx-text-box>
                                            </div>
                                        </div>
            
                                        <div class="dx-field">
                                            <div class="dx-field-label">Koli</div>
                                            <div class="dx-field-value">
                                                <dx-text-box [(value)]="this.koli" [disabled]="true">
                                                    <dxi-validation-rule type="required" ></dxi-validation-rule>
                                                </dx-text-box>
                                            </div>
                                        </div>
            
                                        <div class="dx-field">
                                            <div class="dx-field-label">Kilo</div>
                                            <div class="dx-field-value">
                                                <dx-text-box [(value)]="this.caw" [disabled]="true">
                                                    <dxi-validation-rule type="required" ></dxi-validation-rule>
                                                </dx-text-box>
                                            </div>
                                        </div>
            
                                        <!-- <div class="dx-field">
                                            <div class="dx-field-label">Carrier</div>
                                            <div class="dx-field-value">
                                                <dx-text-box [(value)]="this.carrierCode" [disabled]="true">
                                                    <dxi-validation-rule type="required" ></dxi-validation-rule>
                                                </dx-text-box>
                                            </div>
                                        </div> -->
                                    </td>
                                    <td style="padding-left: 2%;">
                                        <div class="dx-field">
                                            <div class="dx-field-label">No Penerbangan</div>
                                            <div class="dx-field-value">
                                                <table style="width: 100%;">
                                                    <tr>
                                                        <td style="width: 30%;">
                                                            <dx-text-box [(value)]="this.carrierCode" [disabled]="true">
                                                                <dxi-validation-rule type="required" ></dxi-validation-rule>
                                                            </dx-text-box>
                                                        </td>
                                                        <td style="width: 70%;">
                                                            <dx-text-box [(value)]="this.flightNo" [disabled]="true">
                                                                <dxi-validation-rule type="required" ></dxi-validation-rule>
                                                            </dx-text-box>
                                                        </td>
                                                    </tr>
                                                </table>
                                               </div>
                                        </div>

                                        <!-- <div class="dx-field">
                                            <div class="dx-field-label">Flight No</div>
                                            <div class="dx-field-value">
                                                <dx-text-box [(value)]="this.flightNo" [disabled]="true">
                                                    <dxi-validation-rule type="required" ></dxi-validation-rule>
                                                </dx-text-box>
                                            </div>
                                        </div> -->
            
                                        <div class="dx-field">
                                            <div class="dx-field-label">Tanggal Penerbangan</div>
                                            <div class="dx-field-value">
                                                <dx-text-box [(value)]="this.flightDate" [disabled]="true">
                                                    <dxi-validation-rule type="required" ></dxi-validation-rule>
                                                </dx-text-box>
                                            </div>
                                        </div>  
            
                                        <div class="dx-field">
                                            <div class="dx-field-label">ETD</div>
                                            <div class="dx-field-value">
                                                <dx-text-box [(value)]="this.etd" [disabled]="true">
                                                    <dxi-validation-rule type="required" ></dxi-validation-rule>
                                                </dx-text-box>
                                            </div>
                                        </div>  
            
                                        <div class="dx-field">
                                            <div class="dx-field-label">ETA</div>
                                            <div class="dx-field-value">
                                                <dx-text-box [(value)]="this.eta" [disabled]="true">
                                                    <dxi-validation-rule type="required" ></dxi-validation-rule>
                                                </dx-text-box>
                                            </div>
                                        </div>  
            
                                        <div class="dx-field">
                                            <div class="dx-field-label">Status Pengiriman</div>
                                            <div class="dx-field-value">
                                                <dx-text-box [(value)]="formCreate.status">
                                                    <dxi-validation-rule type="required" ></dxi-validation-rule>
                                                </dx-text-box>
                                            </div>
                                        </div>
            
                                        <div class="dx-field">
                                            <div class="dx-field-label">Di Terima Oleh</div>
                                            <div class="dx-field-value">
                                                <dx-text-box [(value)]="formCreate.pod">
                                                    <dxi-validation-rule type="required" ></dxi-validation-rule>
                                                </dx-text-box>
                                            </div>
                                        </div>
            
                                         <div class="dx-field">
                                            <div class="dx-field-label">Waktu / Jam Di Terima</div>
                                            <div class="dx-field-value">
                                                <dx-date-box [(value)]="formCreate.podDate" [showClearButton]="true">
                                                    <dx-validator>
                                                        <dxi-validation-rule type="required" ></dxi-validation-rule>
                                                    </dx-validator>
                                                </dx-date-box>
                                            </div>
                                        </div> 
            
                                        <div class="dx-field">
                                            <div class="dx-field-label">Keterangan</div>
                                            <div class="dx-field-value">
                                                <dx-text-area
                                                    [height]="120"
                                                    [maxLength]="255"
                                                    [(value)]="formCreate.description">
                                                </dx-text-area>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </table>

                        </div>
                    </div>
                </div>                
                
                <div class="row  ml-2 mr-3">
                    <div class="col-md text-right">
                        <dx-button text="Save" type="default" (onClick)="onSave()"></dx-button>&nbsp;&nbsp;
                        <dx-button text="Kembali" type="danger" (onClick)="onBack()"></dx-button>  
                    </div>
                </div>
                                
    
			</kt-portlet-body>
           
		</kt-portlet>

	</div>
</div>



