<div class="row">
	<div class="col-12">
		<kt-portlet>
			<kt-portlet-header title="{{this.rolesName}} - [{{this.desc}}]" style="font-size: larger;">
				<ng-container ktPortletTools> </ng-container>
			</kt-portlet-header>
            
			<kt-portlet-body>
                <div class="row  ml-2 mr-3" style="margin-top: -2%;">
                    <div class="col-md">
                        <div class="dx-fieldset">
                            
                            <div class="dx-field">
                                <div class="dx-field-label"><strong>Kota {{this.type |titlecase}}</strong></div>
                                <div class="dx-field-value">
                                    <dx-drop-down-box
                                        [(value)]="gridBoxValue"
                                        [(opened)]="isGridBoxOpened"
                                        valueExpr="masterCityId"
                                        [deferRendering]="false"
                                        [displayExpr]="gridBox_displayExpr"
                                        placeholder="Select a value"
                                        [showClearButton]="false"
                                        [dataSource]="cityDs"
                                        (onValueChanged)="onValueChanged($event)"
                                        contentTemplate="content"
                                    >
                        
                                    <div *dxTemplate="let data of 'content'">
                                        <dx-data-grid
                                            [dataSource]="cityDs"
                                            [selection]="{ mode: 'single', allowSelectAll: false}"
                                            [hoverStateEnabled]="true"
                                            [paging]="{ enabled: true, pageSize: 10 }"
                                            [filterRow]="{ visible: true }"
                                            [(selectedRowKeys)]="gridBoxValue"
                                            (onSelectionChanged)="onSelectionChanged($event)"
                                            height="100%"
                                        >
                                            <dxi-column dataField="masterCityId" dataType="number" caption="#" width="70"> </dxi-column>
                                            <dxi-column dataField="masterCityCode" dataType="string" caption="City Code"> </dxi-column>
                                            <dxi-column dataField="masterCityType" dataType="string" caption="City Type"> </dxi-column>
                                            <dxi-column dataField="masterCityName" dataType="string" caption="City Name"> </dxi-column>
                                            <dxi-column dataField="masterCityCapital" dataType="string" caption="City Capital"> </dxi-column>
                                        </dx-data-grid>
                                    </div>
                                    </dx-drop-down-box>
                                </div>
                                
                            </div>
                            
                        </div>
                    </div>
                </div>

               
                <div class="row  ml-2 mr-3">
                    <div class="col-md text-right">
                        <dx-button text="Save" type="danger" (onClick)="onSave()"></dx-button> 
                        &nbsp;&nbsp;
                        <dx-button text="Kembali" type="default" (onClick)="onBack()"></dx-button>
                    </div>
                </div>

				<!-- </div> -->
			</kt-portlet-body>
		</kt-portlet>

	</div>
</div>