<div class="row">
	<div class="col-12">
		<kt-portlet>
			<kt-portlet-header title="Manifest - Carrier">
				<ng-container ktPortletTools> </ng-container>
			</kt-portlet-header>

			<kt-portlet-body>
				<div *ngIf="menuForb" class="alert alert-warning box-msg" role="alert">
					<strong>Warning!</strong>
					<span style="padding-left: 10px;">You doesn't have permission to access this page.</span>
            	</div>

				<div *ngIf="menuPriv">
					<mat-tab-group>
						<mat-tab label="Manifest Carrier">
							<kt-read-manifest-carrier></kt-read-manifest-carrier>
						</mat-tab>

						<mat-tab label="Manifest Semingu Terakhir">
							<kt-last-manifest></kt-last-manifest>
						</mat-tab>

						<!-- <mat-tab label="Report">
							<kt-manifest-carrier-report></kt-manifest-carrier-report>
						</mat-tab> -->
					</mat-tab-group>
				</div>
			</kt-portlet-body>
		</kt-portlet>

	</div>
</div>



