<div class="row">
	<div class="col-12">
		<kt-portlet>
			<kt-portlet-header title="Master Data Customer">
				<ng-container ktPortletTools> </ng-container>
			</kt-portlet-header>

			<kt-portlet-body>

				<div *ngIf="menuForb" class="alert alert-warning box-msg" role="alert">
					<strong>Warning!</strong>
					<span style="padding-left: 10px;">You doesn't have permission to access this page.</span>
				</div>
				
				<div *ngIf="menuPriv">
					<dx-data-grid id="gridContainer"
								[dataSource]="ds" [showBorders]="true">
						<dxo-filter-row [visible]="true"></dxo-filter-row>
						<dxo-header-filter [visible]="true"></dxo-header-filter>
                        <dxi-column dataField="customerId" dataType="number" caption="CustomerId" [visible]="false"> </dxi-column>
						<dxi-column dataField="telepon" dataType="string" caption="Telepon" > </dxi-column>
						<dxi-column dataField="phone" dataType="string" caption="Hp" > </dxi-column>
                        <dxi-column dataField="customerName" dataType="string" caption="Nama Pelanggan" > </dxi-column>
                        <dxi-column dataField="customerStore" dataType="string" caption="Toko Pelanggan" > </dxi-column>
                        <dxi-column dataField="customerPlace" dataType="string" caption="Tempat Pelanggan" > </dxi-column>
                        <dxi-column dataField="customerAddress" dataType="string" caption="Alamat Pelanggan" > </dxi-column>
                        
                        <dxi-column type="buttons" [width]="100" caption="Detail" style="font-weight: bold;">
                            <dxi-button text="Detail" hint="Detail Data" [onClick]="detailMasterDataCustomer"> </dxi-button>
                        </dxi-column>
					</dx-data-grid>
				</div>
			</kt-portlet-body>
		</kt-portlet>

	</div>
</div>
