<div class="row">
	<div class="col-12">
		<kt-portlet>
			<kt-portlet-header title="Kirim Barang >> Monitoring SPB">
				<ng-container ktPortletTools> </ng-container>
			</kt-portlet-header>

			<kt-portlet-body>

				<div *ngIf="menuForb" class="alert alert-warning box-msg" role="alert">
					<strong>Warning!</strong>
					<span style="padding-left: 10px;">You doesn't have permission to access this page.</span>
            	</div>

				<div *ngIf="menuPriv">
					<form (submit)="onFormSubmit($event)">
						<dx-form id="formSpbList" [formData]="searchForm">

							<dxi-item itemType="group" cssClass="second-group" [colCount]="2" [cssClass]="'filter-background'" caption="Cari">
								<dxi-item itemType="group">
									<dxi-item dataField="date" [label]="{text: 'Tanggal'}"
											editorType="dxDateBox"
											[editorOptions]="{  showClearButton: true}"
									></dxi-item>

								</dxi-item>
								<dxi-item itemType="group">

								</dxi-item>
								<dxi-item itemType="group" [colSpan]="2">
									<dxi-item
										itemType="button"
										horizontalAlignment="right"
										[buttonOptions]="{ text: 'Cari', type: 'success', useSubmitBehavior: true }">
									</dxi-item>
								</dxi-item>


							</dxi-item>

						</dx-form>
					</form>

					<br/>

					<!-- <h4>Via Semarang</h4>
					<kt-goods-monitoring-datagrid [branchConfigKey]="'via_srg'" #viaSrg></kt-goods-monitoring-datagrid>

					<br/> <br/> <h4>Provinsi Kalimantan Timur</h4>
					<kt-goods-monitoring-datagrid [branchConfigKey]="'via_kaltim'" #viaKalTim></kt-goods-monitoring-datagrid>

					<br/> <br/> <h4>Via Halim</h4>
					<kt-goods-monitoring-datagrid [branchConfigKey]="'via_hlm'" #viaHlm></kt-goods-monitoring-datagrid>

					<br/> <br/> <h4>ViA Lion Parcel Kedoya</h4>
					<kt-goods-monitoring-datagrid [branchConfigKey]="'via_lp_kedoya'" #viaLpKedoya></kt-goods-monitoring-datagrid>

					<br/> <br/> <h4>Via Semarang Truck</h4>
					<kt-goods-monitoring-datagrid [branchConfigKey]="'via_srg_truck'" #viaSrgTruck></kt-goods-monitoring-datagrid> -->

					<!-- <br/> <br/> <h4>Keseluruhan Data</h4>
					<kt-goods-monitoring-datagrid [branchConfigKey]="'via_all'" #viaAll></kt-goods-monitoring-datagrid> -->
					<br/> <br/> <h4>Keseluruhan Data</h4>
					<kt-goods-monitoring-datagrid #allData></kt-goods-monitoring-datagrid>

				</div>
			</kt-portlet-body>
		</kt-portlet>

	</div>
</div>




