<div class="row">
	<div class="col-12">
		<kt-portlet>
			<kt-portlet-header title="Add Coa Code">
				<ng-container ktPortletTools> </ng-container>
			</kt-portlet-header>

			<kt-portlet-body>
				<div *ngIf="menuForb" class="alert alert-warning box-msg" role="alert">
					<strong>Warning!</strong>
					<span style="padding-left: 10px">You doesn't have permission to access this page.</span>
				</div>
				<div *ngIf="menuPriv">
					
                    <div class="container">
                       
                        <div class="dx-field mb-2">
                            <div class="dx-field-label"><h6>Coa Parent</h6></div>
                            <div class="dx-field-value">
                                <dx-select-box [dataSource]="coaParentDs" [ngClass]="{'is-invalid': submitted}" [searchEnabled]="true" displayExpr="coaParentName" valueExpr="coaParentId" [(value)]="formCreate.coaParentId" [showClearButton]="true">
                                    <dx-validator>
                                        <dxi-validation-rule type="required"></dxi-validation-rule>
                                    </dx-validator>
                                </dx-select-box>
                                <!-- <dx-text-box [(value)]="formCreate.province">
                                    <dxi-validation-rule type="required" ></dxi-validation-rule>
                                </dx-text-box> -->
                            </div>
                        </div>
                        <div class="dx-field mb-2">
                            <div class="dx-field-label"><h6>Branch</h6></div>
                            <div class="dx-field-value">
                                <dx-select-box [dataSource]="branchData" [searchEnabled]="true" displayExpr="branchName" valueExpr="branchId" [(value)]="formCreate.branchId" [showClearButton]="true">
                                    <dx-validator>
                                        <dxi-validation-rule type="required"></dxi-validation-rule>
                                    </dx-validator>
                                </dx-select-box>
                            </div>
                        </div>
                        
                        <!-- <div class="mb-2 dx-field-label"><h6>Kode COA</h6></div>
                        <form class="row g-3" id="coaCodeForm">
                            
                            <div class="col-md-2 col-sm-6 mb-3">
                              <label for="part1" class="form-label">Digit 1:</label>
                              <input type="number" class="form-control" [formControl]="digit1" required>
                            </div>
                          
                            <div class="col-md-2 col-sm-6 mb-3">
                              <label for="part2" class="form-label">Digit 2:</label>
                              <input type="number" class="form-control" [formControl]="digit2" maxlength="" required>
                            </div>
                          
                            <div class="col-md-2 col-sm-6 mb-3">
                              <label for="part3" class="form-label">Digit 3:</label>
                              <input type="number" class="form-control" [formControl]="digit3" required>
                            </div>
                          
                            <div class="col-md-2 col-sm-6 mb-3">
                              <label for="part4" class="form-label">Digit 4:</label>
                              <input type="number" class="form-control" [formControl]="digit4" required>
                            </div>
                          
                            <div class="col-md-2 col-sm-6 mb-3">
                              <label for="part5" class="form-label">Digit 5:</label>
                              <input type="number" class="form-control" [formControl]="digit5" required>
                            </div>
                          
                            <div class="col-md-2 col-sm-6 mb-3">
                              <label for="part6" class="form-label">Digit 6:</label>
                              <input type="number" class="form-control" [formControl]="digit6"  required>
                            </div>
                          
                          
                            
                          </form> -->


                          <div class="dx-field">
                            <div class="dx-field-label"><h6>COA Code</h6></div>
                            <div class="dx-field-value">
                                <dx-text-box [(value)]="formCreate.coaCode">
                                    <dxi-validation-rule type="required" ></dxi-validation-rule>
                                </dx-text-box>
                            </div>
                        </div>
                          <div class="dx-field">
                            <div class="dx-field-label"><h6>COA Name</h6></div>
                            <div class="dx-field-value">
                                <dx-text-box [(value)]="formCreate.coaName">
                                    <dxi-validation-rule type="required" ></dxi-validation-rule>
                                </dx-text-box>
                            </div>
                        </div>

                        <div class="row  ml-2 mr-3">
                            <div class="col-md text-right">
                                <dx-button text="Create" type="success" (onClick)="generateCoaCode()"></dx-button> 
                                &nbsp;&nbsp;
                                <dx-button text="Kembali" type="default" (onClick)="onBack()"></dx-button>
                            </div>
                        </div>
                      
                        <!-- <p id="coaCodeResult"></p> -->
                      </div>
                      

				</div>
			</kt-portlet-body>
		</kt-portlet>
	</div>
</div>
