<div class="row">
	<div class="col-12">
		<kt-portlet>
			<kt-portlet-header title="{{this.rolesName}} - [{{this.desc}}]" style="font-size: larger;">
				<ng-container ktPortletTools> </ng-container>
			</kt-portlet-header>
            
			<kt-portlet-body>
                <div class="row  ml-2 mr-3" style="margin-top: -2%;">
                    <div class="col-md">
                        <div class="dx-fieldset">
                            
                            <strong>Kota {{this.type |titlecase}} : {{this.cityName}}</strong>
                            
                        </div>
                    </div>
                </div>

               
                <div class="row  ml-2 mr-3">
                    <div class="col-md text-right">
                        <dx-button text="Delete" type="danger" (onClick)="onDelete()"></dx-button> 
                        &nbsp;&nbsp;
                        <dx-button text="Kembali" type="default" (onClick)="onBack()"></dx-button>
                    </div>
                </div>

				<!-- </div> -->
			</kt-portlet-body>
		</kt-portlet>

	</div>
</div>