<div class="row">
	<div class="col-12">
		<kt-portlet>
			<kt-portlet-header title="Monitoring History - History Print">
				<ng-container ktPortletTools> </ng-container>
			</kt-portlet-header>

			<kt-portlet-body>

				<div *ngIf="menuForb" class="alert alert-warning box-msg" role="alert">
					<strong>Warning!</strong>
					<span style="padding-left: 10px;">You doesn't have permission to access this page.</span>
				</div>
				
				<div *ngIf="menuPriv">
					<div style="background-color: #f5f5f5; padding: 1%; border: 1px solid #e2e2e2;">

						<div class="row  ml-2 mr-3">
							<table style="width: 100%; align-items: left;">
								<tr>
									<td style="width: 50%;">
										<div class="dx-field" >
											<div class="dx-field-label" style="width:15%">Tanggal Spb</div>
											<div class="dx-field-value" style="float:left; width: 35%;">
												<dx-date-box
													[showClearButton]="true"
													[useMaskBehavior]="true"
													displayFormat="dd-MMM-yyyy"
													[(value)]="formSearch.dateStart"
												>
													<dx-validator>
														<dxi-validation-rule type="required" ></dxi-validation-rule>
													</dx-validator>
												</dx-date-box>
											</div>
                                            <div class="dx-field-value" style="float:left; width: 5%;">
                                                &nbsp;
                                            </div>
                                            <div class="dx-field-value" style="float:left; width: 35%;">
												<dx-date-box
													[showClearButton]="true"
													[useMaskBehavior]="true"
													displayFormat="dd-MMM-yyyy"
													[(value)]="formSearch.dateTo"
												>
													<dx-validator>
														<dxi-validation-rule type="required" ></dxi-validation-rule>
													</dx-validator>
												</dx-date-box>
											</div>

										</div>
									</td>
									<td>
										<div class="dx-field" >
											<dx-button text="Search" type="success" (onClick)="onSearch()"></dx-button> 
										</div>
									</td>
								</tr>
							</table>
						</div>
					
					</div>

					<br/>
                    
					<dx-data-grid id="gridContainer"
								[dataSource]="ds" [showBorders]="true">
						<dxo-filter-row [visible]="true"></dxo-filter-row>
						<dxo-header-filter [visible]="true"></dxo-header-filter>

                        <dxi-column dataField="username" dataType="string" caption="Petugas"> </dxi-column>
						<dxi-column dataField="spbNo" dataType="string" caption="Spb No" > </dxi-column>
						<dxi-column dataField="manifestNo" dataType="string" caption="Manifest No" > </dxi-column>
						<dxi-column dataField="menu" dataType="string" caption="Menu" > </dxi-column>
						<dxi-column dataField="menuAction" dataType="string" caption="Aksi" > </dxi-column>
						<dxi-column dataField="printDateLocal" dataType="string" caption="Tanggal Print" > </dxi-column>
						<dxi-column dataField="printTimeLocal" dataType="string" caption="Jam Print" > </dxi-column>
						<dxi-column dataField="desc" dataType="string" caption="Keterangan"> </dxi-column>
					</dx-data-grid>
				</div>
			</kt-portlet-body>
		</kt-portlet>

	</div>
</div>

