<div class="row">
	<div class="col-12">
		<kt-portlet>
			<kt-portlet-header title="Approval Pengajuan">
				<ng-container ktPortletTools> </ng-container>
			</kt-portlet-header>

			<kt-portlet-body>
                <mat-tab-group>

                    <mat-tab label="Void">
                        <kt-super-vision-create-void></kt-super-vision-create-void>
                    </mat-tab>

                    <mat-tab label="Metode Pembayaran">
                        <kt-super-vision-create-spb></kt-super-vision-create-spb>
                    </mat-tab>

                    <!-- <mat-tab label="Kilo">
                        <kt-super-vision-create-kilo></kt-super-vision-create-kilo>
                    </mat-tab> -->

                    <mat-tab label="Re-Print">
                        <kt-super-vision-create-reprint></kt-super-vision-create-reprint>
                    </mat-tab>

                    <mat-tab label="FOC">
                        <kt-super-vision-create-foc></kt-super-vision-create-foc>
                    </mat-tab>

                </mat-tab-group>
			</kt-portlet-body>
		</kt-portlet>

	</div>
</div>



