<div class="row">
	<div class="col-12">
		<kt-portlet>
			<kt-portlet-header title="Manifest Carrier Master - Flight Route">
				<ng-container ktPortletTools> </ng-container>
			</kt-portlet-header>

			<kt-portlet-body>
				<div *ngIf="menuForb" class="alert alert-warning box-msg" role="alert">
					<strong>Warning!</strong>
					<span style="padding-left: 10px;">You doesn't have permission to access this page.</span>
            	</div>

				<div *ngIf="menuPriv">
					
                    <div align="left">
                        <dx-button icon="plus" [width]="25" [height]="25" type="success" (onClick)="addRoute()"></dx-button>
                    </div>
                    
                    <br/>
                    
                    <dx-data-grid id="gridContainer"
                                [dataSource]="dsFlight" [showBorders]="true">
                      <dxo-filter-row [visible]="true"></dxo-filter-row>
                      <dxo-header-filter [visible]="true"></dxo-header-filter>

					  <dxi-column [allowFiltering]="false" [fixed]="true" caption="Action" alignment="left"
									[allowSorting]="false" cellTemplate="cellTemplate"></dxi-column>
						<div *dxTemplate="let data of 'cellTemplate'">
							<dx-drop-down-button
								[dropDownOptions]="{ width: 150 }"
								icon="menu"
								[items]="[
									{icon: 'close' ,key: 'delete', value: 'Delete', data: data.data}
									]"
									(onItemClick)="actionCLick($event)"
									[displayExpr]="'value'"
									[keyExpr]="'key'"
									></dx-drop-down-button>
								</div>

						<dxi-column type="adaptive" [width]="50"></dxi-column>

  					  <dxi-column dataField="carrierName" dataType="string" caption="Carrier" alignment="center"> </dxi-column>
                      <dxi-column dataField="vendorCarrierName" dataType="string" caption="Vendor Carrier" alignment="center"> </dxi-column>
                      <dxi-column dataField="originStationName" dataType="string" caption="Bandara Asal" alignment="left"> </dxi-column>
					  <dxi-column caption="Penerbangan" alignment="center">
						<dxi-column dataField="firstFlightNo" dataType="string" caption="Pertama" alignment="center"> </dxi-column>
						<dxi-column dataField="secondFlightNo" dataType="string" caption="Ke-Dua" alignment="center"> </dxi-column>
						<dxi-column dataField="thirdFlightNo" dataType="string" caption="Ke-Tiga" alignment="center"> </dxi-column>
						<dxi-column dataField="fourthFlightNo" dataType="string" caption="Ke-Empat" alignment="center"> </dxi-column>
					  </dxi-column>
					  
					  <dxi-column dataField="destinationStationName" dataType="string" caption="Bandara Tujuan" alignment="left"> </dxi-column>

                    </dx-data-grid>

				</div>
			</kt-portlet-body>
			

		</kt-portlet>

	</div>
</div>