<dx-popup [closeOnOutsideClick]="false" [(visible)]="createWindowVisible"
		  [width]="'98%'" height="98%" contentTemplate="popupCreateContent">

	<dxi-toolbar-item text="Tambah Data" location="before">
	</dxi-toolbar-item>
	<div *dxTemplate="let data of 'popupCreateContent'">

		<dx-scroll-view #createScrollView id="createScrollView" reachBottomText="Updating...">
			<form (ngSubmit)="createSubmit($event)">
				<div>
					<div class="row  ml-2 mr-3">
						<div class="col-md">
							<div class="dx-fieldset" style=" width: 100%;">
								<div class="dx-fieldset-header">Bandara</div>

								<!-- <div class="dx-field" >
									<div class="dx-field-label">Periode Manifest</div>
									<div class="dx-field-value">
										<dx-date-box 
											[(min)]="lastDays"
											[(value)]="fromCreate.startDate"
											(onValueChanged)="onTriggerChangeManifest($event)"
											[useMaskBehavior]="true"
											displayFormat="dd-MMM-yyyy"
											[showClearButton]="true">
											<dx-validator>
												<dxi-validation-rule type="required" ></dxi-validation-rule>
											</dx-validator>
										</dx-date-box>
									</div>
									<div class="dx-field-value" style="padding-top: 0.5%;">
										<dx-date-box 
											[(value)]="fromCreate.endDate"
											(onValueChanged)="onTriggerChangeManifest($event)"
											[useMaskBehavior]="true"
											displayFormat="dd-MMM-yyyy"
											[showClearButton]="true"
											[readOnly]="true" >
											<dx-validator>
												<dxi-validation-rule type="required" ></dxi-validation-rule>
											</dx-validator>
										</dx-date-box>
									</div>
								</div> -->

								<div class="dx-field" >
									<div class="dx-field-label">Bandara Origin</div>
									<div class="dx-field-value">
										<dx-select-box
											[dataSource]="stationOriginDs"
											[searchEnabled]="true"
											displayExpr="stationName"
											valueExpr="stationId"
											[(value)]="fromCreate.originStationId"
											(onValueChanged)="onTriggerChangeOriginCity($event)"
											[showClearButton]="true"
										>
										<dx-validator>
											<dxi-validation-rule type="required"></dxi-validation-rule>
										</dx-validator>
										</dx-select-box>
									</div>
								</div>

								<div class="dx-field" >
									<div class="dx-field-label">Kota Origin</div>
									<div class="dx-field-value">
										<table style="width: 100%;">
											<tr>
												<td style="width: 70%;">
													<div style="width: 100%; border:1px dashed #D3D3D3;float: left;border-radius: 3px;">
														<label id="fromCreate.originCityName" style="padding-top:0.5%;padding-left:0.5%;" >&nbsp;</label>
													</div>
												</td>
												<td style="width: 30%;">
													<dx-select-box
														[dataSource]="vendorOriginDs"
														[searchEnabled]="true"
														displayExpr="vendorName"
														valueExpr="vendorId"
														[(value)]="fromCreate.vendorOriginId"
														[showClearButton]="true"
													>
													<dx-validator>
														<dxi-validation-rule type="required"></dxi-validation-rule>
													</dx-validator>
													</dx-select-box>
												</td>
											</tr>
										</table>
									</div>
								</div>

								<div class="dx-field" >
									<div class="dx-field-label">Bandara Tujuan</div>
									<div class="dx-field-value">
										<dx-select-box
											[dataSource]="stationDestinationDs"
											[searchEnabled]="true"
											displayExpr="stationName"
											valueExpr="stationId"
											[(value)]="fromCreate.destinationStationId"
											(onValueChanged)="onTriggerChangeDestinationCity($event)"
											[showClearButton]="true"
										>
											<dx-validator>
												<dxi-validation-rule type="required"></dxi-validation-rule>
											</dx-validator>
										</dx-select-box>
									</div>
								</div>

								<div class="row mt-2"  *ngFor="let item of selectedRowsDataManifest; let i = index">
									<div class="col-md">
										<div class="dx-field" >
											<div class="dx-field-label">#{{i+1}} Kota Tujuan Manifest - {{manifestNoFormat(item)}}</div>
											<div class="dx-field-value">
												<table style="width: 100%;">
													<tr>
														<td style="width: 70%;">
															<dx-text-box [(value)]="fromCreate.manifests[i].destinationCityName" [readOnly]="true"></dx-text-box>
														</td>
														<td style="width: 30%;">
															<dx-select-box
																[dataSource]="vendorDestinationDs"
																[searchEnabled]="true"
																displayExpr="vendorName"
																valueExpr="vendorId"
																[(value)]="fromCreate.manifests[i].vendorDestinationId"
																[showClearButton]="true"
															>
															<dx-validator>
																<dxi-validation-rule type="required"></dxi-validation-rule>
															</dx-validator>
															</dx-select-box>
														</td>
													</tr>
												</table>
												
											</div>
										</div>
									</div>
								</div>
									
								<br/>

								<div class="dx-field" >
									<div class="dx-field-label">Bandara Transit 1</div>
									<div class="dx-field-value">
										<table style="width: 100%;">
											<tr>
												<td style="width: 70%;">
													<div style="width: 100%; border:1px dashed #D3D3D3;float: left;border-radius: 3px;">
														<label id="fromCreate.firstStationTransitName" style="padding-top:0.5%;padding-left:0.5%;" >&nbsp;</label>
													</div>
												</td>
												<td style="width: 30%;">
													<div style="width: 100%; border:1px dashed #D3D3D3;float: left;border-radius: 3px;">
														<label id="fromCreate.firstVendorTransitName" style="padding-top:0.5%;padding-left:0.5%;" >&nbsp;</label>
													</div>
												</td>
												
											</tr>
										</table>
							
									<!-- <dx-select-box
											[dataSource]="dsList"
											[searchEnabled]="true"
											valueExpr="stationId"
											displayExpr="stationName"
											[(value)]="fromCreate.firstStationTransitName"
											[showClearButton]="true"
										>
											<dx-validator>
												<dxi-validation-rule type="required"></dxi-validation-rule>
											</dx-validator>
										</dx-select-box> -->
									</div>
								</div>

								<div class="dx-field" >
									<div class="dx-field-label">Bandara Transit 2</div>
									<div class="dx-field-value">
										<table style="width: 100%;">
											<tr>
												<td style="width: 70%;">
													<div style="width: 100%; border:1px dashed #D3D3D3;float: left;border-radius: 3px;">
														<label id="fromCreate.secondStationTransitName" style="padding-top:0.5%;padding-left:0.5%;" >&nbsp;</label>
													</div>
												</td>
												<td style="width: 30%;">
													<div style="width: 100%; border:1px dashed #D3D3D3;float: left;border-radius: 3px;">
														<label id="fromCreate.secondVendorTransitName" style="padding-top:0.5%;padding-left:0.5%;" >&nbsp;</label>
													</div>
												</td>
												
											</tr>
										</table>
									</div>
								</div>

								<div class="dx-field" >
									<div class="dx-field-label">Bandara Transit 3</div>
									<div class="dx-field-value">
										<table style="width: 100%;">
											<tr>
												<td style="width: 70%;">
													<div style="width: 100%; border:1px dashed #D3D3D3;float: left;border-radius: 3px;">
														<label id="fromCreate.thirdStationTransitName" style="padding-top:0.5%;padding-left:0.5%;" >&nbsp;</label>
													</div>
												</td>
												<td style="width: 30%;">
													<div style="width: 100%; border:1px dashed #D3D3D3;float: left;border-radius: 3px;">
														<label id="fromCreate.thirdVendorTransitName" style="padding-top:0.5%;padding-left:0.5%;" >&nbsp;</label>
													</div>
												</td>
											</tr>
										</table>
									</div>
								</div>
															
							</div>
						</div>
						<div class="col-md">
							<div class="dx-fieldset" style=" width: 100%;">
								<div class="dx-fieldset-header">Carrier</div>
								<div class="dx-field" >
									<div class="dx-field-label">No. SMU</div>
									<div class="dx-field-value">
										<dx-text-box [(value)]="fromCreate.noSmu" > 
											<dx-validator>
												<dxi-validation-rule type="required"></dxi-validation-rule>
											</dx-validator>
										</dx-text-box>
									</div>
								</div>
								

								<div class="dx-field" >
									<div class="dx-field-label">Flight Date</div>
									<div class="dx-field-value">
										<dx-date-box
											[(min)]="lastDays"
											[showClearButton]="true"
											[useMaskBehavior]="true"
											displayFormat="dd-MMM-yyyy"
											[(value)]="fromCreate.flightDate"
										>
											<dx-validator>
												<dxi-validation-rule type="required" ></dxi-validation-rule>
											</dx-validator>
										</dx-date-box>
									</div>
								</div>

								<div class="dx-field" >
									<div class="dx-field-label">Moda</div>
									<div class="dx-field-value">
										<table style="width: 100%;">
											<tr>
												<td style="width: 30%;">
													<dx-select-box
														[dataSource]="modaDs"
														[searchEnabled]="true"
														displayExpr="modaName"
														valueExpr="modaId"
														[showClearButton]="true"
														[(value)]="fromCreate.modaId"
														(onValueChanged)="onTriggerChangeVendor($event)"
													>
													<dx-validator>
														<dxi-validation-rule type="required"></dxi-validation-rule>
													</dx-validator>
													</dx-select-box>
												</td>

												<td style="width: 20%;">
													<div class="dx-field-label" style="padding-left: 5%;width:100%;">Vendor Carrier</div>
												</td>

												<td style="width: 50%;">
													<dx-select-box
														[dataSource]="vendorCarrierDs"
														[searchEnabled]="true"
														displayExpr="vendorName"
														valueExpr="vendorId"
														[(value)]="fromCreate.vendorCarrierId"
														(onValueChanged)="onTriggerChangeFirstCarrierCode($event)"
														[showClearButton]="true"
													>
														<dx-validator>
															<dxi-validation-rule type="required"></dxi-validation-rule>
														</dx-validator>
													</dx-select-box>
												</td>
												
											</tr>
										</table>
									</div>
								</div>

								<div class="dx-field" >
									<div class="dx-field-label">No. Penerbangan 1</div>
									<div class="dx-field-value">
										<table style="width: 100%;">
											<tr>

												<td style="width: 30%;">
													<dx-select-box
														[dataSource]="firstCarrierCodeDs"
														[searchEnabled]="true"
														displayExpr="carrierCode"
														valueExpr="carrierId"
														[showClearButton]="true"
														[(value)]="fromCreate.firstCarrierCodeId"
														(onValueChanged)="onTriggerChangeFirstFlightNo($event)"
													>
													<dx-validator>
														<dxi-validation-rule type="required"></dxi-validation-rule>
													</dx-validator>
													</dx-select-box>
												</td>

												<td style="width: 70%;">
													<dx-select-box
														[dataSource]="firstFlightNoDs"
														[searchEnabled]="true"
														displayExpr="flightNo"
														valueExpr="flightId"
														[showClearButton]="true"
														[(value)]="fromCreate.firstFlightId"
														(onValueChanged)="onTriggerChangeSecondCarrierCode($event)"
													>
														<dx-validator>
															<dxi-validation-rule type="required"></dxi-validation-rule>
														</dx-validator>
													</dx-select-box>
												</td>
												
											</tr>
										</table>
									</div>
								</div>

								<div class="dx-field" >
									<div class="dx-field-label">No. Penerbangan 2</div>
									<div class="dx-field-value">
										<table style="width: 100%;">
											<tr>

												<td style="width: 30%;">
													<dx-select-box
														[dataSource]="secondCarrierCodeDs"
														[searchEnabled]="true"
														displayExpr="carrierCode"
														valueExpr="carrierId"
														[showClearButton]="true"
														[(value)]="fromCreate.secondCarrierCodeId"
														(onValueChanged)="onTriggerChangeSecondFlightNo($event)"
													>
													</dx-select-box>
												</td>

												<td style="width: 70%;">
													<dx-select-box
														[dataSource]="secondFlightNoDs"
														[searchEnabled]="true"
														displayExpr="flightNo"
														valueExpr="flightId"
														[showClearButton]="true"
														[(value)]="fromCreate.secondFlightId"
														(onValueChanged)="onTriggerChangeFirstTransit($event)"
													>
													</dx-select-box>
												</td>
												
											</tr>
										</table>

									</div>
								</div>

								<div class="dx-field" >
									<div class="dx-field-label">No. Penerbangan 3</div>
									<div class="dx-field-value">
										<table style="width: 100%;">
											<tr>
												<td style="width: 30%;">
													<dx-select-box
														[dataSource]="thirdCarrierCodeDs"
														[searchEnabled]="true"
														displayExpr="carrierCode"
														valueExpr="carrierId"
														[showClearButton]="true"
														[(value)]="fromCreate.thirdCarrierCodeId"
														(onValueChanged)="onTriggerChangeThirdFlightNo($event)"
													>
													</dx-select-box>
												</td>

												<td style="width: 70%;">
													<dx-select-box
														[dataSource]="thirdFlightNoDs"
														[searchEnabled]="true"
														displayExpr="flightNo"
														valueExpr="flightId"
														[showClearButton]="true"
														[(value)]="fromCreate.thirdFlightId"
														(onValueChanged)="onTriggerChangeSecondTransit($event)"
													>
													</dx-select-box>
												</td>
												
											</tr>
										</table>

									</div>
								</div>

								<div class="dx-field" >
									<div class="dx-field-label">No. Penerbangan 4</div>
									<div class="dx-field-value">
										<table style="width: 100%;">
											<tr>
												<td style="width: 30%;">
													<dx-select-box
														[dataSource]="fourthCarrierCodeDs"
														[searchEnabled]="true"
														displayExpr="carrierCode"
														valueExpr="carrierId"
														[showClearButton]="true"
														[(value)]="fromCreate.fourthCarrierCodeId"
														(onValueChanged)="onTriggerChangeFourthFlightNo($event)"
													>
													</dx-select-box>
												</td>

												<td style="width: 70%;">
													<dx-select-box
														[dataSource]="fourthFlightNoDs"
														[searchEnabled]="true"
														displayExpr="flightNo"
														valueExpr="flightId"
														[showClearButton]="true"
														[(value)]="fromCreate.fourthFlightId"
														(onValueChanged)="onTriggerChangeThirdTransit($event)"
													>
													</dx-select-box>
												</td>
												
											</tr>
										</table>

									</div>
								</div>

								<div class="dx-field" >
									<div class="dx-field-label">PPN</div>
									<div class="dx-field-value">
										<table style="width: 100%;">
											<tr>
												<td style="width: 50%;">
													<dx-select-box
														[dataSource]="ppnDs"
														[searchEnabled]="true"
														displayExpr="ppnValue"
														valueExpr="ppnId"
														[showClearButton]="true"
														[(value)]="fromCreate.ppnId"
													>
													</dx-select-box>
												</td>
												<td style="width: 50%;">&nbsp;</td>
											</tr>
										</table>
									</div>
								</div>

								<!-- <div class="dx-field" >
									<div class="dx-field-label">Tarif SMU</div>
									<div class="dx-field-value">
										<dx-number-box
										[(value)]="fromCreate.costSMU" 
										[min]="0"
										[showSpinButtons]="true"
									></dx-number-box>
									</div>
								</div> -->
								
								<div class="dx-field">
									<div class="dx-field-label">Tarif SMU</div>
									<div class="dx-field-value">
										<table style="width: 100%">
											<tr>
												<td style="width: 70%">
													<div style="width: 100%; border: 1px dashed #d3d3d3; float: left; border-radius: 3px">
														<label id="formGetCostCarrier.costSMU" style="padding-top: 0.5%; padding-left: 0.5%">&nbsp;</label>
													</div>
												</td>
											</tr>
										</table>
									</div>
								</div>

							</div>
						</div>						

					</div>

					<div class="row  ml-2 mr-3">
						<div class="col-md">
							<div class="dx-fieldset" style=" width: 100%;">
								<div class="dx-fieldset-header">Manifest</div>
								<div class="row">
									<div class="col-md-10">
										<div class="dx-field" >
											<div class="dx-field-label">Pilih Manifest</div>
											<div class="dx-field-value">
												<dx-drop-down-box [attr.id]="'11'"
																  [(value)]="manifest1Id"
																  valueExpr="manifestId"
																  [deferRendering]="false"
																  [displayExpr]="ColManifestNo"
																  placeholder="Pilih manifest..."
																  [showClearButton]="false"
																  [dataSource]="manifest1Ds"
																  (onValueChanged)="onValueChanged($event, 'manifest1')"
																  [dropDownOptions]="{width: 900}"
																  contentTemplate="contentManifest1"

												>

													<div *dxTemplate="let data of 'contentManifest1'" [attr.id]="'111'">
														<dx-data-grid [attr.id]="'1111'"
																	  [dataSource]="manifest1Ds"
																	  [selection]="{ mode: 'multiple', allowSelectAll: false}"
																	  [hoverStateEnabled]="true"
																	  [paging]="{ enabled: true, pageSize: 10 }"
																	  [filterRow]="{ visible: true }"
																	  [(selectedRowKeys)]="manifest1Id"
																	  (onSelectionChanged)="onSelectionChangedManifest($event)"
																	  height="100%"
														>
															<dxi-column dataField="createdAtLocal"  dataType="date" format="dd-MMM-yyyy"  caption="Tanggal" > </dxi-column>
															<dxi-column dataField="manifestNo" dataType="string" caption="Manifest No."> </dxi-column>
															<dxi-column dataField="sisaKoliFinal" dataType="string" caption="Koli" width="100"> </dxi-column>
															<dxi-column dataField="sumAw" dataType="number" caption="Aw" width="100"> </dxi-column>
															<dxi-column dataField="sisaCawFinal" dataType="string" caption="Caw" width="100"> </dxi-column>
															<dxi-column dataField="originCityName" dataType="string" caption="Kota Asal" > </dxi-column>
															<dxi-column dataField="destinationCityName" dataType="string" caption="Kota Tujuan"> </dxi-column>
														</dx-data-grid>
													</div>
												</dx-drop-down-box>

											</div>
										</div>
									</div>

								</div>
								<div class="row mt-2"  *ngFor="let item of selectedRowsDataManifest; let i = index">
									<dx-button text="+" type="success" (onClick)="onAddKoli(item, i)" style="height:1%"></dx-button>
									
									<div class="col-md-2">
										<div class="dx-field" >
											<div class="dx-field-label">{{i+1}}. Manifest</div>
											<div class="dx-field-value">
												<dx-text-box [value]="manifestNoFormat(item)" [readOnly]="true"  ></dx-text-box>
											</div>
										</div>
									</div>

									<div class="col-md-1">
										<div class="dx-field" >
											<div class="dx-field-label">{{i+1}}. Koli
											</div>
											<div class="dx-field-value">
												<dx-text-box [(value)]="fromCreate.manifests[i].sisaKoliFinal" [readOnly]="true"></dx-text-box>
											</div>

										</div>
									</div>

									<div class="col-md-1">
										<div class="dx-field" >
											<div class="dx-field-label">{{i+1}}. Aw
											</div>
											<div class="dx-field-value">
												<dx-text-box [(value)]="fromCreate.manifests[i].aw" [readOnly]="true"></dx-text-box>
											</div>

										</div>
									</div>

									<div class="col-md-1">
										<div class="dx-field" >
											<div class="dx-field-label">{{i+1}}. Caw
											</div>
											<div class="dx-field-value">
												<dx-text-box [(value)]="fromCreate.manifests[i].sisaCawFinal" [readOnly]="true"></dx-text-box>
											</div>

										</div>
									</div>

									<div class="col-md">
										<div class="dx-field" >
											<div class="dx-field-label">{{i+1}}. Koli Manifest <br/>Di Kenakan
											</div>
											<div class="dx-field-value">
												<dx-number-box [(value)]="fromCreate.manifests[i].finalKoli" (onValueChanged)="SumTotalKoliPerManifest($event)" [readOnly]="true">
													<dx-validator>
														<dxi-validation-rule type="required"></dxi-validation-rule>
													</dx-validator>
												</dx-number-box>

											</div>

										</div>
									</div>


									<div class="col-md">
										<div class="dx-field" >
											<div class="dx-field-label">{{i+1}}. Berat Manifest <br/>Di Kenakan
											</div>
											<div class="dx-field-value">
												<dx-number-box [(value)]="fromCreate.manifests[i].weightManifest" [readOnly]="true">
													<dx-validator>
														<dxi-validation-rule type="required"></dxi-validation-rule>
													</dx-validator>
												</dx-number-box>

											</div>

										</div>
									</div>
									
									<div class="col-md">
										<div class="dx-field" >
											<div class="dx-field-label">{{i+1}}. Berat BTB
											</div>
											<div class="dx-field-value">
												<dx-number-box [(value)]="fromCreate.manifests[i].weightSmu" (onValueChanged)="SumTotalSmuPerManifest($event)" >
													<dx-validator>
														<dxi-validation-rule type="required"></dxi-validation-rule>
													</dx-validator>
												</dx-number-box>

											</div>

										</div>
									</div>
									
								</div>
								<div *ngIf="selectedRowsDataManifest.length > 0">
									<hr/>
								</div>

								<div class="row" *ngIf="selectedRowsDataManifest.length > 0">
									<div class="col-md-4"> </div>
									<div class="col-md-4"> 
										<div class="dx-field">
											<div class="dx-field-label"><b>TOTAL Koli Final SMU</b>
											</div>
											<div class="dx-field-value" >
												<dx-number-box [readOnly]="true" [(value)]="sumKoli" >
													<dx-validator>
														<dxi-validation-rule type="required"></dxi-validation-rule>
													</dx-validator>
												</dx-number-box>

											</div>

										</div>
									</div>
									<div class="col-md-4">
										<div class="dx-field">
											<div class="dx-field-label"><b>TOTAL Berat Final SMU</b>
											</div>
											<div class="dx-field-value" >
												<dx-number-box [readOnly]="true" [(value)]="sumSmu" >
													<dx-validator>
														<dxi-validation-rule type="required"></dxi-validation-rule>
													</dx-validator>
												</dx-number-box>

											</div>

										</div>
									</div>
									<br/>
									
								</div>

								
							</div>
						</div>

					</div>

					<div class="row  ml-2 mr-3">
						<div class="col-md" *ngIf="reasonKoli">
							<div class="dx-fieldset" style=" width: 100%;">
								<div class="dx-fieldset-label">Alasan Koli Dikenakan di Input Berbeda dengan Jumlah yang Tersedia</div>
								<dx-text-area
									class="mandatory-text-box"
									[height]="90"
									[maxLength]="255"
									[(value)]="fromCreate.reasonKoli" >
								</dx-text-area>
							</div>
						</div>
						<div class="col-md" *ngIf="reasonManifest">
							<div class="dx-fieldset" style=" width: 100%;">
								<div class="dx-fieldset-label">Alasan Berat Manifest Dikenakan di Input Berbeda dengan Jumlah yang Tersedia</div>
								<dx-text-area
									class="mandatory-text-box"
									[height]="90"
									[maxLength]="255"
									[(value)]="fromCreate.reasonManifest">
								</dx-text-area>
							</div>
						</div>
						
					</div>
					
					<div class="row  ml-2 mr-3">
						<div class="col-md text-right">
							<dx-button text="Simpan" type="success" [useSubmitBehavior]="true"></dx-button>
						</div>
					</div>

				</div>

			</form>
		</dx-scroll-view>

	</div>
</dx-popup>

<dx-popup [closeOnOutsideClick]="false" [(visible)]="approvalWindowVisible" [width]="'50%'" height="40%">

	<dxi-toolbar-item text="Approval" location="before">
	</dxi-toolbar-item>
	
	<form (ngSubmit)="approvalSubmit($event)">
		<div>
			<div class="row  ml-2 mr-3">
				<div class="col-md text-right">
					
					<div class="dx-field" >
						<div class="dx-field-label">Approve By</div>
						<div class="dx-field" >
							<div class="dx-field-value">
								<dx-text-box [(value)]="fromCreate.approvedUser">
								</dx-text-box>
							</div>
						</div>
					</div>
	
					<div class="dx-field" >
						<div class="dx-field-label">Password</div>
						<div class="dx-field" >
							<div class="dx-field-value">
								<dx-text-box mode="password" [(value)]="fromCreate.approvedPassword">
								</dx-text-box>
							</div>
						</div>
					</div>

					<div class="dx-field" >
						<div class="dx-field-label">Alasan Total Berat Final SMU <br/>Lebih Besar dari Jumlah Maksimal SMU</div>
						<div class="dx-field" >
							<div class="dx-field-value">
								<dx-text-area
								[height]="90"
								[maxLength]="255"
								[(value)]="fromCreate.reasonSMU" >
							</dx-text-area>
							</div>
						</div>
					</div>

				</div>
			</div>
			
			<br/>
			
			<div class="row  ml-2 mr-3">
				<div class="col-md text-center">
					<dx-button text="Approve" type="success" [useSubmitBehavior]="true"></dx-button>
				</div>
			</div>

		</div>

	</form>
</dx-popup>

<dx-popup [closeOnOutsideClick]="false" [(visible)]="confirmWindowVisible" [width]="'25%'" height="18%" >

	<dxi-toolbar-item text="Konfirmasi" location="before">
	</dxi-toolbar-item>
	
	<div class="row  ml-2 mr-3">
		<div class="col-md text-center">
			
			<i>Total Berat Final SMU Lebih Besar dari Jumlah Maksimal SMU<br/> Apakah Tetap di lanjutkan?</i>

		</div>
	</div>
	
	<br/>
	
	<div class="row  ml-2 mr-3">
		<div class="col-md text-center">
			<dx-button text="Ya" type="success" style="width: 10%;" (onClick)="OnConfirm()"></dx-button>
		</div>
	</div>

</dx-popup>

<dx-popup [closeOnOutsideClick]="false" [(visible)]="koliManifestVisible"
		  [width]="'50%'" height="80%" contentTemplate="koliManifestContent">

          <div *dxTemplate="let data of 'koliManifestContent'">

				<div class="row">
					<div class="col-12">
						<kt-portlet>
							<kt-portlet-header title="Detail Manifest">
								<ng-container ktPortletTools> </ng-container>	
							</kt-portlet-header>

							<kt-portlet-body>

								<div id="grid">
									
									<dx-data-grid #grid
										id="grid-container"
										[dataSource]="koliManifestDs"
										keyExpr="spbGoodsId"
										[(selectedRowKeys)]="selectedRows"
										[showBorders]="true">    
								
										<dxo-selection
											mode="multiple">
										</dxo-selection>

										<dxo-filter-row [visible]="false"></dxo-filter-row>
										<dxo-header-filter [visible]="false"></dxo-header-filter>
									
									  
										<dxi-column dataField="manifestNo" dataType="string" caption="Manifest No"  alignment="center"> </dxi-column>
										<dxi-column dataField="koliNo" dataType="string" caption="Koli No" [width]="100" alignment="center"> </dxi-column>
										<!-- <dxi-column dataField="koliNo" dataType="string" caption="Koli No" [width]="100" alignment="center"> </dxi-column> -->
										<dxi-column dataField="spbId" [visible]="false" dataType="number" caption="SpbId" format="fixedPoint" [width]="100" alignment="center"> </dxi-column>
										<dxi-column dataField="spbGoodsId" [visible]="false" dataType="number" caption="SpbGoodsId" format="fixedPoint" [width]="100" alignment="center"> </dxi-column>
										<dxi-column dataField="aw" dataType="number" caption="Aw" format="fixedPoint" [width]="100" alignment="center"> </dxi-column>
										<dxi-column dataField="caw" dataType="number" caption="Caw" format="fixedPoint" [width]="100" alignment="center"> </dxi-column>
										<dxi-column dataField="originCityName" dataType="string" caption="Kota Asal" alignment="center" > </dxi-column>
										<dxi-column dataField="destinationCityName" dataType="string" caption="Kota Tujuan" alignment="center" > </dxi-column>

									</dx-data-grid>

									<br/>
									<dx-button
										text="Pilih"
										type="success"
										[disabled]="!selectedRows?.length"
										(onClick)="OnCheckKoliManifest()">
									</dx-button>
									&nbsp;
									&nbsp;
									<dx-button
										text="Clear"
										[disabled]="!selectedRows?.length"
										(onClick)="grid.instance.clearSelection()">
									</dx-button>

								</div>
								
							</kt-portlet-body>
						</kt-portlet>
				
					</div>
				</div>

	</div>
</dx-popup>