<span [formGroup]="spbForm">
<table class="table table-xs table-bordered komoditi">
<tbody>
<tr>
<td>Komoditi</td>
<td>Moda</td>
<td>Q.O.S</td>
<td>K.O.S</td>
</tr>
<tr>
<td>
	<dx-select-box [tabIndex]="500" class="komoditi" formControlName="tog" searchEnabled="true"
				   [dataSource]="togDs" displayExpr="lookupValue" (onValueChanged)="GetRates($event)"
				   valueExpr="lookupKey">
		<dx-validator>
							<dxi-validation-rule type="required"> </dxi-validation-rule>
						</dx-validator>

	</dx-select-box>
</td>
<td>
	<dx-select-box [tabIndex]="500" class="komoditi" formControlName="carrier" searchEnabled="true" (onValueChanged)="ChangeVisibleSubs($event)"
				   [readOnly]="carrierRO"
				   [dataSource]="carrierDs" displayExpr="lookupValue"
				   valueExpr="lookupKey">
		<dx-validator>
							<dxi-validation-rule type="required"> </dxi-validation-rule>
						</dx-validator>

	</dx-select-box>
</td>
<td>
	<dx-select-box [tabIndex]="500" class="komoditi" formControlName="qos" searchEnabled="true"
				   [dataSource]="qosDs" displayExpr="lookupValue" (onValueChanged)="GetRates($event)"
				   valueExpr="lookupKey">
		<dx-validator>
							<dxi-validation-rule type="required"> </dxi-validation-rule>
						</dx-validator>
	</dx-select-box>
</td>
<td>
	<dx-select-box [tabIndex]="500" class="komoditi" formControlName="tos" searchEnabled="true"
				   [dataSource]="tosDs" displayExpr="lookupValue" (onValueChanged)="GetRates($event)"
				   valueExpr="lookupKey">
		<dx-validator>
							<dxi-validation-rule type="required"> </dxi-validation-rule>
						</dx-validator>
	</dx-select-box>
</td>
</tr>


</tbody>
</table>

	<br />
											<table class="table table-xs table-bordered komoditi">
												<tbody>
													<tr>
														<td>Keterangan</td>
													</tr>
													<tr>
														<td>
															<dx-text-area [tabIndex]="500" class="komoditi" height="80px" formControlName="description"></dx-text-area>
														</td>
													</tr>


												</tbody>
											</table>

</span>
