<div class="row">
	<div class="col-12">
		<kt-portlet>
			<kt-portlet-header title="Create Flight">
				<ng-container ktPortletTools> </ng-container>
			</kt-portlet-header>

			<kt-portlet-body>
                
                <div class="row  ml-2 mr-3">
                    <div class="col-md">
                        <div class="dx-fieldset">
                            
                            <div class="dx-field">
                                <div class="dx-field-label">Bandara Asal</div>
                                <div class="dx-field-value">
                                    <dx-text-box [(value)]="this.originStationName" [readOnly]="true">
                                        <dxi-validation-rule type="required" ></dxi-validation-rule>
                                    </dx-text-box>
                                </div>
                            </div>

                            <div class="dx-field">
                                <div class="dx-field-label">Bandara Tujuan</div>
                                <div class="dx-field-value">
                                    <dx-text-box [(value)]="this.destinationStationName" [readOnly]="true">
                                        <dxi-validation-rule type="required" ></dxi-validation-rule>
                                    </dx-text-box>
                                </div>
                            </div>

                            <div class="dx-field">
                                <div class="dx-field-label">Carrier</div>
                                <div class="dx-field-value">
                                    <dx-text-box [(value)]="this.carrierName" [readOnly]="true">
                                        <dxi-validation-rule type="required" ></dxi-validation-rule>
                                    </dx-text-box>
                                </div>
                            </div>

                            <div class="dx-field">
                                <div class="dx-field-label">Vendor Carrier</div>
                                <div class="dx-field-value">
                                    <dx-text-box [(value)]="this.vendorCarrierName" [readOnly]="true">
                                        <dxi-validation-rule type="required" ></dxi-validation-rule>
                                    </dx-text-box>
                                </div>
                            </div>

                            <div class="dx-field">
                                <div class="dx-field-label">Nomor Penerbangan Pertama</div>
                                <div class="dx-field-value">
                                    <dx-text-box [(value)]="this.firstFlightNo" [readOnly]="true">
                                        <dxi-validation-rule type="required" ></dxi-validation-rule>
                                    </dx-text-box>
                                </div>
                            </div>

                            <div class="dx-field">
                                <div class="dx-field-label">Nomor Penerbangan Kedua</div>
                                <div class="dx-field-value">
                                    <dx-text-box [(value)]="this.secondFlightNo" [readOnly]="true">
                                        <dxi-validation-rule type="required" ></dxi-validation-rule>
                                    </dx-text-box>
                                </div>
                            </div>

                            <div class="dx-field">
                                <div class="dx-field-label">Nomor Penerbangan Ketiga</div>
                                <div class="dx-field-value">
                                    <dx-text-box [(value)]="this.thirdFlightNo" [readOnly]="true">
                                        <dxi-validation-rule type="required" ></dxi-validation-rule>
                                    </dx-text-box>
                                </div>
                            </div>

                            <div class="dx-field">
                                <div class="dx-field-label">Nomor Penerbangan Keempat</div>
                                <div class="dx-field-value">
                                    <dx-text-box [(value)]="this.fourthFlightNo" [readOnly]="true">
                                        <dxi-validation-rule type="required" ></dxi-validation-rule>
                                    </dx-text-box>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                
                
                <div class="row  ml-2 mr-3">
                    <div class="col-md text-right">
                        <dx-button text="Delete" type="default" (onClick)="onSave()"></dx-button>&nbsp;&nbsp;
                        <dx-button text="Kembali" type="danger" (onClick)="onBack()"></dx-button>  
                    </div>
                </div>

			</kt-portlet-body>
		</kt-portlet>

	</div>
</div>



