<form action="" (ngSubmit)="submitUpdate($event)" >
	<div>
		<div class="row ml-2 mr-3 ">
			<div class="col-md">
				<div class="dx-field" >
					<div class="dx-field-label">Pindah ke Koli : </div>
					<div class="dx-field-value">
						<dx-drop-down-box [attr.id]="'11'"
										  [(value)]="manifestKoliId"
										  valueExpr="manifestKoliId"
										  [deferRendering]="false"
										  [displayExpr]="gridBox_displayExpr"
										  placeholder="Select a value..."
										  [showClearButton]="false"
										  [dataSource]="manifestDdbDs"
										  [dropDownOptions]="{width: 580}"
										  contentTemplate="contentManifest1"
						>
							<dx-validator>
								<dxi-validation-rule type="required"></dxi-validation-rule>
							</dx-validator>

							<div *dxTemplate="let data of 'contentManifest1'" [attr.id]="'111'">
								<dx-data-grid [attr.id]="'1111'"
											  [selection]="{ mode: 'single' }"
											  [dataSource]="manifestDdbDs"
											  [hoverStateEnabled]="true"
											  [paging]="{ enabled: true, pageSize: 10 }"
											  [filterRow]="{ visible: true }"
											  (onSelectionChanged)="null"
											  [(selectedRowKeys)]="manifestKoliId"
											  height="100%"
								>
									<dxi-column dataField="manifestKoliId" dataType="number" caption="#" width="100"> </dxi-column>
									<dxi-column dataField="createdAtLocal" dataType="date" format="dd-MMM-yyyy" caption="Tanggal" > </dxi-column>
									<dxi-column dataField="manifestNo" dataType="string" caption="Manifest No." > </dxi-column>
									<dxi-column dataField="koliNo" dataType="number" caption="Koli No." > </dxi-column>
									<dxi-column dataField="sumAw" dataType="number" caption="Total AW" > </dxi-column>
									<dxi-column dataField="sumCaw" dataType="number" caption="Total CAW" > </dxi-column>
								</dx-data-grid>
							</div>
						</dx-drop-down-box>

					</div>
				</div>
			</div>
		</div>
		<div class="row  ml-2 mr-3 pt-3">
			<div class="col-md text-right">
				<dx-button text="Pindah Koli" type="success" [useSubmitBehavior]="true"></dx-button>
			</div>
		</div>
	</div>
	<!--				<dx-form id="void" [formData]="null">-->
	<!--					<dxi-item itemType="group" cssClass="second-group" [colCount]="1" >-->
	<!--						<dxi-item itemType="group">-->
	<!--							<dxi-item dataField="Pindah Ke Koli : "   [editorOptions]="{ readOnly: true}" editorType="dxTextBox"></dxi-item>-->


	<!--						</dxi-item>-->
	<!--						<dxi-item-->
	<!--							itemType="button"-->
	<!--							horizontalAlignment="left"-->
	<!--							[buttonOptions]="{ text: 'Pindah', type: 'success', useSubmitBehavior: true }">-->
	<!--						</dxi-item>-->
	<!--					</dxi-item>-->

	<!--				</dx-form>-->
</form>
