<div class="row">
	<div class="col-12">
		<kt-portlet>
			<kt-portlet-header title="Menu Tarif">
				<ng-container ktPortletTools> </ng-container>
			</kt-portlet-header>

			<kt-portlet-body>
				<div *ngIf="forbid" class="alert alert-warning box-msg" role="alert">
					<strong>Warning!</strong>
					<span style="padding-left: 10px;">You doesn't have permission to access this page.</span>
				</div>

				<div *ngIf="permit">
					<kt-rates-datagrid #allData></kt-rates-datagrid>
				</div>
			</kt-portlet-body>
		</kt-portlet>

	</div>
</div>



