


<div align="right">
	<dx-button id="gridDeleteSelected"
			   icon="plus"
			   [width]="35" [height]="35" type="success"
			   (onClick)="createManifestCarrierComponent.setWindowVisible(true)">
	</dx-button>
</div>
<br/>
<dx-data-grid id="gridContainer"
[dataSource]="ds" [showBorders]="true">
<dxo-filter-row [visible]="true"></dxo-filter-row>
<dxo-header-filter [visible]="true"></dxo-header-filter>

<!-- [masterDetail]="{ enabled: true, template: 'detail' }" -->
	<!-- <dxo-editing

		[allowUpdating]="false"
		[allowDeleting]=" userGlobalVar.USERNAME === 'ptn'"
		[allowAdding]="false">
	</dxo-editing> -->
	
	
	<dxi-column caption="Manifest Carrier" alignment="center">
		<dxi-column dataField="manifestCarrierNo" dataType="string" caption="No" alignment="center" > </dxi-column>
		<dxi-column dataField="fullName" dataType="string" caption="User" alignment="center"> </dxi-column>
		<dxi-column dataField="createdAt" dataType="date" caption="Tanggal" format="dd-MMM-yyyy" alignment="center"> </dxi-column>
	</dxi-column>

	<!-- <dxi-column caption="Tanggal Kirim" alignment="center">
		<dxi-column dataField="fromSendDate" dataType="date" caption="Dari" format="dd-MMM-yyyy" alignment="center" [width]="100"> </dxi-column>
		<dxi-column dataField="toSendDate" dataType="date" caption="Sampai " format="dd-MMM-yyyy" alignment="center" [width]="100"> </dxi-column>
	</dxi-column> -->

	<dxi-column dataField="flightDateLocal" dataType="date" caption="Flight Date" format="dd-MMM-yyyy" alignment="center" [width]="150"> </dxi-column>
	<dxi-column dataField="noSmu" dataType="string" caption="No. SMU" alignment="center" [width]="150"> </dxi-column>
	<dxi-column dataField="totalFinalWeightSMU" dataType="number" caption="Berat SMU" alignment="center" [width]="150"> </dxi-column>

	<dxi-column caption="Penerbangan" alignment="center">
		<dxi-column dataField="firstFlight" dataType="string" caption="Pertama" alignment="center" [width]="150"> </dxi-column>
		<dxi-column dataField="lastFlight" dataType="string" caption="Terakhir" alignment="center" [width]="150"> </dxi-column>
	</dxi-column>

	<dxi-column type="buttons" [width]="100" caption="Detail">
		<dxi-button text="Detail" hint="Detail Data" [onClick]="detailData"> </dxi-button>
	</dxi-column>
	<dxi-column type="adaptive" [width]="50"></dxi-column>

	<!-- <div *dxTemplate="let item of 'detail'"> -->
		<!-- <div class="h5">Manifest</div> -->

		<!-- <dx-data-grid id="manifest"
					  [dataSource]="listItem(item)" [showBorders]="true">
			<dxo-filter-row [visible]="false"></dxo-filter-row>
			<dxo-header-filter [visible]="false"></dxo-header-filter>
			<dxi-column dataField="manifestNo" dataType="string" caption="Manifest No"  alignment="center"> </dxi-column>
			<dxi-column dataField="aw" dataType="number" caption="Aw" format="fixedPoint" [width]="100" alignment="center"> </dxi-column>
			<dxi-column dataField="caw" dataType="number" caption="Caw" format="fixedPoint" [width]="100" alignment="center"> </dxi-column>
			<dxi-column dataField="koliFinal" dataType="number" caption="Koli Manifest di Kenakan" [width]="200" format="fixedPoint" alignment="center"> </dxi-column>
			<dxi-column dataField="cawFinal" dataType="number" caption="Berat Manifest di Kenakan" [width]="200" format="fixedPoint" alignment="center"> </dxi-column>
			<dxi-column dataField="originMasterCityCode" dataType="string" caption="Kota Asal" alignment="center" > </dxi-column>
			<dxi-column dataField="destinationMasterCityCode" dataType="string" caption="Kota Tujuan" alignment="center" > </dxi-column>

			<dxo-summary>
				<dxi-total-item
					column="aw"
					summaryType="sum"
					valueFormat="fixedPoint">
				</dxi-total-item>

				<dxi-total-item
					column="caw"
					summaryType="sum"
					valueFormat="fixedPoint">
				</dxi-total-item>
				
				<dxi-total-item
					column="koliFinal"
					summaryType="sum"
					valueFormat="fixedPoint">
				</dxi-total-item>

				<dxi-total-item
					column="cawFinal"
					summaryType="sum"
					valueFormat="fixedPoint">
				</dxi-total-item>

			</dxo-summary>
		</dx-data-grid>

		<br/>
		<br/> -->
		<!-- <div class="h5">Biaya - biaya </div>
			<dx-data-grid id="biaya"
						[dataSource]="costList(item)" [showBorders]="true">
				<dxo-filter-row [visible]="true"></dxo-filter-row>
				<dxo-header-filter [visible]="false"></dxo-header-filter>
				<dxi-column name="No" cellTemplate="NoTemplate" caption="No" alignment="center"></dxi-column>  

				<dxi-column dataField="cityCodeDestination" dataType="string" caption="Kota Tujuan" sortOrder="desc" minWidth="10"> </dxi-column>
				<dxi-column dataField="manifestNo" dataType="string" caption="Manifest No" > </dxi-column>
				<dxi-column dataField="costName" dataType="string" caption="Nama Biaya"> </dxi-column>
				<dxi-column dataField="unitValue" dataType="string" caption="Satuan"> </dxi-column>
				<dxi-column dataField="baseCost" dataType="number" caption="Biaya Satuan" format="fixedPoint"> </dxi-column>
				<dxi-column dataField="weight" dataType="number" caption="Berat" format="fixedPoint"> </dxi-column>
				<dxi-column dataField="cost" dataType="number" caption="Biaya Total" format="fixedPoint"> </dxi-column>

				<dxo-summary>
					<dxi-total-item
						column="cost"
						summaryType="sum"
						valueFormat="fixedPoint">
					</dxi-total-item>
				</dxo-summary>

				<div *dxTemplate="let data of 'NoTemplate'">  
					{{ data.component.pageIndex() * data.component.pageSize() + data.rowIndex + 1 }}  
				</div>  
			</dx-data-grid> -->
				<!-- <a class="dx-link" (click)="onLinkClick($event, data.rowIndex, data.key, data.component)">   -->
				<!-- </a>   -->
 

		

		<!-- <div class="h5">Biaya Tidak Tetap </div> -->
			<!-- <dx-pivot-grid
				[allowSortingBySummary]="true"
				[allowFiltering]="true"
				[showBorders]="true"
				[allowSortingBySummary]="true"
				[showColumnGrandTotals]="true"
				[showRowGrandTotals]="true"
				[showRowTotals]="true"
				[showColumnTotals]="false"
				[dataSource]="pivotList(item)"> -->
				
				<!-- [dataSource]="pivotList(item)" -->
				<!-- <dxo-field-chooser 
				[applyChangesMode]="applyChangesMode"
				[allowSearch]="true"
				[enabled]="true">
				</dxo-field-chooser>

			</dx-pivot-grid> -->

	<!-- </div>  -->

</dx-data-grid>

<kt-create-manifest-carrier #createManifestCarrierComponent (getList)="GetList()"></kt-create-manifest-carrier>