<dx-button icon="plus" type="success" (onClick)="addTarif()"> </dx-button>

<br/> 
<br/> 

  <div style="background-color: #f5f5f5; padding: 1%; border: 1px solid #e2e2e2;">

	<div class="row  ml-2 mr-3">
		<table style="width: 100%; align-items: left;">
			<tr>
				<td style="width: 20%;">
					<div class="dx-field" >
						<div class="dx-field-label" style="width:100%">Kota Asal</div>
						<div class="dx-field-value" style="float:left; width: 80%;">
							<dx-select-box [tabIndex]="103" id="originCity" [showDataBeforeSearch]="true" [(value)]="formSearch.originCity"
								[dataSource]="originCity" displayExpr="companyCityNameCustom" [showClearButton]="true"
								valueExpr="companyCityId" searchEnabled="true" itemTemplate="item" >
									<div *dxTemplate="let data of 'item'" [innerHTML]="highlightProcess(data.companyCityNameCustom, 'originCity')"></div>
							</dx-select-box>
						</div>
					</div>
				</td>
				<td style="width: 20%;">
					<div class="dx-field" >
						<div class="dx-field-label" style="width:100%">Kota/Kab Tujuan</div>
						<div class="dx-field-value" style="float:left; width: 80%;">
							<dx-select-box [tabIndex]="103" id="destCity" [showDataBeforeSearch]="true" [(value)]="formSearch.destinationCity"
								[dataSource]="destCity" displayExpr="companyCityNameCustom" [showClearButton]="true"
								valueExpr="companyCityId" searchEnabled="true" itemTemplate="item" (onValueChanged)="OnRatesChange($event)" [showClearButton]="true">
									<div *dxTemplate="let data of 'item'" [innerHTML]="highlightProcess(data.companyCityNameCustom, 'destCity')"></div>
							</dx-select-box>
						</div>
					</div>
				</td>
				<td style="width: 20%;">
					<div class="dx-field" >
						<div class="dx-field-label" style="width:100%">Kecamatan Tujuan</div>
						<div class="dx-field-value" style="float:left; width: 80%;">
							<dx-select-box [tabIndex]="500" class="subDistrict" searchEnabled="true"
								[dataSource]="this.sdDs" valueExpr="companyAreaId" displayExpr="masterSubDistrictName" [(value)]="formSearch.destinationSubDistrict" [showClearButton]="true">
							</dx-select-box>
						</div>
					</div>
				</td>
				<td style="width: 20%;">
					<div class="dx-field" >
						<div class="dx-field-label" style="width:100%">Type Tarif</div>
						<div class="dx-field-value" style="float:left; width: 80%;">
							<dx-select-box [tabIndex]="500" class="formSearch.ratesType" searchEnabled="true"
								[dataSource]="this.ratesTypeDs" valueExpr="lookupKey" displayExpr="lookupValue" [(value)]="formSearch.ratesType" [showClearButton]="true"
								(onValueChanged)="tipeTarif($event)" >
							</dx-select-box>
						</div>
					</div>
				</td>
				<td style="width: 20%;">
					<div class="dx-field" >
						<div class="dx-field-label" style="width:100%">Moda</div>
						<div class="dx-field-value" style="float:left; width: 80%;">
							<dx-select-box [tabIndex]="500" class="carrier" searchEnabled="true" [dataSource]="this.carrierDs" valueExpr="lookupKey" displayExpr="lookupValue" [(value)]="formSearch.moda" [showClearButton]="true">
							</dx-select-box>
						</div>
					</div>
				</td>
			</tr>
			<tr height="40px">
				
				<td style="width: 20%;">
					<div class="dx-field" >
						<div class="dx-field-label" style="width:100%">K.O.S</div>
						<div class="dx-field-value" style="float:left; width: 80%;">
							<dx-select-box [tabIndex]="500" class="kos" searchEnabled="true"
								[dataSource]="this.kosDs" valueExpr="lookupKey" displayExpr="lookupValue" [(value)]="formSearch.kos" [showClearButton]="true">
							</dx-select-box>
						</div>
					</div>	
				</td>
				<td style="width: 20%;">
					<div class="dx-field" >
						<div class="dx-field-label" style="width:100%">Q.O.S</div>
						<div class="dx-field-value" style="float:left; width: 80%;">
							<dx-select-box [tabIndex]="500" class="qos" searchEnabled="true"
								[dataSource]="this.qosDs" valueExpr="lookupKey" displayExpr="lookupValue" [(value)]="formSearch.qos" [showClearButton]="true">
							</dx-select-box>
						</div>
					</div>
				</td>
				<td style="width: 20%;">
					<div class="dx-field" >
						<div class="dx-field-label" style="width:100%">Tarif</div>
						<div class="dx-field-value" style="float:left; width: 80%;">
							<dx-text-box [(value)]="formSearch.rates"></dx-text-box>
						</div>
					</div>
				</td>
				<td style="width: 20%;">
					<div class="dx-field" >
						<div class="dx-field-label" style="width:100%">Minimum Kg</div>
						<div class="dx-field-value" style="float:left; width: 80%;">
							<dx-text-box [(value)]="formSearch.minWeight"></dx-text-box>
						</div>
					</div>
				</td>
				<td style="width: 20%;">
					<div class="dx-field" >
						<div class="dx-field-label" style="width:100%">Tarif Minimum</div>
						<div class="dx-field-value" style="float:left; width: 80%;">
							<dx-text-box [(value)]="formSearch.minRates"></dx-text-box>
						</div>
					</div>
				</td>
				<td style="width: 20%;">
					&nbsp;
				</td>
				<td style="width: 20%;">
					&nbsp;
				</td>
				<td style="width: 20%;">
					&nbsp;
				</td>
			</tr>
		</table>
		
		<div class="dx-field" style="margin-left: 90%;margin-top: 1%;">
			<dx-button text="Search" type="success" (onClick)="onSearch()"></dx-button> 
		</div>

	</div>

  </div>
  
  <br/>

<p style="white-space: pre-wrap"></p>

<dx-data-grid id="gridContainer" 
				[dataSource]="ds" [showBorders]="true" alignment="left">
	<dxo-filter-row [visible]="true"></dxo-filter-row>
	<dxo-header-filter [visible]="true"></dxo-header-filter>
	<dxo-paging [pageSize]="100"></dxo-paging>

	<dxi-column dataField="ratesId"  [allowFiltering]="false" [fixed]="true" caption="Action" alignment="left"
				[allowSorting]="false" cellTemplate="cellTemplate"></dxi-column>

	<dxi-column dataField="originCityName" dataType="string" caption="Kota Asal"> </dxi-column>
	<!-- <dxi-column dataField="originCity" dataType="string" caption="Kota Asal"> </dxi-column> -->
	<dxi-column dataField="destinationCityName" dataType="string" caption="Kota Tujuan"> </dxi-column>
	<dxi-column dataField="subDistrictName" dataType="string" caption="Kecamatan"> </dxi-column>
	<dxi-column dataField="destinationCityCode" dataType="string" caption="Kode Kota"> </dxi-column>
	<dxi-column dataField="ratesType" dataType="string" caption="Tipe Tarif" [calculateDisplayValue]="ColRatesType"> </dxi-column>
	<dxi-column dataField="carrier" dataType="string" caption="Moda"> </dxi-column>
	<dxi-column dataField="typeOfService" dataType="string" caption="K.O.S"> </dxi-column>
	<dxi-column dataField="qualityOfService" dataType="string" caption="Q.O.S"> </dxi-column>
	<!-- <dxi-column dataField="destinationCity" dataType="string" caption="Kota Tujuan"> </dxi-column> -->
	<dxi-column dataField="rates" dataType="number" caption="Tarif"> </dxi-column>
	<dxi-column dataField="max" dataType="number" caption="Minimum"> </dxi-column>
	<dxi-column dataField="minRates" dataType="number" caption="Tarif Minimum"> </dxi-column>


	<div *dxTemplate="let data of 'cellTemplate'">
		<dx-drop-down-button
			icon="edit"
			[items]="[
					{key: 'update', value: 'Update Tarif', data: data.data},
					{key: 'hapus', value: 'Hapus Tarif', data: data.data}
				]"
			(onItemClick)="ChooseAction($event)"
			[displayExpr]="'value'"
			[keyExpr]="'key'"
			[dropDownOptions]="{
				width: 100
			}"
		></dx-drop-down-button>
	</div>
</dx-data-grid>


<dx-popup
	[width]="300"
	[height]="500"
	[showTitle]="true"
	title="Hapus Tarif"
	[dragEnabled]="false"
	[closeOnOutsideClick]="true"
	[(visible)]="hapusTarifPopupVisible">
	<div *dxTemplate="let data of 'content'">
		<form action="" (submit)="hapusTarifSubmit($event)" >
			<dx-form id="deleteRates" [formData]="deleteRates">
					<dxi-item itemType="group" cssClass="second-group" [colCount]="1" >
						<dxi-item itemType="group">
							<dxi-item dataField="originCityCode"   [editorOptions]="{ readOnly: true}" editorType="dxTextBox" [label]="{text: 'Kota Asal'}"></dxi-item>
							<dxi-item dataField="destinationCityCode"   [editorOptions]="{ readOnly: true}" editorType="dxTextBox" [label]="{text: 'Kota Tujuan'}"></dxi-item>
							<dxi-item dataField="subDistrict"   [editorOptions]="{ readOnly: true}" editorType="dxTextBox" [label]="{text: 'Kecamatan'}"></dxi-item>
							<dxi-item dataField="ratesType"   [editorOptions]="{ readOnly: true}" editorType="dxTextBox" [label]="{text: 'Tipe Tarif'}"></dxi-item>
							<dxi-item dataField="carrier"   [editorOptions]="{ readOnly: true}" editorType="dxTextBox" [label]="{text: 'Moda'}"></dxi-item>
							<dxi-item dataField="typeOfService"   [editorOptions]="{ readOnly: true}" editorType="dxTextBox" [label]="{text: 'K.O.S'}"></dxi-item>
							<dxi-item dataField="qualityOfService"   [editorOptions]="{ readOnly: true}" editorType="dxTextBox" [label]="{text: 'Q.O.S'}"></dxi-item>
							<dxi-item dataField="rates" editorType="dxNumberBox" [editorOptions]="{ readOnly: true}" [label]="{text: 'Tarif'}"></dxi-item>
						</dxi-item>
						
						<dxi-item
							itemType="button"
							horizontalAlignment="center"
							[buttonOptions]="{ text: 'Submit', type: 'danger', useSubmitBehavior: true }">
						</dxi-item>
					</dxi-item>	
			</dx-form>
		</form>

	</div>
</dx-popup>

<dx-popup
	[width]="300"
	[height]="500"
	[showTitle]="true"
	title="Update Tarif"
	[dragEnabled]="false"
	[closeOnOutsideClick]="true"
	[(visible)]="editTarifPopupVisible">
	<div *dxTemplate="let data of 'content'">
		<form action="" (submit)="editTarifSubmit($event)" >
			<dx-form id="updateRates" [formData]="currentRates">
				<div *ngIf="min">
					<dxi-item itemType="group" cssClass="second-group" [colCount]="1" >
						<dxi-item itemType="group">
							<dxi-item dataField="originCityCode"   [editorOptions]="{ readOnly: true}" editorType="dxTextBox" [label]="{text: 'Kota Asal'}"></dxi-item>
							<dxi-item dataField="destinationCityCode"   [editorOptions]="{ readOnly: true}" editorType="dxTextBox" [label]="{text: 'Kota Tujuan'}"></dxi-item>
							<dxi-item dataField="subDistrict"   [editorOptions]="{ readOnly: true}" editorType="dxTextBox" [label]="{text: 'Kecamatan'}"></dxi-item>
							<dxi-item dataField="ratesType"   [editorOptions]="{ readOnly: true}" editorType="dxTextBox" [label]="{text: 'Tipe Tarif'}"></dxi-item>
							<dxi-item dataField="carrier"   [editorOptions]="{ readOnly: true}" editorType="dxTextBox" [label]="{text: 'Moda'}"></dxi-item>
							<dxi-item dataField="typeOfService"   [editorOptions]="{ readOnly: true}" editorType="dxTextBox" [label]="{text: 'K.O.S'}"></dxi-item>
							<dxi-item dataField="qualityOfService"   [editorOptions]="{ readOnly: true}" editorType="dxTextBox" [label]="{text: 'Q.O.S'}"></dxi-item>
							<dxi-item dataField="rates" editorType="dxNumberBox" [editorOptions]="{ readOnly: true}" [label]="{text: 'Tarif Lama'}"></dxi-item>
							<dxi-item dataField="rates" editorType="dxNumberBox"  [label]="{text: 'Tarif Baru'}"></dxi-item>	
							<dxi-item dataField="max" editorType="dxNumberBox" [label]="{text: 'Minimum Berat'}"></dxi-item>
							<dxi-item dataField="minRates" editorType="dxNumberBox" [label]="{text: 'Minimum Tarif'}"></dxi-item>
							
						</dxi-item>
						
						<dxi-item
							itemType="button"
							horizontalAlignment="center"
							[buttonOptions]="{ text: 'Submit', type: 'danger', useSubmitBehavior: true }">
						</dxi-item>
					</dxi-item>
				</div>	

				<div *ngIf="flat">
					<dxi-item itemType="group" cssClass="second-group" [colCount]="1" >
						<dxi-item itemType="group">
							<dxi-item dataField="originCityCode"   [editorOptions]="{ readOnly: true}" editorType="dxTextBox" [label]="{text: 'Kota Asal'}"></dxi-item>
							<dxi-item dataField="destinationCityCode"   [editorOptions]="{ readOnly: true}" editorType="dxTextBox" [label]="{text: 'Kota Tujuan'}"></dxi-item>
							<dxi-item dataField="subDistrict"   [editorOptions]="{ readOnly: true}" editorType="dxTextBox" [label]="{text: 'Kecamatan'}"></dxi-item>
							<dxi-item dataField="ratesType"   [editorOptions]="{ readOnly: true}" editorType="dxTextBox" [label]="{text: 'Tipe Tarif'}"></dxi-item>
							<dxi-item dataField="carrier"   [editorOptions]="{ readOnly: true}" editorType="dxTextBox" [label]="{text: 'Moda'}"></dxi-item>
							<dxi-item dataField="typeOfService"   [editorOptions]="{ readOnly: true}" editorType="dxTextBox" [label]="{text: 'K.O.S'}"></dxi-item>
							<dxi-item dataField="qualityOfService"   [editorOptions]="{ readOnly: true}" editorType="dxTextBox" [label]="{text: 'Q.O.S'}"></dxi-item>
							<dxi-item dataField="rates" editorType="dxNumberBox" [editorOptions]="{ readOnly: true}" [label]="{text: 'Tarif Lama'}"></dxi-item>
							<dxi-item dataField="rates" editorType="dxNumberBox"  [label]="{text: 'Tarif Baru'}"></dxi-item>
						</dxi-item>
						
						<dxi-item
							itemType="button"
							horizontalAlignment="center"
							[buttonOptions]="{ text: 'Submit', type: 'danger', useSubmitBehavior: true }">
						</dxi-item>
					</dxi-item>
				</div>	

			</dx-form>
		</form>

	</div>
</dx-popup>

<dx-popup
	[width]="300"
	[height]="500"
	[showTitle]="true"
	title="Tambah Tarif"
	[dragEnabled]="false"
	[closeOnOutsideClick]="true"
	[(visible)]="addTarifPopupVisible">
			<form action="" (submit)="addTarifSubmit($event)" >
				<dx-form id="addRates">
					<dxi-item itemType="group" cssClass="second-group" [colCount]="1" >
						<dxi-item itemType="group">
							<div class="dx-field" >
								<div class="dx-field-label">Kota Asal:</div>
								<div class="dx-field-value">
									<dx-select-box [tabIndex]="103" id="originCity" [showDataBeforeSearch]="true" [(value)]="formAddRates.OriginCity"
												[dataSource]="originCity" displayExpr="companyCityNameCustom" [showClearButton]="true"
												valueExpr="companyCityId" searchEnabled="true" itemTemplate="item" >
										<div *dxTemplate="let data of 'item'"
											[innerHTML]="highlightProcess(data.companyCityNameCustom, 'originCity')">
										</div>
										<dx-validator>
											<dxi-validation-rule type="required"> </dxi-validation-rule>
										</dx-validator>
									</dx-select-box>
								</div>
							</div>
							<p style="white-space: pre-wrap"></p>
							<div class="dx-field" >
								<div class="dx-field-label">Kota Tujuan:</div>
								<div class="dx-field-value">
									<dx-select-box [tabIndex]="103" id="destCity" [showDataBeforeSearch]="true" [(value)]="formAddRates.DestinationCity"
												[dataSource]="destCity" displayExpr="companyCityNameCustom" [showClearButton]="true"
												valueExpr="companyCityId" searchEnabled="true" itemTemplate="item" (onValueChanged)="OnRatesChange($event)" [showClearButton]="true">
										<div *dxTemplate="let data of 'item'"
											[innerHTML]="highlightProcess(data.companyCityNameCustom, 'destCity')">
										</div>
										<dx-validator>
											<dxi-validation-rule type="required"> </dxi-validation-rule>
										</dx-validator>
									</dx-select-box>
								</div>
							</div>
							<div class="dx-field" >
								<div class="dx-field-label">Kecamatan :</div>
								<div class="dx-field-value">
									<dx-select-box [tabIndex]="500" class="subDistrict" searchEnabled="true"
										[dataSource]="this.sdDs" valueExpr="masterSubDistrictId" displayExpr="masterSubDistrictName" [(value)]="formAddRates.SubDistrict" [showClearButton]="true">
									</dx-select-box>
								</div>
							</div>
							<div class="dx-field" >
								<div class="dx-field-label">Q.O.S:</div>
								<div class="dx-field-value">
									<dx-select-box [tabIndex]="500" class="qos" searchEnabled="true"
										[dataSource]="this.qosDs" valueExpr="lookupKey" displayExpr="lookupValue" [(value)]="formAddRates.Qos" [showClearButton]="true">
											<dx-validator>
												<dxi-validation-rule type="required"> </dxi-validation-rule>
											</dx-validator>
									</dx-select-box>
								</div>
							</div>
							<p style="white-space: pre-wrap"></p>
							<div class="dx-field" >
								<div class="dx-field-label">K.O.S:</div>
								<div class="dx-field-value">
									<dx-select-box [tabIndex]="500" class="kos" searchEnabled="true"
										[dataSource]="this.kosDs" valueExpr="lookupKey" displayExpr="lookupValue" [(value)]="formAddRates.Kos" [showClearButton]="true">
											<dx-validator>
												<dxi-validation-rule type="required"> </dxi-validation-rule>
											</dx-validator>
									</dx-select-box>
								</div>
							</div>
							<p style="white-space: pre-wrap"></p>
							<div class="dx-field" >
								<div class="dx-field-label">Moda:</div>
								<div class="dx-field-value">
									<dx-select-box [tabIndex]="500" class="carrier" searchEnabled="true"
										[dataSource]="this.carrierDs" valueExpr="lookupKey" displayExpr="lookupValue" [(value)]="formAddRates.Carrier" [showClearButton]="true">
										<!-- <dx-validator>
											<dxi-validation-rule type="required"> </dxi-validation-rule>
										</dx-validator> -->
									</dx-select-box>
								</div>
							</div>
							<p style="white-space: pre-wrap"></p>
							<div class="dx-field" >
								<div class="dx-field-label">Tipe Tarif:</div>
								<div class="dx-field-value">
									<dx-select-box [tabIndex]="500" class="ratesType" searchEnabled="true"
								[dataSource]="this.ratesTypeDs" valueExpr="lookupKey" displayExpr="lookupValue" [(value)]="formAddRates.RatesType" [showClearButton]="true"
								(onValueChanged)="tipeTarif($event)" >
										<!-- <dx-validator>
											<dxi-validation-rule type="required"> </dxi-validation-rule>
										</dx-validator> -->
								</dx-select-box>
								</div>
							</div>
							<p style="white-space: pre-wrap"></p>
							<div class="dx-field" >
								<div class="dx-field-label">Tarif:</div>
								<div class="dx-field-value">
									<dx-number-box  [(value)]="formAddRates.NewRates" >
										<dx-validator>
											<dxi-validation-rule type="required"></dxi-validation-rule>
										</dx-validator>
									</dx-number-box>
								</div>
							</div>
							<p style="white-space: pre-wrap"></p>
							<div *ngIf="minVisible">
								<div class="dx-field" >
									<div class="dx-field-label">Berat Minimum:</div>
									<div class="dx-field-value">
										<dx-number-box  [(value)]="formAddRates.Max">
											<dx-validator>
												<dxi-validation-rule type="required"></dxi-validation-rule>
											</dx-validator>
										</dx-number-box>
									</div>
								</div>
								<p style="white-space: pre-wrap"></p>
								<div class="dx-field" >
									<div class="dx-field-label">Tarif Minimum:</div>
									<div class="dx-field-value">
										<dx-number-box  [(value)]="formAddRates.MinRates">
											<dx-validator>
												<dxi-validation-rule type="required"></dxi-validation-rule>
											</dx-validator>
										</dx-number-box>
									</div>
								</div>
							</div>
						</dxi-item>
						<dxi-item
							itemType="button"
							horizontalAlignment="center"
							[buttonOptions]="{ text: 'Submit', type: 'danger', useSubmitBehavior: true }">
						</dxi-item>
					</dxi-item>
				</dx-form>
			</form>
</dx-popup>
