.container-horizontal {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    align-items: center;
    background-color: #f7f9fc;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.options-container-horizontal {
    display: flex;
    gap: 20px;
}

.option-label-horizontal {
    display: flex;
    align-items: center;
    font-size: 16px;
}

.option-label-horizontal input {
    margin-right: 10px;
}

.date-input-container-horizontal, .date-range-container-horizontal {
    display: flex;
    gap: 15px;
}

.date-input-horizontal {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    width: auto;
}

.btn-search-horizontal {
    padding: 0px 5px;
    background-color: #5cb85c;
    color: white;
    font-size: 16px;
    font-weight: bold;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    margin-left: auto;
}

.btn-search-horizontal:hover {
    background-color: #0056b3;
}
