<div class="row">
	<div class="col-12">
		<kt-portlet>
			<kt-portlet-header title="[4.] Revenue">
				<ng-container ktPortletTools> </ng-container>
			</kt-portlet-header>

			<kt-portlet-body>
				<div *ngIf="menuForb" class="alert alert-warning box-msg" role="alert">
					<strong>Warning!</strong>
					<span style="padding-left: 10px">You doesn't have permission to access this page.</span>
				</div>

				<div *ngIf="menuPriv">
					<div class="container-horizontal">
						<div class="options-container-horizontal">
							<label *ngFor="let option of dateOptions" class="option-label-horizontal">
								<input type="radio" name="dateOption" [value]="option.value" [(ngModel)]="selectedOption" (change)="onOptionChange()" />
								{{ option.label }}
							</label>
						</div>

						<div *ngIf="selectedOption === 'perDate'" class="date-input-container-horizontal">
							<input type="date" [(ngModel)]="selectedDate" class="date-input-horizontal" />
						</div>

						<div *ngIf="selectedOption === 'perWeek'" class="date-input-container-horizontal">
							<input type="week" [(ngModel)]="selectedDate" class="date-input-horizontal" />
						</div>

						<div *ngIf="selectedOption === 'perMonth'" class="date-input-container-horizontal">
							<input type="month" [(ngModel)]="selectedDate" class="date-input-horizontal" />
						</div>

						<div *ngIf="selectedOption === 'perYear'" class="date-input-container-horizontal">
							<input type="number" [(ngModel)]="selectedDate" min="2000" max="2100" placeholder="YYYY" class="date-input-horizontal" />
						</div>

						<div *ngIf="selectedOption === 'customDate'" class="date-range-container-horizontal">
							<input type="date" [(ngModel)]="startDate" placeholder="Start Date" class="date-input-horizontal" />
							<input type="date" [(ngModel)]="endDate" placeholder="End Date" class="date-input-horizontal" />
						</div>

						<dx-button class="btn-search-horizontal" type="default" text="Cari" (onClick)="getDataMonitoring()"> </dx-button>
					</div>
					<br />
					<h4>Keseluruhan Data</h4>
					<br />
					
					<br />

					<button (click)="expandGrid()">expand</button>

					<dx-data-grid id="gridContainer" #targetDataGrid [dataSource]="gmDs" [showBorders]="true">
						<dxo-filter-row [visible]="true"></dxo-filter-row>
						<dxo-header-filter [visible]="true"></dxo-header-filter>
						<dxo-grouping #expand [autoExpandAll]="false"></dxo-grouping>
						<dxo-paging [pageSize]="1000"></dxo-paging>
						<!-- <dxi-column dataField="destinationCityCode" dataType="string"  caption="Tujuan"> </dxi-column> -->
						<!-- <dxi-column dataField="carrier" dataType="string" caption="Moda" > </dxi-column> -->
						<dxi-column dataField="digitKeenam" [visible]="kepalaCoa" dataType="string" caption="Tujuan" > </dxi-column>
						<dxi-column dataField="totalAw" caption="AW" [allowHeaderFiltering]="false"> </dxi-column>
						<dxi-column dataField="totalCaw" caption="CAW" [allowHeaderFiltering]="false"> </dxi-column>
						<dxi-column dataField="ta" caption="Tunai Pengirim" dataType="number" alignment="right" format="#,##0.##" [allowHeaderFiltering]="false"> </dxi-column>
						<dxi-column dataField="tt" dataType="number" alignment="right" format="#,##0.##" caption="Tunai Tujuan" [allowHeaderFiltering]="false"> </dxi-column>
						<dxi-column dataField="tk" dataType="number" alignment="right" format="#,##0.##" caption="Tunai Corporate" [allowHeaderFiltering]="false"> </dxi-column>
						<dxi-column dataField="totalTaTt" dataType="number" alignment="right" format="#,##0.##" caption="Tunai Total" [allowHeaderFiltering]="false"> </dxi-column>
						<dxi-column dataField="digitPertama" [visible]="kepalaCoa" dataType="string" caption="" [groupIndex]="0"> </dxi-column>
						<dxi-column dataField="digitKedua" [visible]="kepalaCoa" dataType="string" caption="TERITORY " [groupIndex]="1"> </dxi-column>
						<dxi-column dataField="digitKetiga" [visible]="kepalaCoa" dataType="string" caption="MODA " [groupIndex]="2"> </dxi-column>
						<dxi-column dataField="digitKeempat" [visible]="kepalaCoa" dataType="string" caption="TYPE " [groupIndex]="3"> </dxi-column>
						<dxi-column dataField="digitKelima" [visible]="kepalaCoa" dataType="string" caption="GERAI " [groupIndex]="4"> </dxi-column>
						

						<dxo-grouping [expandMode]="'rowClick'" [contextMenuEnabled]="true"> </dxo-grouping>
						<dxo-group-panel [visible]="true"> <!-- or "auto" --> </dxo-group-panel>

						<dxo-summary>
							<!-- <dxi-total-item column="destinationCityCode" summaryType="count"> </dxi-total-item> -->

							<dxi-total-item column="totalAw" summaryType="sum" [customizeText]="thousandSeparator"> </dxi-total-item>
							<dxi-group-item column="totalAw" [alignByColumn]="true" summaryType="sum" [customizeText]="thousandSeparator"> </dxi-group-item>

							<dxi-total-item column="totalCaw" summaryType="sum" [customizeText]="thousandSeparator"> </dxi-total-item>
							<dxi-group-item column="totalCaw" [alignByColumn]="true" summaryType="sum" [customizeText]="thousandSeparator"> </dxi-group-item>

							<dxi-total-item column="ta" summaryType="sum" [customizeText]="thousandSeparator"> </dxi-total-item>
							<dxi-group-item column="ta" [alignByColumn]="true" summaryType="sum" [customizeText]="thousandSeparator"> </dxi-group-item>

							<dxi-total-item column="tt" summaryType="sum" [customizeText]="thousandSeparator"> </dxi-total-item>
							<dxi-group-item column="tt" [alignByColumn]="true" summaryType="sum" [customizeText]="thousandSeparator"> </dxi-group-item>

							<dxi-total-item column="tk" summaryType="sum" [customizeText]="thousandSeparator"> </dxi-total-item>
							<dxi-group-item column="tk" [alignByColumn]="true" summaryType="sum" [customizeText]="thousandSeparator"> </dxi-group-item>

							<dxi-total-item column="totalTaTt" summaryType="sum" [customizeText]="thousandSeparator"> </dxi-total-item>
							<dxi-group-item column="totalTaTt" [alignByColumn]="true" summaryType="sum" [customizeText]="thousandSeparator"> </dxi-group-item>
						</dxo-summary>
					</dx-data-grid>
				</div>
			</kt-portlet-body>
		</kt-portlet>
	</div>
</div>
