<div class="row">
	<div class="col-12">
		<kt-portlet>
			<kt-portlet-header title="{{this.username}} [ {{this.fullname}} ]" style="font-size: larger;">
				<ng-container ktPortletTools> </ng-container>
			</kt-portlet-header>
            
			<kt-portlet-body>
                <div class="row  ml-2 mr-3" style="margin-top: -2%;">
                    <div class="col-md">
                            
                        <div class="dx-fieldset">
                            <strong style="font-size: large;">{{ this.unitName | uppercase }}</strong>
                            <dx-button text="Tambah" type="success" *ngIf="this.isButtonVisible" style="float: right;" (onClick)="onAddUnitPlace()"></dx-button>
                            <br/>
                            <div class="dx-field">
                                <dx-radio-group
                                    id="radio-group-with-selection"
                                    [items]="dataItems"
                                    valueExpr="id"
                                    displayExpr="name"
                                    [(value)]="selectionUnitId"
                                    (onValueChanged)="onValueChanged($event)">
                                </dx-radio-group>
                            </div>
                        </div>

                    </div>
                </div>

               
                <div class="row  ml-2 mr-3">
                    <div class="col-md text-right">
                        <dx-button text="Berikutnya" type="default" (onClick)="onNext()"></dx-button> 
                    </div>
                </div>

				<!-- </div> -->
			</kt-portlet-body>
		</kt-portlet>

	</div>
</div>