<div class="row">
	<div class="col-12">
		<kt-portlet>
			<!-- <kt-portlet-header title="Expenses">
				<ng-container ktPortletTools> </ng-container>
			</kt-portlet-header> -->

			<kt-portlet-body>
				<!-- <dx-button icon="plus" type="success" text="Tambah" [width]="100"> </dx-button> -->
				<br />
				<dx-data-grid id="gridContainer" [dataSource]="ds" [showBorders]="true"  [focusedRowEnabled]="true">
					<dxo-filter-row [visible]="true"></dxo-filter-row>
					<dxo-header-filter [visible]="true"></dxo-header-filter>
					<dxo-paging [enabled]="true" [pageSize]="50"></dxo-paging>
					<dxo-editing mode="row"> </dxo-editing>
                    <dxi-column dataField="tanggal" dataType="date" caption="Date" [format]="'MMM dd, yyyy'" caption="Tanggal"> </dxi-column>	
					<dxi-column dataField="revenue" caption="Revenue" [format]="{ type: 'fixedPoint', precision: 0 }"></dxi-column>
					<dxi-column dataField="biaya" caption="Cost" [format]="{ type: 'fixedPoint', precision: 0 }"></dxi-column>
					<dxi-column dataField="expenses"  caption="Expenses" [format]="{ type: 'fixedPoint', precision: 0 }"></dxi-column>
					<dxi-column dataField="profitLoss"  caption="Ballance" [format]="{ type: 'fixedPoint', precision: 0 }"></dxi-column>
					

				
				</dx-data-grid>

				<br />
			</kt-portlet-body>
		</kt-portlet>
	</div>
</div>