<div class="row">

	

	<div class="col-12">
		<kt-portlet>
			<kt-portlet-header title="Kirim Barang >> SPB - List">
				<ng-container ktPortletTools> </ng-container>
			</kt-portlet-header>
			
			<kt-portlet-body>

				<div *ngIf="menuForb" class="alert alert-warning box-msg" role="alert">
					<strong>Warning!</strong>
					<span style="padding-left: 10px;">You doesn't have permission to access this page.</span>
				</div>

				<div *ngIf="menuPriv">
				<mat-tab-group>
					<mat-tab label="Spb - List">
						<ng-template matTabContent>

							<form (submit)="onFormSubmitSpbFilter($event)">
								<dx-form id="formSpbList" [formData]="filterSpb" >

									<dxi-item itemType="group" cssClass="second-group" [colCount]="2" [cssClass]="'filter-background'" caption="Cari SPB">
										<dxi-item itemType="group">
											<!-- DateBox Original -->
											<!-- <dxi-item dataField="dateStart"
													  editorType="dxDateBox"
													  [editorOptions]="{ pickerType: 'rollers', showClearButton: true}"
											></dxi-item> -->

											<!-- DateBox Maksimal 7 Hari Ke Belakang -->
											<dx-date-box 
												[(min)]="filterSpb.minDateStart"
												[(value)]="filterSpb.dateStart"
												[showClearButton]="true">
												<dx-validator>
													<dxi-validation-rule type="required" ></dxi-validation-rule>
												</dx-validator>
											</dx-date-box>

<!--											<dxi-item dataField="spbNo"></dxi-item>-->
										</dxi-item>
										<dxi-item itemType="group">
<!--											<dxi-item dataField="Kota Asal"></dxi-item>-->
<!--											<dxi-item dataField="Kota Tujuan"></dxi-item>-->
										</dxi-item>
										<dxi-item
											itemType="button"
											horizontalAlignment="left"
											[buttonOptions]="{ text: 'Cari SPB', type: 'success', useSubmitBehavior: true }">
										</dxi-item>
									</dxi-item>

								</dx-form>
							</form>

							<br />
							<dx-data-grid
								id="gridContainer"
								[dataSource]="spbListDs"
								(onRowPrepared)="onRowPrepared($event)"
								[showBorders]="true">

								<dxo-filter-row [visible]="true"></dxo-filter-row>
								<dxo-header-filter [visible]="true"></dxo-header-filter>


								<dxi-column dataField="spbId"  [allowFiltering]="false" [fixed]="true" caption="Action" alignment="left"
											[allowSorting]="false" cellTemplate="cellTemplate"></dxi-column>

								<dxi-column dataField="spbNo" dataType="string" caption="No. SPB" [fixed]="true" > </dxi-column>
								<dxi-column dataField="createdAtLocal" dataType="date" format="dd-MMM-yyyy" caption="Tanggal" > </dxi-column>
								<dxi-column dataField="username" dataType="string" caption="Username" > </dxi-column>
								<dxi-column dataField="paymentMethod" dataType="string" caption="Cara Bayar" > </dxi-column>
								<dxi-column dataField="originCityNameCustom" dataType="string" caption="Kota Asal" > </dxi-column>
								<dxi-column dataField="destinationCityNameCustom" dataType="string" caption="Kota Tujuan" > </dxi-column>

								<dxi-column caption="Harga" alignment="center">
									<dxi-column dataField="rates" dataType="int" caption="Harga / Kg"  format="#,##0.##"> </dxi-column>
									<dxi-column dataField="packing" dataType="int" caption="Packing"  format="#,##0.##"> </dxi-column>
									<dxi-column dataField="quarantine" dataType="int" caption="Karantina"  format="#,##0.##"> </dxi-column>
									<dxi-column dataField="etc" dataType="int" caption="Lain - Lain"  format="#,##0.##"> </dxi-column>
									<dxi-column dataField="ppn" dataType="int" caption="PPN"  format="#,##0.##"> </dxi-column>
									<dxi-column dataField="discount" dataType="int" caption="Diskon"  format="#,##0.##"> </dxi-column>
									<dxi-column dataField="discount" dataType="int" caption="Diskon"  format="#,##0.##"> </dxi-column>
									<dxi-column dataField="totalPrice" dataType="int" caption="Total"  format="#,##0.##"> </dxi-column>
								</dxi-column>


								<dxi-column caption="Pengirim" alignment="center">
									<dxi-column dataField="senderName" dataType="string" caption="Nama" > </dxi-column>
									<dxi-column dataField="senderPhone" dataType="string" caption="Telp." > </dxi-column>
									<dxi-column dataField="senderPlace" dataType="string" caption="Tempat" > </dxi-column>
									<dxi-column dataField="senderStore" dataType="string" caption="Toko" > </dxi-column>
									<dxi-column dataField="senderAddress" dataType="string" caption="Alamat" > </dxi-column>
								</dxi-column>


								<dxi-column caption="Penerima" alignment="center">
									<dxi-column dataField="receiverName" dataType="string" caption="Nama" > </dxi-column>
									<dxi-column dataField="receiverPhone" dataType="string" caption="Telp." > </dxi-column>
									<dxi-column dataField="receiverPlace" dataType="string" caption="Tempat" > </dxi-column>
									<dxi-column dataField="receiverStore" dataType="string" caption="Toko " > </dxi-column>
									<dxi-column dataField="receiverAddress" dataType="string" caption="Alamat" > </dxi-column>
								</dxi-column>


								<dxi-column dataField="carrierName" dataType="string" caption="Moda" > </dxi-column>
								<dxi-column dataField="qualityOfServiceName" dataType="string" caption="Q.O.S" > </dxi-column>
								<dxi-column dataField="typeOfServiceName" dataType="string" caption="K.O.S" > </dxi-column>

								
								<div *dxTemplate="let data of 'cellTemplate'">
									<div *ngIf="permit">
										<dx-drop-down-button
											icon="print"
											[items]="[
												{key: 'spb', value: 'Spb', data: data.data},
												{key: 'label', value: 'Label', data: data.data}
												]"
												(onItemClick)="Print($event)"
												[displayExpr]="'value'"
												[keyExpr]="'key'"
												></dx-drop-down-button>
												&nbsp;
												<!-- {key: 'label', value: 'Label', data: data.data} -->
										<!-- {key: 'pm', value: 'Cara Bayar', data: data}, -->
										<dx-drop-down-button
											icon="edit"
											[items]="[
													{key: 'void', value: 'VOID', data: data},
													{key: 'updateDescription', value: 'Edit Keterangan', data: data}
												]"
											(onItemClick)="Update($event)"
											[displayExpr]="'value'"
											[keyExpr]="'key'"
											[dropDownOptions]="{
												width: 100
											}"
										></dx-drop-down-button>
									</div>
									<div *ngIf="forbid">
										<dx-drop-down-button
											icon="print"
											[items]="[
												{key: 'spb', value: 'Spb', data: data.data}
												]"
											(onItemClick)="Print($event)"
											[displayExpr]="'value'"
											[keyExpr]="'key'"
										></dx-drop-down-button>
										&nbsp;

										<!-- {key: 'pm', value: 'Cara Bayar', data: data}, -->

										<dx-drop-down-button
											icon="edit"
											[items]="[
													{key: 'updateDescription', value: 'Edit Keterangan', data: data}
												]"
											(onItemClick)="Update($event)"
											[displayExpr]="'value'"
											[keyExpr]="'key'"
											[dropDownOptions]="{
												width: 100
											}"
										></dx-drop-down-button>
									</div>
								</div>

<!--								<div *dxTemplate="let d of 'paymentMethodCt'" >-->
<!--									<dx-button *ngIf="d.data.paymentMethod !== null" text="ubah" hint="ubah cara bayar" (onClick)="paymentMethodChange(d)" ></dx-button>-->
<!--									&nbsp; {{ d.data.paymentMethod }}-->
<!--								</div>-->

							</dx-data-grid>
						</ng-template>

					</mat-tab>

				</mat-tab-group>
			</div>
			</kt-portlet-body>
		
		</kt-portlet>

	</div>
</div>


<dx-popup
	[width]="300"
	[height]="250"
	[showTitle]="true"
	title="Ubah Cara bayar"
	[dragEnabled]="false"
	[closeOnOutsideClick]="false"
	[(visible)]="paymentMethodPopupVisible">
	<div *dxTemplate="let data of 'content'">
		<form action="" (submit)="paymentMethodSubmit($event)" >
			<dx-form id="updatePaymentMethod" [formData]="currentSpb">

				<dxi-item itemType="group" cssClass="second-group" [colCount]="1" >
					<dxi-item itemType="group">
						<dxi-item dataField="spbNo"   [editorOptions]="{ readOnly: true}" editorType="dxTextBox"></dxi-item>
						<dxi-item dataField="paymentMethod" editorType="dxSelectBox"
								  [editorOptions]="{ dataSource: paymentMethodDs, displayExpr: 'lookupValue', valueExpr: 'lookupKey'}"
						></dxi-item>

					</dxi-item>
					<dxi-item
						itemType="button"
						horizontalAlignment="left"
						[buttonOptions]="{ text: 'Ubah', type: 'success', useSubmitBehavior: true }">

					</dxi-item>
				</dxi-item>

			</dx-form>
		</form>

	</div>
</dx-popup>


<dx-popup
	[width]="300"
	[height]="250"
	[showTitle]="true"
	title="Void SPB"
	[dragEnabled]="false"
	[closeOnOutsideClick]="false"
	[(visible)]="voidPopupVisible">
	<div *dxTemplate="let data of 'content'">
		<form action="" (submit)="voidSubmit($event)" >
			<dx-form id="void" [formData]="currentSpb">

				<dxi-item itemType="group" cssClass="second-group" [colCount]="1" >
					<dxi-item itemType="group">
						<dxi-item dataField="spbNo"   [editorOptions]="{ readOnly: true}" editorType="dxTextBox"></dxi-item>
						<dxi-item dataField="voidReason" editorType="dxTextArea" [editorOptions]="{ height: 90 }" [colSpan]="2" label="Alasan Void">
							<dxi-validation-rule type="required"> </dxi-validation-rule>
						</dxi-item>

					</dxi-item>
					<dxi-item
						itemType="button"
						horizontalAlignment="left"
						[buttonOptions]="{ text: 'VOID', type: 'danger', useSubmitBehavior: true }">
					</dxi-item>
				</dxi-item>

			</dx-form>
		</form>

	</div>
</dx-popup>


<dx-popup
	[width]="300"
	[height]="250"
	[showTitle]="true"
	title="Edit Keterangan"
	[dragEnabled]="false"
	[closeOnOutsideClick]="false"
	[(visible)]="updateDescriptionPopupVisible">
	<div *dxTemplate="let data of 'content'">
		<form action="" (submit)="updateDescriptionSubmit($event)" >
			<dx-form id="updateDescription" [formData]="currentSpb">

				<dxi-item itemType="group" cssClass="second-group" [colCount]="1" >
					<dxi-item itemType="group">
						<dxi-item dataField="spbNo"   [editorOptions]="{ readOnly: true}" editorType="dxTextBox"></dxi-item>
						<dxi-item dataField="Description" editorType="dxTextArea" [editorOptions]="{ height: 90 }" [colSpan]="2" label="Isi Keterangan">
							<dxi-validation-rule type="required"> </dxi-validation-rule>
						</dxi-item>

					</dxi-item>
					<dxi-item
						itemType="button"
						horizontalAlignment="left"
						[buttonOptions]="{ text: 'SAVE', type: 'danger', useSubmitBehavior: true }">
					</dxi-item>
				</dxi-item>

			</dx-form>
		</form>

	</div>
</dx-popup>

<dx-popup
	[width]="300"
	[height]="250"
	[showTitle]="true"
	title="Pilih Print"
	[dragEnabled]="false"
	[closeOnOutsideClick]="false"
	[(visible)]="printPopupVisible">
	<div *dxTemplate="let data of 'content'">
		<form action="" (submit)="PrintResult($event)" >
			<dx-form id="choosePrint" [formData]="currentSpb">
				<dxi-item>
					<dx-select-box [tabIndex]="500" dataField="printText" class="printPriv" searchEnabled="true"
					[(value)]="choosePrint.isiPrint" [dataSource]="this.printPrivResult">
							<dx-validator>
								<dxi-validation-rule type="required"> </dxi-validation-rule>
							</dx-validator>
					</dx-select-box>
				</dxi-item>

				<dxi-item
					itemType="button"
					horizontalAlignment="center"
					[buttonOptions]="{ text: 'PRINT', type: 'danger', useSubmitBehavior: true }">
				</dxi-item>
			</dx-form>
		</form>
	</div>
</dx-popup>