<div class="row">
	<div class="col-12">
		<kt-portlet>
			<kt-portlet-header title="Create Transit Route">
				<ng-container ktPortletTools> </ng-container>
			</kt-portlet-header>

			<kt-portlet-body>
                
                <div class="row  ml-2 mr-3">
                    <div class="col-md">
                        <div class="dx-fieldset">
                            
                            <div class="dx-field" >
                                <div class="dx-field-label">Bandara Asal</div>
                                <div class="dx-field-value" >
                                    <dx-select-box [dataSource]="originStationDs" [searchEnabled]="true" displayExpr="stationName" valueExpr="stationId" [(value)]="formCreate.originStationId" [showClearButton]="true">
                                        <dx-validator>
                                            <dxi-validation-rule type="required"></dxi-validation-rule>
                                        </dx-validator>
                                    </dx-select-box>
                                </div>
                            </div>

                            <!-- <div class="dx-field" >
                                <div class="dx-field-label">No Penerbangan Pertama</div>
                                <div class="dx-field-value" >
                                        <tr>
                                            <td style="width: 30%;">
                                                <dx-select-box [dataSource]="firstFlightCodeDs" [searchEnabled]="true" displayExpr="carrierName" valueExpr="carrierId" [(value)]="formCreate.firstFlightCodeId" [showClearButton]="true" (onValueChanged)="onTriggerChangeFirstCarrier($event)">
                                                    <dx-validator>
                                                        <dxi-validation-rule type="required"></dxi-validation-rule>
                                                    </dx-validator>
                                                </dx-select-box>
                                            </td>

                                            <td style="width: 70%;">
                                                <dx-select-box [dataSource]="firstFlightDs" [searchEnabled]="true" displayExpr="flightNo" valueExpr="flightId" [(value)]="formCreate.firstFlightId" [showClearButton]="true">
                                                    <dx-validator>
                                                        <dxi-validation-rule type="required"></dxi-validation-rule>
                                                    </dx-validator>
                                                </dx-select-box>
                                            </td>                                            
                                        </tr>
                                    </table>
                                </div>
                            </div> -->

                            <div class="dx-field">
                                <div class="dx-field-label">No Penerbangan Pertama</div>
                                <div class="dx-field-value">
                                    <dx-select-box 
                                        [dataSource]="firstFlightDs" 
                                        displayExpr="carrierFlightNo" 
                                        valueExpr="flightId" 
                                        [(value)]="formCreate.firstFlightId" 
                                        [searchEnabled]="true">
                                        <dx-validator>
                                            <dxi-validation-rule type="required"></dxi-validation-rule>
                                        </dx-validator>
                                    </dx-select-box>
                                </div>
                            </div>                            

                            <div class="dx-field" >
                                <div class="dx-field-label">Bandara Transit</div>
                                <div class="dx-field-value">
                                    <dx-select-box
                                        [dataSource]="stationTransitDs"
                                        [searchEnabled]="true"
                                        displayExpr="stationName"
                                        valueExpr="stationId"
                                        [showClearButton]="true"
                                        [(value)]="formCreate.stationTransitId"
                                        (onValueChanged)="onStationTransitChange($event)"
                                    >
                                    <dx-validator>
                                        <dxi-validation-rule type="required"></dxi-validation-rule>
                                        </dx-validator>
                                    </dx-select-box>
                                </div>
                            </div>

                            <div class="dx-field">
                                <div class="dx-field-label">Vendor</div>
                                <div class="dx-field-value">
                                    <dx-select-box 
                                        [dataSource]="vendorTransitDs" 
                                        displayExpr="vendorName" 
                                        valueExpr="vendorTransitId" 
                                        [(value)]="formCreate.vendorTransitId" 
                                        [searchEnabled]="true">
                                        <dx-validator>
                                            <dxi-validation-rule type="required"></dxi-validation-rule>
                                        </dx-validator>
                                    </dx-select-box>
                                </div>
                            </div>

                            <div class="dx-field">
                                <div class="dx-field-label">No Penerbangan Selanjutnya</div>
                                <div class="dx-field-value">
                                    <dx-select-box 
                                        [dataSource]="lastFlightDs" 
                                        displayExpr="carrierFlightNo" 
                                        valueExpr="flightId" 
                                        [(value)]="formCreate.lastFlightId" 
                                        [searchEnabled]="true">
                                        <dx-validator>
                                            <dxi-validation-rule type="required"></dxi-validation-rule>
                                        </dx-validator>
                                    </dx-select-box>
                                </div>
                            </div>

                            <div class="dx-field" >
                                <div class="dx-field-label">Bandara Tujuan</div>
                                <div class="dx-field-value" >
                                    <dx-select-box [dataSource]="finalDestinationStationDs" [searchEnabled]="true" displayExpr="stationName" valueExpr="stationId" [(value)]="formCreate.finalDestinationStationId" [showClearButton]="true">
                                        <dx-validator>
                                            <dxi-validation-rule type="required"></dxi-validation-rule>
                                        </dx-validator>
                                    </dx-select-box>
                                </div>
                            </div>

                            <div class="dx-field">
                                <div class="dx-field-label">Sequence Transit</div>
                                <div class="dx-field-value">
                                    <dx-select-box 
                                        [dataSource]="sequenceTransitDs"
                                        [(value)]="formCreate.sequenceTransit"
                                        [searchEnabled]="true"
                                        [acceptCustomValue]="true"
                                        (onCustomItemCreating)="onCustomItemCreating($event)">
                                    </dx-select-box>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                
                
                <div class="row  ml-2 mr-3">
                    <div class="col-md text-right">
                        <dx-button text="Create" type="default" (onClick)="onSave()"></dx-button>&nbsp;&nbsp;
                        <dx-button text="Kembali" type="danger" (onClick)="onBack()"></dx-button>  
                    </div>
                </div>

			</kt-portlet-body>
		</kt-portlet>

	</div>
</div>