<!-- <div style="float: right;" >
	<div class="option">
		<a href="javascript:;"  (click)="addDataUser()" style="padding: 5%;width: 40px; font-weight: bold;" class="dx-button dx-button-success dx-button-mode-contained dx-widget dx-button-has-text dx-state-hover">+</a>
		
	</div>
</div>
<br/>
<br/>
<br/> -->

<dx-data-grid
id="gridDetailContainer"
[dataSource]="privilegeUserListDs"
[showBorders]="true">

<dxo-filter-row [visible]="true"></dxo-filter-row>
<dxo-header-filter [visible]="true"></dxo-header-filter>

<dxi-column [allowFiltering]="false" [fixed]="true" caption="Action" alignment="left"
								[allowSorting]="false" cellTemplate="cellTemplate"></dxi-column>
					<div *dxTemplate="let data of 'cellTemplate'">
						<dx-drop-down-button
							[dropDownOptions]="{ width: 150 }"
							icon="menu"
							[items]="[ {icon: 'edit' ,key: 'update_user_privilege', value: 'Update', data: data.data} ]"
							(onItemClick)="actionCLick($event)"
							[displayExpr]="'value'"
							[keyExpr]="'key'"
						></dx-drop-down-button>
					</div>

					<dxi-column type="adaptive" [width]="50"></dxi-column>

<dxi-column type="adaptive" [width]="50"></dxi-column>
<dxi-column dataField="username" dataType="string" caption="Username"> </dxi-column>
<dxi-column dataField="email" dataType="string" caption="Email" > </dxi-column>
<dxi-column dataField="placeName" dataType="string" caption="Place Name" > </dxi-column>
<dxi-column dataField="placeAddress" dataType="string" caption="Place Address" > </dxi-column>
</dx-data-grid>


<dx-popup
	[width]="300"
	[height]="250"
	[showTitle]="true"
	title="Update Privilege User"
	[dragEnabled]="false"
	[closeOnOutsideClick]="false"
	[(visible)]="updateUserPrivilegePopupVisible">
	<div *dxTemplate="let data of 'content'">
		
		<form (ngSubmit)="createSubmit($event)">
			<div>
				<div class="row  ml-2 mr-3">
					<div class="col-md">
						<div class="dx-fieldset" style=" width: 100%;">
							<div class="dx-field" >
								<div class="dx-field-label">Username</div>
								<div class="dx-field" >
									<div class="dx-field-value">
										<dx-text-box [(value)]="formChange.username" [disabled]="true"> </dx-text-box>
									</div>
								</div>
							</div>

							<div class="dx-field" >
								<div class="dx-field-label">Privilege Name</div>
								<div class="dx-field-value">
									<dx-select-box
										[dataSource]="privilegeNameDs"
										[searchEnabled]="true"
										displayExpr="privilegeName"
										valueExpr="privilegeId"
										[showClearButton]="true"
										[(value)]="formChange.privilegeId"
									>
									</dx-select-box>
								</div>
							</div>


						</div>
					</div>
					
				</div>

				<div class="row  ml-2 mr-3">
					<div class="col-md text-right">
						<dx-button text="Simpan" type="success" [useSubmitBehavior]="true"></dx-button>
					</div>
				</div>

			</div>

		</form>
	</div>
</dx-popup>

<dx-popup
	[width]="300"
	[height]="250"
	[showTitle]="true"
	title="Tambah Data User Privilege"
	[dragEnabled]="false"
	[closeOnOutsideClick]="false"
	[(visible)]="addDataUserPrivilegePopUp">
	<div *dxTemplate="let data of 'content'">
		
		<form (ngSubmit)="createUserSubmit($event)">
			<div>
				<div class="row  ml-2 mr-3">
					<div class="col-md">
						<div class="dx-fieldset" style=" width: 100%;">
							<div class="dx-field" >
								<div class="dx-field-label">Username</div>
								<div class="dx-field-value">
									<dx-select-box
										[dataSource]="usernameDs"
										[searchEnabled]="true"
										displayExpr="username"
										valueExpr="userId"
										[showClearButton]="true"
										[(value)]="formAddUserPrivilege.userId"
									>
									</dx-select-box>
								</div>
							</div>

							<div class="dx-field" >
								<div class="dx-field-label">Privilege Name</div>
								<div class="dx-field-value">
									<dx-select-box
										[dataSource]="privilegeNameDs"
										[searchEnabled]="true"
										displayExpr="privilegeName"
										valueExpr="privilegeId"
										[showClearButton]="true"
										[(value)]="formAddUserPrivilege.privilegeId"
									>
									</dx-select-box>
								</div>
							</div>

						</div>
					</div>
					
				</div>

				<div class="row  ml-2 mr-3">
					<div class="col-md text-right">
						<dx-button text="Simpan" type="success" [useSubmitBehavior]="true"></dx-button>
					</div>
				</div>

			</div>

		</form>
	</div>
</dx-popup>