<div class="row">
	<div class="col-12">
		<kt-portlet>
			<kt-portlet-header title="Hapus Pembulatan" style="font-size: larger;">
				<ng-container ktPortletTools> </ng-container>
			</kt-portlet-header>
            
			<kt-portlet-body>
                <div class="row  ml-2 mr-3" style="margin-top: -2%;">
                    <div class="col-md">
                        <div class="dx-fieldset">
                            
                            <div class="dx-field">
                                <div class="dx-field-label">Moda</div>
                                <div class="dx-field-value">
                                    <dx-text-box [(value)]="this.carrierId" [disabled]="true"></dx-text-box>
                                </div>
                            </div> 

                            <div class="dx-field">
                                <div class="dx-field-label">Nilai Pertama</div>
                                <div class="dx-field-value">
                                    <dx-text-box [(value)]="this.first_value" [disabled]="true"></dx-text-box>
                                </div>
                            </div> 

                            <div class="dx-field">
                                <div class="dx-field-label">Nilai Akhir</div>
                                <div class="dx-field-value">
                                    <dx-text-box [(value)]="this.last_value" [disabled]="true"></dx-text-box>
                                </div>
                            </div> 

                            <div class="dx-field">
                                <div class="dx-field-label">Nilai Pembualatan</div>
                                <div class="dx-field-value">
                                    <dx-text-box [(value)]="this.final_value" [disabled]="true"></dx-text-box>
                                </div>
                            </div> 

                        </div>
                    </div>
                </div>
               
                <div class="row  ml-2 mr-3">
                    <div class="col-md text-right">
                        <dx-button text="Delete" type="danger" (onClick)="onDelete()"></dx-button>
                        &nbsp;
                        &nbsp;
                        <dx-button text="Kembali" type="default" (onClick)="onBack()"></dx-button>
                    </div>
                </div>

				<!-- </div> -->
			</kt-portlet-body>
		</kt-portlet>

	</div>
</div>