<span  [formGroup]="spbForm">

	<table class="table table-xs table-bordered tarif">
		<tbody>
			<tr>
				<td>Tarif</td>
				<td>
					<dx-number-box [tabIndex]="600" class="tarif" formControlName="rates" (onValueChanged)="CitySubdistrictValue($event)" readOnly="true" format="#,##0.##">
						<dx-validator>
						<dxi-validation-rule type="required"> </dxi-validation-rule>
					</dx-validator>
					</dx-number-box>
				</td>
			</tr>
			<tr>
				<td>Packing</td>
				<td>
					<dx-number-box [tabIndex]="600" formControlName="packing" class="tarif" (onValueChanged)="CalculateTotalPrice($event)" format="#,##0.##" ></dx-number-box>
				</td>
			</tr>
			<tr>
				<td>Karantina</td>
				<td>
					<dx-text-box [tabIndex]="600" formControlName="quarantine" class="tarif" (onValueChanged)="CalculateTotalPrice($event)"></dx-text-box>
				</td>
			</tr>
			<tr>
				<td>lain - Lain</td>
				<td>
					<dx-text-box [tabIndex]="600" formControlName="etc" (onValueChanged)="CalculateTotalPrice($event)" class="tarif"></dx-text-box>
				</td>
			</tr>
			<tr>
				<td>PPN</td>
				<td>
					<div class="row">
					<div class="col-6">
						<dx-text-box [tabIndex]="600" formControlName="ppn" (onValueChanged)="CalculateTotalPrice($event)"  class="tarif"></dx-text-box>
					</div>
					<div class="col-6">
						<dx-text-box [tabIndex]="600" formControlName="ppnValue" class="tarif" readOnly="readOnly"></dx-text-box>
					</div>

					</div>

				</td>
			</tr>
			<tr>
				<td>Disc.</td>
				<td>
					<div class="row">
						<div class="col-6"><dx-text-box [tabIndex]="600" formControlName="discount" (onValueChanged)="CalculateTotalPrice($event)"   class="tarif"></dx-text-box></div>
						<div class="col-6"><dx-text-box [tabIndex]="600" formControlName="discountValue"  class="tarif" readOnly="readOnly"></dx-text-box></div>
					</div>
				</td>
			</tr>

		</tbody>


	</table>

	<br />

	<table class="table table-xs table-bordered tarif">
		<tbody>
			<tr>
				<td>Total Bayar</td>
				<td>
					<dx-number-box [tabIndex]="600" class="tarif" formControlName="totalPrice" readOnly="true" format="#,##0.##">
						<dx-validator>
						<dxi-validation-rule type="required"> </dxi-validation-rule>
					</dx-validator>
					</dx-number-box>
				</td>
			</tr>
			<tr>
				<td>Cara Bayar</td>
				<td>
					<dx-select-box (click)="getPm()" [tabIndex]="600" class="komoditi" formControlName="paymentMethod"
								   [dataSource]="pmDs" displayExpr="lookupValue"
								   valueExpr="lookupKey" >
						<dx-validator>
						<dxi-validation-rule type="required"> </dxi-validation-rule>
					</dx-validator>
					</dx-select-box>
				</td>
			</tr>


		</tbody>
	</table>

</span>
