<div class="row">
	<div class="col-12">
		<kt-portlet>

           <div style="padding-left:2%;padding-top:2%;">
                <div style="width: 98%">
                    <label id="formDetail.manifestCarrierNo" style="color: black; font-size: large;" class="dx-fieldset-header" >&nbsp;</label>
                    <!-- <label style="float: right;color: black; font-size: large;" class="dx-fieldset-header" [onClick]="detailData">List Revisi</label> -->
                    <dx-button text="List Revisi" style="float: right;color: black; font-size: large;" class="dx-fieldset-header" type="primary" (onClick)="detailData()"></dx-button>
                </div>
                <div style="width: 98%; border-bottom: 1px solid lightgray;"></div>
           </div>
           
			<kt-portlet-body style="margin-top: -2%;">
            
				<div>
                    <div class="row  ml-2 mr-3">
                        <div class="col-md">
                            <div class="dx-fieldset" style=" width: 100%;">
                                <div class="dx-fieldset-header">Bandara</div>
            
                                <!-- <div class="dx-field" >
                                    <div class="dx-field-label">Periode Manifest</div>
                                    <div class="dx-field-value">
                                        <dx-text-box [(value)]="formDetail.periode_start" [readOnly]="true"></dx-text-box>
                                    </div>
                                    <div class="dx-field-value" style="padding-top: 0.5%;">
                                        <dx-text-box [(value)]="formDetail.periode_end" [readOnly]="true"></dx-text-box>
                                    </div>
                                </div> -->
            
                               <div class="dx-field" >
                                    <div class="dx-field-label">Bandara Origin</div>
                                    <div class="dx-field-value">
                                        <dx-text-box [(value)]="formDetail.originStation" [readOnly]="true"></dx-text-box>
                                    </div>
                                </div>
            
                                <div class="dx-field" >
                                    <div class="dx-field-label">Kota Origin</div>
                                    <div class="dx-field-value">
                                        <table style="width: 100%;">
                                            <tr>
                                                <td style="width: 70%;">
                                                    <dx-text-box [(value)]="formDetail.originCity" [readOnly]="true"></dx-text-box>
                                                </td>
                                                <td style="width: 30%;">
                                                    <dx-text-box [(value)]="formDetail.originVendor" [readOnly]="true"></dx-text-box>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
            
                                 <div class="dx-field" >
                                    <div class="dx-field-label">Bandara Tujuan</div>
                                    <div class="dx-field-value">
                                        <dx-text-box [(value)]="formDetail.destinationStation" [readOnly]="true"></dx-text-box>
                                    </div>
                                </div>
                               
                                <div class="row mt-2"  *ngFor="let item of manifestCarrierItemData; let i = index">
									<div class="col-md">
										<div class="dx-field" >
											<div class="dx-field-label">#{{i+1}} Kota Tujuan Manifest - {{item.manifestNo}}</div>
											<div class="dx-field-value">
												<table style="width: 100%;">
													<tr>
														<td style="width: 70%;">
															<dx-text-box value="{{ item.masterCityName }}" [readOnly]="true"></dx-text-box>
														</td>
														<td style="width: 30%;">
															<dx-text-box value="{{ item.vendorName }}" [readOnly]="true"></dx-text-box>
														</td>
													</tr>
												</table>
												
											</div>
										</div>
									</div>
								</div>
                                    
                                <br/>
            
                                <div class="dx-field" >
                                    <div class="dx-field-label">Bandara Transit 1</div>
                                    <div class="dx-field-value">
                                        <table style="width: 100%;">
                                            <tr>
                                                <td style="width: 70%;">
                                                    <dx-text-box [(value)]="formDetail.firstStationTransit" [readOnly]="true"></dx-text-box>
                                                </td>
                                                <td style="width: 30%;">
                                                    <dx-text-box [(value)]="formDetail.firstVendorTransit" [readOnly]="true"></dx-text-box>
                                                </td>
                                                
                                            </tr>
                                        </table>
                                    </div>
                                </div>
            
                                <div class="dx-field" >
                                    <div class="dx-field-label">Bandara Transit 2</div>
                                    <div class="dx-field-value">
                                        <table style="width: 100%;">
                                            <tr>
                                                <td style="width: 70%;">
                                                    <dx-text-box [(value)]="formDetail.secondStationTransit" [readOnly]="true"></dx-text-box>
                                                </td>
                                                <td style="width: 30%;">
                                                    <dx-text-box [(value)]="formDetail.secondVendorTransit" [readOnly]="true"></dx-text-box>
                                                </td>
                                                
                                            </tr>
                                        </table>
                                    </div>
                                </div>
            
                                <div class="dx-field" >
                                    <div class="dx-field-label">Bandara Transit 3</div>
                                    <div class="dx-field-value">
                                        <table style="width: 100%;">
                                            <tr>
                                                <td style="width: 70%;">
                                                    <dx-text-box [(value)]="formDetail.thirdStationTransit" [readOnly]="true"></dx-text-box>
                                                </td>
                                                <td style="width: 30%;">
                                                    <dx-text-box [(value)]="formDetail.thirdVendorTransit" [readOnly]="true"></dx-text-box>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                                                            
                            </div>
                        </div>
                         <div class="col-md">
                            <div class="dx-fieldset" style=" width: 100%;">
                                <div class="dx-fieldset-header">Carrier</div>
                                <div class="dx-field" >
                                    <div class="dx-field-label">No. SMU</div>
                                    <div class="dx-field-value">
                                        <dx-text-box [(value)]="formDetail.noSmu" [readOnly]="true"></dx-text-box>
                                    </div>
                                </div>
                                
            
                                <div class="dx-field" >
                                    <div class="dx-field-label">Flight Date</div>
                                    <div class="dx-field-value">
                                        <dx-text-box [(value)]="formDetail.flightDate" [readOnly]="true"></dx-text-box>
                                    </div>
                                </div>
            
                                <div class="dx-field" >
                                    <div class="dx-field-label">Moda</div>
                                    <div class="dx-field-value">
                                        <table style="width: 100%;">
                                            <tr>
                                                <td style="width: 30%;">
                                                    <dx-text-box [(value)]="formDetail.modaName" [readOnly]="true"></dx-text-box>
                                                </td>
            
                                                <td style="width: 30%;">
                                                    <div class="dx-field-label" style="padding-left: 5%;width:100%;">Vendor Carrier</div>
                                                </td>
            
                                                <td style="width: 40%;">
                                                    <dx-text-box [(value)]="formDetail.vendorCarrier" [readOnly]="true"></dx-text-box>
                                                </td>
                                                
                                            </tr>
                                        </table>
                                    </div>
                                </div>
            
                                <div class="dx-field" >
                                    <div class="dx-field-label">No. Penerbangan 1</div>
                                    <div class="dx-field-value">
                                        <table style="width: 100%;">
                                            <tr>
            
                                                <td style="width: 30%;">
                                                    <dx-text-box [(value)]="formDetail.firstFlightCode" [readOnly]="true"></dx-text-box>
                                                </td>
            
                                                <td style="width: 70%;">
                                                    <dx-text-box [(value)]="formDetail.firstFlightNo" [readOnly]="true"></dx-text-box>
                                                </td>
                                                
                                            </tr>
                                        </table>
                                    </div>
                                </div>
            
                                <div class="dx-field" >
                                    <div class="dx-field-label">No. Penerbangan 2</div>
                                    <div class="dx-field-value">
                                        <table style="width: 100%;">
                                            <tr>
            
                                                <td style="width: 30%;">
                                                    <dx-text-box [(value)]="formDetail.secondFlightCode" [readOnly]="true"></dx-text-box>
                                                </td>
            
                                                <td style="width: 70%;">
                                                    <dx-text-box [(value)]="formDetail.secondFlightNo" [readOnly]="true"></dx-text-box>
                                                </td>
                                                
                                            </tr>
                                        </table>
            
                                    </div>
                                </div>
            
                                <div class="dx-field" >
                                    <div class="dx-field-label">No. Penerbangan 3</div>
                                    <div class="dx-field-value">
                                        <table style="width: 100%;">
                                            <tr>
                                                <td style="width: 30%;">
                                                    <dx-text-box [(value)]="formDetail.thirdFlightCode" [readOnly]="true"></dx-text-box>
                                                </td>
            
                                                <td style="width: 70%;">
                                                    <dx-text-box [(value)]="formDetail.thirdFlightNo" [readOnly]="true"></dx-text-box>
                                                </td>
                                                
                                            </tr>
                                        </table>
            
                                    </div>
                                </div>
            
                                <div class="dx-field" >
                                    <div class="dx-field-label">No. Penerbangan 4</div>
                                    <div class="dx-field-value">
                                        <table style="width: 100%;">
                                            <tr>
                                                <td style="width: 30%;">
                                                    <dx-text-box [(value)]="formDetail.fourthFlightCode" [readOnly]="true"></dx-text-box>
                                                </td>
            
                                                <td style="width: 70%;">
                                                    <dx-text-box [(value)]="formDetail.fourthFlightNo" [readOnly]="true"></dx-text-box>
                                                </td>
                                                
                                            </tr>
                                        </table>
            
                                    </div>
                                </div>
            
                                <div class="dx-field" >
                                    <div class="dx-field-label">PPN</div>
                                    <div class="dx-field-value">
                                        <table style="width: 100%;">
                                            <tr>
                                                <td style="width: 50%;">
                                                    <dx-text-box [(value)]="formDetail.ppn" [readOnly]="true"></dx-text-box>
                                                </td>
                                                <td style="width: 50%;">&nbsp;</td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
            
                                <div class="dx-field" >
                                    <div class="dx-field-label">Tarif SMU</div>
                                    <div class="dx-field-value">
                                        <dx-text-box [(value)]="formDetail.cost_smu" [readOnly]="true"></dx-text-box>
                                    </div>
                                </div>

                            </div>
                        </div>						 
            
                    </div>
            <hr/>
                   <div class="row  ml-2 mr-3">
                        <div class="col-md">
                            <div class="dx-fieldset" style=" width: 100%;">
                                <div class="dx-fieldset-header">Manifest</div>
                               
                                <div class="row mt-2"  *ngFor="let itemDetail of manifestCarrierItemData; let ix = index">

                                    <div class="col-md-2">
                                        <div class="dx-field" >
                                            <div class="dx-field-label">{{ix+1}}. Manifest</div>
                                            <div class="dx-field-value">
                                                <dx-text-box value="{{ itemDetail.manifestNo }}" [readOnly]="true"></dx-text-box>
                                            </div>
                                        </div>
                                    </div>
            
                                    <div class="col-md">
                                        <div class="dx-field" >
                                            <div class="dx-field-label">{{ix+1}}. Koli
                                            </div>
                                            <div class="dx-field-value">
                                                <dx-text-box value="{{ itemDetail.koli }}" [readOnly]="true"></dx-text-box>
                                            </div>
            
                                        </div>
                                    </div>
            
                                    <div class="col-md">
                                        <div class="dx-field" >
                                            <div class="dx-field-label">{{ix+1}}. Aw
                                            </div>
                                            <div class="dx-field-value">
                                                <dx-text-box value="{{ itemDetail.aw }}" [readOnly]="true"></dx-text-box>
                                            </div>
            
                                        </div>
                                    </div>
            
                                    <div class="col-md">
                                        <div class="dx-field" >
                                            <div class="dx-field-label">{{ix+1}}. Caw
                                            </div>
                                            <div class="dx-field-value">
                                                <dx-text-box value="{{ itemDetail.caw }}" [readOnly]="true"></dx-text-box>
                                            </div>
            
                                        </div>
                                    </div>
            
                                    <div class="col-md-2">
                                        <div class="dx-field" >
                                            <div class="dx-field-label">{{ix+1}}. Koli<br/>Manifest<br/>Di Kenakan
                                            </div>
                                            <div class="dx-field-value">
                                                <dx-text-box value="{{ itemDetail.koliFinal }}" [readOnly]="true"></dx-text-box>         
                                            </div>
            
                                        </div>
                                    </div>
            
            
                                    <div class="col-md-2">
                                        <div class="dx-field" >
                                            <div class="dx-field-label">{{ix+1}}. Berat<br/>Manifest<br/>Di Kenakan
                                            </div>
                                            <div class="dx-field-value">
                                                <dx-text-box value="{{ itemDetail.cawFinal }}" [readOnly]="true"></dx-text-box>         
                                            </div>
            
                                        </div>
                                    </div>
                                    
                                    <div class="col-md-2">
                                        <div class="dx-field" >
                                            <div class="dx-field-label">{{ix+1}}. Berat BTB
                                            </div>
                                            <div class="dx-field-value">
                                                <dx-text-box value="{{ itemDetail.finalWeightSMU }}" [readOnly]="true"></dx-text-box>        
                                            </div>
            
                                        </div>
                                    </div>
                                    
                                </div>

                                <hr/>
            
                                <div class="row">
                                    <div class="col-md-4"> </div>
                                    <div class="col-md-4"> 
                                        <div class="dx-field">
                                            <div class="dx-field-label"><b>TOTAL Koli Final SMU</b>
                                            </div>
                                            <div class="dx-field-value" >
                                                <dx-text-box [(value)]="formDetail.totalKoliFinal" [readOnly]="true"></dx-text-box>       
                                            </div>
            
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="dx-field">
                                            <div class="dx-field-label" ><b>TOTAL Berat Final SMU</b>
                                            </div>
                                            <div class="dx-field-value" >
                                                <dx-text-box [(value)]="formDetail.totalFinalWeightSMU" [readOnly]="true"></dx-text-box>           
                                            </div>
            
                                        </div>
                                    </div>
									
                                </div>
                                
                            </div>
                        </div>
            
                    </div>

                    <div class="row  ml-2 mr-3">
						<div class="col-md">
							<div class="dx-fieldset" style=" width: 100%;">
								<div class="dx-fieldset-label">Alasan Koli Dikenakan di Input Berbeda dengan Jumlah yang Tersedia</div>
								<dx-text-area
									class="mandatory-text-box"
									[height]="90"
									[maxLength]="255"
                                    [readOnly]="true"
									[(value)]="formDetail.reasonKoli" >
								</dx-text-area>
							</div>
						</div>
						<div class="col-md">
							<div class="dx-fieldset" style=" width: 100%;">
								<div class="dx-fieldset-label">Alasan Berat Manifest Dikenakan di Input Berbeda dengan Jumlah yang Tersedia</div>
								<dx-text-area
									class="mandatory-text-box"
									[height]="90"
									[maxLength]="255"
                                    [readOnly]="true"
									[(value)]="formDetail.reasonManifest">
								</dx-text-area>
							</div>
						</div>
					</div>

                    <div class="row  ml-2 mr-3">
                        <div class="col-md">    

                            <div class="dx-fieldset" style=" width: 100%;">
                                <div class="dx-fieldset-label">Approve By</div>
                                <dx-text-box [(value)]="formDetail.approvedBy" [readOnly]="true">
                                </dx-text-box>
                            </div>
        
                            <div class="dx-fieldset" style=" width: 100%;">
                                <div class="dx-fieldset-label">Alasan Total Berat Final SMU Lebih Besar dari Jumlah Maksimal SMU</div>
                                <dx-text-area
                                    [height]="90"
                                    [maxLength]="255"
                                    [(value)]="formDetail.reasonSMU" [readOnly]="true">
                                </dx-text-area>
                            </div>
        
                        </div>
                    </div>

                    <hr/>
            
                </div>

               
                <div class="row  ml-2 mr-3">
                    <div class="col-md text-right">
                        <dx-button text="Revisi" type="success" *ngIf="this.isButtonVisible"  (onClick)="onRevise()"></dx-button>&nbsp;&nbsp;
                        <dx-button text="Kembali" type="default" (onClick)="onBack()"></dx-button>
                    </div>
                </div>

				<!-- </div> -->
			</kt-portlet-body>
		</kt-portlet>

	</div>
</div>





<!-- <form (ngSubmit)="createSubmit($event)">
    <div>
        <div class="row  ml-2 mr-3">
            <div class="col-md">
                <div class="dx-fieldset" style=" width: 100%;">
                    <div class="dx-fieldset-header">Bandara</div>

                    <div class="dx-field" >
                        <div class="dx-field-label">Periode Manifest</div>
                        <div class="dx-field-value">
                            <dx-date-box 
                                [(max)]="formDetail.endDate"
                                [(value)]="formDetail.startDate"
                                (onValueChanged)="onTriggerChangeManifest($event)"
                                [useMaskBehavior]="true"
                                displayFormat="dd-MMM-yyyy"
                                [showClearButton]="true">
                                <dx-validator>
                                    <dxi-validation-rule type="required" ></dxi-validation-rule>
                                </dx-validator>
                            </dx-date-box>
                        </div>
                        <div class="dx-field-value" style="padding-top: 0.5%;">
                            <dx-date-box 
                                [(min)]="formDetail.startDate"
                                [(value)]="formDetail.endDate"
                                (onValueChanged)="onTriggerChangeManifest($event)"
                                [useMaskBehavior]="true"
                                displayFormat="dd-MMM-yyyy"
                                [showClearButton]="true">
                                <dx-validator>
                                    <dxi-validation-rule type="required" ></dxi-validation-rule>
                                </dx-validator>
                            </dx-date-box>
                        </div>
                    </div>

                    <div class="dx-field" >
                        <div class="dx-field-label">Bandara Origin</div>
                        <div class="dx-field-value">
                            <dx-select-box
                                [dataSource]="stationOriginDs"
                                [searchEnabled]="true"
                                displayExpr="stationName"
                                valueExpr="stationId"
                                [(value)]="formDetail.originStationId"
                                (onValueChanged)="onTriggerChangeOriginCity($event)"
                                [showClearButton]="true"
                            >
                            <dx-validator>
                                <dxi-validation-rule type="required"></dxi-validation-rule>
                            </dx-validator>
                            </dx-select-box>
                        </div>
                    </div>

                    <div class="dx-field" >
                        <div class="dx-field-label">Kota Origin</div>
                        <div class="dx-field-value">
                            <table style="width: 100%;">
                                <tr>
                                    <td style="width: 70%;">
                                        <div style="width: 100%; border:1px dashed #D3D3D3;float: left;border-radius: 3px;">
                                            <label id="formDetail.originCityName" style="padding-top:0.5%;padding-left:0.5%;" >&nbsp;</label>
                                        </div>
                                    </td>
                                    <td style="width: 30%;">
                                        <dx-select-box
                                            [dataSource]="vendorOriginDs"
                                            [searchEnabled]="true"
                                            displayExpr="vendorName"
                                            valueExpr="vendorId"
                                            [(value)]="formDetail.vendorOriginId"
                                            [showClearButton]="true"
                                        >
                                        <dx-validator>
                                            <dxi-validation-rule type="required"></dxi-validation-rule>
                                        </dx-validator>
                                        </dx-select-box>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>

                    <div class="dx-field" >
                        <div class="dx-field-label">Bandara Tujuan</div>
                        <div class="dx-field-value">
                            <dx-select-box
                                [dataSource]="stationDestinationDs"
                                [searchEnabled]="true"
                                displayExpr="stationName"
                                valueExpr="stationId"
                                [(value)]="formDetail.destinationStationId"
                                (onValueChanged)="onTriggerChangeDestinationCity($event)"
                                [showClearButton]="true"
                            >
                                <dx-validator>
                                    <dxi-validation-rule type="required"></dxi-validation-rule>
                                </dx-validator>
                            </dx-select-box>
                        </div>
                    </div>

                    <div class="row mt-2"  *ngFor="let item of selectedRowsDataManifest; let i = index">
                        <div class="col-md">
                            <div class="dx-field" >
                                <div class="dx-field-label">#{{i+1}} Kota Tujuan Manifest - {{manifestNoFormat(item)}}</div>
                                <div class="dx-field-value">
                                    <table style="width: 100%;">
                                        <tr>
                                            <td style="width: 70%;">
                                                <dx-text-box [(value)]="formDetail.manifests[i].destinationCityName" [readOnly]="true"></dx-text-box>
                                            </td>
                                            <td style="width: 30%;">
                                                <dx-select-box
                                                    [dataSource]="vendorDestinationDs"
                                                    [searchEnabled]="true"
                                                    displayExpr="vendorName"
                                                    valueExpr="vendorId"
                                                    [(value)]="formDetail.manifests[i].vendorDestinationId"
                                                    [showClearButton]="true"
                                                >
                                                <dx-validator>
                                                    <dxi-validation-rule type="required"></dxi-validation-rule>
                                                </dx-validator>
                                                </dx-select-box>
                                            </td>
                                        </tr>
                                    </table>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                        
                    <br/>

                    <div class="dx-field" >
                        <div class="dx-field-label">Bandara Transit 1</div>
                        <div class="dx-field-value">
                            <table style="width: 100%;">
                                <tr>
                                    <td style="width: 70%;">
                                        <div style="width: 100%; border:1px dashed #D3D3D3;float: left;border-radius: 3px;">
                                            <label id="formDetail.firstStationTransitName" style="padding-top:0.5%;padding-left:0.5%;" >&nbsp;</label>
                                        </div>
                                    </td>
                                    <td style="width: 30%;">
                                        <div style="width: 100%; border:1px dashed #D3D3D3;float: left;border-radius: 3px;">
                                            <label id="formDetail.firstVendorTransitName" style="padding-top:0.5%;padding-left:0.5%;" >&nbsp;</label>
                                        </div>
                                    </td>
                                    
                                </tr>
                            </table>
                        </div>
                    </div>

                    <div class="dx-field" >
                        <div class="dx-field-label">Bandara Transit 2</div>
                        <div class="dx-field-value">
                            <table style="width: 100%;">
                                <tr>
                                    <td style="width: 70%;">
                                        <div style="width: 100%; border:1px dashed #D3D3D3;float: left;border-radius: 3px;">
                                            <label id="formDetail.secondStationTransitName" style="padding-top:0.5%;padding-left:0.5%;" >&nbsp;</label>
                                        </div>
                                    </td>
                                    <td style="width: 30%;">
                                        <div style="width: 100%; border:1px dashed #D3D3D3;float: left;border-radius: 3px;">
                                            <label id="formDetail.secondVendorTransitName" style="padding-top:0.5%;padding-left:0.5%;" >&nbsp;</label>
                                        </div>
                                    </td>
                                    
                                </tr>
                            </table>
                        </div>
                    </div>

                    <div class="dx-field" >
                        <div class="dx-field-label">Bandara Transit 3</div>
                        <div class="dx-field-value">
                            <table style="width: 100%;">
                                <tr>
                                    <td style="width: 70%;">
                                        <div style="width: 100%; border:1px dashed #D3D3D3;float: left;border-radius: 3px;">
                                            <label id="formDetail.thirdStationTransitName" style="padding-top:0.5%;padding-left:0.5%;" >&nbsp;</label>
                                        </div>
                                    </td>
                                    <td style="width: 30%;">
                                        <div style="width: 100%; border:1px dashed #D3D3D3;float: left;border-radius: 3px;">
                                            <label id="formDetail.thirdVendorTransitName" style="padding-top:0.5%;padding-left:0.5%;" >&nbsp;</label>
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                                                
                </div>
            </div>
            <div class="col-md">
                <div class="dx-fieldset" style=" width: 100%;">
                    <div class="dx-fieldset-header">Carrier</div>
                    <div class="dx-field" >
                        <div class="dx-field-label">No. SMU</div>
                        <div class="dx-field-value">
                            <dx-text-box [(value)]="formDetail.noSmu" > 
                                <dx-validator>
                                    <dxi-validation-rule type="required"></dxi-validation-rule>
                                </dx-validator>
                            </dx-text-box>
                        </div>
                    </div>
                    

                    <div class="dx-field" >
                        <div class="dx-field-label">Flight Date</div>
                        <div class="dx-field-value">
                            <dx-date-box
                                [showClearButton]="true"
                                [useMaskBehavior]="true"
                                displayFormat="dd-MMM-yyyy"
                                [(value)]="formDetail.flightDate"
                            >
                                <dx-validator>
                                    <dxi-validation-rule type="required" ></dxi-validation-rule>
                                </dx-validator>
                            </dx-date-box>
                        </div>
                    </div>

                    <div class="dx-field" >
                        <div class="dx-field-label">Moda</div>
                        <div class="dx-field-value">
                            <table style="width: 100%;">
                                <tr>
                                    <td style="width: 30%;">
                                        <dx-select-box
                                            [dataSource]="modaDs"
                                            [searchEnabled]="true"
                                            displayExpr="modaName"
                                            valueExpr="modaId"
                                            [showClearButton]="true"
                                            [(value)]="formDetail.modaId"
                                            (onValueChanged)="onTriggerChangeVendor($event)"
                                        >
                                        <dx-validator>
                                            <dxi-validation-rule type="required"></dxi-validation-rule>
                                        </dx-validator>
                                        </dx-select-box>
                                    </td>

                                    <td style="width: 20%;">
                                        <div class="dx-field-label" style="padding-left: 5%;width:100%;">Vendor Carrier</div>
                                    </td>

                                    <td style="width: 50%;">
                                        <dx-select-box
                                            [dataSource]="vendorCarrierDs"
                                            [searchEnabled]="true"
                                            displayExpr="vendorName"
                                            valueExpr="vendorId"
                                            [(value)]="formDetail.vendorCarrierId"
                                            (onValueChanged)="onTriggerChangeFirstCarrierCode($event)"
                                            [showClearButton]="true"
                                        >
                                            <dx-validator>
                                                <dxi-validation-rule type="required"></dxi-validation-rule>
                                            </dx-validator>
                                        </dx-select-box>
                                    </td>
                                    
                                </tr>
                            </table>
                        </div>
                    </div>

                    <div class="dx-field" >
                        <div class="dx-field-label">No. Penerbangan 1</div>
                        <div class="dx-field-value">
                            <table style="width: 100%;">
                                <tr>

                                    <td style="width: 30%;">
                                        <dx-select-box
                                            [dataSource]="firstCarrierCodeDs"
                                            [searchEnabled]="true"
                                            displayExpr="carrierCode"
                                            valueExpr="carrierId"
                                            [showClearButton]="true"
                                            [(value)]="formDetail.firstCarrierCodeId"
                                            (onValueChanged)="onTriggerChangeFirstFlightNo($event)"
                                        >
                                        <dx-validator>
                                            <dxi-validation-rule type="required"></dxi-validation-rule>
                                        </dx-validator>
                                        </dx-select-box>
                                    </td>

                                    <td style="width: 70%;">
                                        <dx-select-box
                                            [dataSource]="firstFlightNoDs"
                                            [searchEnabled]="true"
                                            displayExpr="flightNo"
                                            valueExpr="flightId"
                                            [showClearButton]="true"
                                            [(value)]="formDetail.firstFlightId"
                                            (onValueChanged)="onTriggerChangeSecondCarrierCode($event)"
                                        >
                                            <dx-validator>
                                                <dxi-validation-rule type="required"></dxi-validation-rule>
                                            </dx-validator>
                                        </dx-select-box>
                                    </td>
                                    
                                </tr>
                            </table>
                        </div>
                    </div>

                    <div class="dx-field" >
                        <div class="dx-field-label">No. Penerbangan 2</div>
                        <div class="dx-field-value">
                            <table style="width: 100%;">
                                <tr>

                                    <td style="width: 30%;">
                                        <dx-select-box
                                            [dataSource]="secondCarrierCodeDs"
                                            [searchEnabled]="true"
                                            displayExpr="carrierCode"
                                            valueExpr="carrierId"
                                            [showClearButton]="true"
                                            [(value)]="formDetail.secondCarrierCodeId"
                                            (onValueChanged)="onTriggerChangeSecondFlightNo($event)"
                                        >
                                        </dx-select-box>
                                    </td>

                                    <td style="width: 70%;">
                                        <dx-select-box
                                            [dataSource]="secondFlightNoDs"
                                            [searchEnabled]="true"
                                            displayExpr="flightNo"
                                            valueExpr="flightId"
                                            [showClearButton]="true"
                                            [(value)]="formDetail.secondFlightId"
                                            (onValueChanged)="onTriggerChangeFirstTransit($event)"
                                        >
                                        </dx-select-box>
                                    </td>
                                    
                                </tr>
                            </table>

                        </div>
                    </div>

                    <div class="dx-field" >
                        <div class="dx-field-label">No. Penerbangan 3</div>
                        <div class="dx-field-value">
                            <table style="width: 100%;">
                                <tr>
                                    <td style="width: 30%;">
                                        <dx-select-box
                                            [dataSource]="thirdCarrierCodeDs"
                                            [searchEnabled]="true"
                                            displayExpr="carrierCode"
                                            valueExpr="carrierId"
                                            [showClearButton]="true"
                                            [(value)]="formDetail.thirdCarrierCodeId"
                                            (onValueChanged)="onTriggerChangeThirdFlightNo($event)"
                                        >
                                        </dx-select-box>
                                    </td>

                                    <td style="width: 70%;">
                                        <dx-select-box
                                            [dataSource]="thirdFlightNoDs"
                                            [searchEnabled]="true"
                                            displayExpr="flightNo"
                                            valueExpr="flightId"
                                            [showClearButton]="true"
                                            [(value)]="formDetail.thirdFlightId"
                                            (onValueChanged)="onTriggerChangeSecondTransit($event)"
                                        >
                                        </dx-select-box>
                                    </td>
                                    
                                </tr>
                            </table>

                        </div>
                    </div>

                    <div class="dx-field" >
                        <div class="dx-field-label">No. Penerbangan 4</div>
                        <div class="dx-field-value">
                            <table style="width: 100%;">
                                <tr>
                                    <td style="width: 30%;">
                                        <dx-select-box
                                            [dataSource]="fourthCarrierCodeDs"
                                            [searchEnabled]="true"
                                            displayExpr="carrierCode"
                                            valueExpr="carrierId"
                                            [showClearButton]="true"
                                            [(value)]="formDetail.fourthCarrierCodeId"
                                            (onValueChanged)="onTriggerChangeFourthFlightNo($event)"
                                        >
                                        </dx-select-box>
                                    </td>

                                    <td style="width: 70%;">
                                        <dx-select-box
                                            [dataSource]="fourthFlightNoDs"
                                            [searchEnabled]="true"
                                            displayExpr="flightNo"
                                            valueExpr="flightId"
                                            [showClearButton]="true"
                                            [(value)]="formDetail.fourthFlightId"
                                            (onValueChanged)="onTriggerChangeThirdTransit($event)"
                                        >
                                        </dx-select-box>
                                    </td>
                                    
                                </tr>
                            </table>

                        </div>
                    </div>

                    <div class="dx-field" >
                        <div class="dx-field-label">PPN</div>
                        <div class="dx-field-value">
                            <table style="width: 100%;">
                                <tr>
                                    <td style="width: 50%;">
                                        <dx-select-box
                                            [dataSource]="ppnDs"
                                            [searchEnabled]="true"
                                            displayExpr="ppnValue"
                                            valueExpr="ppnId"
                                            [showClearButton]="true"
                                            [(value)]="formDetail.ppnId"
                                        >
                                        </dx-select-box>
                                    </td>
                                    <td style="width: 50%;">&nbsp;</td>
                                </tr>
                            </table>
                        </div>
                    </div>

                    <div class="dx-field" >
                        <div class="dx-field-label">SMU</div>
                        <div class="dx-field-value">
                            <dx-number-box
                            [(value)]="formDetail.costSMU" 
                            [min]="0"
                            [showSpinButtons]="true"
                        ></dx-number-box>
                        </div>
                    </div>

                </div>
            </div>						

        </div>

        <div class="row  ml-2 mr-3">
            <div class="col-md">
                <div class="dx-fieldset" style=" width: 100%;">
                    <div class="dx-fieldset-header">Manifest</div>
                    <div class="row">
                        <div class="col-md-10">
                            <div class="dx-field" >
                                <div class="dx-field-label">Pilih Manifest</div>
                                <div class="dx-field-value">
                                    <dx-drop-down-box [attr.id]="'11'"
                                                      [(value)]="manifest1Id"
                                                      valueExpr="manifestId"
                                                      [deferRendering]="false"
                                                      [displayExpr]="ColManifestNo"
                                                      placeholder="Select a value..."
                                                      [showClearButton]="false"
                                                      [dataSource]="manifest1Ds"
                                                      (onValueChanged)="onValueChanged($event, 'manifest1')"
                                                      [dropDownOptions]="{width: 900}"
                                                      contentTemplate="contentManifest1"

                                    >

                                        <div *dxTemplate="let data of 'contentManifest1'" [attr.id]="'111'">
                                            <dx-data-grid [attr.id]="'1111'"
                                                          [dataSource]="manifest1Ds"
                                                          [selection]="{ mode: 'multiple', allowSelectAll: false}"
                                                          [hoverStateEnabled]="true"
                                                          [paging]="{ enabled: true, pageSize: 10 }"
                                                          [filterRow]="{ visible: true }"
                                                          [(selectedRowKeys)]="manifest1Id"
                                                          (onSelectionChanged)="onSelectionChangedManifest($event)"
                                                          height="100%"
                                            >
                                                <dxi-column dataField="createdAtLocal"  dataType="date" format="dd-MMM-yyyy"  caption="Tanggal" > </dxi-column>
                                                <dxi-column dataField="manifestNo" dataType="string" caption="Manifest No."> </dxi-column>
                                                <dxi-column dataField="sisaKoliFinal" dataType="string" caption="Koli" width="100"> </dxi-column>
                                                <dxi-column dataField="sumAw" dataType="number" caption="Aw" width="100"> </dxi-column>
                                                <dxi-column dataField="sisaCawFinal" dataType="string" caption="Caw" width="100"> </dxi-column>
                                                <dxi-column dataField="originCityName" dataType="string" caption="Kota Asal" > </dxi-column>
                                                <dxi-column dataField="destinationCityName" dataType="string" caption="Kota Tujuan"> </dxi-column>
                                            </dx-data-grid>
                                        </div>
                                    </dx-drop-down-box>

                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="row mt-2"  *ngFor="let item of selectedRowsDataManifest; let i = index">
                        <div class="col-md-2">
                            <div class="dx-field" >
                                <div class="dx-field-label">{{i+1}}. Manifest</div>
                                <div class="dx-field-value">
                                    <dx-text-box [value]="manifestNoFormat(item)" [readOnly]="true"  ></dx-text-box>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-1">
                            <div class="dx-field" >
                                <div class="dx-field-label">{{i+1}}. Koli
                                </div>
                                <div class="dx-field-value">
                                    <dx-text-box [(value)]="formDetail.manifests[i].sisaKoliFinal" [readOnly]="true"></dx-text-box>
                                </div>

                            </div>
                        </div>

                        <div class="col-md-1">
                            <div class="dx-field" >
                                <div class="dx-field-label">{{i+1}}. Aw
                                </div>
                                <div class="dx-field-value">
                                    <dx-text-box [(value)]="formDetail.manifests[i].aw" [readOnly]="true"></dx-text-box>
                                </div>

                            </div>
                        </div>

                        <div class="col-md-1">
                            <div class="dx-field" >
                                <div class="dx-field-label">{{i+1}}. Caw
                                </div>
                                <div class="dx-field-value">
                                    <dx-text-box [(value)]="formDetail.manifests[i].sisaCawFinal" [readOnly]="true"></dx-text-box>
                                </div>

                            </div>
                        </div>

                        <div class="col-md">
                            <div class="dx-field" >
                                <div class="dx-field-label">{{i+1}}. Koli Manifest <br/>Di Kenakan
                                </div>
                                <div class="dx-field-value">
                                    <dx-number-box [(value)]="formDetail.manifests[i].finalKoli" (onValueChanged)="SumTotalKoliPerManifest($event)">
                                        <dx-validator>
                                            <dxi-validation-rule type="required"></dxi-validation-rule>
                                        </dx-validator>
                                    </dx-number-box>

                                </div>

                            </div>
                        </div>


                        <div class="col-md">
                            <div class="dx-field" >
                                <div class="dx-field-label">{{i+1}}. Berat Manifest <br/>Di Kenakan
                                </div>
                                <div class="dx-field-value">
                                    <dx-number-box [(value)]="formDetail.manifests[i].weightManifest" >
                                        <dx-validator>
                                            <dxi-validation-rule type="required"></dxi-validation-rule>
                                        </dx-validator>
                                    </dx-number-box>

                                </div>

                            </div>
                        </div>
                        
                        <div class="col-md">
                            <div class="dx-field" >
                                <div class="dx-field-label">{{i+1}}. Berat Final SMU
                                </div>
                                <div class="dx-field-value">
                                    <dx-number-box [(value)]="formDetail.manifests[i].weightSmu" (onValueChanged)="SumTotalSmuPerManifest($event)" >
                                        <dx-validator>
                                            <dxi-validation-rule type="required"></dxi-validation-rule>
                                        </dx-validator>
                                    </dx-number-box>

                                </div>

                            </div>
                        </div>
                        
                    </div>
                    <div *ngIf="selectedRowsDataManifest.length > 0">
                        <hr/>
                    </div>

                    <div class="row" *ngIf="selectedRowsDataManifest.length > 0">
                        <div class="col-md-5"> </div>
                        <div class="col-md-4"> 
                            <div class="dx-field" style="padding-left: 20%;">
                                <div class="dx-field-label"><b>TOTAL Koli Final SMU</b>
                                </div>
                                <div class="dx-field-value" >
                                    <dx-number-box [readOnly]="true" [(value)]="sumKoli" >
                                        <dx-validator>
                                            <dxi-validation-rule type="required"></dxi-validation-rule>
                                        </dx-validator>
                                    </dx-number-box>

                                </div>

                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="dx-field" style="padding-left: 20%;">
                                <div class="dx-field-label"><b>TOTAL Berat Final SMU</b>
                                </div>
                                <div class="dx-field-value" >
                                    <dx-number-box [readOnly]="true" [(value)]="sumSmu" >
                                        <dx-validator>
                                            <dxi-validation-rule type="required"></dxi-validation-rule>
                                        </dx-validator>
                                    </dx-number-box>

                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="row  ml-2 mr-3">
            <div class="col-md" *ngIf="reasonKoli">
                <div class="dx-fieldset" style=" width: 100%;">
                    <div class="dx-fieldset-label">Alasan Koli Dikenakan di Input Berbeda dengan Jumlah yang Tersedia</div>
                    <dx-text-area
                        class="mandatory-text-box"
                        [height]="90"
                        [maxLength]="255"
                        [(value)]="formDetail.reasonKoli" >
                    </dx-text-area>
                </div>
            </div>
            <div class="col-md" *ngIf="reasonManifest">
                <div class="dx-fieldset" style=" width: 100%;">
                    <div class="dx-fieldset-label">Alasan Berat Manifest Dikenakan di Input Berbeda dengan Jumlah yang Tersedia</div>
                    <dx-text-area
                        class="mandatory-text-box"
                        [height]="90"
                        [maxLength]="255"
                        [(value)]="formDetail.reasonManifest">
                    </dx-text-area>
                </div>
            </div>
            
        </div> -->
        
        

    <!-- </div>

</form> -->