<div class="row">
	<div class="col-12">
		<kt-portlet>
			<kt-portlet-header title="Kode Pelanggan">
				<ng-container ktPortletTools> </ng-container>
			</kt-portlet-header>

			<kt-portlet-body>
				<div *ngIf="menuForb" class="alert alert-warning box-msg" role="alert">
					<strong>Warning!</strong>
					<span style="padding-left: 10px;">You doesn't have permission to access this page.</span>
				</div>

				<div *ngIf="menuPriv">
                    <div style="background-color: #f5f5f5; padding: 1%; border: 1px solid #e2e2e2;">

                        <div class="row  ml-2 mr-3">
                            <table style="width: 100%; align-items: left;">
                                <tr>
                                    <td style="width: 30%;">
    
                                        <div class="dx-field">
                                            <div class="dx-field-label">Kota</div>
                                            <div class="dx-field-value">
                                                <dx-select-box [tabIndex]="500" searchEnabled="true" [dataSource]="cityDs" valueExpr="masterCityId" displayExpr="masterCityCode" [(value)]="formSearch.cityId" [showClearButton]="true">
                                                </dx-select-box>
                                            </div>
                                        </div> 
    
                                    </td>
                                    <td>
                                        <div class="dx-field" >
                                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<dx-button text="Search" type="success" (onClick)="onSearch()"></dx-button> 
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    
                    </div>
    
                    <br/>
    
                    <dx-button text = "Generate" type="success" style="width: 7%;" (onClick)="generate()"> </dx-button>
                    <p style="white-space: pre-wrap"></p>

                    <dx-data-grid id="gridContainer" [dataSource]="ds" [showBorders]="true" alignment="left">
                        <dxo-filter-row [visible]="true"></dxo-filter-row>
                        <dxo-header-filter [visible]="true"></dxo-header-filter>
                        <dxo-paging [pageSize]="10"></dxo-paging>

                        <!-- <dxi-column dataField="customerHeaderId"  [allowFiltering]="false" [fixed]="true" caption="Action" alignment="left" [allowSorting]="false" cellTemplate="cellTemplate"></dxi-column> -->

                        <dxi-column dataField="customerCode" dataType="string" caption="Kode Pelanggan"> </dxi-column>
                        <dxi-column dataField="telp" dataType="string" caption="Telepon"> </dxi-column>
                        <dxi-column dataField="phone" dataType="string" caption="Hp"> </dxi-column>
                        <dxi-column dataField="customerName" dataType="string" caption="Nama"> </dxi-column>
                        <dxi-column dataField="customerStore" dataType="string" caption="Toko"> </dxi-column>
                        <dxi-column dataField="customerPlace" dataType="string" caption="Tempat"> </dxi-column>
                        <dxi-column dataField="customerAddress" dataType="string" caption="Alamat"> </dxi-column>
                        <dxi-column dataField="rt" dataType="string" caption="Rt"> </dxi-column>
                        <dxi-column dataField="rw" dataType="string" caption="Rw"> </dxi-column>
                        <dxi-column dataField="urbanName" dataType="string" caption="Desa / Kelurahan"> </dxi-column>
                        <dxi-column dataField="postalCode" dataType="string" caption="Kode Pos"> </dxi-column>
                        <dxi-column dataField="subDistrictName" dataType="string" caption="Kecamatan"> </dxi-column>
                        <dxi-column dataField="cityName" dataType="string" caption="Kota / Kabupaten"> </dxi-column>

                        <!-- <div *dxTemplate="let data of 'cellTemplate'">
                            <dx-drop-down-button
                                icon="edit"
                                [items]="[
                                        {key: 'generate', value: 'Generate', data: data.data}
                                    ]"
                                (onItemClick)="ChooseAction($event)"
                                [displayExpr]="'value'"
                                [keyExpr]="'key'"
                                [dropDownOptions]="{
                                    width: 100
                                }"
                            ></dx-drop-down-button>
                        </div> -->
                    </dx-data-grid>

				</div>
			</kt-portlet-body>
		</kt-portlet>

	</div>
</div>



