<div class="row">
	<div class="col-12">
		<kt-portlet>
			<kt-portlet-header title="Accured Expenses">
				<ng-container ktPortletTools> </ng-container>
			</kt-portlet-header>

			<kt-portlet-body>
				<div *ngIf="menuForb" class="alert alert-warning box-msg" role="alert">
					<strong>Warning!</strong>
					<span style="padding-left: 10px">You doesn't have permission to access this page.</span>
				</div>
				<div *ngIf="menuPriv">
					<dx-button icon="plus" type="success" text="Tambah" (onClick)="addExpenses()" [width]="100"> </dx-button>
					<br />
					<br />
					<dx-data-grid id="gridContainer" [dataSource]="ds" [showBorders]="true" [focusedRowEnabled]="true">
						<dxo-filter-row [visible]="true"></dxo-filter-row>
						<dxo-header-filter [visible]="true"></dxo-header-filter>
						<dxo-paging [enabled]="true" [pageSize]="30"></dxo-paging>
						<dxo-editing mode="row"> </dxo-editing>
						<dxi-column dataField="createdAt" dataType="date" [format]="'MMMM dd, yyyy'" caption="Tanggal"> </dxi-column>
						<!-- <dxi-column [allowFiltering]="false" [fixed]="true" caption="Action" alignment="left" [allowSorting]="false" cellTemplate="cellTemplate"></dxi-column> -->
						<dxi-column dataField="coaCode"></dxi-column>
						<dxi-column dataField="coaName"></dxi-column>
						<dxi-column dataField="keterangan"></dxi-column>
						<dxi-column dataField="debit" [format]="{ type: 'fixedPoint', precision: 0 }"></dxi-column>
						<dxi-column dataField="credit" [format]="{ type: 'fixedPoint', precision: 0 }"></dxi-column>
						<!-- <dxi-column dataField="saldo" caption="Saldo/Transaksi"  [format]="{ type: 'fixedPoint', precision: 0 }"></dxi-column> -->
						<dxi-column dataField="cumulativeBalance" caption="Saldo" [format]="{ type: 'fixedPoint', precision: 0 }"></dxi-column>
						<!-- <div *dxTemplate="let data of 'cellTemplate'">
						<dx-drop-down-button
							icon="edit"
							[items]="[
								{ key: 'edit', value: 'Edit', data: data.data },
								
								{ key: 'delete', value: 'Delete', data: data.data, disabled: !isToday(data.data.createdAt) }
							]"
							(onItemClick)="expensesAction($event)"
							[displayExpr]="'value'"
							[keyExpr]="'key'"
							[dropDownOptions]="{
								width: 100
							}"
						></dx-drop-down-button>
					</div> -->

						<dxo-summary>
							<dxi-total-item column="debit" summaryType="sum" [customizeText]="thousandSeparator" displayFormat="Total: {0}"> </dxi-total-item>
							<dxi-total-item column="credit" summaryType="sum" [customizeText]="thousandSeparator" displayFormat="Total: {0}"> </dxi-total-item>
							<dxi-total-item column="saldo" summaryType="sum" [customizeText]="thousandSeparator" displayFormat="Total: {0}"> </dxi-total-item>
						</dxo-summary>
					</dx-data-grid>

					<br />
				</div>
			</kt-portlet-body>
		</kt-portlet>
	</div>
</div>

<!-- <dx-popup [width]="400" [height]="300" [showTitle]="true" title="Edit Buku Kas" [dragEnabled]="false" [closeOnOutsideClick]="true" [(visible)]="editBukuKasPopupVisible">
	<div *dxTemplate="let data of 'content'">
		<form action="" (submit)="editBukuKasSubmit($event)">
			<dx-form id="updateBukuKas" [formData]="currentBukuKas">
				<dxi-item itemType="group" cssClass="second-group" [colCount]="1">
					<dxi-item itemType="group">
						<dxi-item
							dataField="coaId"
							editorType="dxSelectBox"
							[label]="{ text: 'Coa Code' }"
							[editorOptions]="{
								dataSource: dsCoaCode,
								searchEnabled: true,
								displayExpr: 'coaFullName',
								valueExpr: 'coaId',
								showClearButton: true
							}"
						>
						</dxi-item>
						<dxi-item dataField="keterangan" editorType="dxTextBox" [label]="{ text: 'Keterangan' }"></dxi-item>
						<dxi-item dataField="noReferensi" editorType="dxTextBox" [label]="{ text: 'No Referensi' }"></dxi-item>
						<dxi-item dataField="debit" editorType="dxTextBox" [label]="{ text: 'Debit' }"></dxi-item>
						<dxi-item dataField="credit" editorType="dxTextBox" [label]="{ text: 'Kredit' }"></dxi-item>
					</dxi-item>
					<dxi-item itemType="button" horizontalAlignment="center" [buttonOptions]="{ text: 'Submit', type: 'danger', useSubmitBehavior: true }"> </dxi-item>
				</dxi-item>
			</dx-form>
		</form>
	</div>
</dx-popup> -->
