<div class="row">
	<div class="col-12">
		<kt-portlet>
			<kt-portlet-header title="[5.] Cost">
				<ng-container ktPortletTools> </ng-container>
			</kt-portlet-header>

			<kt-portlet-body>
				<div *ngIf="menuForb" class="alert alert-warning box-msg" role="alert">
					<strong>Warning!</strong>
					<span style="padding-left: 10px">You doesn't have permission to access this page.</span>
				</div>
				<div *ngIf="menuPriv">
					<div style="background-color: #f5f5f5; padding: 1%; border: 1px solid #e2e2e2">
						<div class="row  ml-2 mr-3">
							<table style="width: 100%; align-items: left">
								<tr>
									<td style="width: 30%">
										<div class="dx-field">
											<div class="dx-field-label" style="width: 15%">Bulan</div>
											<div class="dx-field-value" style="float: left; width: 80%">
												<dx-date-box 
												  [(value)]="selectedDate" 
												  [pickerType]="'rollers'" 
												  displayFormat="MMMM yyyy" 
												  dateSerializationFormat="yyyy-MM" 
												  [showClearButton]="true" 
												  [useMaskBehavior]="true">
												  <dx-validator>
													<dxi-validation-rule type="required"></dxi-validation-rule>
												  </dx-validator>
												</dx-date-box>
											  </div>
											  
										</div>
									</td>

									<td>
										<div class="dx-field" >
											<dx-button text="Search" type="success" (onClick)="onSearch()"></dx-button> 
										</div>
									</td>
								</tr>
							</table>
						</div>
					</div>

					<br />

					<!-- <button (click)="expandGrid()">expand</button> -->

					<dx-data-grid id="gridContainer" [dataSource]="ds" [showBorders]="true">
						<!-- <dxo-filter-row [visible]="true"></dxo-filter-row> -->
						<dxo-header-filter [visible]="true"></dxo-header-filter>
						<dxo-grouping #expand [autoExpandAll]="false"></dxo-grouping>
						<dxo-paging [pageSize]="1000"></dxo-paging>

						<dxi-column dataField="createdAt" dataType="date" caption="Date" [format]="'MMM dd, yyyy'"></dxi-column>
						<dxi-column dataField="coaCode" dataType="string" caption="COA Code"> </dxi-column>
						<dxi-column dataField="coaName" dataType="string" caption="COA Name"> </dxi-column>
						<dxi-column dataField="total" dataType="string" caption="Total" [customizeText]="thousandSeparator"> </dxi-column>
						<dxi-column dataField="digitPertama" [visible]="kepalaCoa" dataType="string" caption="Digit Satu" [groupIndex]="0"> </dxi-column>
						<dxi-column dataField="digitKedua" [visible]="kepalaCoa" dataType="string" caption="Digit Dua" [groupIndex]="1"> </dxi-column>
						<dxi-column dataField="digitKetiga" [visible]="kepalaCoa" dataType="string" caption="Digit Tiga" [groupIndex]="2"> </dxi-column>
						<dxi-column dataField="digitKeempat" [visible]="kepalaCoa" dataType="string" caption="Digit Empat" [groupIndex]="3"> </dxi-column>
						<dxi-column dataField="digitKelima" [visible]="kepalaCoa" dataType="string" caption="Digit Lima" [groupIndex]="4"> </dxi-column>
						<dxi-column dataField="digitKeenam" [visible]="kepalaCoa" dataType="string" caption="Digit Enam" [groupIndex]="5"> </dxi-column>
						<dxo-grouping [expandMode]="'rowClick'" [contextMenuEnabled]="true"> </dxo-grouping>

						<dxo-summary>
							<dxi-total-item column="total" summaryType="sum" [customizeText]="thousandSeparator"> </dxi-total-item>
							<dxi-group-item column="total" [alignByColumn]="true" summaryType="sum" [customizeText]="thousandSeparator"> </dxi-group-item>
						</dxo-summary>
					</dx-data-grid>

					<br />
				</div>
			</kt-portlet-body>
		</kt-portlet>
	</div>
</div>
