<div class="row">
	<div class="col-12">
		<kt-portlet>
			<kt-portlet-header title="Create City" style="font-size: larger;">
				<ng-container ktPortletTools> </ng-container>
			</kt-portlet-header>
            
			<kt-portlet-body>
                <div class="row  ml-2 mr-3" style="margin-top: -2%;">
                    <div class="col-md">
                        <div class="dx-fieldset">
                            
                            <div class="dx-field">
                                <div class="dx-field-label">Provinsi</div>
                                <div class="dx-field-value">
									<dx-select-box [dataSource]="provinceDs" [searchEnabled]="true" displayExpr="masterProvinceName" valueExpr="masterProvinceId" [(value)]="formCreate.province" [showClearButton]="true">
										<dx-validator>
											<dxi-validation-rule type="required"></dxi-validation-rule>
										</dx-validator>
									</dx-select-box>
                                    <!-- <dx-text-box [(value)]="formCreate.province">
                                        <dxi-validation-rule type="required" ></dxi-validation-rule>
                                    </dx-text-box> -->
                                </div>
                            </div>

							<div class="dx-field">
                                <div class="dx-field-label">Type Kota</div>
                                <div class="dx-field-value">
									<dx-select-box [dataSource]="typeKotaDs" [searchEnabled]="true" displayExpr="masterCityType" valueExpr="masterCityType" [(value)]="formCreate.typeKota" [showClearButton]="true">
										<dx-validator>
											<dxi-validation-rule type="required"></dxi-validation-rule>
										</dx-validator>
									</dx-select-box>
                                    <!-- <dx-text-box [(value)]="formCreate.province">
                                        <dxi-validation-rule type="required" ></dxi-validation-rule>
                                    </dx-text-box> -->
                                </div>
                            </div>

                            <!-- <div class="dx-field">
                                <div class="dx-field-label">Type Kota</div>
                                <div class="dx-field-value">
                                    <dx-text-box [(value)]="formCreate.typeKota">
                                        <dxi-validation-rule type="required" ></dxi-validation-rule>
                                    </dx-text-box>
                                </div>
                            </div> -->


							<div class="dx-field">
                                <div class="dx-field-label">Kode Kota</div>
                                <div class="dx-field-value">
                                    <dx-text-box [(value)]="formCreate.kodeKota">
                                        <dxi-validation-rule type="required" ></dxi-validation-rule>
                                    </dx-text-box>
                                </div>
                            </div>



                            <div class="dx-field">
                                <div class="dx-field-label">Nama Kota</div>
                                <div class="dx-field-value">



                                    <!-- <dx-select-box [tabIndex]="500" class="carrier" searchEnabled="true" [dataSource]="this." valueExpr="lookupKey" displayExpr="lookupValue" [(value)]="formSearch.moda" [showClearButton]="true">
                                    </dx-select-box> -->



                                    <!-- <dx-select-box [(value)]="formCreate.namaKota">
                                        <dxi-validation-rule type="required" ></dxi-validation-rule>
                                    </dx-select-box> -->




                                    <dx-text-box [(value)]="formCreate.namaKota">
                                        <dxi-validation-rule type="required" ></dxi-validation-rule>
                                    </dx-text-box>
                                </div>
                            </div>

                            <div class="dx-field">
                                <div class="dx-field-label">Ibu Kota</div>
                                <div class="dx-field-value">
                                    <dx-text-box [(value)]="formCreate.ibuKota">
                                        <dxi-validation-rule type="required" ></dxi-validation-rule>
                                    </dx-text-box>
                                </div>
                            </div>

                            
                            
                            <!-- <div class="dx-field">
                                <div class="dx-field-label">Ibu Kota</div>
                                <div class="dx-field-value">
                                    <dx-select-box [dataSource]="unitDs" [searchEnabled]="true" displayExpr="name" valueExpr="id" [(value)]="formCreate.unitId" [showClearButton]="true" >
                                        <dxi-validation-rule type="required" ></dxi-validation-rule>
									</dx-select-box>
                                </div>
                            </div> -->
                            
                        </div>
                    </div>
                </div>

               
                <div class="row  ml-2 mr-3">
                    <div class="col-md text-right">
                        <dx-button text="Create" type="success" (onClick)="onSave()"></dx-button> 
                        &nbsp;&nbsp;
                        <dx-button text="Kembali" type="default" (onClick)="onBack()"></dx-button>
                    </div>
                </div>

				<!-- </div> -->
			</kt-portlet-body>
		</kt-portlet>

	</div>
</div>








<!-- <div style="background-color: #f5f5f5; padding: 1%; border: 1px solid #e2e2e2;">

	<div class="row  ml-2 mr-3">
		<table style="width: 100%; align-items: left;">
			<tr>
				<td style="width: 20%;">
					<div class="dx-field" >
						<div class="dx-field-label" style="width:100%">Kota Asal</div>
						<div class="dx-field-value" style="float:left; width: 80%;">
							<dx-select-box [tabIndex]="103" id="originCity" [showDataBeforeSearch]="true" [(value)]="formSearch.originCity"
								[dataSource]="originCity" displayExpr="companyCityNameCustom" [showClearButton]="true"
								valueExpr="companyCityId" searchEnabled="true" itemTemplate="item" >
									<div *dxTemplate="let data of 'item'" [innerHTML]="highlightProcess(data.companyCityNameCustom, 'originCity')"></div>
							</dx-select-box>
						</div>
					</div>
				</td>
				<td style="width: 20%;">
					<div class="dx-field" >
						<div class="dx-field-label" style="width:100%">Kota/Kab Tujuan</div>
						<div class="dx-field-value" style="float:left; width: 80%;">
							<dx-select-box [tabIndex]="103" id="destCity" [showDataBeforeSearch]="true" [(value)]="formSearch.destinationCity"
								[dataSource]="destCity" displayExpr="companyCityNameCustom" [showClearButton]="true"
								valueExpr="companyCityId" searchEnabled="true" itemTemplate="item" (onValueChanged)="OnRatesChange($event)" [showClearButton]="true">
									<div *dxTemplate="let data of 'item'" [innerHTML]="highlightProcess(data.companyCityNameCustom, 'destCity')"></div>
							</dx-select-box>
						</div>
					</div>
				</td>
				<td style="width: 20%;">
					<div class="dx-field" >
						<div class="dx-field-label" style="width:100%">Kecamatan Tujuan</div>
						<div class="dx-field-value" style="float:left; width: 80%;">
							<dx-select-box [tabIndex]="500" class="subDistrict" searchEnabled="true"
								[dataSource]="this.sdDs" valueExpr="companyAreaId" displayExpr="masterSubDistrictName" [(value)]="formSearch.destinationSubDistrict" [showClearButton]="true">
							</dx-select-box>
						</div>
					</div>
				</td>
				<td style="width: 20%;">
					<div class="dx-field" >
						<div class="dx-field-label" style="width:100%">Type Tarif</div>
						<div class="dx-field-value" style="float:left; width: 80%;">
							<dx-select-box [tabIndex]="500" class="formSearch.ratesType" searchEnabled="true"
								[dataSource]="this.ratesTypeDs" valueExpr="lookupKey" displayExpr="lookupValue" [(value)]="formSearch.ratesType" [showClearButton]="true"
								(onValueChanged)="tipeTarif($event)" >
							</dx-select-box>
						</div>
					</div>
				</td>
				<td style="width: 20%;">
					<div class="dx-field" >
						<div class="dx-field-label" style="width:100%">Moda</div>
						<div class="dx-field-value" style="float:left; width: 80%;">
							<dx-select-box [tabIndex]="500" class="carrier" searchEnabled="true" [dataSource]="this.carrierDs" valueExpr="lookupKey" displayExpr="lookupValue" [(value)]="formSearch.moda" [showClearButton]="true">
							</dx-select-box>
						</div>
					</div>
				</td>
			</tr>
			<tr height="40px">
				
				<td style="width: 20%;">
					<div class="dx-field" >
						<div class="dx-field-label" style="width:100%">K.O.S</div>
						<div class="dx-field-value" style="float:left; width: 80%;">
							<dx-select-box [tabIndex]="500" class="kos" searchEnabled="true"
								[dataSource]="this.kosDs" valueExpr="lookupKey" displayExpr="lookupValue" [(value)]="formSearch.kos" [showClearButton]="true">
							</dx-select-box>
						</div>
					</div>	
				</td>
				<td style="width: 20%;">
					<div class="dx-field" >
						<div class="dx-field-label" style="width:100%">Q.O.S</div>
						<div class="dx-field-value" style="float:left; width: 80%;">
							<dx-select-box [tabIndex]="500" class="qos" searchEnabled="true"
								[dataSource]="this.qosDs" valueExpr="lookupKey" displayExpr="lookupValue" [(value)]="formSearch.qos" [showClearButton]="true">
							</dx-select-box>
						</div>
					</div>
				</td>
				<td style="width: 20%;">
					<div class="dx-field" >
						<div class="dx-field-label" style="width:100%">Tarif</div>
						<div class="dx-field-value" style="float:left; width: 80%;">
							<dx-text-box [(value)]="formSearch.rates"></dx-text-box>
						</div>
					</div>
				</td>
				<td style="width: 20%;">
					<div class="dx-field" >
						<div class="dx-field-label" style="width:100%">Minimum Kg</div>
						<div class="dx-field-value" style="float:left; width: 80%;">
							<dx-text-box [(value)]="formSearch.minWeight"></dx-text-box>
						</div>
					</div>
				</td>
				<td style="width: 20%;">
					<div class="dx-field" >
						<div class="dx-field-label" style="width:100%">Tarif Minimum</div>
						<div class="dx-field-value" style="float:left; width: 80%;">
							<dx-text-box [(value)]="formSearch.minRates"></dx-text-box>
						</div>
					</div>
				</td>
				<td style="width: 20%;">
					&nbsp;
				</td>
				<td style="width: 20%;">
					&nbsp;
				</td>
				<td style="width: 20%;">
					&nbsp;
				</td>
			</tr>
		</table>
		
		<div class="dx-field" style="margin-left: 90%;margin-top: 1%;">
			<dx-button text="Search" type="success" (onClick)="onSearch()"></dx-button> 
		</div>

	</div>

  </div>
   -->