<span [formGroup]="spbForm" *ngIf="goodsVisible">
	<table class="table table-xs table-bordered barang">
		<tbody>
			<tr>
				<td>No. Koli</td>
				<td>Jumlah Koli</td>
				<td>Berat / Koli</td>
				<td>Jumlah Berat</td>
				<td style="border: none!important;">&nbsp;&nbsp;</td>
				<td>P</td>
				<td>L</td>
				<td>T</td>
				<td>Berat Volume / Koli</td>
				<td style="border: none!important;">&nbsp;&nbsp;</td>
				<td>Berat Dikenakan</td>
			</tr>
			<tr *ngFor="let row of goodsRow?.controls; let i = index" formArrayName="goods">
				<ng-container [formGroupName]="i">
					<td>
						<dx-text-box [tabIndex]="400" class="barang"  readOnly="true"
									formControlName="koliNo"></dx-text-box>
					</td>
					<td>
						<dx-text-box [tabIndex]="400" class="barang" formControlName="koliTotalItem"
									(onFocusOut)="SetToZero_OnFocusOut($event, i, 'koliTotalItem')"
									></dx-text-box>
					</td>
					<td>
						<dx-number-box [tabIndex]="400" class="barang"
									formControlName="goodsWeight" step="0"
									(onFocusOut)="SetToZero_OnFocusOut($event, i, 'goodsWeight')">
						</dx-number-box>
					</td>
					<td>
						<dx-text-box [tabIndex]="400" class="barang"  disabled="true" formControlName="goodsWeightTotal"
									></dx-text-box>
					</td>
					<td style="border: none!important;"></td>
					<td>
						<dx-number-box [tabIndex]="400" class="barang"
									formControlName="length" step="0"
									(onFocusOut)="SetToZero_OnFocusOut($event, i, 'length')">
						</dx-number-box>
					</td>
					<td>
						<dx-number-box [tabIndex]="400" class="barang"
									formControlName="width" step="0"
									(onFocusOut)="SetToZero_OnFocusOut($event, i, 'width')">
						</dx-number-box>
					</td>
					<td>
						<dx-number-box [tabIndex]="400" class="barang"
									formControlName="height" step="0"
									(onFocusOut)="SetToZero_OnFocusOut($event, i, 'height')">
						</dx-number-box>
					</td>
					<td>
						<dx-number-box [tabIndex]="400" class="barang"
									formControlName="goodsWeightVolume" step="0"
									(onFocusOut)="SetToZero_OnFocusOut($event, i, 'goodsWeightVolume')">
									></dx-number-box>  
									<!-- disabled="true"></dx-number-box> dihilangkan 22nov21-->
					</td>
					<td style="border: none!important;"></td>
					<td>
						<dx-number-box [tabIndex]="400" class="barang-bold"
									disabled="true" formControlName="goodsFinalWeight_display">
						</dx-number-box>
						<dx-number-box [tabIndex]="400" class="barang-bold" hidden
									disabled="true" formControlName="goodsFinalWeight">
						</dx-number-box>
					</td>
					<td>
						<dx-number-box [tabIndex]="400" class="barang-bold"
									disabled="true" formControlName="price" format="#,##0.##" >
						</dx-number-box>
					</td>
				</ng-container>

			</tr>

			<tr>
				<td>Total</td>
				<td>
					<dx-number-box [tabIndex]="400" class="barang-bold"
					disabled="true" formControlName="totalKoli">
					</dx-number-box>
				</td>
				<td></td>
				<td>
					<!--<dx-number-box [tabIndex]="400" class="barang-bold"
					 disabled="true" formControlName="totalAw"> 
					</dx-number-box> -->
				</td>
				<td style="border: none!important;">&nbsp;&nbsp;</td>
				<td></td>
				<td></td>
				<td></td>
				<td>Berat Final</td>
				<td style="border: none!important;">
					&nbsp;&nbsp;
				</td>
				<td>
					<dx-number-box [tabIndex]="400" class="barang-bold"
					disabled="true" formControlName="totalFinalCaw">
					</dx-number-box>
				</td>
			</tr>

		</tbody>
	</table>
</span>
