<div class="row">
	<div class="col-12">
		<kt-portlet>
			<kt-portlet-header title="Create Monitoring Shipment">
				<ng-container ktPortletTools> </ng-container>
			</kt-portlet-header>

			<kt-portlet-body>
                
                <div class="row  ml-2 mr-3">
                    <div class="col-md">
                        <div class="dx-fieldset">  

                            <table style="width: 100%;">
                                <tr>
                                    <td>

                                        <div class="dx-field">
                                            <div class="dx-field-label">Via</div>
                                            <div class="dx-field-value">
                                                <dx-select-box [dataSource]="viaDs" [searchEnabled]="true" displayExpr="stationName" valueExpr="stationId" [showClearButton]="true" [(value)]="formCreate.viaId"></dx-select-box>
                                            </div>
                                        </div>
            
                                        <div class="dx-field">
                                            <div class="dx-field-label">Origin</div>
                                            <div class="dx-field-value">
                                                <dx-select-box [dataSource]="originCityDs" [searchEnabled]="true" displayExpr="companyCityNameCustom" valueExpr="cityId" [showClearButton]="true" [(value)]="formCreate.originCityId" 	(onValueChanged)="onTriggerChange($event)"></dx-select-box>
                                            </div>
                                        </div>
            
                                        <div class="dx-field">
                                            <div class="dx-field-label">Corporate</div>
                                            <div class="dx-field-value">
                                                <dx-select-box [dataSource]="corporateDs" [searchEnabled]="true" displayExpr="corporateName" valueExpr="corporateId" [showClearButton]="true" [(value)]="formCreate.corporateId"></dx-select-box>
                                            </div>
                                        </div>
            
                                        <div class="dx-field">
                                            <div class="dx-field-label">Tujuan</div>
                                            <div class="dx-field-value">
                                                <dx-select-box [dataSource]="destinationCityDs" [searchEnabled]="true" displayExpr="companyCityNameCustom" valueExpr="cityId" [showClearButton]="true" [(value)]="formCreate.destinationCityId"></dx-select-box>
                                            </div>
                                        </div>
            
                                        <div class="dx-field">
                                            <div class="dx-field-label">STT Pegasus</div>
                                            <div class="dx-field-value">
                                                <dx-text-box [(value)]="formCreate.sttPegasus">
                                                    <dxi-validation-rule type="required" ></dxi-validation-rule>
                                                </dx-text-box>
                                            </div>
                                        </div>
            
                                        <div class="dx-field">
                                            <div class="dx-field-label">STT Lion Parcel</div>
                                            <div class="dx-field-value">
                                                <dx-text-box [(value)]="formCreate.sttLP">
                                                    <dxi-validation-rule type="required" ></dxi-validation-rule>
                                                </dx-text-box>
                                            </div>
                                        </div>
            
                                        <div class="dx-field">
                                            <div class="dx-field-label">SMU</div>
                                            <div class="dx-field-value">
                                                <dx-text-box [(value)]="formCreate.smuNo">
                                                    <dxi-validation-rule type="required" ></dxi-validation-rule>
                                                </dx-text-box>
                                            </div>
                                        </div>
            
                                        <div class="dx-field">
                                            <div class="dx-field-label">Koli</div>
                                            <div class="dx-field-value">
                                                <dx-text-box [(value)]="formCreate.koli">
                                                    <dxi-validation-rule type="required" ></dxi-validation-rule>
                                                </dx-text-box>
                                            </div>
                                        </div>
            
                                        <div class="dx-field">
                                            <div class="dx-field-label">Kilo</div>
                                            <div class="dx-field-value">
                                                <dx-text-box [(value)]="formCreate.caw">
                                                    <dxi-validation-rule type="required" ></dxi-validation-rule>
                                                </dx-text-box>
                                            </div>
                                        </div>
                                    </td>
                                    <td style="padding-left: 2%;">

                                        <div class="dx-field">
                                            <div class="dx-field-label">No Penerbangan</div>
                                            <div class="dx-field-value">
                                                <table style="width: 100%;">
                                                    <tr>
                                                        <td style="width: 30%;">
                                                            <dx-select-box [dataSource]="carrierDs" [searchEnabled]="true" displayExpr="carrierCode" valueExpr="carrierId" [showClearButton]="true" [(value)]="formCreate.carrierId" (onValueChanged)="onTriggerChangeCarrier($event)"></dx-select-box>
                                                        </td>
                                                        <td style="width: 70%;">
                                                            <dx-select-box [dataSource]="flightDs" [searchEnabled]="true" displayExpr="flightNo" valueExpr="flightId" [showClearButton]="true" [(value)]="formCreate.flightId"></dx-select-box>
                                                        </td>
                                                    </tr>
                                                </table>
                                               </div>
                                        </div>
            
                                        <div class="dx-field">
                                            <div class="dx-field-label">Tanggal Penerangan</div>
                                            <div class="dx-field-value">
                                                <dx-date-box [(value)]="formCreate.flightDate" [showClearButton]="true" [useMaskBehavior]="true">
                                                    <dx-validator>
                                                        <dxi-validation-rule type="required" ></dxi-validation-rule>
                                                    </dx-validator>
                                                </dx-date-box>
                                            </div>
                                        </div>  
            
                                        <div class="dx-field">
                                            <div class="dx-field-label">ETD</div>
                                            <div class="dx-field-value">
                                                <dx-date-box [(value)]="formCreate.etd" type="datetime" displayFormat="MM/dd/yyyy HH:mm" [showClearButton]="true" [useMaskBehavior]="true">
                                                    <dx-validator>
                                                        <dxi-validation-rule type="required" ></dxi-validation-rule>
                                                    </dx-validator>
                                                </dx-date-box>
                                            </div>
                                        </div>  
            
                                        <div class="dx-field">
                                            <div class="dx-field-label">ETA</div>
                                            <div class="dx-field-value">
                                                <dx-date-box [(value)]="formCreate.eta" type="datetime" displayFormat="MM/dd/yyyy HH:mm" [showClearButton]="true" [useMaskBehavior]="true">
                                                    <dx-validator>
                                                        <dxi-validation-rule type="required" ></dxi-validation-rule>
                                                    </dx-validator>
                                                </dx-date-box>
                                            </div>
                                        </div>  
            
                                        <div class="dx-field">
                                            <div class="dx-field-label">Status Pengiriman</div>
                                            <div class="dx-field-value">
                                                <dx-text-box [(value)]="formCreate.status">
                                                    <dxi-validation-rule type="required" ></dxi-validation-rule>
                                                </dx-text-box>
                                            </div>
                                        </div>
            
                                        <div class="dx-field">
                                            <div class="dx-field-label">Di Terima Oleh</div>
                                            <div class="dx-field-value">
                                                <dx-text-box [(value)]="formCreate.pod">
                                                    <dxi-validation-rule type="required" ></dxi-validation-rule>
                                                </dx-text-box>
                                            </div>
                                        </div>
            
                                         <div class="dx-field">
                                            <div class="dx-field-label">Waktu / Jam Di Terima</div>
                                            <div class="dx-field-value">
                                                <dx-date-box [(value)]="formCreate.podDate" [showClearButton]="true">
                                                    <dx-validator>
                                                        <dxi-validation-rule type="required" ></dxi-validation-rule>
                                                    </dx-validator>
                                                </dx-date-box>
                                            </div>
                                        </div> 
            
                                        <div class="dx-field">
                                            <div class="dx-field-label">Keterangan</div>
                                            <div class="dx-field-value">
                                                <dx-text-area
                                                    [height]="70"
                                                    [maxLength]="255"
                                                    [(value)]="formCreate.description">
                                                </dx-text-area>
                                            </div>
                                        </div>

                                    </td>
                                </tr>
                            </table>
                               
                        </div>
                    </div>
                </div>                
                
                <div class="row  ml-2 mr-3">
                    <div class="col-md text-right">
                        <dx-button text="Create" type="default" (onClick)="onSave()"></dx-button>&nbsp;&nbsp;
                        <dx-button text="Kembali" type="danger" (onClick)="onBack()"></dx-button>  
                    </div>
                </div>
                                
    
			</kt-portlet-body>
           
		</kt-portlet>

	</div>
</div>



