<div class="row">
	<div class="col-12">
		<kt-portlet>
			<kt-portlet-header title="Create Transit Route">
				<ng-container ktPortletTools> </ng-container>
			</kt-portlet-header>

			<kt-portlet-body>
                
                <div class="row  ml-2 mr-3">
                    <div class="col-md">
                        <div class="dx-fieldset">
                            
                            <div class="dx-field" >
                                <div class="dx-field-label">Bandara Awal</div>
                                <div class="dx-field-value" >
                                    <dx-text-box [(value)]="this.originStationName" [readOnly]="true">
                                        <dxi-validation-rule type="required" ></dxi-validation-rule>
                                    </dx-text-box>
                                </div>
                            </div>

                            <div class="dx-field" >
                                <div class="dx-field-label">Nomor Penerbangan Pertama</div>
                                <div class="dx-field-value" >
                                    <dx-text-box [(value)]="this.firstFlightCode" [readOnly]="true">
                                        <dxi-validation-rule type="required" ></dxi-validation-rule>
                                    </dx-text-box>
                                </div>
                            </div>

                            <div class="dx-field" >
                                <div class="dx-field-label">Bandara Transit</div>
                                <div class="dx-field-value">
                                    <dx-text-box [(value)]="this.transitStationName" [readOnly]="true">
                                        <dxi-validation-rule type="required" ></dxi-validation-rule>
                                    </dx-text-box>
                                </div>
                            </div>

                            <div class="dx-field" >
                                <div class="dx-field-label">No Penerbangan Selanjutnya</div>
                                <div class="dx-field-value" >
                                    <dx-text-box [(value)]="this.lastFlightCode" [readOnly]="true">
                                        <dxi-validation-rule type="required" ></dxi-validation-rule>
                                    </dx-text-box>
                                </div>
                            </div>

                            <div class="dx-field" >
                                <div class="dx-field-label">Tujuan Akhir</div>
                                <div class="dx-field-value" >
                                    <dx-text-box [(value)]="this.finalDestinationStationName" [readOnly]="true">
                                        <dxi-validation-rule type="required" ></dxi-validation-rule>
                                    </dx-text-box>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                
                
                <div class="row  ml-2 mr-3">
                    <div class="col-md text-right">
                        <dx-button text="Delete" type="default" (onClick)="onSave()"></dx-button>&nbsp;&nbsp;
                        <dx-button text="Kembali" type="danger" (onClick)="onBack()"></dx-button>  
                    </div>
                </div>

			</kt-portlet-body>
		</kt-portlet>

	</div>
</div>