<div class="row">
	<div class="col-12">
		<kt-portlet>
			<kt-portlet-header title="Monitoring Kapasitas Inland SUB">
				<ng-container ktPortletTools> </ng-container>
			</kt-portlet-header>

			<kt-portlet-body>

                <div *ngIf="menuForb" class="alert alert-warning box-msg" role="alert">
					<strong>Warning!</strong>
					<span style="padding-left: 10px;">You doesn't have permission to access this page.</span>
				</div>
				
				<div *ngIf="menuPriv">
					<div style="background-color: #f5f5f5; padding: 1%; border: 1px solid #e2e2e2;">

                        <div class="row  ml-2 mr-3">
                            <table style="width: 100%; align-items: left;">
                                <tr>
                                    <td style="width: 30%;">
    
                                        <div class="dx-field">
                                            <div class="dx-field-label">Manifest Date</div>
                                            <div class="dx-field-value">
                                                <dx-date-box [showClearButton]="true" [useMaskBehavior]="true" displayFormat="dd-MMM-yyyy" [(value)]="formSearch.manifestDate">
                                                </dx-date-box>
                                            </div>
                                        </div> 
    
                                        <div class="dx-field">
                                            <div class="dx-field-label">Moda</div>
                                            <div class="dx-field-value">
                                                <dx-select-box [tabIndex]="500" searchEnabled="true" [dataSource]="carrierDs" valueExpr="carrierCode" displayExpr="carrierDesc" [(value)]="formSearch.carrierCode" [showClearButton]="true">
                                                </dx-select-box>
                                            </div>
                                        </div> 
    
                                    </td>
                                    <td>
                                        <div class="dx-field" >
                                            &nbsp;
                                        </div>
                                        <div class="dx-field" >
                                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<dx-button text="Search" type="success" (onClick)="onSearch()"></dx-button> 
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    
                    </div>
    
                    <br/>
    
                    <dx-data-grid [dataSource]="inlandSubListDs" [showBorders]="true">
                        <dxo-filter-row [visible]="true"></dxo-filter-row>
                        <dxo-header-filter [visible]="true"></dxo-header-filter>
                        
                        <dxi-column dataField="createdAtLocal" dataType="string" caption="Tanggal Manifest" > </dxi-column>
                        <dxi-column dataField="moda" dataType="string" caption="Carrier" > </dxi-column>
                        <dxi-column dataField="originCityName" dataType="string" caption="Kota Asal" > </dxi-column>
                        <dxi-column dataField="tujuan" dataType="string" caption="Kota Tujuan" > </dxi-column>
                        <dxi-column dataField="aw" dataType="string" caption="Aw"  [customizeText]="thousandSeparator"> </dxi-column>
                        <dxi-column dataField="caw" dataType="string" caption="Caw" [customizeText]="thousandSeparator"> </dxi-column>
    
                        <dxo-summary>
                            <dxi-total-item column="aw" summaryType="sum" [customizeText]="thousandSeparator" > </dxi-total-item>
                            <dxi-total-item column="caw" summaryType="sum" [customizeText]="thousandSeparator" > </dxi-total-item>
                        </dxo-summary>
                    </dx-data-grid>
				</div>

                <!-- <mat-tab-group>

                    <mat-tab label="Inland Surabaya">
                        <kt-monitoring-capacity-inland-sub></kt-monitoring-capacity-inland-sub>
                    </mat-tab>

                </mat-tab-group> -->
			</kt-portlet-body>
		</kt-portlet>

	</div>
</div>



