<div style="float: right;" >
		<div class="option">
			<a href="javascript:;"  (click)="addDataMenuAction()" style="width: 40px; font-weight: bold;" class="dx-button dx-button-success dx-button-mode-contained dx-widget dx-button-has-text dx-state-hover">+</a>
			
		</div>
	</div>
	<br/>
<br/>
<br/>

<dx-data-grid
id="gridDetailContainer"
[dataSource]="privilegeMenuListDs"
[showBorders]="true">

<dxo-filter-row [visible]="true"></dxo-filter-row>
<dxo-header-filter [visible]="true"></dxo-header-filter>

<dxi-column [allowFiltering]="false" [fixed]="true" caption="Action" alignment="left"
								[allowSorting]="false" cellTemplate="cellTemplate"></dxi-column>
					<div *dxTemplate="let data of 'cellTemplate'">
						<dx-drop-down-button
							[dropDownOptions]="{ width: 150 }"
							icon="menu"
							[items]="[
							{icon: 'folder' ,key: 'view_data', value: 'Views', data: data.data}
						
							]"
							(onItemClick)="actionCLick($event)"
							[displayExpr]="'value'"
							[keyExpr]="'key'"
						></dx-drop-down-button>
					</div>
					<!-- {icon: 'trash' ,key: 'delete_data', value: 'Delete', data: data.data} -->
					<dxi-column type="adaptive" [width]="50"></dxi-column>

<dxi-column dataField="menuKey" dataType="string" caption="Menu Key"> </dxi-column>
<dxi-column dataField="menuName" dataType="string" caption="Menu Name" > </dxi-column>
</dx-data-grid>

<dx-popup [closeOnOutsideClick]="true" [(visible)]="viewDataMenuActionPopUp"
		  [width]="'98%'" height="98%" contentTemplate="PrivilegeMenuActionContent">

          <div *dxTemplate="let data of 'PrivilegeMenuActionContent'">

				<div class="row">
					<div class="col-12">
						<kt-portlet>
							<kt-portlet-header title="Menu Action">
								<ng-container ktPortletTools> </ng-container>	
							</kt-portlet-header>

							<kt-portlet-body>
								<!-- <div style="float: right;" >
									<div class="option">
										<a href="javascript:;"  (click)="addDataMenuAction()" style="width: 40px; font-weight: bold;" class="dx-button dx-button-success dx-button-mode-contained dx-widget dx-button-has-text dx-state-hover">+</a>
										
									</div>
								</div>
								<br/> -->

								<div style="float: left;" >
									<dx-data-grid
										id="gridDetailContainer"
										[dataSource]="menuActionListDs"
										[showBorders]="true">

										<dxo-filter-row [visible]="true"></dxo-filter-row>
										<dxo-header-filter [visible]="true"></dxo-header-filter>

										<dxi-column [allowFiltering]="false" [fixed]="true" caption="Action" alignment="left"
																		[allowSorting]="false" cellTemplate="cellTemplate"></dxi-column>
															<div *dxTemplate="let data of 'cellTemplate'">
																<dx-drop-down-button
																	[dropDownOptions]="{ width: 150 }"
																	icon="menu"
																	[items]="[
																	{icon: 'trash'  ,key: 'delete_data_action', value: 'Delete', data: data.data}
																	]"
																	(onItemClick)="actionMenuActionCLick($event)"
																	[displayExpr]="'value'"
																	[keyExpr]="'key'"
																></dx-drop-down-button>
															</div>

															<dxi-column type="adaptive" [width]="50"></dxi-column>

										<dxi-column dataField="menuActionName" dataType="string" caption="Menu Action"> </dxi-column>
									</dx-data-grid>
								</div>
								
							</kt-portlet-body>
						</kt-portlet>
				
					</div>
				</div>

	</div>
</dx-popup>


<!-- <dx-popup
	[width]="300"
	[height]="250"
	[showTitle]="true"
	title="Tambah Data Menu"
	[dragEnabled]="false"
	[closeOnOutsideClick]="false"
	[(visible)]="addDataMenuPopUp">
	<div *dxTemplate="let data of 'content'">
		
		<form (ngSubmit)="createMenuSubmit($event)">
			<div>
				<div class="row  ml-2 mr-3">
					<div class="col-md">
						<div class="dx-fieldset" style=" width: 100%;">
							<div class="dx-field" >
								<div class="dx-field-label">Privilege</div>
								<div class="dx-field-value">
									<dx-select-box
										[dataSource]="privilegeNameDs"
										[searchEnabled]="true"
										displayExpr="privilegeName"
										valueExpr="privilegeId"
										[showClearButton]="true"
										[(value)]="formAddMenu.privilegeId"
									>
									</dx-select-box>
								</div>
							</div>

							<div class="dx-field" >
								<div class="dx-field-label">Menu Name</div>
								<div class="dx-field-value">
									<dx-select-box
										[dataSource]="menuNameDs"
										[searchEnabled]="true"
										displayExpr="menuName"
										valueExpr="menuId"
										[showClearButton]="true"
										[(value)]="formAddMenu.menuId"
									>
									</dx-select-box>
								</div>
							</div>

						</div>
					</div>
					
				</div>

				<div class="row  ml-2 mr-3">
					<div class="col-md text-right">
						<dx-button text="Simpan" type="success" [useSubmitBehavior]="true"></dx-button>
					</div>
				</div>

			</div>

		</form>
	</div>
</dx-popup> -->



<dx-popup
	[width]="300"
	[height]="250"
	[showTitle]="true"
	title="Tambah Data Menu Action"
	[dragEnabled]="false"
	[closeOnOutsideClick]="false"
	[(visible)]="addDataMenuActionPopUp">
	<div *dxTemplate="let data of 'content'">
		
		<form (ngSubmit)="createMenuActionSubmit($event)">
			<div>
				<div class="row  ml-2 mr-3">
					<div class="col-md">
						<div class="dx-fieldset" style=" width: 100%;">
							<div class="dx-field" >
								<div class="dx-field-label">Privilege</div>
								<div class="dx-field-value">
									<dx-select-box
										[dataSource]="privilegeNameDs"
										[searchEnabled]="true"
										displayExpr="privilegeName"
										valueExpr="privilegeId"
										[showClearButton]="true"
										[(value)]="formAddMenuAction.privilegeId"
									>
									</dx-select-box>
								</div>
							</div>

							<div class="dx-field" >
								<div class="dx-field-label">Menu</div>
								<div class="dx-field-value">
									<dx-select-box
										[dataSource]="menuNameDs"
										[searchEnabled]="true"
										displayExpr="menuName"
										valueExpr="menuId"
										[showClearButton]="true"
										(onValueChanged)="onTriggerChange($event)"
										[(value)]="formAddMenuAction.menuId"
									>
									</dx-select-box>
								</div>
							</div>

							<div class="dx-field" >
								<div class="dx-field-label">Menu Action</div>
								<div class="dx-field-value">
									<dx-select-box
										[dataSource]="menuActionDs"
										[searchEnabled]="true"
										displayExpr="menuActionName"
										valueExpr="menuActionId"
										[showClearButton]="true"
										[(value)]="formAddMenuAction.menuActionId"
									>
									</dx-select-box>
								</div>
							</div>

						</div>
					</div>
					
				</div>

				<div class="row  ml-2 mr-3">
					<div class="col-md text-right">
						<dx-button text="Simpan" type="success" [useSubmitBehavior]="true"></dx-button>
					</div>
				</div>

			</div>

		</form>
	</div>
</dx-popup>

<dx-popup
	[width]="300"
	[height]="250"
	[showTitle]="true"
	title="Delete Data Menu Action"
	[dragEnabled]="false"
	[closeOnOutsideClick]="false"
	[(visible)]="deleteDataMenuActionPopUp">
	<div *dxTemplate="let data of 'content'">
		
		<form (ngSubmit)="deleteMenuActionSubmit($event)">
			<div>
				<div class="row  ml-2 mr-3">
					<div class="col-md">
						<div class="dx-fieldset" style=" width: 100%;">
							<div class="dx-field" >
								<div class="dx-field-label">Privilege</div>
								<div class="dx-field" >
									<div class="dx-field-value">
										<dx-text-box [(value)]="formDelete.privilegeName" [disabled]="true"> </dx-text-box>
									</div>
								</div>
							</div>

							<div class="dx-field" >
								<div class="dx-field-label">Menu</div>
								<div class="dx-field" >
									<div class="dx-field-value">
										<dx-text-box [(value)]="formDelete.menuName" [disabled]="true"> </dx-text-box>
									</div>
								</div>
							</div>

							<div class="dx-field" >
								<div class="dx-field-label">Menu Action</div>
								<div class="dx-field" >
									<div class="dx-field-value">
										<dx-text-box [(value)]="formDelete.menuActionName" [disabled]="true"> </dx-text-box>
									</div>
								</div>
							</div>

						</div>
					</div>
					
				</div>

				<div class="row  ml-2 mr-3">
					<div class="col-md text-right">
						<dx-button text="Delete" type="danger" [useSubmitBehavior]="true"></dx-button>
					</div>
				</div>

			</div>

		</form>
	</div>
</dx-popup>