<div class="row">
	<div class="col-12">
		<kt-portlet>
			<kt-portlet-header title="Update Flight Transit Route">
				<ng-container ktPortletTools> </ng-container>
			</kt-portlet-header>

			<kt-portlet-body>
				<form (ngSubmit)="createSubmit($event)">
                    <div>
                        <div class="row  ml-2 mr-3">
                            <div class="col-md">
                                <div class="dx-fieldset" style=" width: 100%;">
                                    <dx-text-box [(value)]="fromUpdate.transitRouteId" hidden></dx-text-box>
                                    <dx-text-box [(value)]="fromUpdate.originCityId" hidden></dx-text-box>
                                    <dx-text-box [(value)]="fromUpdate.firstFlightCodeId" hidden></dx-text-box>
                                    <dx-text-box [(value)]="fromUpdate.firstFlightId" hidden></dx-text-box>
                                    <dx-text-box [(value)]="fromUpdate.cityTransitId" hidden></dx-text-box>
                                    <dx-text-box [(value)]="fromUpdate.lastFlightCodeId" hidden></dx-text-box>
                                    <dx-text-box [(value)]="fromUpdate.lastFlightId" hidden></dx-text-box>
                                    <dx-text-box [(value)]="fromUpdate.finalDestinationCityId" hidden></dx-text-box>

                                    <div class="dx-field" >
                                        <div class="dx-field-label">Origin City</div>
                                        <div class="dx-field" >
                                            <div class="dx-field-value">
                                                <dx-text-box [(value)]="fromUpdate.originCity" [readOnly]="true"></dx-text-box>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="dx-field" >
                                        <div class="dx-field-label">First Flight</div>
                                        <div class="dx-field" >
                                            <div class="dx-field-value">
                                                <dx-text-box [(value)]="fromUpdate.firstFlight" [readOnly]="true"></dx-text-box>
                                            </div>
                                        </div>
                                    </div>
        
                                    <div class="dx-field" >
                                        <div class="dx-field-label">Kota Transit ( lama / baru )</div>
                                        <div class="dx-field-value">
                                            <table style="width: 100%;">
                                                <tr>
                                                    <td>
                                                        <dx-text-box [(value)]="fromUpdate.cityTransit" [readOnly]="true"></dx-text-box>
                                                    </td>
                                                    <td>
                                                        <dx-select-box
                                                            [dataSource]="cityTransitDs"
                                                            [searchEnabled]="true"
                                                            displayExpr="cityTransitName"
                                                            valueExpr="cityTransitId"
                                                            [showClearButton]="true"
                                                            [(value)]="fromUpdate.cityTransitId"
                                                        >
                                                        </dx-select-box>
                                                    </td>
                                                </tr>
                                            </table>
                                        </div>
                                    </div>

                                    <div class="dx-field" >
                                        <div class="dx-field-label">Last Flight</div>
                                        <div class="dx-field" >
                                            <div class="dx-field-value">
                                                <dx-text-box [(value)]="fromUpdate.lastFlight" [readOnly]="true"></dx-text-box>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="dx-field" >
                                        <div class="dx-field-label">Tujuan Akhir</div>
                                        <div class="dx-field" >
                                            <div class="dx-field-value">
                                                <dx-text-box [(value)]="fromUpdate.finalDestinationCity" [readOnly]="true"></dx-text-box>
                                            </div>
                                        </div>
                                    </div>
        
        
                                </div>
                            </div>
                            
                        </div>
        
                        <div class="row  ml-2 mr-3">
                            <div class="col-md text-right">
                                <dx-button text="Simpan" type="success" [useSubmitBehavior]="true"></dx-button>
                            </div>
                        </div>
        
                    </div>
        
                </form>
				
			</kt-portlet-body>
		</kt-portlet>

	</div>
</div>