<div class="row">
	<div class="col-12">
		<kt-portlet>
			<kt-portlet-header title="Agreement Master">
				<ng-container ktPortletTools> </ng-container>
			</kt-portlet-header>

			<kt-portlet-body>

				<div *ngIf="menuForb" class="alert alert-warning box-msg" role="alert">
					<strong>Warning!</strong>
					<span style="padding-left: 10px;">You doesn't have permission to access this page.</span>
				</div>
				
				<div *ngIf="menuPriv">
                    <strong style="font-size: large;">Gerai Corporate</strong>
                    <br/>
					<dx-data-grid id="gridContainer"
								[dataSource]="ds" [showBorders]="true">
						<dxo-filter-row [visible]="true"></dxo-filter-row>
						<dxo-header-filter [visible]="true"></dxo-header-filter>
                        <dxi-column dataField="subBranchId" dataType="number" caption="subBranchId" [visible]="false"> </dxi-column>
						<dxi-column dataField="subBranchCode" dataType="string" caption="Kode Gerai" > </dxi-column>
                        <dxi-column dataField="subBranchName" dataType="string" caption="Nama Gerai" > </dxi-column>
                        <dxi-column dataField="subBranchAddress" dataType="string" caption="Alamat Gerai" > </dxi-column>
                        <dxi-column dataField="statusAgree" dataType="string" caption="Status" > </dxi-column>

                        <dxi-column type="buttons" [width]="200" caption="Detail" style="font-weight: bold;">
                            <dxi-button text="Detail" hint="Detail Data" [onClick]="detail"> </dxi-button>
                        </dxi-column>
					</dx-data-grid>
				</div>
			</kt-portlet-body>
		</kt-portlet>

	</div>
</div>
