<!-- <div (window:beforeunload)="onBeforeUnload()"></div> -->
<div class="row">
	<div class="col-12">
		<kt-portlet>
			<kt-portlet-header title="Privilege Master">
				<ng-container ktPortletTools> </ng-container>
			</kt-portlet-header>

			<kt-portlet-body>
				<div *ngIf="forbid" class="alert alert-warning box-msg" role="alert">
					<strong>Warning!</strong>
					<span style="padding-left: 10px;">You doesn't have permission.</span>
				</div>

				<div *ngIf="privilege_data_list">
					<mat-tab-group>
						<mat-tab label="Privilege - List">
							<ng-template matTabContent>

								<div style="float: right;" >
									<div class="option">
										<a href="javascript:;"  (click)="ubahDataPrivilege()" style="padding: 5%;width: 150px; font-weight: bold;" class="dx-button dx-button-success dx-button-mode-contained dx-widget dx-button-has-text dx-state-hover">Ubah Akses Privilege</a>
                                        
									</div>
								</div>
								<div class="options">
									<div class="caption">Options</div>
									<div class="option">
										<dx-check-box
											[(value)]="expand.autoExpandAll"
											text="Expand All Groups">
										</dx-check-box>
									</div>
								</div>
								<br/>
								<br/>
								<dx-data-grid id="gridContainer" #targetDataGrid
											[dataSource]="privilegeListDs" [showBorders]="true">
									<dxo-filter-row [visible]="true"></dxo-filter-row>
									<dxo-header-filter [visible]="true"></dxo-header-filter>
									<dxo-grouping #expand [autoExpandAll]="false" ></dxo-grouping>
									<dxo-paging [pageSize]="1000"></dxo-paging>

									<dxi-column dataField="privilegeName" dataType="string" caption="Privilege Name" [groupIndex]="0"> </dxi-column>
									<dxi-column dataField="menuName" dataType="string" caption="Menu" [groupIndex]="1"> </dxi-column>
									<dxi-column dataField="menuActionName" caption="Privilege" [allowHeaderFiltering]="false"> </dxi-column>

									<dxo-grouping
										[expandMode]="'rowClick'"
										[contextMenuEnabled]="true">
									</dxo-grouping>
									<dxo-group-panel
										[visible]="true"> 
									</dxo-group-panel>

								</dx-data-grid>

								
								
							</ng-template>

						</mat-tab>

					</mat-tab-group>

				</div>

			</kt-portlet-body>
		</kt-portlet>

	</div>
</div>


<!-- <dx-popup
	[width]="'90%'"
	[height]="'80%'"
	[showTitle]="true"
	title="Details"
	[dragEnabled]="false"
	[closeOnOutsideClick]="false"
	[(visible)]="DetailPopupVisible">

	<div *dxTemplate="let data of 'content'">
		<kt-privilege-master-detail-list [privilegeId]="currentPrivilege.privilegeId"></kt-privilege-master-detail-list>
	</div>
</dx-popup> -->


<dx-popup [closeOnOutsideClick]="true" [(visible)]="ubahDataPrivilegePopUp"
		  [width]="'98%'" height="98%" contentTemplate="PrivilegeContent">
		
		  <div *dxTemplate="let data of 'PrivilegeContent'">

			<dx-scroll-view width="100%" height="100%">
				<div class="row">
					<div class="col-12">
						<kt-portlet>
							<kt-portlet-header title="Privilege">
								<ng-container ktPortletTools> </ng-container>	
							</kt-portlet-header>

							<div class="col-6 row  ml-2 mr-3">
								<div class="col-md">
									<div class="dx-fieldset" style=" width: 100%;">
										<div class="dx-field" >
											<div class="dx-field-label">Privilege Name</div>
											<div class="dx-field-value">
												<dx-select-box
													[dataSource]="privilegeNameDs"
													[searchEnabled]="true"
													displayExpr="privilegeName"
													valueExpr="privilegeId"
													[showClearButton]="true"
													[(value)]="searchForm.privilegeId"
												>
												</dx-select-box>
											</div>
										</div>
		
									</div>
								</div>
							</div>

							<div class="col-6 row  ml-2 mr-3">
								<div class="col-md">
									<div class="dx-fieldset" style=" width: 100%;">
										<div class="dx-field" >
											<div style="float: right;" >
												<div class="option">
													<a href="javascript:;"  (click)="searchData()" style="padding: 5%;width: 100px; font-weight: bold;" class="dx-button dx-button-success dx-button-mode-contained dx-widget dx-button-has-text dx-state-hover">Search</a>
													
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
				
							<kt-portlet-body>
				
								<mat-tab-group>
									<mat-tab label="User">
										<kt-privilege-user #userData></kt-privilege-user>
									</mat-tab>
				
									<mat-tab label="Menu">
										<kt-privilege-menu #menuData></kt-privilege-menu>
									</mat-tab>
								</mat-tab-group>
				
				
							</kt-portlet-body>
						</kt-portlet>
				
					</div>
				</div>
			</dx-scroll-view>

	</div>
</dx-popup>