<div class="row">
	<div class="col-12">
		<kt-portlet>
			<kt-portlet-body>
				<div *ngIf="menuForb" class="alert alert-warning box-msg" role="alert">
					<strong>Warning!</strong>
					<span style="padding-left: 10px;">You doesn't have permission to access this page.</span>
				</div>

				<div *ngIf="menuPriv">
                    <table style="width: 100%">
                        <tr>
                            <td>
                                <div class="dx-field-label" style="font-weight: bold; font-size: 300%">NO SPB</div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <dx-text-box [(value)]="formCreate.spbNo" style="font-size: 800%" (onEnterKey)="valueChanged($event)"></dx-text-box>
                            </td>
                        </tr>
                    </table>
                </div>
			</kt-portlet-body>
		</kt-portlet>

	</div>
</div>



