<div class="row">
	<div class="col-12">
		<kt-portlet>
			<kt-portlet-header title="Create Cost Penerus">
				<ng-container ktPortletTools> </ng-container>
			</kt-portlet-header>

			<kt-portlet-body>
                
                <div class="row  ml-2 mr-3">
                    <div class="col-md">
                        <div class="dx-fieldset">
                            
                            <div class="dx-field">
                                <div class="dx-field-label">Bandara Tujuan</div>
                                <div class="dx-field-value">
                                    <dx-select-box [dataSource]="stationDestinationDs" [searchEnabled]="true" displayExpr="stationName" valueExpr="stationId" [(value)]="formCreate.stationId" [showClearButton]="true" (onValueChanged)="onTriggerChange($event)">
										<dx-validator>
											<dxi-validation-rule type="required"></dxi-validation-rule>
										</dx-validator>
									</dx-select-box>
                                </div>
                            </div>

                            <div class="dx-field">
                                <div class="dx-field-label">Kota Tujuan</div>
                                <div class="dx-field-value">
                                    <dx-select-box [dataSource]="cityDestinationDs" [searchEnabled]="true" displayExpr="companyCityNameCustom" valueExpr="cityId" [(value)]="formCreate.cityId" [showClearButton]="true">
										<dx-validator>
											<dxi-validation-rule type="required"></dxi-validation-rule>
										</dx-validator>
									</dx-select-box>
                                </div>
                            </div>

                            <div class="dx-field">
                                <div class="dx-field-label">Vendor Tujuan</div>
                                <div class="dx-field-value">
                                    <dx-select-box [dataSource]="vendorDestinationDs" [searchEnabled]="true" displayExpr="vendorName" valueExpr="vendorId" [(value)]="formCreate.vendorId" [showClearButton]="true">
										<dx-validator>
											<dxi-validation-rule type="required"></dxi-validation-rule>
										</dx-validator>
									</dx-select-box>
                                </div>
                            </div>

                            <div class="dx-field">
                                <div class="dx-field-label">Base Cost</div>
                                <div class="dx-field-value">
                                    <dx-text-box [(value)]="formCreate.baseCost">
                                        <dxi-validation-rule type="required" ></dxi-validation-rule>
                                    </dx-text-box>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                
                
                <div class="row  ml-2 mr-3">
                    <div class="col-md text-right">
                        <dx-button text="Create" type="default" (onClick)="onSave()"></dx-button>&nbsp;&nbsp;
                        <dx-button text="Kembali" type="danger" (onClick)="onBack()"></dx-button>  
                    </div>
                </div>

			</kt-portlet-body>
		</kt-portlet>

	</div>
</div>



