<div class="row">
	<div class="col-12">
		<kt-portlet>
			<kt-portlet-header title="Account Payable">
				<ng-container ktPortletTools> </ng-container>
			</kt-portlet-header>

			<kt-portlet-body>
				<div *ngIf="menuForb" class="alert alert-warning box-msg" role="alert">
					<strong>Warning!</strong>
					<span style="padding-left: 10px;">You doesn't have permission to access this page.</span>
            	</div>
				<div *ngIf="menuPriv">
				<div style="background-color: #f5f5f5; padding: 1%; border: 1px solid #e2e2e2;">

					<div class="row  ml-2 mr-3">
						<table style="width: 100%; align-items: left;">
							<tr>
								<td style="width: 50%;">
									<div class="dx-field mb-2" >
										<div class="dx-field-label" style="width:25%">Customer</div>
										<div class="dx-field-value" style="float:left; width: 65%;">
											<dx-select-box [tabIndex]="500" searchEnabled="true" [dataSource]="cityBranchDs" valueExpr="cityId" displayExpr="branch" [(value)]="formSearch.cityId" [showClearButton]="true">
											</dx-select-box>
										</div>
									</div>

									<div class="dx-field">
										<div class="dx-field-label" style="width:25%">Moda</div>	
										<div class="dx-field-value" style="float:left; width: 65%;">
											<dx-select-box [dataSource]="modaDs" [searchEnabled]="true" displayExpr="modaName" valueExpr="modaValue" [(value)]="formSearch.moda" [showClearButton]="true">
												<dx-validator>
													<dxi-validation-rule type="required"></dxi-validation-rule>
												</dx-validator>
											</dx-select-box>
										</div>
									</div>

								</td>
								<td>
									<div class="dx-field" >
										&nbsp;
									</div>
									<div class="dx-field" >
										<dx-button text="Search" type="success" (onClick)="onSearch()"></dx-button> 
									</div>
								</td>
							</tr>
						</table>
					</div>
				
				</div>

				<br/>

				<dx-data-grid id="gridContainer" [dataSource]="ds" [showBorders]="true">
					<dxo-paging [enabled]="true"></dxo-paging>
					<dxo-filter-row [visible]="true"></dxo-filter-row>
					<dxo-header-filter [visible]="true"></dxo-header-filter>
					<dxo-editing mode="row"> </dxo-editing>       
					<!-- <dxi-column dataField="createdAt" dataType="date" caption="Date" [format]="'MMMM dd, yyyy'"></dxi-column>
					<dxi-column dataField="coaCode"></dxi-column>
					<dxi-column dataField="coaName"></dxi-column>
					<dxi-column dataField="keterangan"></dxi-column>
					<dxi-column dataField="debit" [format]="{ type: 'fixedPoint', precision: 0 }"></dxi-column>
					<dxi-column dataField="credit" [format]="{ type: 'fixedPoint', precision: 0 }"></dxi-column>
					<dxi-column dataField="cumulativeBalance" caption="Saldo" [format]="{ type: 'fixedPoint', precision: 0 }"></dxi-column>
					<dxo-summary>
						<dxi-total-item column="debit" summaryType="sum" [customizeText]="thousandSeparator" displayFormat="Total: {0}"> </dxi-total-item>
						<dxi-total-item column="credit" summaryType="sum" [customizeText]="thousandSeparator" displayFormat="Total: {0}"> </dxi-total-item>
						<dxi-total-item column="saldo" summaryType="sum" [customizeText]="thousandSeparator" displayFormat="Total: {0}"> </dxi-total-item>
					</dxo-summary> -->
				</dx-data-grid>
			</div>
			</kt-portlet-body>
		</kt-portlet>
	</div>
</div>
