<div align="left">
	<dx-button icon="plus" [width]="25" [height]="25" type="success" (onClick)="addUserData()"></dx-button>
</div>

<br/> 

  <div style="background-color: #f5f5f5; padding: 1%; border: 1px solid #e2e2e2;">

	<div class="row  ml-2 mr-3">
		<table style="width: 100%; align-items: left;">
			<tr>
				<td style="width: 30%;">
					<div class="dx-field" >
						<div class="dx-field-label" style="width:15%">Status</div>
						<div class="dx-field-value" style="float:left; width: 80%;">
							<dx-select-box [dataSource]="statusDs" [searchEnabled]="true" displayExpr="name" valueExpr="id" [(value)]="formSearch.statusId" [showClearButton]="true" ></dx-select-box>
						</div>
					</div>
				</td>
				<td>
					<div class="dx-field" >
						<dx-button text="Search" type="success" (onClick)="onSearch()"></dx-button> 
					</div>
				</td>
			</tr>
		</table>
	</div>

  </div>
  
  <br/>

  <dx-data-grid id="gridContainer" [dataSource]="dsUserList" [showBorders]="true">
	<dxo-filter-row [visible]="true"></dxo-filter-row>
	<dxo-header-filter [visible]="true"></dxo-header-filter>
	<dxo-paging [pageSize]="20"></dxo-paging>

	<dxi-column dataField="username" [width]="200" dataType="string" caption="Username" alignment="left"> </dxi-column>
	<dxi-column dataField="email" [width]="200" dataType="string" caption="E-Mail" alignment="left"> </dxi-column>
	<dxi-column dataField="fullName" [width]="200" dataType="string" caption="Nama lengkap" alignment="left"> </dxi-column>
	<dxi-column dataField="workUnit" [width]="200" dataType="string" caption="Unit Kerja" alignment="left"> </dxi-column>
	<dxi-column dataField="workPlace" [width]="200" dataType="string" caption="Tempat" alignment="left"> </dxi-column>
	<dxi-column dataField="privilegeName" [width]="200" dataType="string" caption="Privilege" alignment="center"> </dxi-column>
	<dxi-column dataField="rolesName" [width]="100" dataType="string" caption="Roles" alignment="center"> </dxi-column>
	<dxi-column dataField="status" [width]="100" dataType="string" caption="Status" alignment="center"> </dxi-column>
    <dxi-column type="buttons" [width]="80" caption="Detail" style="font-weight: bold;">
		<dxi-button text="Detail" hint="Detail" [onClick]="detailDataUser"> </dxi-button>
	</dxi-column>
</dx-data-grid>