
	<dx-data-grid
		id="gridDetailContainer"
		[dataSource]="ViewDetailListDs"
		(onRowPrepared)="onRowPrepared($event)"
		[showBorders]="true">

		<dxo-filter-row [visible]="true"></dxo-filter-row>
		<dxo-header-filter [visible]="true"></dxo-header-filter>

		<dxi-column dataField="menuName" dataType="string" caption="Menu" [fixed]="true" > </dxi-column>
		<dxi-column dataField="menuKey" dataType="string" caption="Menu Key" > </dxi-column>
		<dxi-column dataField="menuAction" dataType="string" caption="Action" > </dxi-column>
		<dxi-column dataField="value" dataType="string" caption="Value" > </dxi-column>
		<dxi-column dataField="desc" dataType="string" caption="Description" > </dxi-column>
	</dx-data-grid>
						