<div class="row">
	<div class="col-12">
		<kt-portlet>
			<kt-portlet-header title="Master Mapping Area ( List Kota yang tidak bisa di Akses )">
				<ng-container ktPortletTools> </ng-container>
			</kt-portlet-header>

			<kt-portlet-body>
				<div *ngIf="menuForb" class="alert alert-warning box-msg" role="alert">
					<strong>Warning!</strong>
					<span style="padding-left: 10px;">You doesn't have permission to access this page.</span>
            	</div>

				<div *ngIf="menuPriv">
                     <div align="left">
                        <dx-button icon="plus" [width]="25" [height]="25" type="success" (onClick)="addCost()"></dx-button>
                    </div>
					<br>
                    <dx-data-grid id="gridContainer"
                                [dataSource]="dsList" [showBorders]="true">
                      <dxo-filter-row [visible]="true"></dxo-filter-row>
                      <dxo-header-filter [visible]="true"></dxo-header-filter>

					  <dxi-column [allowFiltering]="false" [fixed]="true" caption="Action" alignment="left"
									[allowSorting]="false" cellTemplate="cellTemplate"></dxi-column>
						<div *dxTemplate="let data of 'cellTemplate'">
							<dx-drop-down-button
								[dropDownOptions]="{ width: 150 }"
								icon="menu"
								[items]="[{icon: 'close' ,key: 'delete', value: 'Delete', data: data.data}]"
									(onItemClick)="actionCLick($event)"
									[displayExpr]="'value'"
									[keyExpr]="'key'"
									></dx-drop-down-button>
								</div>
								
						<dxi-column type="adaptive" [width]="50"></dxi-column>

  					  <dxi-column dataField="areaName" dataType="string" caption="Area" alignment="left"> </dxi-column>
                      <dxi-column dataField="cityName" dataType="string" caption="Kota" alignment="left"> </dxi-column>
                      <dxi-column dataField="subDistrictName" dataType="string" caption="Kecamatan" alignment="left"> </dxi-column>

                    </dx-data-grid>

				</div>
			</kt-portlet-body>
			

		</kt-portlet>

	</div>
</div>