<div class="row">
	<div class="col-12">
		<kt-portlet>
			<kt-portlet-header title="Coa Accured Expenses Management">
				<ng-container ktPortletTools> </ng-container>
			</kt-portlet-header>
		
			<kt-portlet-body>

				<div *ngIf="menuForb" class="alert alert-warning box-msg" role="alert">
					<strong>Warning!</strong>
					<span style="padding-left: 10px;">You doesn't have permission to access this page.</span>
				</div>
				
				<div *ngIf="menuPriv">
					<dx-button icon="plus" type="success" (onClick)="coaAccuredExpensesManagementCreate()"> </dx-button>
					<dx-data-grid id="gridContainer"
								[dataSource]="ds" [showBorders]="true">
						<dxo-filter-row [visible]="true"></dxo-filter-row>
						<dxo-header-filter [visible]="true"></dxo-header-filter>
						<dxi-column [allowFiltering]="false" [fixed]="true" caption="Action" alignment="left" [allowSorting]="false" cellTemplate="cellTemplate"></dxi-column>
                        <dxi-column dataField="coaCode" dataType="string" caption="Coa Code" > </dxi-column>
                        <dxi-column dataField="coaName" dataType="string" caption="Coa Name" > </dxi-column>
						<dxi-column dataField="coaParentName" dataType="string" caption="Coa Parent Name" > </dxi-column>
                      	<div *dxTemplate="let data of 'cellTemplate'">
							<dx-drop-down-button
								icon="edit"
								[items]="[
				
										{key: 'delete', value: 'Hapus', data: data.data}
									]"
								(onItemClick)="ChooseAction($event)"
								[displayExpr]="'value'"
								[keyExpr]="'key'"
								[dropDownOptions]="{
									width: 100
								}"
							></dx-drop-down-button>
						</div>
					</dx-data-grid>
				</div>
			</kt-portlet-body>
		</kt-portlet>

	</div>
</div>