<div class="row">
	<div class="col-12">
		<kt-portlet>
			<kt-portlet-header title="Detail Gerai" style="font-size: larger;">
				<ng-container ktPortletTools> </ng-container>
			</kt-portlet-header>
            
			<kt-portlet-body>
                <div class="row  ml-2 mr-3" style="margin-top: -2%;">
                    <div class="col-md">
                        <div class="dx-fieldset">
                            
                            <div class="dx-field">
                                <div class="dx-field-label">Kode Gerai</div>
                                <div class="dx-field-value">
                                    <dx-text-box [(value)]="this.subBranchCode" [disabled]="true">
                                        <dxi-validation-rule type="required" ></dxi-validation-rule>
                                    </dx-text-box>
                                </div>
                            </div> 

                            <div class="dx-field">
                                <div class="dx-field-label">Nama Gerai</div>
                                <div class="dx-field-value">
                                    <dx-text-box [(value)]="this.subBranchName" [disabled]="true">
                                        <dxi-validation-rule type="required" ></dxi-validation-rule>
                                    </dx-text-box>
                                </div>
                            </div> 

                            <div class="dx-field">
                                <div class="dx-field-label">Alamat Gerai</div>
                                <div class="dx-field-value">
                                    <dx-text-box [(value)]="this.subBranchAddress" [disabled]="true">
                                        <dxi-validation-rule type="required" ></dxi-validation-rule>
                                    </dx-text-box>
                                </div>
                            </div> 

                            <div class="dx-field">
                                <div class="dx-field-label">Status</div>
                                <div class="dx-field-value">
                                    <dx-radio-group
                                        [items]="dataItems"
                                        valueExpr="id"
                                        displayExpr="text"
                                        [(value)]="this.selectionId"
                                        (onValueChanged)="onValueChanged($event)">
                                    </dx-radio-group>
                                </div>
                            </div> 

                        </div>
                    </div>
                </div>
               
                <div class="row  ml-2 mr-3">
                    <div class="col-md text-right">
                        <dx-button text="Kembali" type="danger" (onClick)="onBack()"></dx-button>
                    </div>
                </div>

				<!-- </div> -->
			</kt-portlet-body>
		</kt-portlet>

	</div>
</div>