<div class="row">
	<div class="col-12">
		<kt-portlet>
			<kt-portlet-header title="Detail User" style="font-size: larger;">
				<ng-container ktPortletTools> </ng-container>
			</kt-portlet-header>
            
			<kt-portlet-body>
                <div class="row  ml-2 mr-3" style="margin-top: -2%;">
                    <div class="col-md">
                        <div class="dx-fieldset">
                            
                            <div class="dx-field">
                                <div class="dx-field-label">Username</div>
                                <div class="dx-field-value">
                                    <dx-text-box [(value)]="formDetail.username" [disabled]="true">
                                        <dxi-validation-rule type="required" ></dxi-validation-rule>
                                    </dx-text-box>
                                </div>
                            </div> 

                            <div class="dx-field">
                                <div class="dx-field-label">Full Name</div>
                                <div class="dx-field-value">
                                    <dx-text-box [(value)]="formDetail.fullname" [disabled]="true">
                                        <dxi-validation-rule type="required" ></dxi-validation-rule>
                                    </dx-text-box>
                                </div>
                            </div> 

                            <div class="dx-field">
                                <div class="dx-field-label">E-Mail</div>
                                <div class="dx-field-value">
                                    <dx-text-box [(value)]="formDetail.email" [disabled]="true">
                                        <dxi-validation-rule type="required" ></dxi-validation-rule>
                                    </dx-text-box>
                                </div>
                            </div> 

                            <div class="dx-field">
                                <div class="dx-field-label">Privilege</div>
                                <div class="dx-field-value">
                                    <dx-text-box [(value)]="formDetail.privilegeName" [disabled]="true">
                                        <dxi-validation-rule type="required" ></dxi-validation-rule>
                                    </dx-text-box>
                                </div>
                            </div> 

                            <div class="dx-field">
                                <div class="dx-field-label">Role</div>
                                <div class="dx-field-value">
                                    <dx-text-box [(value)]="formDetail.rolesName" [disabled]="true">
                                        <dxi-validation-rule type="required" ></dxi-validation-rule>
                                    </dx-text-box>
                                </div>
                            </div> 

                            <div class="dx-field">
                                <div class="dx-field-label">Area Role</div>
                                <div class="dx-field-value">
                                    <dx-text-box [(value)]="formDetail.description" [disabled]="true">
                                        <dxi-validation-rule type="required" ></dxi-validation-rule>
                                    </dx-text-box>
                                </div>
                            </div> 

                            <div class="dx-field">
                                <div class="dx-field-label">Status</div>
                                <div class="dx-field-value">
                                    <dx-radio-group
                                        id="radio-group-with-selection"
                                        [items]="dataItems"
                                        valueExpr="id"
                                        displayExpr="name"
                                        [(value)]="selectionId"
                                        (onValueChanged)="onValueChanged($event)">
                                    </dx-radio-group>
                                </div>
                            </div> 

                        </div>
                    </div>
                </div>

               
                <div class="row  ml-2 mr-3">
                    <div class="col-md text-right">
                        <dx-button text="Kembali" type="danger" (onClick)="onBack()"></dx-button>
                    </div>
                </div>

				<!-- </div> -->
			</kt-portlet-body>
		</kt-portlet>

	</div>
</div>