<div class="row  ml-2 mr-3">
    <div class="col-md">
        <div class="dx-fieldset">
            
            <div class="dx-field">
                <div class="dx-field-label">Spb No</div>
                <div class="dx-field-value">
                    <dx-text-box [(value)]="formCreate.spbNo">
                        <dxi-validation-rule type="required" ></dxi-validation-rule>
                    </dx-text-box>
                </div>
            </div>

            <div class="dx-field">
                <div class="dx-field-label">Alasan</div>
                <div class="dx-field-value">
                    <dx-text-area
                        [height]="120"
                        [maxLength]="255"
                        [(value)]="formCreate.reason">
                    </dx-text-area>
                </div>
            </div>
            
        </div>
    </div>
</div>


<div class="row  ml-2 mr-3">
    <div class="col-md text-right">
        <dx-button text="Create" type="default" (onClick)="onSave()"></dx-button> 
    </div>
</div>