<div class="row">
	<div class="col-12">
		<kt-portlet>
			<kt-portlet-header title="{{this.username}} [ {{this.fullname}} ]" style="font-size: larger;">
				<ng-container ktPortletTools> </ng-container>
			</kt-portlet-header>
            
			<kt-portlet-body>
                <div class="row  ml-2 mr-3" style="margin-top: -2%;">
                    <div class="col-md">
                        <div class="dx-fieldset">
                            
                            <strong style="font-size: large;">{{ this.unitName | uppercase }}</strong>
                            <div class="dx-field">
                                <div class="dx-field-label">{{ this.unitBranchName }}</div>
                                <div class="dx-field-value">
                                    <dx-text-box [(value)]="formCreate.unitBranchValue" [disabled]="true">
                                        <dxi-validation-rule type="required" ></dxi-validation-rule>
                                    </dx-text-box>
                                </div>
                            </div>

                            <div class="dx-field">
                                <div class="dx-field-label">Kota</div>
                                <div class="dx-field-value">
                                    <dx-select-box [dataSource]="cityDs" [searchEnabled]="true" displayExpr="name" valueExpr="id" [(value)]="formCreate.cityId" (onValueChanged)="onTriggerChange($event)" [showClearButton]="true" >
                                        <dxi-validation-rule type="required" ></dxi-validation-rule>
									</dx-select-box>
                                </div>
                            </div>

                            <div class="dx-field">
                                <div class="dx-field-label">Area / Kecamatan</div>
                                <div class="dx-field-value">
                                    <dx-select-box [dataSource]="subDistrictDs" [searchEnabled]="true" displayExpr="name" valueExpr="id" [(value)]="formCreate.subDistrictId" [showClearButton]="true" >
                                        <dxi-validation-rule type="required" ></dxi-validation-rule>
									</dx-select-box>
                                </div>
                            </div>
                            
                            <div class="dx-field">
                                <div class="dx-field-label">Kode Unit</div>
                                <div class="dx-field-value">
                                    <dx-text-box [(value)]="formCreate.unitPlaceCode">
                                        <dxi-validation-rule type="required" ></dxi-validation-rule>
                                    </dx-text-box>
                                </div>
                            </div>

                            <div class="dx-field">
                                <div class="dx-field-label">Nama Tempat</div>
                                <div class="dx-field-value">
                                    <dx-text-box [(value)]="formCreate.unitPlaceName">
                                        <dxi-validation-rule type="required" ></dxi-validation-rule>
                                    </dx-text-box>
                                </div>
                            </div>

                            <div class="dx-field">
                                <div class="dx-field-label">Alamat Tempat</div>
                                <div class="dx-field-value">
                                    <dx-text-area [height]="90" [maxLength]="255" [(value)]="formCreate.unitPlaceAddress">
                                    </dx-text-area>
                                </div>
                            </div>
                            
                            <div class="dx-field">
                                <div class="dx-field-label">Time Zone</div>
                                <div class="dx-field-value">
                                    <dx-text-box [(value)]="formCreate.timeZone" type="time">
                                        <dxi-validation-rule type="required" ></dxi-validation-rule>
                                    </dx-text-box>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </div>

               
                <div class="row  ml-2 mr-3">
                    <div class="col-md text-right">
                        <dx-button text="Create" type="default" (onClick)="onSave()"></dx-button> 
                        &nbsp;&nbsp;
                        <dx-button text="Kembali" type="danger" (onClick)="onBack()"></dx-button>
                    </div>
                </div>

				<!-- </div> -->
			</kt-portlet-body>
		</kt-portlet>

	</div>
</div>