<div class="row">
	<div class="col-12">
		<kt-portlet>
            
			<kt-portlet-header title="Surat Pengiriman Barang">
				<ng-container ktPortletTools>
					<!-- <div *ngIf="menuPriv"> -->
						<h2> No SPB &nbsp;&nbsp;</h2>
						<span class="badge badge-primary ">
							<h2><b>
                                {{spbNumber}}
                            </b></h2>
						</span>
					<!-- </div> -->


				</ng-container>
			</kt-portlet-header>

			<kt-portlet-body>
				<!-- <div *ngIf="forbid" class="alert alert-warning box-msg" role="alert">
					<strong>Warning!</strong>
					<span style="padding-left: 10px;">You doesn't have permission to access this page.</span>
				</div>

				<div *ngIf="permit">
					<kt-rates-datagrid #allData></kt-rates-datagrid>
				</div> -->
                <div style="position:relative; width: 100%;">
                    <div style="float:left; width: 33%; ">
                        <table style="width: 100%; border:2px solid aqua; text-align: center">
                            <tr>
                                <th colspan="2" style="border:2px solid aqua; ">
                                    Lokasi Asal
                                </th>
                            </tr>
                            <tr>
                                <td style="border:2px solid aqua; width: 50%; ">{{originCityName}}</td>
                                <td style="border:2px solid aqua; width: 50%; ">{{originAreaName}}</td>
                            </tr>
                        </table>
                        <br/>
                        <table style="width: 100%; border:2px solid aqua; text-align: center">
                            <tr>
                                <th colspan="2" style="border:2px solid aqua; ">
                                    Lokasi Tujuan
                                </th>
                            </tr>
                            <tr>
                                <td style="border:2px solid aqua; width: 50%; background-color:  #cbfff5; ">{{destinationCityName}}</td>
                                <td style="border:2px solid aqua; width: 50%; background-color:  #cbfff5;">{{destinationAreaName}}</td>
                            </tr>
                        </table>
                        <br/>
                        <table style="width: 100%; border:2px solid yellow;">
                            <tr>
                                <th colspan="2" style="border:2px solid yellow; ">
                                    Pengirim
                                </th>
                            </tr>
                            <tr>
                                <td style="border:2px solid yellow; width: 20%; ">No. Telp/Hp</td>
                                <td style="border:2px solid yellow; width: 80%;background-color: lightyellow;">{{senderPhone}}</td>
                            </tr>
                            <tr>
                                <td style="border:2px solid yellow; width: 20%; ">Nama</td>
                                <td style="border:2px solid yellow; width: 80%;background-color: lightyellow">{{senderName}}</td>
                            </tr>
                            <tr>
                                <td style="border:2px solid yellow; width: 20%; ">Toko</td>
                                <td style="border:2px solid yellow; width: 80%;background-color: lightyellow">{{senderStore}}</td>
                            </tr>
                            <tr>
                                <td style="border:2px solid yellow; width: 20%; ">Tempat</td>
                                <td style="border:2px solid yellow; width: 80%;background-color: lightyellow">{{senderPlace}}</td>
                            </tr>
                            <tr>
                                <td style="border:2px solid yellow; width: 20%; ">Alamat</td>
                                <td style="border:2px solid yellow; width: 80%;background-color: lightyellow">{{senderAddress}}</td>
                            </tr>
                        </table>
                        <br/>
                        <table style="width: 100%; border:2px solid yellow;">
                            <tr>
                                <th colspan="2" style="border:2px solid yellow; ">
                                    Penerima
                                </th>
                            </tr>
                            <tr>
                                <td style="border:2px solid yellow; width: 20%; ">No. Telp/Hp</td>
                                <td style="border:2px solid yellow; width: 80%;background-color: lightyellow">{{receiverPhone}}</td>
                            </tr>
                            <tr>
                                <td style="border:2px solid yellow; width: 20%; ">Nama</td>
                                <td style="border:2px solid yellow; width: 80%;background-color: lightyellow">{{receiverName}}</td>
                            </tr>
                            <tr>
                                <td style="border:2px solid yellow; width: 20%; ">Toko</td>
                                <td style="border:2px solid yellow; width: 80%;background-color: lightyellow">{{receiverStore}}</td>
                            </tr>
                            <tr>
                                <td style="border:2px solid yellow; width: 20%; ">Tempat</td>
                                <td style="border:2px solid yellow; width: 80%;background-color: lightyellow">{{receiverPlace}}</td>
                            </tr>
                            <tr>
                                <td style="border:2px solid yellow; width: 20%; ">Alamat</td>
                                <td style="border:2px solid yellow; width: 80%;background-color: lightyellow">{{receiverAddress}}</td>
                            </tr>
                            <tr>
                                <td style="border:2px solid yellow; width: 20%; ">Via</td>
                                <td style="border:2px solid yellow; width: 80%;background-color: lightyellow">{{viaName}}</td>
                            </tr>
                        </table>
                    </div>
                    <div style="float:left; width: 1%; height:600px;">&nbsp;</div>
                    <div style="float:left; width: 66%; height:600px;">
                        <table style="width: 100%; border:2px solid lightgreen; text-align: center;">
                            <tr>
                                <th rowspan=2 style="border:2px solid lightgreen; ">No. Koli</th>
                                <th rowspan=2 style="border:2px solid lightgreen; ">Jumlah Koli</th>
                                <th rowspan=2 style="border:2px solid lightgreen; ">Berat / Koli</th>
                                <th rowspan=2 style="border:2px solid lightgreen; ">Jumlah Berat</th>
                                <th colspan=3 style="border:2px solid lightgreen; ">Dimensi</th>
                                <th rowspan=2 style="border:2px solid lightgreen; ">Berat Volume / Koli</th>
                                <th rowspan=2 style="border:2px solid lightgreen; ">Berat Dikenakan</th>
                            </tr>
                            <tr>
                                <th style="border:2px solid lightgreen; ">P</th>
                                <th style="border:2px solid lightgreen; ">L</th>
                                <th style="border:2px solid lightgreen; ">T</th>
                            </tr>
                            <tr *ngIf="firstVisible">
                                <td style="border:2px solid lightgreen;">
                                    <dx-text-box [(value)]="formCreate.first_koliNo" [readOnly]="true" style="background-color: #eaffea;">
                                        <dxi-validation-rule type="required" ></dxi-validation-rule>
                                    </dx-text-box>
                                </td>
                                <td style="border:2px solid lightgreen;">
                                    <!-- <dx-text-box [(value)]="formCreate.first_totalKoli" [readOnly]="true" style="background-color: #eaffea;">
                                        <dxi-validation-rule type="required" ></dxi-validation-rule>
                                    </dx-text-box> -->
                                    <dx-number-box [value]="formCreate.first_totalKoli" [showSpinButtons]="true" [showClearButton]="true" (keydown.Tab)="cekTotalKoli($event, 'first')" style="background-color:lightgreen">
                                    </dx-number-box>
                                </td>
                                <!-- (onKeyUp)="cekMinimumPerKoli($event)"  -->
                                <td style="border:2px solid lightgreen;"> 
                                    <dx-text-box [(value)]="formCreate.first_aw" (keydown.Tab)="cekMinimumPerKoli($event, 'first_aw')" style="background-color: lightgreen;">
                                        <dxi-validation-rule type="required" ></dxi-validation-rule>
                                    </dx-text-box>
                                </td>
                                <td style="border:2px solid lightgreen;">
                                    <dx-text-box [(value)]="formCreate.first_totalAw" [readOnly]="true" style=" background-color: #eaffea;">
                                        <dxi-validation-rule type="required" ></dxi-validation-rule>
                                    </dx-text-box>
                                </td>
                                <td style="border:2px solid lightgreen;">
                                    <dx-text-box [(value)]="formCreate.first_length" (keydown.Tab)="cekVolume($event, 'first_length')" style="background-color: lightgreen;">
                                        <dxi-validation-rule type="required" ></dxi-validation-rule>
                                    </dx-text-box>
                                </td>
                                <td style="border:2px solid lightgreen;">
                                    <dx-text-box [(value)]="formCreate.first_width" (keydown.Tab)="cekVolume($event, 'first_width')" style="background-color: lightgreen;">
                                        <dxi-validation-rule type="required" ></dxi-validation-rule>
                                    </dx-text-box>
                                </td>
                                <td style="border:2px solid lightgreen;">
                                    <dx-text-box [(value)]="formCreate.first_height" (keydown.Tab)="cekVolume($event, 'first_height')" style="background-color: lightgreen;">
                                        <dxi-validation-rule type="required" ></dxi-validation-rule>
                                    </dx-text-box>
                                </td>
                                <td style="border:2px solid lightgreen;">
                                    <dx-text-box [(value)]="formCreate.first_vw" [readOnly]="true" style=" background-color: #eaffea;">
                                        <dxi-validation-rule type="required" ></dxi-validation-rule>
                                    </dx-text-box>
                                </td>
                                <td style="border:2px solid lightgreen;">
                                    <dx-text-box [(value)]="formCreate.first_cawFinal" [readOnly]="true" style=" background-color: #eaffea;">
                                        <dxi-validation-rule type="required" ></dxi-validation-rule>
                                    </dx-text-box>
                                </td>
                            </tr>
                            <tr *ngIf="secondVisible">
                                <td style="border:2px solid lightgreen;">
                                    <dx-text-box [(value)]="formCreate.second_koliNo" [readOnly]="true" style="background-color: #eaffea;">
                                        <dxi-validation-rule type="required" ></dxi-validation-rule>
                                    </dx-text-box>
                                </td>
                                <td style="border:2px solid lightgreen;">
                                    <!-- <dx-text-box [(value)]="formCreate.second_totalKoli" [readOnly]="true" style="background-color: #eaffea;">
                                        <dxi-validation-rule type="required" ></dxi-validation-rule>
                                    </dx-text-box> -->
                                    <dx-number-box [value]="formCreate.second_totalKoli" [showSpinButtons]="true" [showClearButton]="true" (keydown.Tab)="cekTotalKoli($event, 'second')" style="background-color:lightgreen">
                                    </dx-number-box>
                                </td>
                                <td style="border:2px solid lightgreen;">
                                    <dx-text-box [(value)]="formCreate.second_aw" (keydown.Tab)="cekMinimumPerKoli($event, 'second_aw')" style="background-color: lightgreen;">
                                        <dxi-validation-rule type="required" ></dxi-validation-rule>
                                    </dx-text-box>
                                </td>
                                <td style="border:2px solid lightgreen;">
                                    <dx-text-box [(value)]="formCreate.second_totalAw" [readOnly]="true" style=" background-color: #eaffea;">
                                        <dxi-validation-rule type="required" ></dxi-validation-rule>
                                    </dx-text-box>
                                </td>
                                <td style="border:2px solid lightgreen;">
                                    <dx-text-box [(value)]="formCreate.second_length" (keydown.Tab)="cekVolume($event, 'second_length')" style="background-color: lightgreen;">
                                        <dxi-validation-rule type="required" ></dxi-validation-rule>
                                    </dx-text-box>
                                </td>
                                <td style="border:2px solid lightgreen;">
                                    <dx-text-box [(value)]="formCreate.second_width" (keydown.Tab)="cekVolume($event, 'second_width')" style="background-color: lightgreen;">
                                        <dxi-validation-rule type="required" ></dxi-validation-rule>
                                    </dx-text-box>
                                </td>
                                <td style="border:2px solid lightgreen;">
                                    <dx-text-box [(value)]="formCreate.second_height" (keydown.Tab)="cekVolume($event, 'second_height')" style="background-color: lightgreen;">
                                        <dxi-validation-rule type="required" ></dxi-validation-rule>
                                    </dx-text-box>
                                </td>
                                <td style="border:2px solid lightgreen;">
                                    <dx-text-box [(value)]="formCreate.second_vw" [readOnly]="true" style=" background-color: #eaffea;">
                                        <dxi-validation-rule type="required" ></dxi-validation-rule>
                                    </dx-text-box>
                                </td>
                                <td style="border:2px solid lightgreen;">
                                    <dx-text-box [(value)]="formCreate.second_cawFinal" [readOnly]="true" style=" background-color: #eaffea;">
                                        <dxi-validation-rule type="required" ></dxi-validation-rule>
                                    </dx-text-box>
                                </td>
                            </tr>
                            <tr *ngIf="thirdVisible">
                                <td style="border:2px solid lightgreen;">
                                    <dx-text-box [(value)]="formCreate.third_koliNo" [readOnly]="true" style="background-color: #eaffea;">
                                        <dxi-validation-rule type="required" ></dxi-validation-rule>
                                    </dx-text-box>
                                </td>
                                <td style="border:2px solid lightgreen;">
                                    <!-- <dx-text-box [(value)]="formCreate.third_totalKoli" [readOnly]="true" style="background-color: #eaffea;">
                                        <dxi-validation-rule type="required" ></dxi-validation-rule>
                                    </dx-text-box> -->
                                    <dx-number-box [value]="formCreate.third_totalKoli" [showSpinButtons]="true" [showClearButton]="true" (keydown.Tab)="cekTotalKoli($event, 'third')" style="background-color:lightgreen">
                                    </dx-number-box>
                                </td>
                                <td style="border:2px solid lightgreen;">
                                    <dx-text-box [(value)]="formCreate.third_aw" (keydown.Tab)="cekMinimumPerKoli($event, 'third_aw')" style="background-color: lightgreen;">
                                        <dxi-validation-rule type="required" ></dxi-validation-rule>
                                    </dx-text-box>
                                </td>
                                <td style="border:2px solid lightgreen;">
                                    <dx-text-box [(value)]="formCreate.third_totalAw" [readOnly]="true" style=" background-color: #eaffea;">
                                        <dxi-validation-rule type="required" ></dxi-validation-rule>
                                    </dx-text-box>
                                </td>
                                <td style="border:2px solid lightgreen;">
                                    <dx-text-box [(value)]="formCreate.third_length" (keydown.Tab)="cekVolume($event, 'third_length')" style="background-color: lightgreen;">
                                        <dxi-validation-rule type="required" ></dxi-validation-rule>
                                    </dx-text-box>
                                </td>
                                <td style="border:2px solid lightgreen;">
                                    <dx-text-box [(value)]="formCreate.third_width" (keydown.Tab)="cekVolume($event, 'third_width')" style="background-color: lightgreen;">
                                        <dxi-validation-rule type="required" ></dxi-validation-rule>
                                    </dx-text-box>
                                </td>
                                <td style="border:2px solid lightgreen;">
                                    <dx-text-box [(value)]="formCreate.third_height" (keydown.Tab)="cekVolume($event, 'third_height')" style="background-color: lightgreen;">
                                        <dxi-validation-rule type="required" ></dxi-validation-rule>
                                    </dx-text-box>
                                </td>
                                <td style="border:2px solid lightgreen;">
                                    <dx-text-box [(value)]="formCreate.third_vw" [readOnly]="true" style=" background-color: #eaffea;">
                                        <dxi-validation-rule type="required" ></dxi-validation-rule>
                                    </dx-text-box>
                                </td>
                                <td style="border:2px solid lightgreen;">
                                    <dx-text-box [(value)]="formCreate.third_cawFinal" [readOnly]="true" style=" background-color: #eaffea;">
                                        <dxi-validation-rule type="required" ></dxi-validation-rule>
                                    </dx-text-box>
                                </td>
                            </tr>
                            <tr *ngIf="fourthVisible">
                                <td style="border:2px solid lightgreen;">
                                    <dx-text-box [(value)]="formCreate.fourth_koliNo" [readOnly]="true" style="background-color: #eaffea;">
                                        <dxi-validation-rule type="required" ></dxi-validation-rule>
                                    </dx-text-box>
                                </td>
                                <td style="border:2px solid lightgreen;">
                                    <!-- <dx-text-box [(value)]="formCreate.fourth_totalKoli" [readOnly]="true" style="background-color: #eaffea;">
                                        <dxi-validation-rule type="required" ></dxi-validation-rule>
                                    </dx-text-box> -->
                                    <dx-number-box [value]="formCreate.fourth_totalKoli" [showSpinButtons]="true" [showClearButton]="true" (keydown.Tab)="cekTotalKoli($event, 'fourth')" style="background-color:lightgreen">
                                    </dx-number-box>
                                </td>
                                <td style="border:2px solid lightgreen;">
                                    <dx-text-box [(value)]="formCreate.fourth_aw" (keydown.Tab)="cekMinimumPerKoli($event, 'fourth_aw')" style="background-color: lightgreen;">
                                        <dxi-validation-rule type="required" ></dxi-validation-rule>
                                    </dx-text-box>
                                </td>
                                <td style="border:2px solid lightgreen;">
                                    <dx-text-box [(value)]="formCreate.fourth_totalAw" [readOnly]="true" style=" background-color: #eaffea;">
                                        <dxi-validation-rule type="required" ></dxi-validation-rule>
                                    </dx-text-box>
                                </td>
                                <td style="border:2px solid lightgreen;">
                                    <dx-text-box [(value)]="formCreate.fourth_length" (keydown.Tab)="cekVolume($event, 'fourth_length')" style="background-color: lightgreen;">
                                        <dxi-validation-rule type="required" ></dxi-validation-rule>
                                    </dx-text-box>
                                </td>
                                <td style="border:2px solid lightgreen;">
                                    <dx-text-box [(value)]="formCreate.fourth_width" (keydown.Tab)="cekVolume($event, 'fourth_width')" style="background-color: lightgreen;">
                                        <dxi-validation-rule type="required" ></dxi-validation-rule>
                                    </dx-text-box>
                                </td>
                                <td style="border:2px solid lightgreen;">
                                    <dx-text-box [(value)]="formCreate.fourth_height" (keydown.Tab)="cekVolume($event, 'fourth_height')" style="background-color: lightgreen;">
                                        <dxi-validation-rule type="required" ></dxi-validation-rule>
                                    </dx-text-box>
                                </td>
                                <td style="border:2px solid lightgreen;">
                                    <dx-text-box [(value)]="formCreate.fourth_vw" [readOnly]="true" style=" background-color: #eaffea;">
                                        <dxi-validation-rule type="required" ></dxi-validation-rule>
                                    </dx-text-box>
                                </td>
                                <td style="border:2px solid lightgreen;">
                                    <dx-text-box [(value)]="formCreate.fourth_cawFinal" [readOnly]="true" style=" background-color: #eaffea;">
                                        <dxi-validation-rule type="required" ></dxi-validation-rule>
                                    </dx-text-box>
                                </td>
                            </tr>
                            <tr *ngIf="fifthVisible">
                                <td style="border:2px solid lightgreen;">
                                    <dx-text-box [(value)]="formCreate.fifth_koliNo" [readOnly]="true" style="background-color: #eaffea;">
                                        <dxi-validation-rule type="required" ></dxi-validation-rule>
                                    </dx-text-box>
                                </td>
                                <td style="border:2px solid lightgreen;">
                                    <!-- <dx-text-box [(value)]="formCreate.fifth_totalKoli" [readOnly]="true" style="background-color: #eaffea;">
                                        <dxi-validation-rule type="required" ></dxi-validation-rule>
                                    </dx-text-box> -->
                                    <dx-number-box [value]="formCreate.fifth_totalKoli" [showSpinButtons]="true" [showClearButton]="true" (keydown.Tab)="cekTotalKoli($event, 'fifth')" style="background-color:lightgreen">
                                    </dx-number-box>
                                </td>
                                <td style="border:2px solid lightgreen;">
                                    <dx-text-box [(value)]="formCreate.fifth_aw" (keydown.Tab)="cekMinimumPerKoli($event, 'fifth_aw')" style="background-color: lightgreen;">
                                        <dxi-validation-rule type="required" ></dxi-validation-rule>
                                    </dx-text-box>
                                </td>
                                <td style="border:2px solid lightgreen;">
                                    <dx-text-box [(value)]="formCreate.fifth_totalAw" [readOnly]="true" style=" background-color: #eaffea;">
                                        <dxi-validation-rule type="required" ></dxi-validation-rule>
                                    </dx-text-box>
                                </td>
                                <td style="border:2px solid lightgreen;">
                                    <dx-text-box [(value)]="formCreate.fifth_length" (keydown.Tab)="cekVolume($event, 'fifth_length')" style="background-color: lightgreen;">
                                        <dxi-validation-rule type="required" ></dxi-validation-rule>
                                    </dx-text-box>
                                </td>
                                <td style="border:2px solid lightgreen;">
                                    <dx-text-box [(value)]="formCreate.fifth_width" (keydown.Tab)="cekVolume($event, 'fifth_width')" style="background-color: lightgreen;">
                                        <dxi-validation-rule type="required" ></dxi-validation-rule>
                                    </dx-text-box>
                                </td>
                                <td style="border:2px solid lightgreen;">
                                    <dx-text-box [(value)]="formCreate.fifth_height" (keydown.Tab)="cekVolume($event, 'fifth_height')" style="background-color: lightgreen;">
                                        <dxi-validation-rule type="required" ></dxi-validation-rule>
                                    </dx-text-box>
                                </td>
                                <td style="border:2px solid lightgreen;">
                                    <dx-text-box [(value)]="formCreate.fifth_vw" [readOnly]="true" style=" background-color: #eaffea;">
                                        <dxi-validation-rule type="required" ></dxi-validation-rule>
                                    </dx-text-box>
                                </td>
                                <td style="border:2px solid lightgreen;">
                                    <dx-text-box [(value)]="formCreate.fifth_cawFinal" [readOnly]="true" style=" background-color: #eaffea;">
                                        <dxi-validation-rule type="required" ></dxi-validation-rule>
                                    </dx-text-box>
                                </td>
                            </tr>
                            <tr>
                                <th style="border:2px solid lightgreen;">
                                    Total
                                </th>
                                <th style="border:2px solid lightgreen; text-align: left; background-color: #eaffea;">
                                    {{spbTotalKoli}}
                                </th>
                                <td style="border:2px solid lightgreen;">
                                    &nbsp;
                                </td>
                                <td style="border:2px solid lightgreen;">
                                    &nbsp;
                                </td>
                                <td style="border:2px solid lightgreen;">
                                    &nbsp;
                                </td>
                                <td style="border:2px solid lightgreen;">
                                    &nbsp;
                                </td>
                                <td style="border:2px solid lightgreen;">
                                    &nbsp;
                                </td>
                                <th style="border:2px solid lightgreen;">
                                    Berat Final
                                </th>
                                <th style="border:2px solid lightgreen;background-color: #eaffea;text-align: left; " hidden>
                                    {{spbCawFinal}}
                                </th>
                                <th style="border:2px solid lightgreen;background-color: #eaffea;text-align: left; " >
                                    {{spbCawFinalTS}}
                                </th>
                            </tr>
                        </table>
                        <br/>
                         <div style="float:left; width: 60%;">
                            <table style="width: 100%; border:2px solid orange; text-align: center">
                                <tr>
                                    <th style="border:2px solid orange; ">Komoditi</th>
                                    <th style="border:2px solid orange; ">Moda</th>
                                    <th style="border:2px solid orange; ">Q.O.S</th>
                                    <th style="border:2px solid orange; ">K.O.S</th>
                                </tr>
                                <tr>
                                    <td style="border:2px solid orange; width: 25%; background-color: #ffc282; ">{{typesOfGoods}}</td>
                                    <td style="border:2px solid orange; width: 25%; background-color: #ffc282;">{{carrier}}</td>
                                    <td style="border:2px solid orange; width: 25%; background-color: #ffc282;">{{qualityOfService}}</td>
                                    <td style="border:2px solid orange; width: 25%; background-color: #ffc282;">{{typeOfService}}</td>
                                </tr>
                            </table>
                            <br/>
                            <table style="width: 100%; border:2px solid orange;">
                                <tr>
                                    <th style="border:2px solid orange; ">Keterangan</th>
                                </tr>
                                <tr>
                                    <td style="border:2px solid orange; width: 100%; background-color: #ffcf9c; ">
                                        <div style="height: 500%">
                                            {{description}}    
                                        </div>
                                    </td>
                            </table>
                        </div>
                        <div style="float:left; width: 1%; height:100px;">&nbsp;</div>
                        <div style="float:left; width: 39%;">
                            <table style="width: 100%; border:2px solid pink;">
                                <tr>
                                    <td style="border:2px solid pink; width: 40%; ">Tarif</td>
                                    <td colspan=2 style="border:2px solid pink; width: 60%;background-color: #F5DADF" hidden>{{rates}}</td>
                                    <td colspan=2 style="border:2px solid pink; width: 60%;background-color: #F5DADF">{{ratesTS}}</td>
                                </tr>
                                <tr>
                                    <td style="border:2px solid pink; width: 40%; ">Packing</td>
                                    <td colspan=2 style="border:2px solid pink; width: 60%;background-color: #F5DADF" hidden>{{packing}}</td>
                                    <td colspan=2 style="border:2px solid pink; width: 60%;background-color: #F5DADF">{{packingTS}}</td>
                                </tr>
                                <tr>
                                    <td style="border:2px solid pink; width: 40%; ">Karantina</td>
                                    <td colspan=2 style="border:2px solid pink; width: 60%;background-color: #F5DADF" hidden>{{quarantine}}</td>
                                    <td colspan=2 style="border:2px solid pink; width: 60%;background-color: #F5DADF">{{quarantineTS}}</td>
                                </tr>
                                <tr>
                                    <td style="border:2px solid pink; width: 40%; ">lain - Lain</td>
                                    <td colspan=2 style="border:2px solid pink; width: 60%;background-color: #F5DADF" hidden>{{etc}}</td>
                                    <td colspan=2 style="border:2px solid pink; width: 60%;background-color: #F5DADF">{{etcTS}}</td>
                                </tr>
                                <tr>
                                    <td style="border:2px solid pink; width: 40%; ">PPN</td>
                                    <td style="border:2px solid pink; width: 30%;background-color: #F5DADF">{{ppn}}</td>
                                    <td style="border:2px solid pink; width: 30%;background-color: #F5DADF" hidden>{{ppnValue}}</td>
                                    <td style="border:2px solid pink; width: 30%;background-color: #F5DADF">{{ppnValueTS}}</td>
                                </tr>
                                <tr>
                                    <td style="border:2px solid pink; width: 40%; ">Disc.</td>
                                    <td style="border:2px solid pink; width: 30%;background-color: #F5DADF">{{discount}}</td>
                                    <td style="border:2px solid pink; width: 30%;background-color: #F5DADF" hidden>{{discountValue}}</td>
                                    <td style="border:2px solid pink; width: 30%;background-color: #F5DADF">{{discountValueTS}}</td>
                                </tr>
                            </table>
                            <br/>
                            <table style="width: 100%; border:2px solid pink;">
                                <tr>
                                    <td style="border:2px solid pink; width: 40%; ">Total Bayar</td>
                                    <td style="border:2px solid pink; width: 60%;background-color: #F5DADF" hidden>{{totalPrice}}</td>
                                    <td style="border:2px solid pink; width: 60%;background-color: #F5DADF">{{totalPriceTS}}</td>
                                </tr>
                                <tr>
                                    <td style="border:2px solid pink; width: 40%; ">Cara Bayar</td>
                                    <td style="border:2px solid pink; width: 60%;background-color: #F5DADF">{{paymentMethod}}</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <table style="width: 100%">
                        <tr>
                            <td style="width: 90%;">&nbsp;</td>
                            <td>
                                <dx-button text="Update & Print" type="success" style="width: 100%" (onClick)="onUpdate()"></dx-button> 
                            </td>
                        </tr>
                    </table>
                </div>

			</kt-portlet-body>
		</kt-portlet>

	</div>
</div>



