<div class="row">
	<div class="col-12">
		<kt-portlet>
			<kt-portlet-header title="List Pengajuan">
				<ng-container ktPortletTools> </ng-container>
			</kt-portlet-header>

			<kt-portlet-body>
				<div *ngIf="menuForb" class="alert alert-warning box-msg" role="alert">
					<strong>Warning!</strong>
					<span style="padding-left: 10px;">You doesn't have permission to access this page.</span>
            	</div>

				<div *ngIf="menuPriv">
					<dx-data-grid id="gridContainer" [dataSource]="ds" [showBorders]="true">
						<dxo-filter-row [visible]="true"></dxo-filter-row>
						<dxo-header-filter [visible]="true"></dxo-header-filter>
                        <dxi-column dataField="spbNo" dataType="string" alignment="center" caption="SpbNo"> </dxi-column>
						<dxi-column dataField="type" dataType="string" alignment="center" caption="Jenis" > </dxi-column>
                        <dxi-column dataField="reason" dataType="string" caption="Alasan" > </dxi-column>
                        <dxi-column caption="Pengajuan" alignment="center">
                            <dxi-column dataField="picCreatedBy" alignment="center" dataType="string" caption="By" > </dxi-column>
                            <dxi-column dataField="picCreatedDate" alignment="center" dataType="string" caption="Tanggal" > </dxi-column>
                        </dxi-column>
                        <dxi-column type="buttons" [width]="200" caption="Detail" style="font-weight: bold;">
                            <dxi-button text="Detail" hint="Detail Data" [onClick]="detailApproval"> </dxi-button>
                        </dxi-column>
					</dx-data-grid>
				</div>
			</kt-portlet-body>
		</kt-portlet>

	</div>
</div>