<div class="row">
	<div class="col-12">
		<kt-portlet>
			<kt-portlet-header title="Profit And Loss Statement">
				<ng-container ktPortletTools> </ng-container>
			</kt-portlet-header>

			<kt-portlet-body>
				<div *ngIf="menuForb" class="alert alert-warning box-msg" role="alert">
					<strong>Warning!</strong>
					<span style="padding-left: 10px;">You doesn't have permission to access this page.</span>
            	</div>

				<div *ngIf="menuPriv">
					<mat-tab-group>

						<mat-tab label="List Laba Rugi">
							<kt-profit-lost-statement-list></kt-profit-lost-statement-list>
						</mat-tab>

						<mat-tab label="Laba Rugi Per Day">
							<kt-profit-lost-statement-print-per-day></kt-profit-lost-statement-print-per-day>
						</mat-tab>


					</mat-tab-group>
				</div>
			</kt-portlet-body>
		</kt-portlet>

	</div>
</div>



