<div class="row">
	<div class="col-12">
		<kt-portlet>
			<kt-portlet-header title="Delete Monitoring Shipment">
				<ng-container ktPortletTools> </ng-container>
			</kt-portlet-header>

			<kt-portlet-body>
                
                <div class="row  ml-2 mr-3">
                    <div class="col-md">
                        <div class="dx-fieldset">  

                            <table style="width: 100%;">
                                <tr>
                                    <td>
                                        <div class="dx-field">
                                            <div class="dx-field-label">Via</div>
                                            <div class="dx-field-value">
                                                <dx-text-box [(value)]="this.via" [disabled]="true">
                                                    <dxi-validation-rule type="required" ></dxi-validation-rule>
                                                </dx-text-box>
                                            </div>
                                        </div>
            
                                        <div class="dx-field">
                                            <div class="dx-field-label">Origin</div>
                                            <div class="dx-field-value">
                                                <dx-text-box [(value)]="this.originCityName" [disabled]="true">
                                                    <dxi-validation-rule type="required" ></dxi-validation-rule>
                                                </dx-text-box>
                                            </div>
                                        </div>
            
                                        <div class="dx-field">
                                            <div class="dx-field-label">Corporate</div>
                                            <div class="dx-field-value">
                                                <dx-text-box [(value)]="this.corporateName" [disabled]="true">
                                                    <dxi-validation-rule type="required" ></dxi-validation-rule>
                                                </dx-text-box>
                                            </div>
                                        </div>
            
                                        <div class="dx-field">
                                            <div class="dx-field-label">Tujuan</div>
                                            <div class="dx-field-value">
                                                <dx-text-box [(value)]="this.destinationCityName" [disabled]="true">
                                                    <dxi-validation-rule type="required" ></dxi-validation-rule>
                                                </dx-text-box>
                                            </div>
                                        </div>
            
                                        <div class="dx-field">
                                            <div class="dx-field-label">STT Pegasus</div>
                                            <div class="dx-field-value">
                                                <dx-text-box [(value)]="this.sttPegasus" [disabled]="true">
                                                    <dxi-validation-rule type="required" ></dxi-validation-rule>
                                                </dx-text-box>
                                            </div>
                                        </div>
            
                                        <div class="dx-field">
                                            <div class="dx-field-label">STT Lion Parcel</div>
                                            <div class="dx-field-value">
                                                <dx-text-box [(value)]="this.sttLP" [disabled]="true">
                                                    <dxi-validation-rule type="required" ></dxi-validation-rule>
                                                </dx-text-box>
                                            </div>
                                        </div>
            
                                        <div class="dx-field">
                                            <div class="dx-field-label">SMU</div>
                                            <div class="dx-field-value">
                                                <dx-text-box [(value)]="this.smuNo" [disabled]="true">
                                                    <dxi-validation-rule type="required" ></dxi-validation-rule>
                                                </dx-text-box>
                                            </div>
                                        </div>
            
                                        <div class="dx-field">
                                            <div class="dx-field-label">Koli</div>
                                            <div class="dx-field-value">
                                                <dx-text-box [(value)]="this.koli" [disabled]="true">
                                                    <dxi-validation-rule type="required" ></dxi-validation-rule>
                                                </dx-text-box>
                                            </div>
                                        </div>
            
                                        <div class="dx-field">
                                            <div class="dx-field-label">Kilo</div>
                                            <div class="dx-field-value">
                                                <dx-text-box [(value)]="this.caw" [disabled]="true">
                                                    <dxi-validation-rule type="required" ></dxi-validation-rule>
                                                </dx-text-box>
                                            </div>
                                        </div>
            
                                        <!-- <div class="dx-field">
                                            <div class="dx-field-label">Carrier</div>
                                            <div class="dx-field-value">
                                                <dx-text-box [(value)]="this.carrierCode" [disabled]="true">
                                                    <dxi-validation-rule type="required" ></dxi-validation-rule>
                                                </dx-text-box>
                                            </div>
                                        </div> -->
                                    </td>
                                    <td style="padding-left: 2%;">
                                        <!-- <div class="dx-field">
                                            <div class="dx-field-label">Flight No</div>
                                            <div class="dx-field-value">
                                                <dx-text-box [(value)]="this.flightNo" [disabled]="true">
                                                    <dxi-validation-rule type="required" ></dxi-validation-rule>
                                                </dx-text-box>
                                            </div>
                                        </div> -->

                                        <div class="dx-field">
                                            <div class="dx-field-label">No Penerbangan</div>
                                            <div class="dx-field-value">
                                                <table style="width: 100%;">
                                                    <tr>
                                                        <td style="width: 30%;">
                                                            <dx-text-box [(value)]="this.carrierCode" [disabled]="true">
                                                                <dxi-validation-rule type="required" ></dxi-validation-rule>
                                                            </dx-text-box>
                                                        </td>
                                                        <td style="width: 70%;">
                                                            <dx-text-box [(value)]="this.flightNo" [disabled]="true">
                                                                <dxi-validation-rule type="required" ></dxi-validation-rule>
                                                            </dx-text-box>
                                                        </td>
                                                    </tr>
                                                </table>
                                               </div>
                                        </div>
            
                                        <div class="dx-field">
                                            <div class="dx-field-label">Tanggal Penerangan</div>
                                            <div class="dx-field-value">
                                                <dx-text-box [(value)]="this.flightDateLocal" [disabled]="true">
                                                    <dxi-validation-rule type="required" ></dxi-validation-rule>
                                                </dx-text-box>
                                            </div>
                                        </div>  
            
                                        <div class="dx-field">
                                            <div class="dx-field-label">ETD</div>
                                            <div class="dx-field-value">
                                                <dx-text-box [(value)]="this.etdLocal" [disabled]="true">
                                                    <dxi-validation-rule type="required" ></dxi-validation-rule>
                                                </dx-text-box>
                                            </div>
                                        </div>  
            
                                        <div class="dx-field">
                                            <div class="dx-field-label">ETA</div>
                                            <div class="dx-field-value">
                                                <dx-text-box [(value)]="this.etaLocal" [disabled]="true">
                                                    <dxi-validation-rule type="required" ></dxi-validation-rule>
                                                </dx-text-box>
                                            </div>
                                        </div>  
                        
                                        <div class="dx-field">
                                            <div class="dx-field-label">Di Terima Oleh</div>
                                            <div class="dx-field-value">
                                                <dx-text-box [(value)]="this.pod" [disabled]="true">
                                                    <dxi-validation-rule type="required" ></dxi-validation-rule>
                                                </dx-text-box>
                                            </div>
                                        </div>
            
                                         <div class="dx-field">
                                            <div class="dx-field-label">Waktu / Jam Di Terima</div>
                                            <div class="dx-field-value">
                                                <dx-text-box [(value)]="this.podDateLocal" [disabled]="true">
                                                    <dxi-validation-rule type="required" ></dxi-validation-rule>
                                                </dx-text-box>
                                            </div>
                                        </div> 
            
                                        <div class="dx-field">
                                            <div class="dx-field-label">desc</div>
                                            <div class="dx-field-value">
                                                <dx-text-area
                                                    [height]="120"
                                                    [maxLength]="255"
                                                    [(value)]="this.desc"
                                                    [disabled]="true">
                                                </dx-text-area>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </table>
                            <br/>

                            <table style="width: 100%; border: 1px solid black;border-collapse: collapse; text-align: center;">
                                <tr>
                                    <th colspan="10" style=" border: 1px solid"> Status Pengiriman </th>
                                </tr>
                                <tr>
                                    <th colspan="2" style=" border: 1px solid">Besok</th>
                                    <th colspan="2" style=" border: 1px solid">Lusa</th>
                                    <th colspan="2" style=" border: 1px solid">Hari Ke-3</th>
                                    <th colspan="2" style=" border: 1px solid">Hari Ke-4</th>
                                    <th colspan="2" style=" border: 1px solid">Hari Ke-5</th>
                                </tr>
                                <tr>
                                    <th style=" border: 1px solid">Pagi</th>
                                    <th style=" border: 1px solid">Sore</th>
                                    <th style=" border: 1px solid">Pagi</th>
                                    <th style=" border: 1px solid">Sore</th>
                                    <th style=" border: 1px solid">Pagi</th>
                                    <th style=" border: 1px solid">Sore</th>
                                    <th style=" border: 1px solid">Pagi</th>
                                    <th style=" border: 1px solid">Sore</th>
                                    <th style=" border: 1px solid">Pagi</th>
                                    <th style=" border: 1px solid">Sore</th>
                                </tr>
                                <tr>
                                    <td style=" border: 1px solid">
                                        <dx-text-box [(value)]="this.firstDayMorning" [disabled]="true"></dx-text-box>
                                    </td>
                                    <td style=" border: 1px solid">
                                        <dx-text-box [(value)]="this.firstDayAfternoon" [disabled]="true"></dx-text-box>
                                    </td>
                                    <td style=" border: 1px solid">
                                        <dx-text-box [(value)]="this.secondDayMorning" [disabled]="true"></dx-text-box>
                                    </td>
                                    <td style=" border: 1px solid">
                                        <dx-text-box [(value)]="this.secondDayAfternoon" [disabled]="true"></dx-text-box>
                                    </td>
                                    <td style=" border: 1px solid">
                                        <dx-text-box [(value)]="this.thirdDayMorning" [disabled]="true"></dx-text-box>
                                    </td>
                                    <td style=" border: 1px solid">
                                        <dx-text-box [(value)]="this.thirdDayAfternoon" [disabled]="true"></dx-text-box>
                                    </td>
                                    <td style=" border: 1px solid">
                                        <dx-text-box [(value)]="this.fourthDayMorning" [disabled]="true"></dx-text-box>
                                    </td>
                                    <td style=" border: 1px solid">
                                        <dx-text-box [(value)]="this.fourthDayAfternoon" [disabled]="true"></dx-text-box>
                                    </td>
                                    <td style=" border: 1px solid">
                                        <dx-text-box [(value)]="this.fifthDayMorning" [disabled]="true"></dx-text-box>
                                    </td>
                                    <td style=" border: 1px solid">
                                        <dx-text-box [(value)]="this.fifthDayAfternoon" [disabled]="true"></dx-text-box>
                                    </td>
                                </tr>
                            </table>

                        </div>
                    </div>
                </div>                
                
                <div class="row  ml-2 mr-3">
                    <div class="col-md text-right">
                        <dx-button text="Delete" type="default" (onClick)="onSave()"></dx-button>&nbsp;&nbsp;
                        <dx-button text="Kembali" type="danger" (onClick)="onBack()"></dx-button>  
                    </div>
                </div>
                                
    
			</kt-portlet-body>
           
		</kt-portlet>

	</div>
</div>



