<!--<p>spb-print works!</p>-->

<!--<button (click)="Print()">asdad</button>-->

<!--<iframe id='pdfV' width="100%" height="500px" type="application/pdf"></iframe>-->


<!--<h2 mat-dialog-title>This is a Dialog title</h2>-->

<mat-dialog-actions>
	<button class="mat-raised-button" (click)="close()">Close</button>
</mat-dialog-actions>

<mat-dialog-content style="max-height: 80vh">
	<iframe id='pdfV' type="application/pdf" frameborder="0" [height]="innerHeight+'px'" [width]="innerWidth+'px'"></iframe>

<!--	<object id='pdfV' [height]="innerHeight+'px'" [width]="innerWidth+'px'" data="data:application/pdf;base64,' + data + '"></object>-->

<!--	<html><body style="background-color: rgb(38, 38, 38); height: 100%; width: 100%; overflow: hidden; margin: 0px;">-->
<!--	<embed width="100%" height="100%" name="plugin" id='pdfV' frameborder="0" [height]="innerHeight+'px'" [width]="innerWidth+'px'"  type="application/pdf" ></body></html>-->
</mat-dialog-content>


