<br/>
<br/>

<button (click)="expandGrid()" > expand</button>

<dx-data-grid id="gridContainer" #targetDataGrid
			  [dataSource]="gmDs" [showBorders]="true">
	<dxo-filter-row [visible]="true"></dxo-filter-row>
	<dxo-header-filter [visible]="true"></dxo-header-filter>
	<dxo-grouping #expand [autoExpandAll]="false" ></dxo-grouping>
	<dxo-paging [pageSize]="1000"></dxo-paging>


	<!--					<dxi-column dataField="originCityCode" dataType="string" caption="Kota Asal"> </dxi-column>-->
	<dxi-column dataField="originCityCode" dataType="string" caption="Asal" [groupIndex]="0"> </dxi-column>
	<dxi-column dataField="carrier" dataType="string" caption="Moda" [groupIndex]="1"> </dxi-column>
	<dxi-column dataField="destinationCityCode" dataType="string" caption="Tujuan" [groupIndex]="2"> </dxi-column>
	<dxi-column dataField="alphabet" dataType="string" caption="Manifest" [calculateDisplayValue]="ColManifestNo" > </dxi-column>
	<!-- <dxi-column dataField="corporation" dataType="string" caption="Corporation"> </dxi-column> -->
<!--	<dxi-column dataField="originBranch" dataType="string" caption="Kantor Asal"> </dxi-column>-->
<!--	<dxi-column dataField="destinationBranch" dataType="string" caption="Kantor Tujuan"> </dxi-column>-->
<!--	<dxi-column dataField="carrier" dataType="string" caption="Moda"> </dxi-column>-->
<!--	<dxi-column dataField="originCityCode" dataType="string" caption="Asal" > </dxi-column>-->
<!--	<dxi-column dataField="destinationCityCode" dataType="string" caption="Tujuan"> </dxi-column>-->
	<dxi-column dataField="koliGerai" [visible]="koliGerai"caption="Koli Gerai" [allowHeaderFiltering]="false"> </dxi-column>
	<dxi-column dataField="koliCorporate" [visible]="koliCorporate" caption="Koli Corporate" [allowHeaderFiltering]="false"> </dxi-column>
	<dxi-column dataField="totalKoli" caption="Koli" [allowHeaderFiltering]="false"> </dxi-column>
	<dxi-column dataField="awGerai" [visible]="awGerai" caption="AW Gerai" [allowHeaderFiltering]="false"> </dxi-column>
	<dxi-column dataField="awCorporate" [visible]="awCorporate" caption="AW Corporate" [allowHeaderFiltering]="false"> </dxi-column>
	<dxi-column dataField="totalAw"  caption="AW" [allowHeaderFiltering]="false">  </dxi-column>
	<dxi-column dataField="cawGerai" [visible]="cawGerai" caption="CAW Gerai" [allowHeaderFiltering]="false"> </dxi-column>
	<dxi-column dataField="cawCorporate" [visible]="cawCorporate" caption="Caw Corporate" [allowHeaderFiltering]="false"> </dxi-column>
	<dxi-column dataField="totalCaw" caption="CAW" [allowHeaderFiltering]="false"> </dxi-column>
	<dxi-column dataField="ta" caption="Tunai Pengirim"  dataType="number" alignment="right" format="#,##0.##" [allowHeaderFiltering]="false"> </dxi-column>
	<dxi-column dataField="tt" dataType="number" alignment="right" format="#,##0.##" caption="Tunai Tujuan" [allowHeaderFiltering]="false"> </dxi-column>
	<dxi-column dataField="tk" dataType="number" alignment="right" format="#,##0.##" caption="Tunai Corporate" [allowHeaderFiltering]="false"> </dxi-column>
	<dxi-column dataField="totalTaTt" dataType="number" alignment="right" format="#,##0.##" caption="Tunai Total" [allowHeaderFiltering]="false"> </dxi-column>


	<dxo-grouping
		[expandMode]="'rowClick'"
		[contextMenuEnabled]="true">
	</dxo-grouping>
	<dxo-group-panel
		[visible]="true"> <!-- or "auto" -->
	</dxo-group-panel>

	<dxo-summary>
		<dxi-total-item column="destinationCityCode" summaryType="count" > </dxi-total-item>

		<dxi-total-item column="koliGerai" summaryType="sum" [customizeText]="thousandSeparator" > </dxi-total-item>
		<dxi-group-item column="koliGerai" [alignByColumn]="true" summaryType="sum" [customizeText]="thousandSeparator" > </dxi-group-item>

		<dxi-total-item column="koliCorporate" summaryType="sum" [customizeText]="thousandSeparator" > </dxi-total-item>
		<dxi-group-item column="koliCorporate" [alignByColumn]="true" summaryType="sum" [customizeText]="thousandSeparator" > </dxi-group-item>

		<dxi-total-item column="totalKoli" summaryType="sum" [customizeText]="thousandSeparator" > </dxi-total-item>
		<dxi-group-item column="totalKoli" [alignByColumn]="true" summaryType="sum" [customizeText]="thousandSeparator" > </dxi-group-item>

		<dxi-total-item column="awGerai" summaryType="sum" [customizeText]="thousandSeparator" > </dxi-total-item>
		<dxi-group-item column="awGerai" [alignByColumn]="true" summaryType="sum" [customizeText]="thousandSeparator"> </dxi-group-item>

		<dxi-total-item column="awCorporate" summaryType="sum" [customizeText]="thousandSeparator" > </dxi-total-item>
		<dxi-group-item column="awCorporate" [alignByColumn]="true" summaryType="sum" [customizeText]="thousandSeparator"> </dxi-group-item>

		<dxi-total-item column="totalAw" summaryType="sum" [customizeText]="thousandSeparator" > </dxi-total-item>
		<dxi-group-item column="totalAw" [alignByColumn]="true" summaryType="sum" [customizeText]="thousandSeparator"> </dxi-group-item>

		<dxi-total-item column="cawGerai" summaryType="sum" [customizeText]="thousandSeparator" > </dxi-total-item>
		<dxi-group-item column="cawGerai" [alignByColumn]="true" summaryType="sum" [customizeText]="thousandSeparator"> </dxi-group-item>
		
		<dxi-total-item column="cawCorporate" summaryType="sum" [customizeText]="thousandSeparator" > </dxi-total-item>
		<dxi-group-item column="cawCorporate" [alignByColumn]="true" summaryType="sum" [customizeText]="thousandSeparator"> </dxi-group-item>

		<dxi-total-item column="totalCaw" summaryType="sum" [customizeText]="thousandSeparator" > </dxi-total-item>
		<dxi-group-item column="totalCaw" [alignByColumn]="true" summaryType="sum" [customizeText]="thousandSeparator"> </dxi-group-item>


		<dxi-total-item column="ta" summaryType="sum" [customizeText]="thousandSeparator" > </dxi-total-item>
		<dxi-group-item column="ta" [alignByColumn]="true" summaryType="sum" [customizeText]="thousandSeparator"> </dxi-group-item>

		<dxi-total-item column="tt" summaryType="sum" [customizeText]="thousandSeparator" > </dxi-total-item>
		<dxi-group-item column="tt" [alignByColumn]="true" summaryType="sum" [customizeText]="thousandSeparator"> </dxi-group-item>

		<dxi-total-item column="tk" summaryType="sum" [customizeText]="thousandSeparator" > </dxi-total-item>
		<dxi-group-item column="tk" [alignByColumn]="true" summaryType="sum" [customizeText]="thousandSeparator"> </dxi-group-item>

		<dxi-total-item column="totalTaTt" summaryType="sum" [customizeText]="thousandSeparator" > </dxi-total-item>
		<dxi-group-item column="totalTaTt" [alignByColumn]="true" summaryType="sum" [customizeText]="thousandSeparator"> </dxi-group-item>

	</dxo-summary>
</dx-data-grid>
