<div class="row">
	<div class="col-12">
		<kt-portlet>
			<kt-portlet-header title="{{this.username}} [ {{this.fullname}} ]" style="font-size: larger;">
				<ng-container ktPortletTools> </ng-container>
			</kt-portlet-header>
            
			<kt-portlet-body>
                <div class="row  ml-2 mr-3" style="margin-top: -2%;">
                    <div class="col-md">
                        <div class="dx-fieldset">
                            
                            <strong style="font-size: large;">{{ this.unitName | uppercase }}</strong>
                            <br/>
                            <table style="width: 100%;">
                                <tr>
                                    <td style="width: 50%;vertical-align: top;">
                                        <strong>PRIVILEGE</strong>
                                        <div class="dx-field">
                                            <dx-radio-group
                                                id="radio-group-with-selection"
                                                [items]="privilegeItems"
                                                valueExpr="id"
                                                displayExpr="name"
                                                [(value)]="selectionPrivilegeId"
                                                (onValueChanged)="onValuePrivilegeChanged($event)">
                                            </dx-radio-group>
                                        </div>  
                                    </td>
                                    <td style="vertical-align: top;">
                                        <strong>ROLES</strong>
                                        <div class="dx-field">
                                            <dx-radio-group
                                                id="radio-group-with-selection"
                                                [items]="rolesItems"
                                                valueExpr="id"
                                                displayExpr="name"
                                                [(value)]="selectionRolesId"
                                                (onValueChanged)="onValueRolesChanged($event)">
                                            </dx-radio-group>
                                        </div>  
                                    </td>
                                </tr>
                            </table>
                            
                        </div>
                    </div>
                </div>

               
                <div class="row  ml-2 mr-3">
                    <div class="col-md text-right">
                        <dx-button text="Finish" type="default" (onClick)="onFinish()"></dx-button> 
                        &nbsp;&nbsp;
                        <dx-button text="Kembali" type="danger" (onClick)="onBack()"></dx-button>
                    </div>
                </div>

				<!-- </div> -->
			</kt-portlet-body>
		</kt-portlet>

	</div>
</div>