<div class="row">
	<div class="col-12">
		<kt-portlet>
			<kt-portlet-header title="Statistik Omset">
				<ng-container ktPortletTools> </ng-container>
			</kt-portlet-header>

			<kt-portlet-body>

				<div *ngIf="menuForb" class="alert alert-warning box-msg" role="alert">
					<strong>Warning!</strong>
					<span style="padding-left: 10px;">You doesn't have permission to access this page.</span>
				</div>
				<div *ngIf="menuPriv">
					<div style="background-color: #f5f5f5; padding: 1%; border: 1px solid #e2e2e2;">

						<div class="row  ml-2 mr-3">
							<table style="width: 100%; align-items: left;">
								<tr>
									<td style="width: 50%;">
										<div class="dx-field" >
											<div class="dx-field-label" style="width:25%">Kota / Kabupaten</div>
											<div class="dx-field-value" style="float:left; width: 65%;">
												<dx-select-box [tabIndex]="500" searchEnabled="true" [dataSource]="cityDs" valueExpr="masterCityId" displayExpr="masterCityCustom" [(value)]="formSearch.cityId" [showClearButton]="true">
												</dx-select-box>
											</div>
										</div>

										<div class="dx-field" >
											<div class="dx-field-label" style="width:25%">Periode</div>
											<div class="dx-field-value" style="float:left; width: 30%;">
												<dx-date-box
													[showClearButton]="true"
													[useMaskBehavior]="true"
													displayFormat="MMM-yyyy"
													[(value)]="formSearch.dateStart"
													pickerType="rollers"
												>
													<dx-validator>
														<dxi-validation-rule type="required" ></dxi-validation-rule>
													</dx-validator>
												</dx-date-box>
											</div>
                                            <div class="dx-field-value" style="float:left; width: 5%;">
                                                &nbsp;
                                            </div>
                                            <div class="dx-field-value" style="float:left; width: 30%;">
												<dx-date-box
													[showClearButton]="true"
													[useMaskBehavior]="true"
													displayFormat="MMM-yyyy"
													[(value)]="formSearch.dateTo"
													pickerType="rollers"
												>
													<dx-validator>
														<dxi-validation-rule type="required" ></dxi-validation-rule>
													</dx-validator>
												</dx-date-box>
											</div>

										</div>
									</td>
									<td>
										<div class="dx-field" >
											&nbsp;
										</div>
										<div class="dx-field" >
											<dx-button text="Search" type="success" (onClick)="onSearch()"></dx-button> 
										</div>
									</td>
								</tr>
							</table>
						</div>
					
					</div>

					<br/>

					<dx-data-grid id="gridContainer"
								[dataSource]="ds" [showBorders]="true">
						<dxo-filter-row [visible]="true"></dxo-filter-row>
						<dxo-header-filter [visible]="true"></dxo-header-filter>
                        <dxi-column dataField="month_year" dataType="string" caption="Bulan" > </dxi-column>
						<dxi-column dataField="count_spb" dataType="string" caption="Jumlah Spb" [customizeText]="thousandSeparator"> </dxi-column>
                        <dxi-column dataField="sum_caw" dataType="string" caption="Total Caw" [customizeText]="thousandSeparator"> </dxi-column>
                        <dxi-column dataField="sum_price" dataType="string" caption="Total Price" [customizeText]="thousandSeparator"> </dxi-column>

						<dxo-summary>
							<dxi-total-item column="count_spb" summaryType="sum" [customizeText]="thousandSeparator" > </dxi-total-item>
							<dxi-group-item column="count_spb" [alignByColumn]="true" summaryType="sum" [customizeText]="thousandSeparator" > </dxi-group-item>
					
							<dxi-total-item column="sum_caw" summaryType="sum" [customizeText]="thousandSeparator" > </dxi-total-item>
							<dxi-group-item column="sum_caw" [alignByColumn]="true" summaryType="sum" [customizeText]="thousandSeparator" > </dxi-group-item>	

							<dxi-total-item column="sum_price" summaryType="sum" [customizeText]="thousandSeparator" > </dxi-total-item>
							<dxi-group-item column="sum_price" [alignByColumn]="true" summaryType="sum" [customizeText]="thousandSeparator" > </dxi-group-item>				
						</dxo-summary>
					</dx-data-grid>    
					  
					<br/>
					<!-- <dx-chart id="chart" [dataSource]="dataSource">
						<dxi-series
						  argumentField="day"
						  valueField="oranges"
						  name="My oranges"
						  type="bar"
						  color="#ffaa66"
						>
						</dxi-series>
					  </dx-chart> -->
				</div>
			</kt-portlet-body>
		</kt-portlet>

	</div>
</div>

