

<div [formGroup]="spbFormLocation">
	<!--	<input   formControlName="destCity" />-->

	<table class="table table-xs table-bordered border-info lokasi roundedCorners">
		<tr>
			<td colspan="2" class="text-center font-weight-bold">Lokasi Asal</td>
		</tr>
		<tr>
			<td width="50%">{{ userGlobalVar.WORK_CITY_NAME }}</td>
			<td width="50%">{{ userGlobalVar.WORK_NAME }}</td>
		</tr>
	</table>

	<table class="table table-xs table-bordered border-info lokasi roundedCorners">
		<tr>
			<td colspan="2" class="text-center font-weight-bold">Lokasi Tujuan</td>
		</tr>
		<tr>
			<td>
				<dx-select-box [tabIndex]="103" id="destCity" class="lokasi uppercase"
							   placeholder="kota tujuan" formControlName="destCity" [showDataBeforeSearch]="true"
							   [dataSource]="destCity" displayExpr="companyCityNameCustom" [showClearButton]="true"
							   valueExpr="companyCityId" searchEnabled="true"
							   (onValueChanged)="onChangeDestCity($event)" itemTemplate="item">
					<div *dxTemplate="let data of 'item'"
						 [innerHTML]="highlightProcess(data.companyCityNameCustom, 'destCity')">
					</div>
					<dx-validator>
						<dxi-validation-rule type="required"> </dxi-validation-rule>
					</dx-validator>
				</dx-select-box>
			</td>
			<td>
				<dx-select-box [tabIndex]="104" id="destArea" class="lokasi uppercase"
							   placeholder="area tujuan" formControlName="destArea" [showDataBeforeSearch]="true"
							   [dataSource]="destAreaDs" displayExpr="companyAreaNameCustom" [showClearButton]="true"
							   valueExpr="companyAreaId" searchEnabled="true"
							   (onValueChanged)="onValueChangedDestArea($event)"
							   (onSelectionChanged)="onChangeDestArea($event)"
							   itemTemplate="itemDestArea">
					<div *dxTemplate="let data of 'itemDestArea'"
						 [innerHTML]="highlightProcess(data.companyAreaNameCustom, 'destArea')">
					</div>
					<dx-validator>
						<dxi-validation-rule type="required"> </dxi-validation-rule>
					</dx-validator>
				</dx-select-box>
			</td>
		</tr>
	</table>

</div>
