<div class="row">
	<div class="col-12">
		<kt-portlet>
			<kt-portlet-header title="Monitoring Shipment via Lion Parcel">
				<ng-container ktPortletTools> </ng-container>
			</kt-portlet-header>

			<kt-portlet-body>
				<div *ngIf="menuForb" class="alert alert-warning box-msg" role="alert">
					<strong>Warning!</strong>
					<span style="padding-left: 10px;">You doesn't have permission to access this page.</span>
				</div>

				<div *ngIf="menuPriv">
                    <dx-button icon="plus" type="success" style="width: 3%;" (onClick)="addShipment()"> </dx-button>
                    <p style="white-space: pre-wrap"></p>

                    <dx-data-grid id="gridContainer" [dataSource]="ds" [showBorders]="true" alignment="left"(onCellPrepared)="onCellPrepared($event)">
                        <!-- <dxo-filter-row [visible]="true"></dxo-filter-row>
                        <dxo-header-filter [visible]="true"></dxo-header-filter> -->
                        <dxo-paging [pageSize]="100"></dxo-paging>

                        <dxi-column [allowFiltering]="false" [fixed]="true" caption="Action" alignment="left" [allowSorting]="false" cellTemplate="cellTemplate"></dxi-column>

                        <dxi-column dataField="via" dataType="string" caption="Via"> </dxi-column>
                        <dxi-column dataField="originCityName" dataType="string" caption="Origin"> </dxi-column>
                        <dxi-column dataField="corporateName" dataType="string" caption="Origin"> </dxi-column>
                        <dxi-column dataField="destinationCityName" dataType="string" caption="Tujuan"> </dxi-column>
                        <dxi-column dataField="sttPegasus" dataType="string" caption="STT Petugas"> </dxi-column>
                        <dxi-column dataField="sttLP" dataType="string" caption="STT Lion Parcel"> </dxi-column>
                        <dxi-column dataField="smuNo" dataType="string" caption="SMU"> </dxi-column>
                        <dxi-column dataField="koli" dataType="number" caption="Koli"> </dxi-column>
                        <dxi-column dataField="caw" dataType="string" caption="Kilo"> </dxi-column>
                        <dxi-column dataField="flightNo" dataType="string" caption="No Penerangan"> </dxi-column>
                        <dxi-column dataField="flightDateLocal" dataType="string" caption="Tanggal Penerbangan"> </dxi-column>
                        <dxi-column dataField="etdLocal" dataType="string" caption="ETD"> </dxi-column>
                        <dxi-column dataField="etaLocal" dataType="string" caption="ETA"> </dxi-column>
                        <dxi-column caption="Status Pengiriman" alignment="center">
                            <dxi-column dataField="firstDayMorning" [width]="150" dataType="string" caption="Besok Pagi" alignment="center"> </dxi-column>
                            <dxi-column dataField="firstDayAfternoon" [width]="150" dataType="string" caption="Besok Sore" alignment="center"> </dxi-column>
                            
                            <dxi-column dataField="secondDayMorning" [width]="150" dataType="string" caption="Lusa Pagi" alignment="center"> </dxi-column>
                            <dxi-column dataField="secondDayAfternoon" [width]="150" dataType="string" caption="Lusa Sore" alignment="center"> </dxi-column>

                            <dxi-column dataField="thirdDayMorning" [width]="150" dataType="string" caption="Hari Ke-3 Pagi" alignment="center"> </dxi-column>
                            <dxi-column dataField="thirdDayAfternoon" [width]="150" dataType="string" caption="Hari Ke-3 Sore" alignment="center"> </dxi-column>
                            
                            <dxi-column dataField="fourthDayMorning" [width]="150" dataType="string" caption="Hari Ke-4 Pagi" alignment="center"> </dxi-column>
                            <dxi-column dataField="fourthDayAfternoon" [width]="150" dataType="string" caption="Hari Ke-4 Sore" alignment="center"> </dxi-column>
                            
                            <dxi-column dataField="fifthDayMorning" [width]="150" dataType="string" caption="Hari Ke-5 Pagi" alignment="center"> </dxi-column>
                            <dxi-column dataField="fifthDayAfternoon" [width]="150" dataType="string" caption="Hari Ke-5 Sore" alignment="center"> </dxi-column>
                        </dxi-column>
                        <dxi-column dataField="pod" dataType="string" caption="Di Terima Oleh"> </dxi-column>
                        <dxi-column dataField="podDateLocal" dataType="string" caption="Waktu / Jam Di Terima"> </dxi-column>
                        <dxi-column dataField="desc" dataType="string" caption="Keterangan"> </dxi-column>

                        <div *dxTemplate="let data of 'cellTemplate'">
                            <dx-drop-down-button
                                icon="edit"
                                [items]="[
                                        {key: 'edit', value: 'Edit', data: data.data},
                                        {key: 'delete', value: 'Hapus', data: data.data}
                                    ]"
                                (onItemClick)="ChooseAction($event)"
                                [displayExpr]="'value'"
                                [keyExpr]="'key'"
                                [dropDownOptions]="{
                                    width: 100
                                }"
                            ></dx-drop-down-button>
                        </div>
                    </dx-data-grid>

				</div>
			</kt-portlet-body>
		</kt-portlet>

	</div>
</div>


