<!-- SEARCH BUTTON START HERE -->
<div style="background-color: #f5f5f5; padding: 1%; border: 1px solid #e2e2e2;">

	<div class="row  ml-2 mr-3">
		<table style="width: 100%; align-items: left;">
			<tr>
				<td style="width: 25%;">
					<div class="dx-field" >
						<div class="dx-field-label">Dari Tanggal</div>
						<div class="dx-field-value">
							<!-- <dx-date-box [showClearButton]="true" [useMaskBehavior]="true" displayFormat="dd-MMM-yyyy" [(value)]="formSearch.dateStart"> </dx-date-box> -->
							<dx-date-box
											[showClearButton]="true"
											[useMaskBehavior]="true"
											displayFormat="dd-MMM-yyyy"
											[(value)]="formSearch.dateStart"
										>
											<dx-validator>
												<dxi-validation-rule type="required" ></dxi-validation-rule>
											</dx-validator>
										</dx-date-box>
						</div>
					</div>
				</td>
				<td style="width: 25%;">
					<div class="dx-field" style="padding-left: 10%;" >
						<div class="dx-field-label">Sampai</div>
						<div class="dx-field-value">
							<!-- <dx-date-box [showClearButton]="true" [useMaskBehavior]="true" displayFormat="dd-MMM-yyyy" [(value)]="formSearch.dateEnd"> </dx-date-box> -->
							<dx-date-box
											[showClearButton]="true"
											[useMaskBehavior]="true"
											displayFormat="dd-MMM-yyyy"
											[(value)]="formSearch.dateEnd"
										>
											<dx-validator>
												<dxi-validation-rule type="required" ></dxi-validation-rule>
											</dx-validator>
										</dx-date-box>
						</div>
					</div>
				</td>
				<td  style="width: 5%;">
					&nbsp;
				</td>
				<td  style="width: 45%;">
					<div class="dx-field">
						<dx-button text="Search" type="success" (onClick)="onSearch()"></dx-button> 
					</div>
				</td>
			</tr>	
		</table>
		
		

	</div>

  </div>
  
  <br/>

<p style="white-space: pre-wrap"></p> 
<!-- SEARCH BUTTON END -->

<dx-data-grid id="gridContainer"
  [dataSource]="ds" [showBorders]="true">
  <dxo-filter-row [visible]="true"></dxo-filter-row>
  <dxo-header-filter [visible]="true"></dxo-header-filter>
  <dxi-column dataField="spbId" dataType="number" caption="SpbId" [visible]="false"> </dxi-column>
  <dxi-column dataField="spbNo" dataType="string" caption="Nomor SPB" > </dxi-column>
  <dxi-column dataField="createdAtLocal" dataType="string" caption="Tanggal SPB" > </dxi-column>
  <dxi-column dataField="telepon" dataType="string" caption="Telepon" > </dxi-column>
  <dxi-column dataField="phone" dataType="string" caption="Hp" > </dxi-column>
  <dxi-column dataField="customerName" dataType="string" caption="Nama" > </dxi-column>
  <dxi-column dataField="customerStore" dataType="string" caption="Toko" > </dxi-column>
  <dxi-column dataField="customerPlace" dataType="string" caption="Tempat" > </dxi-column>
  <dxi-column dataField="customerAddress" dataType="string" caption="Alamat" > </dxi-column>
  <dxi-column dataField="rt" dataType="number" caption="Rt" > </dxi-column>
  <dxi-column dataField="rw" dataType="number" caption="Rw" > </dxi-column>
  <dxi-column dataField="masterUrbanName" dataType="string" caption="Desa/Kelurahan" > </dxi-column>
  <dxi-column dataField="masterSubDistrictName" dataType="string" caption="Kecamatan" > </dxi-column>
  <dxi-column dataField="masterCityName" dataType="string" caption="Kabupaten/Kota" > </dxi-column>
  <dxi-column dataField="masterUrbanPostalCode" dataType="number" caption="Kode Pos" > </dxi-column>
  <dxi-column dataField="viaName" dataType="string" caption="Via" > </dxi-column>
  <dxi-column dataField="totalCAW" dataType="number" caption="Total Caw"  [customizeText]="thousandSeparator"> </dxi-column>
  <dxi-column dataField="totalKoli" dataType="number" caption="Total Koli"  [customizeText]="thousandSeparator"> </dxi-column>
  <dxi-column dataField="totalPrice" dataType="number" caption="Total Harga"  [customizeText]="thousandSeparator"> </dxi-column>
  
  <dxo-summary>
	  <dxi-total-item column="totalCAW" summaryType="sum" [customizeText]="thousandSeparator" > </dxi-total-item>
	  <dxi-total-item column="totalKoli" summaryType="sum" [customizeText]="thousandSeparator" > </dxi-total-item>
	  <dxi-total-item column="totalPrice" summaryType="sum" [customizeText]="thousandSeparator" > </dxi-total-item>
  </dxo-summary>
</dx-data-grid>