.options-container {
	margin-top: 10px;
}

.option-list {
	list-style: none;
	padding: 0;
}

.option-item {
	margin-bottom: 5px;
}

.option-label {
	align-items: center;
	font-family: sans-serif; /* Mengatur font menjadi sans-serif */
	font-size: 15px; /* Mengatur ukuran font */
	color: black; /* Mengatur warna teks menjadi hitam */
	margin-left: 5px;
}

.option-text {
	margin-left: 5px;
}

.date-input-container {
	margin-bottom: 10px;
}

.date-input {
	padding: 5px;
	font-size: 14px;
}

.date-range-container {
	display: flex;
	gap: 10px;
}

.print-button {
	padding: 10px 20px;
	font-size: 16px;
	background-color: #007bff;
	color: white;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}

.print-button:hover {
	background-color: #0056b3;
}
.disabled {
	color: grey;
	pointer-events: none;
}

.wide-portlet-body {
    width: 100%;                /* Membuat elemen mengisi lebar penuh layar */
    padding-left: 5px;          /* Padding kiri 5px */
    padding-right: 5px;         /* Padding kanan 5px */
    box-sizing: border-box;     /* Pastikan padding dihitung dalam ukuran total */
}
