<div class="row">
	<div class="col-12">
		<kt-portlet>
			<kt-portlet-header title="Manifest Carrier Master - Cost Carrier">
				<ng-container ktPortletTools> </ng-container>
			</kt-portlet-header>

			<kt-portlet-body>
				<div *ngIf="menuForb" class="alert alert-warning box-msg" role="alert">
					<strong>Warning!</strong>
					<span style="padding-left: 10px;">You doesn't have permission to access this page.</span>
            	</div>

				<div *ngIf="menuPriv">
					
                    <div align="left">
                        <dx-button icon="plus" [width]="25" [height]="25" type="success" (onClick)="addCost()"></dx-button>
                    </div>
                    
                    <br/>
                    
                    <dx-data-grid id="gridContainer"
                                [dataSource]="dsCost" [showBorders]="true">
                      <dxo-filter-row [visible]="true"></dxo-filter-row>
                      <dxo-header-filter [visible]="true"></dxo-header-filter>

					  <dxi-column [allowFiltering]="false" [fixed]="true" caption="Action" alignment="left"
									[allowSorting]="false" cellTemplate="cellTemplate"></dxi-column>
						<div *dxTemplate="let data of 'cellTemplate'">
							<dx-drop-down-button
								[dropDownOptions]="{ width: 150 }"
								icon="menu"
								[items]="[
										{icon: 'edit' ,key: 'update', value: 'Update', data: data.data},
										{icon: 'close' ,key: 'delete', value: 'Delete', data: data.data}
										]"
									(onItemClick)="actionCLick($event)"
									[displayExpr]="'value'"
									[keyExpr]="'key'"
									></dx-drop-down-button>
								</div>
								
						<dxi-column type="adaptive" [width]="50"></dxi-column>
                    
                        <dxi-column dataField="carrierName" dataType="string" caption="Carrier" alignment="left"> </dxi-column>
                        <dxi-column dataField="originStation" dataType="string" caption="Bandara Asal" alignment="left"> </dxi-column>
                        <dxi-column caption="Nomor Penerbangan" alignment="center">
                            <dxi-column dataField="firstFlightNo" dataType="string" caption="Pertama" alignment="left"> </dxi-column>
                            <dxi-column dataField="lastFlightNo" dataType="string" caption="Terakhir" alignment="left"> </dxi-column>
                        </dxi-column>
                       
                        <dxi-column dataField="vendorName" dataType="string" caption="Vendor Carrier" alignment="left"> </dxi-column>
                        <dxi-column dataField="destinationStation" dataType="string" caption="Bandara Tujuan" alignment="left"> </dxi-column>
                        <dxi-column dataField="lookupValue" dataType="string" caption="Unit" alignment="center"> </dxi-column>
                        <dxi-column dataField="baseCost" dataType="string" caption="Base Cost" alignment="center" [customizeText]="thousandSeparator" > </dxi-column>
                        <!-- <dxi-column dataField="useWeight" dataType="string" caption="Use Weight" alignment="center"> </dxi-column> -->
					  
                    </dx-data-grid>

				</div>
			</kt-portlet-body>
			

		</kt-portlet>

	</div>
</div>



