<div class="row">
	<div class="col-12">
		<kt-portlet>
			<kt-portlet-header title="{{this.rolesName}} - [{{this.desc}}]" style="font-size: larger;">
				<ng-container ktPortletTools> </ng-container>
			</kt-portlet-header>

			<kt-portlet-body>
                <div class="row  ml-2 mr-3" style="margin-top: -2%;">
                    <div class="col-md">
                        <div class="dx-fieldset">
                           
                            <div class="dx-field">
                                <strong>Kota Tujuan</strong>
                                <dx-button text="Tambah" type="success" style="float: right;" (onClick)="onAddCity('tujuan')"></dx-button>
                            </div>  
                            <div *ngFor="let od of this.kotaTujuanData; let i = index">
                                
                                <div *ngIf="od.masterCityCode == '' ">
                                    <br>
                                    Semua Kota Tujuan
                                </div>

                                <div *ngIf="od.masterCityCode != '' ">
                                    <div class="dx-field">
                                        - {{od.name}}
                                        <!-- <dx-check-box id="od.id" [disabled]="true" [value]="true" text="{{od.name}}"></dx-check-box> -->
                                        <dx-button text="Delete" type="normal" style="float: right; margin-right: 50%;" (onClick)="onDeleteCity(od.id, od.name, 'tujuan')"></dx-button>
                                    </div>   
                                </div>  

                            </div>
    
                            <hr/>
    
                            <div class="dx-field">
                                <strong>Kota Blokir</strong>
                                <dx-button text="Tambah" type="success" style="float: right;" (onClick)="onAddCity('blokir')"></dx-button>
                            </div>  
                            
                            <div *ngFor="let od of this.kotaBlokirData; let i = index">
                                
                                <div *ngIf="od.masterCityCode == '' ">
                                    <br>
                                    Tidak Ada Kota Blokir
                                </div>

                                <div *ngIf="od.masterCityCode != '' ">
                                    <div class="dx-field">
                                        - {{od.name}}
                                        <!-- <dx-check-box id="od.id" [disabled]="true" [value]="true" text="{{od.name}}"></dx-check-box> -->
                                        <dx-button text="Delete" type="normal" style="float: right; margin-right: 50%;" (onClick)="onDeleteCity(od.id, od.name, 'blokir')"></dx-button>
                                    </div>   
                                </div> 
                                
                            </div>
                            
                        </div>
                    </div>
                </div>

               
                <div class="row  ml-2 mr-3">
                    <div class="col-md text-right">
                        <dx-button text="Kembali" type="default" (onClick)="onBack()"></dx-button>
                    </div>
                </div>

				<!-- </div> -->
			</kt-portlet-body>
		</kt-portlet>

	</div>
</div>