<div class="row">
	<div class="col-12">
		<kt-portlet>
			<kt-portlet-header title="{{this.privilegeName}}" style="font-size: larger;">
				<ng-container ktPortletTools> </ng-container>
			</kt-portlet-header>

			<kt-portlet-body>
                <div class="row  ml-2 mr-3" style="margin-top: -2%;">
                    <div class="col-md">
                        <div class="dx-fieldset">
                            <h5><strong>Menu</strong></h5>
                            <div *ngFor="let od of this.menusData; let i = index">
                                
                                <div *ngIf="od.order == 0">
                                    <br>
                                    <strong>{{od.name}}</strong>
                                </div>

                                <div *ngIf="od.order > 0">
                                    <div class="dx-field">
                                        <dx-check-box id="od.id" [value]="od.value" text="{{od.name}}" (onValueChanged)="checkBox_valueChanged($event, od.id, 'menu')"></dx-check-box>
                                        <!-- <dx-button text="Detail" type="normal" style="float: right; margin-right: 50%;" (onClick)="onDetailMenu(od.id, od.name)"></dx-button> -->
                                    </div>   
                                </div>
                            </div>
    
                            <br/>
                            <hr/>
    
                            <h5><strong>Print SPB & Label</strong></h5>
                            <div *ngFor="let pd of this.printsData; let i = index">
                                <div class="dx-field">
                                    <dx-check-box id="pd.id" [value]="pd.value" text="{{pd.name}}" (onValueChanged)="checkBox_valueChanged($event, pd.id, 'print')"></dx-check-box>
                                </div>        
                            </div>
                            
                        </div>
                    </div>
                </div>

               
                <div class="row  ml-2 mr-3">
                    <div class="col-md text-right">
                        <dx-button text="Kembali" type="default" (onClick)="onBack()"></dx-button>
                    </div>
                </div>

				<!-- </div> -->
			</kt-portlet-body>
		</kt-portlet>

	</div>
</div>