<div class="row">
	<div class="col-12">
		<kt-portlet>
			<kt-portlet-header title="Coa Accounts Receivable Management Create">
				<ng-container ktPortletTools> </ng-container>
			</kt-portlet-header>

			<kt-portlet-body>
				<div *ngIf="menuForb" class="alert alert-warning box-msg" role="alert">
					<strong>Warning!</strong>
					<span style="padding-left: 10px">You doesn't have permission to access this page.</span>
				</div>
				<div *ngIf="menuPriv">
					<div class="container">
						<div class="dx-field mb-2">
							<div class="dx-field-label"><h6>Kota</h6></div>
							<div class="dx-field-value">
								<dx-select-box [dataSource]="CityDs" [searchEnabled]="true" displayExpr="cityName" valueExpr="cityId" [(value)]="formCreate.cityId" [showClearButton]="true">
									<dx-validator>
										<dxi-validation-rule type="required"></dxi-validation-rule>
									</dx-validator>
								</dx-select-box>
							</div>
						</div>

						<div class="dx-field mb-2">
							<div class="dx-field-label"><h6>Coa Piutang Usaha</h6></div>
							<div class="dx-field-value">
								<dx-select-box [dataSource]="coaCodeAssetsDs" [ngClass]="{ 'is-invalid': submitted }" [searchEnabled]="true" displayExpr="coaFullName" valueExpr="coaId" [(value)]="formCreate.coaIdAr" [showClearButton]="true">
									<dx-validator>
										<dxi-validation-rule type="required"></dxi-validation-rule>
									</dx-validator>
								</dx-select-box>
							</div>
						</div>

						<div class="dx-field mb-2">
							<div class="dx-field-label"><h6>Coa Pendapatan</h6></div>
							<div class="dx-field-value">
								<dx-select-box [dataSource]="coaCodeRevenueDs" [ngClass]="{ 'is-invalid': submitted }" [searchEnabled]="true" displayExpr="coaFullName" valueExpr="coaId" [(value)]="formCreate.coaIdRevenue" [showClearButton]="true">
									<dx-validator>
										<dxi-validation-rule type="required"></dxi-validation-rule>
									</dx-validator>
								</dx-select-box>
							</div>
						</div>

						<div class="dx-field mb-2">
							<div class="dx-field-label"><h6>Coa Buku Bank Pembayaran</h6></div>
							<div class="dx-field-value">
								<dx-select-box [dataSource]="coaCodeAssetsDs" [ngClass]="{ 'is-invalid': submitted }" [searchEnabled]="true" displayExpr="coaFullName" valueExpr="coaId" [(value)]="formCreate.coaIdLiability" [showClearButton]="true">
									<dx-validator>
										<dxi-validation-rule type="required"></dxi-validation-rule>
									</dx-validator>
								</dx-select-box>
							</div>
						</div>

						<div class="dx-field mb-2">
							<div class="dx-field-label"><h6>Moda</h6></div>
							<div class="dx-field-value">
								<dx-select-box [dataSource]="modaDs" [searchEnabled]="true" displayExpr="modaName" valueExpr="modaValue" [(value)]="formCreate.moda" [showClearButton]="true">
									<dx-validator>
										<dxi-validation-rule type="required"></dxi-validation-rule>
									</dx-validator>
								</dx-select-box>
							</div>
						</div>

						<div class="dx-field mb-2">
							<div class="dx-field-label"><h6>Jenis</h6></div>
							<div class="dx-field-value">
								<dx-select-box [dataSource]="isCorporateDs" [searchEnabled]="true" displayExpr="isCorporateName" valueExpr="isCorporateValue" [(value)]="formCreate.isCorporate" [showClearButton]="true">
									<dx-validator>
										<dxi-validation-rule type="required"></dxi-validation-rule>
									</dx-validator>
								</dx-select-box>
							</div>
						</div>

						<div class="row ml-2 mr-3">
							<div class="col-md text-right">
								<dx-button text="Create" type="success" (onClick)="onSave()"></dx-button>
								&nbsp;&nbsp;
								<dx-button text="Kembali" type="default" (onClick)="onBack()"></dx-button>
							</div>
						</div>

						<!-- <p id="coaCodeResult"></p> -->
					</div>
				</div>
			</kt-portlet-body>
		</kt-portlet>
	</div>
</div>
