<dx-data-grid id="gridContainer" [dataSource]="ds" [showBorders]="true" alignment="left" (onCellPrepared)="onCellPrepared($event)">
    <dxo-filter-row [visible]="true"></dxo-filter-row>
    <dxo-header-filter [visible]="true"></dxo-header-filter>
    <dxo-paging [pageSize]="100"></dxo-paging>

    <dxi-column dataField="columnColour" dataType="string" [visible]="false"> </dxi-column>
    <dxi-column dataField="createdAtLocal"  dataType="date" format="dd-MMM-yyyy"  caption="Tanggal" > </dxi-column>
    <dxi-column dataField="manifestNo" dataType="string" caption="Manifest No."> </dxi-column>
    <dxi-column dataField="sisaKoliFinal" dataType="string" caption="Koli" width="100"> </dxi-column>
    <dxi-column dataField="sumAw" dataType="number" caption="Aw" width="100"> </dxi-column>
    <dxi-column dataField="sisaCawFinal" dataType="string" caption="Caw" width="100"> </dxi-column>
    <dxi-column dataField="originCityName" dataType="string" caption="Kota Asal" > </dxi-column>
    <dxi-column dataField="destinationCityName" dataType="string" caption="Kota Tujuan"> </dxi-column>

</dx-data-grid>


