/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "~material-design-icons/iconfont/material-icons.css";
@import "~highlight.js/styles/googlecode.css";

// hide bootstrap dropdown arrow globally
.dropdown-toggle::after {
	display: none !important;
}

.mat-table__wrapper--dashboard .mat-table {
	min-width: 600px !important;
	width: 100% !important;
}

.position-static {
	position: static;
}

// full width drop down button list
.dx-dropdownbutton-content .dx-list-item {
	display: block;
}


/*****************************/
/*SPB CREATE*/
/*****************************/

.lokasi .dx-texteditor-input  {
	background: #a8fff5 !important;
}

.lokasi table, .lokasi th, .lokasi td { border: 2px solid #a8fff5 !important; }

.barang-bold .dx-texteditor-input  {
	background: #8E24AA !important;
}

.barang .dx-texteditor-input  {
	background: #aeffa6 !important;
}

.barang table, .barang th, .barang td { border: 2px solid #aeffa6 !important; }

.pelanggan .dx-texteditor-input  {
	background: #fffdab !important;
}
.pelanggan table, .pelanggan th, .pelanggan td { border: 2px solid #fffdab !important; }

.komoditi .dx-texteditor-input  {
	background: #ffd162 !important;
}
.komoditi table, .komoditi th, .komoditi td { border: 2px solid #ffd162 !important; }

.tarif .dx-texteditor-input  {
	background: #ffe5f5 !important;
}
.tarif table, .tarif th, .tarif td { border: 2px solid #ffe5f5 !important; }

.dx-show-clear-button .dx-icon-clear {
	background: #8E24AA !important;
}

.dx-dropdowneditor-overlay .dx-overlay-content {
	min-width: 400px;
}

.dx-selectbox-popup-wrapper .dx-list-item-content {
	word-wrap: break-word;
	white-space: normal;
	padding: 6px 4px !important;
}

.table-xs td {
	padding: .25rem .25rem !important;
}



.uppercase .dx-texteditor-input{
	text-transform: uppercase;
}

/*****************************/
/*html_table_border_rounded_corners*/
/*****************************/

table.roundedCorners {
	border: 1px solid DarkOrange;
	border-radius: 13px;
	border-spacing: 0;
}
table.roundedCorners td,
table.roundedCorners th {
	border-bottom: 1px solid DarkOrange;
	padding: 10px;
}
table.roundedCorners tr:last-child > td {
	border-bottom: none;
}



/*****************************/
/* BOLD kolom header devextream */
/*****************************/

.dx-header-row > td[role="columnheader"]> div.dx-datagrid-text-content {
	font-size: 14px;
	font-weight: bold;
}


/*****************************/
/* form filter datatable  */
/*****************************/

.filter-background {
	background-color: rgba(191, 191, 191, 0.15);
	padding: 20px;
}
