<!--<h2 mat-dialog-title>This is a Dialog title</h2>-->

<mat-dialog-actions>
	<button class="mat-raised-button" (click)="close()">Close</button>
</mat-dialog-actions>

<mat-dialog-content style="max-height: 80vh">
	<div id="printJS-form">
		<table border="1" width="100%">
			<tr>
				<td style="text-align: center; font-size: 20px; font-weight: bold">
					Buku Kas
					<span *ngIf="this.data.period == 'Today'">Tanggal</span>
					<span *ngIf="this.data.period == 'PerDate'">Tanggal</span>
					<span *ngIf="this.data.period == 'PerMonth'">Bulan</span>
					<span *ngIf="this.data.period == 'PerYear'">Tahun</span>
					<span *ngIf="this.data.period == 'CustomeDate'">Tanggal Antara</span>
					<br />
					<div *ngIf= "this.data.period == 'Today'">{{ data.date | date:'dd MMMM yyyy' }}</div>
					<div *ngIf= "this.data.period == 'PerDate'">{{ this.data.date}}</div>
					<div *ngIf= "this.data.period == 'PerMonth'">{{ this.data.month + " " + this.data.year}}</div>
					<div *ngIf= "this.data.period == 'PerYear'">{{ this.data.year}}</div>
					<div *ngIf= "this.data.period == 'CustomeDate'">{{ this.data.startDate + " & " + this.data.endDate}}</div>
				</td>
			</tr>
		</table>
		<br />
		<table datatable class="cell-border compact stripe" [dtTrigger]="dtTrigger" [dtOptions]="dtOptions">
			<thead>
				<tr>
					<th>#</th>
					<th>Tanggal</th>
					<th>Kode Coa</th>
					<th>Nama COA</th>
					<th>Keterangan</th>
					<th>No Referensi</th>
					<th>Debit</th>
					<th>Kredit</th>
					<th>Saldo</th>
				</tr>
			</thead>
			<tbody>
				<tr *ngFor="let row of this.bukuKasList; let i = index">
					<td style="padding: 3px">{{ i + 1 }}</td>
					<td style="padding: 3px">{{ row.tanggal }}</td>
					<td style="padding: 3px">{{ row.coaCode }}</td>
					<td style="padding: 3px">{{ row.coaName }}</td>
					<td style="padding: 3px">{{ row.keterangan }}</td>
					<td style="padding: 3px">{{ row.noReferensi }}</td>
					<td style="padding: 3px">{{ row.debit | number }}</td>
					<td style="padding: 3px">{{ row.credit | number }}</td>
					<td style="padding: 3px">{{ row.cumulativeBalance | number }}</td>
				</tr>

				<tr>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
					<td>{{ sumDebit | number }}</td>
					<td>{{ sumKredit | number }}</td>
					<td>{{ sumSaldo | number }}</td>
				</tr>
			</tbody>
		</table>
	</div>
</mat-dialog-content>
