<div class="row">
	<div class="col-12">
		<kt-portlet>

           <div style="padding-left:2%;padding-top:2%;">
                <div style="width: 98%">
                    <label id="formDetail.manifestCarrierNo" style="color: black; font-size: large;" class="dx-fieldset-header" >&nbsp;</label>
                    <label style="float: right;color: black; font-size: large;" class="dx-fieldset-header">List Revisi</label>
                </div>
                <div style="width: 98%; border-bottom: 1px solid lightgray;"></div>
           </div>
           
			<kt-portlet-body style="margin-top: -2%;">
            
				<div>
                    <div class="row  ml-2 mr-3">
                        <div class="col-md">
                            <div class="dx-fieldset" style=" width: 100%;">
                                <div class="dx-fieldset-header">Bandara</div>
            
                                <!-- <div class="dx-field" >
                                    <div class="dx-field-label">Periode Manifest</div>
                                    <div class="dx-field-value">
                                        <dx-text-box [(value)]="formDetail.periode_start" [readOnly]="true"></dx-text-box>
                                    </div>
                                    <div class="dx-field-value" style="padding-top: 0.5%;">
                                        <dx-text-box [(value)]="formDetail.periode_end" [readOnly]="true"></dx-text-box>
                                    </div>
                                </div> -->
            
                               <div class="dx-field" >
                                    <div class="dx-field-label">Bandara Origin</div>
                                    <div class="dx-field-value">
                                        <dx-text-box [(value)]="formDetail.originStation" [readOnly]="true"></dx-text-box>
                                    </div>
                                </div>
            
                                <div class="dx-field" >
                                    <div class="dx-field-label">Kota Origin</div>
                                    <div class="dx-field-value">
                                        <table style="width: 100%;">
                                            <tr>
                                                <td style="width: 70%;">
                                                    <dx-text-box [(value)]="formDetail.originCity" [readOnly]="true"></dx-text-box>
                                                </td>
                                                <td style="width: 30%;">
                                                    <dx-text-box [(value)]="formDetail.originVendor" [readOnly]="true"></dx-text-box>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
            
                                 <div class="dx-field" >
                                    <div class="dx-field-label">Bandara Tujuan</div>
                                    <div class="dx-field-value">
                                        <dx-text-box [(value)]="formDetail.destinationStation" [readOnly]="true"></dx-text-box>
                                    </div>
                                </div>
                               
                                <div class="row mt-2"  *ngFor="let item of manifestCarrierItemData; let i = index">
									<div class="col-md">
										<div class="dx-field" >
											<div class="dx-field-label">#{{i+1}} Kota Tujuan Manifest - {{item.manifestNo}}</div>
											<div class="dx-field-value">
												<table style="width: 100%;">
													<tr>
														<td style="width: 70%;">
															<dx-text-box value="{{ item.masterCityName }}" [readOnly]="true"></dx-text-box>
														</td>
														<td style="width: 30%;">
															<dx-text-box value="{{ item.vendorName }}" [readOnly]="true"></dx-text-box>
														</td>
													</tr>
												</table>
												
											</div>
										</div>
									</div>
								</div>
                                    
                                <br/>
            
                                <div class="dx-field" >
                                    <div class="dx-field-label">Bandara Transit 1</div>
                                    <div class="dx-field-value">
                                        <table style="width: 100%;">
                                            <tr>
                                                <td style="width: 70%;">
                                                    <dx-text-box [(value)]="formDetail.firstStationTransitName" [readOnly]="true"></dx-text-box>
                                                </td>
                                                <td style="width: 30%;">
                                                    <dx-text-box [(value)]="formDetail.firstVendorTransitName" [readOnly]="true"></dx-text-box>
                                                </td>
                                                
                                            </tr>
                                        </table>
                                    </div>
                                </div>
            
                                <div class="dx-field" >
                                    <div class="dx-field-label">Bandara Transit 2</div>
                                    <div class="dx-field-value">
                                        <table style="width: 100%;">
                                            <tr>
                                                <td style="width: 70%;">
                                                    <dx-text-box [(value)]="formDetail.secondStationTransitName" [readOnly]="true"></dx-text-box>
                                                </td>
                                                <td style="width: 30%;">
                                                    <dx-text-box [(value)]="formDetail.secondVendorTransitName" [readOnly]="true"></dx-text-box>
                                                </td>
                                                
                                            </tr>
                                        </table>
                                    </div>
                                </div>
            
                                <div class="dx-field" >
                                    <div class="dx-field-label">Bandara Transit 3</div>
                                    <div class="dx-field-value">
                                        <table style="width: 100%;">
                                            <tr>
                                                <td style="width: 70%;">
                                                    <dx-text-box [(value)]="formDetail.thirdStationTransitName" [readOnly]="true"></dx-text-box>
                                                </td>
                                                <td style="width: 30%;">
                                                    <dx-text-box [(value)]="formDetail.thirdVendorTransitName" [readOnly]="true"></dx-text-box>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                                                            
                            </div>
                        </div>
                         <div class="col-md">
                            <div class="dx-fieldset" style=" width: 100%;">
                                <div class="dx-fieldset-header">Carrier</div>
                                <div class="dx-field" >
                                    <div class="dx-field-label">No. SMU</div>
                                    <div class="dx-field-value">
                                        <dx-text-box [(value)]="formDetail.noSmu" [readOnly]="true"></dx-text-box>
                                    </div>
                                </div>
                                
            
                                <div class="dx-field" >
                                    <div class="dx-field-label">Flight Date</div>
                                    <div class="dx-field-value">
                                        <dx-text-box [(value)]="formDetail.flightDate" [readOnly]="true"></dx-text-box>
                                    </div>
                                </div>
            
                                <div class="dx-field" >
                                    <div class="dx-field-label">Moda</div>
                                    <div class="dx-field-value">
                                        <table style="width: 100%;">
                                            <tr>
                                                <td style="width: 30%;">
                                                    <dx-text-box [(value)]="formDetail.modaName" [readOnly]="true"></dx-text-box>
                                                </td>
            
                                                <td style="width: 30%;">
                                                    <div class="dx-field-label" style="padding-left: 5%;width:100%;">Vendor Carrier</div>
                                                </td>
            
                                                <td style="width: 40%;">
                                                    <dx-select-box
														[dataSource]="vendorCarrierDs"
														[searchEnabled]="true"
														displayExpr="vendorName"
														valueExpr="vendorId"
														[(value)]="formDetail.vendorCarrierId"
                                                        (onValueChanged)="onTriggerChangeFirstCarrierCode($event)"
														[showClearButton]="true"
													>
														<dx-validator>
															<dxi-validation-rule type="required"></dxi-validation-rule>
														</dx-validator>
													</dx-select-box>
                                                </td>
                                                
                                            </tr>
                                        </table>
                                    </div>
                                </div>
            
                                <div class="dx-field" >
                                    <div class="dx-field-label">No. Penerbangan 1</div>
                                    <div class="dx-field-value">
                                        <table style="width: 100%;">
                                            <tr>
            
                                                <td style="width: 30%;">
                                                    <dx-select-box
														[dataSource]="firstCarrierCodeDs"
														[searchEnabled]="true"
														displayExpr="carrierCode"
														valueExpr="carrierId"
														[showClearButton]="true"
														[(value)]="formDetail.firstCarrierCodeId"
														(onValueChanged)="onTriggerChangeFirstFlightNo($event)"
													>
													<dx-validator>
														<dxi-validation-rule type="required"></dxi-validation-rule>
													</dx-validator>
													</dx-select-box>
                                                </td>
            
                                                <td style="width: 70%;">
                                                    <dx-select-box
														[dataSource]="firstFlightNoDs"
														[searchEnabled]="true"
														displayExpr="flightNo"
														valueExpr="flightId"
														[showClearButton]="true"
														[(value)]="formDetail.firstFlightId"
														(onValueChanged)="onTriggerChangeSecondCarrierCode($event)"
													>
														<dx-validator>
															<dxi-validation-rule type="required"></dxi-validation-rule>
														</dx-validator>
													</dx-select-box>
                                                </td>
                                                
                                            </tr>
                                        </table>
                                    </div>
                                </div>
            
                                <div class="dx-field" >
                                    <div class="dx-field-label">No. Penerbangan 2</div>
                                    <div class="dx-field-value">
                                        <table style="width: 100%;">
                                            <tr>
            
                                                <td style="width: 30%;">
                                                    <dx-select-box
														[dataSource]="secondCarrierCodeDs"
														[searchEnabled]="true"
														displayExpr="carrierCode"
														valueExpr="carrierId"
														[showClearButton]="true"
														[(value)]="formDetail.secondCarrierCodeId"
														(onValueChanged)="onTriggerChangeSecondFlightNo($event)"
													>
													</dx-select-box>
                                                </td>
            
                                                <td style="width: 70%;">
                                                    <dx-select-box
														[dataSource]="secondFlightNoDs"
														[searchEnabled]="true"
														displayExpr="flightNo"
														valueExpr="flightId"
														[showClearButton]="true"
														[(value)]="formDetail.secondFlightId"
														(onValueChanged)="onTriggerChangeFirstTransit($event)"
													>
													</dx-select-box>
                                                </td>
                                                
                                            </tr>
                                        </table>
            
                                    </div>
                                </div>
            
                                <div class="dx-field" >
                                    <div class="dx-field-label">No. Penerbangan 3</div>
                                    <div class="dx-field-value">
                                        <table style="width: 100%;">
                                            <tr>
                                                <td style="width: 30%;">
                                                    <dx-select-box
														[dataSource]="thirdCarrierCodeDs"
														[searchEnabled]="true"
														displayExpr="carrierCode"
														valueExpr="carrierId"
														[showClearButton]="true"
														[(value)]="formDetail.thirdCarrierCodeId"
														(onValueChanged)="onTriggerChangeThirdFlightNo($event)"
													>
													</dx-select-box>
                                                </td>
            
                                                <td style="width: 70%;">
                                                    <dx-select-box
														[dataSource]="thirdFlightNoDs"
														[searchEnabled]="true"
														displayExpr="flightNo"
														valueExpr="flightId"
														[showClearButton]="true"
														[(value)]="formDetail.thirdFlightId"
														(onValueChanged)="onTriggerChangeSecondTransit($event)"
													>
													</dx-select-box>
                                                </td>
                                                
                                            </tr>
                                        </table>
            
                                    </div>
                                </div>
            
                                <div class="dx-field" >
                                    <div class="dx-field-label">No. Penerbangan 4</div>
                                    <div class="dx-field-value">
                                        <table style="width: 100%;">
                                            <tr>
                                                <td style="width: 30%;">
                                                    <dx-select-box
														[dataSource]="fourthCarrierCodeDs"
														[searchEnabled]="true"
														displayExpr="carrierCode"
														valueExpr="carrierId"
														[showClearButton]="true"
														[(value)]="formDetail.fourthCarrierCodeId"
														(onValueChanged)="onTriggerChangeFourthFlightNo($event)"
													>
													</dx-select-box>
                                                </td>
            
                                                <td style="width: 70%;">
                                                    <dx-select-box
														[dataSource]="fourthFlightNoDs"
														[searchEnabled]="true"
														displayExpr="flightNo"
														valueExpr="flightId"
														[showClearButton]="true"
														[(value)]="formDetail.fourthFlightId"
														(onValueChanged)="onTriggerChangeThirdTransit($event)"
													>
													</dx-select-box>
                                                </td>
                                                
                                            </tr>
                                        </table>
            
                                    </div>
                                </div>
            
                                <div class="dx-field" >
                                    <div class="dx-field-label">PPN</div>
                                    <div class="dx-field-value">
                                        <table style="width: 100%;">
                                            <tr>
                                                <td style="width: 50%;">
                                                    <dx-text-box [(value)]="formDetail.ppn" [readOnly]="true"></dx-text-box>
                                                </td>
                                                <td style="width: 50%;">&nbsp;</td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
            
                                <div class="dx-field" >
                                    <div class="dx-field-label">SMU</div>
                                    <div class="dx-field-value">
                                        <dx-text-box [(value)]="formDetail.costSMU" [readOnly]="true"></dx-text-box>
                                    </div>
                                </div>
            
                            </div>
                        </div>						 
            
                    </div>
            <hr/>
                   <div class="row  ml-2 mr-3">
                        <div class="col-md">
                            <div class="dx-fieldset" style=" width: 100%;">
                                <div class="dx-fieldset-header">Manifest</div>
                               
                                <div class="row mt-2"  *ngFor="let itemDetail of manifestCarrierItemData; let ix = index">

                                    <div class="col-md-2">
                                        <div class="dx-field" >
                                            <div class="dx-field-label">{{ix+1}}. Manifest</div>
                                            <div class="dx-field-value">
                                                <dx-text-box value="{{ itemDetail.manifestNo }}" [readOnly]="true"></dx-text-box>
                                            </div>
                                        </div>
                                    </div>
            
                                    <div class="col-md">
                                        <div class="dx-field" >
                                            <div class="dx-field-label">{{ix+1}}. Koli
                                            </div>
                                            <div class="dx-field-value">
                                                <dx-text-box value="{{ itemDetail.koli }}" [readOnly]="true"></dx-text-box>
                                            </div>
            
                                        </div>
                                    </div>
            
                                    <div class="col-md">
                                        <div class="dx-field" >
                                            <div class="dx-field-label">{{ix+1}}. Aw
                                            </div>
                                            <div class="dx-field-value">
                                                <dx-text-box value="{{ itemDetail.aw }}" [readOnly]="true"></dx-text-box>
                                            </div>
            
                                        </div>
                                    </div>
            
                                    <div class="col-md">
                                        <div class="dx-field" >
                                            <div class="dx-field-label">{{ix+1}}. Caw
                                            </div>
                                            <div class="dx-field-value">
                                                <dx-text-box value="{{ itemDetail.caw }}" [readOnly]="true"></dx-text-box>
                                            </div>
            
                                        </div>
                                    </div>
            
                                    <div class="col-md-2">
                                        <div class="dx-field" >
                                            <div class="dx-field-label">{{ix+1}}. Koli<br/>Manifest<br/>Di Kenakan
                                            </div>
                                            <div class="dx-field-value">
                                                <dx-text-box value="{{ itemDetail.koliFinal }}" [readOnly]="true"></dx-text-box>         
                                            </div>
            
                                        </div>
                                    </div>
            
            
                                    <div class="col-md-2">
                                        <div class="dx-field" >
                                            <div class="dx-field-label">{{ix+1}}. Berat<br/>Manifest<br/>Di Kenakan
                                            </div>
                                            <div class="dx-field-value">
                                                <dx-text-box value="{{ itemDetail.cawFinal }}" [readOnly]="true"></dx-text-box>         
                                            </div>
            
                                        </div>
                                    </div>
                                    
                                    <div class="col-md-2">
                                        <div class="dx-field" >
                                            <div class="dx-field-label">{{ix+1}}. Berat<br/>Final SMU
                                            </div>
                                            <div class="dx-field-value">
                                                <dx-text-box value="{{ itemDetail.finalWeightSMU }}" [readOnly]="true"></dx-text-box>        
                                            </div>
            
                                        </div>
                                    </div>
                                    
                                </div>

                                <hr/>
            
                                <div class="row">
                                    <div class="col-md-4"> </div>
                                    <div class="col-md-4"> 
                                        <div class="dx-field">
                                            <div class="dx-field-label"><b>TOTAL Koli Final SMU</b>
                                            </div>
                                            <div class="dx-field-value" >
                                                <dx-text-box [(value)]="formDetail.manifestTotalKoli" [readOnly]="true"></dx-text-box>       
                                            </div>
            
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="dx-field">
                                            <div class="dx-field-label" ><b>TOTAL Berat Final SMU</b>
                                            </div>
                                            <div class="dx-field-value" >
                                                <dx-text-box [(value)]="formDetail.manifestTotalWeight" [readOnly]="true"></dx-text-box>           
                                            </div>
            
                                        </div>
                                    </div>
                                </div>
                                
                            </div>
                        </div>
            
                    </div>

                    <div class="row  ml-2 mr-3">
						<div class="col-md">
							<div class="dx-fieldset" style=" width: 100%;">
								<div class="dx-fieldset-label">Alasan Koli Dikenakan di Input Berbeda dengan Jumlah yang Tersedia</div>
								<dx-text-area
									class="mandatory-text-box"
									[height]="90"
									[maxLength]="255"
                                    [readOnly]="true"
									[(value)]="formDetail.reasonKoli" >
								</dx-text-area>
							</div>
						</div>
						<div class="col-md">
							<div class="dx-fieldset" style=" width: 100%;">
								<div class="dx-fieldset-label">Alasan Berat Manifest Dikenakan di Input Berbeda dengan Jumlah yang Tersedia</div>
								<dx-text-area
									class="mandatory-text-box"
									[height]="90"
									[maxLength]="255"
                                    [readOnly]="true"
									[(value)]="formDetail.reasonManifest">
								</dx-text-area>
							</div>
						</div>
					</div>

                    <div class="row  ml-2 mr-3">
                        <div class="col-md">    

                            <div class="dx-fieldset" style=" width: 100%;">
                                <div class="dx-fieldset-label">Approve By</div>
                                <dx-text-box [(value)]="formDetail.approvedBy" [readOnly]="true">
                                </dx-text-box>
                            </div>
        
                            <div class="dx-fieldset" style=" width: 100%;">
                                <div class="dx-fieldset-label">Alasan Total Berat Final SMU Lebih Besar dari Jumlah Maksimal SMU</div>
                                <dx-text-area
                                    [height]="90"
                                    [maxLength]="255"
                                    [(value)]="formDetail.reasonSMU" [readOnly]="true">
                                </dx-text-area>
                            </div>
        
                        </div>
                    </div>

                    <hr/>
            
                </div>

               
                <div class="row  ml-2 mr-3">
                    <div class="col-md text-right">
                        <dx-button text="Save" type="success" (onClick)="onSave()"></dx-button>&nbsp;&nbsp;
                        <dx-button text="Kembali" type="default" (onClick)="onBack()"></dx-button>
                    </div>
                </div>

				<!-- </div> -->
			</kt-portlet-body>
		</kt-portlet>

	</div>
</div>