<div class="row">
	<div class="col-12">
		<kt-portlet>
			<kt-portlet-header title="Terima Barang >> Monitoring Barang">
				<ng-container ktPortletTools> </ng-container>
			</kt-portlet-header>

			<kt-portlet-body>

				<div *ngIf="menuForb" class="alert alert-warning box-msg" role="alert">
					<strong>Warning!</strong>
					<span style="padding-left: 10px;">You doesn't have permission to access this page.</span>
                </div>

				<div *ngIf="menuPriv">
					<mat-tab-group>
						<mat-tab label="Monitoring SPB">
							<ng-template matTabContent>

								<form (submit)="onFormSubmit($event)">
									<dx-form id="formSpbList" [formData]="searchForm">

										<dxi-item itemType="group" cssClass="second-group" [colCount]="2" [cssClass]="'filter-background'" caption="Cari">
											<dxi-item itemType="group">
												<dxi-item dataField="date" [label]="{text: 'Tanggal'}"
														editorType="dxDateBox"
														[editorOptions]="{  showClearButton: true}"
												></dxi-item>

											</dxi-item>
											<dxi-item itemType="group">

											</dxi-item>
											<dxi-item itemType="group" [colSpan]="2">
												<dxi-item
													itemType="button"
													horizontalAlignment="right"
													[buttonOptions]="{ text: 'Cari', type: 'success', useSubmitBehavior: true }">
												</dxi-item>
											</dxi-item>


										</dxi-item>

									</dx-form>
								</form>

								<br/>

								<div class="text-center">
									Tampilkan Kolom : <br/>

									<dx-check-box [value]="false"  text="kantor Asal" (onValueChanged)="showHide($event, 'branchOrigin')"
									></dx-check-box> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

									<dx-check-box [value]="false"  text="Kantor Tujuan" (onValueChanged)="showHide($event, 'branchDestination')"
									></dx-check-box> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

									<dx-check-box [value]="true"  text="12:00" (onValueChanged)="showHide($event, '12')"
									></dx-check-box> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

									<dx-check-box [value]="true"   text="14:00" (onValueChanged)="showHide($event, '14')"
									></dx-check-box>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

									<dx-check-box [value]="true"   text="15:30" (onValueChanged)="showHide($event, '1530')"
									></dx-check-box>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

									<dx-check-box [value]="true"   text="16:00" (onValueChanged)="showHide($event, '16')"
									></dx-check-box>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

									<dx-check-box [value]="true" text="Final" (onValueChanged)="showHide($event, 'final')"
									></dx-check-box>
								</div>


								<br/>

								<dx-data-grid
									id="gridContainer"
									[dataSource]="spbListDs"
									[showBorders]="true">

									<dxo-filter-row [visible]="true"></dxo-filter-row>
									<dxo-header-filter [visible]="true"></dxo-header-filter>
									<dxo-grouping #expand [autoExpandAll]="false"></dxo-grouping>
									<dxo-paging [pageSize]="10000"></dxo-paging>


									<dxi-column dataField="origin" dataType="string" headerCellTemplate="headerKotaAsal"  sortOrder="asc"> </dxi-column>
									<div *dxTemplate="let data of 'headerKotaAsal'">
										<div>Kota <br/> Asal </div>
									</div>

									<dxi-column dataField="carrier" dataType="string" caption="Carrier"  sortOrder="asc"> </dxi-column>
									<dxi-column dataField="destination" dataType="string" headerCellTemplate="headerKotaTujuan"  sortOrder="asc"> </dxi-column>
									<div *dxTemplate="let data of 'headerKotaTujuan'">
										<div>Kota <br/> Tujuan </div>
									</div>

									<dxi-column dataField="manifestId" dataType="string" headerCellTemplate="headerNoManifest" [calculateDisplayValue]="ColManifestNo" sortOrder="asc"> </dxi-column>
									<div *dxTemplate="let data of 'headerNoManifest'">
										<div>No.<br/>Manifest</div>
									</div>

									<dxi-column dataField="branchOrigin" dataType="string" headerCellTemplate="headerKantorAsal" [visible]="cBranchOrigin"> </dxi-column>
									<div *dxTemplate="let data of 'headerKantorAsal'">
										<div>Kantor<br/>Asal</div>
									</div>

									<dxi-column dataField="branchDestination" dataType="string" headerCellTemplate="headerKantorTujuan" [visible]="cBranchDestination"> </dxi-column>
									<div *dxTemplate="let data of 'headerKantorTujuan'">
										<div>Kantor<br/>Tujuan</div>
									</div>

									<dxi-column caption="12:00" alignment="center" [visible]="c12">
										<dxi-column dataField="koli_1200" dataType="int" caption="Koli"  format="#,##0.##" [allowHeaderFiltering]="false" > </dxi-column>
										<dxi-column dataField="aw_1200" dataType="int" caption="Aw"  format="#,##0.##" [allowHeaderFiltering]="false"> </dxi-column>
										<dxi-column dataField="caw_1200" dataType="int" caption="Caw"  format="#,##0.##" [allowHeaderFiltering]="false"> </dxi-column>
									</dxi-column>

									<dxi-column caption="14:00" alignment="center" [visible]="c14">
										<dxi-column dataField="koli_1400" dataType="int" caption="Koli"  format="#,##0.##" [allowHeaderFiltering]="false"> </dxi-column>
										<dxi-column dataField="aw_1400" dataType="int" caption="Aw"  format="#,##0.##" [allowHeaderFiltering]="false"> </dxi-column>
										<dxi-column dataField="caw_1400" dataType="int" caption="Caw"  format="#,##0.##" [allowHeaderFiltering]="false"> </dxi-column>
									</dxi-column>

									<dxi-column caption="15:30" alignment="center" [visible]="c1530">
										<dxi-column dataField="koli_1530" dataType="int" caption="Koli"  format="#,##0.##" [allowHeaderFiltering]="false"> </dxi-column>
										<dxi-column dataField="aw_1530" dataType="int" caption="Aw"  format="#,##0.##" [allowHeaderFiltering]="false"> </dxi-column>
										<dxi-column dataField="caw_1530" dataType="int" caption="Caw"  format="#,##0.##" [allowHeaderFiltering]="false"> </dxi-column>
									</dxi-column>

									<dxi-column caption="16:00" alignment="center" [visible]="c16">
										<dxi-column dataField="koli_1600" dataType="int" caption="Koli"  format="#,##0.##" [allowHeaderFiltering]="false"> </dxi-column>
										<dxi-column dataField="aw_1600" dataType="int" caption="Aw"  format="#,##0.##" [allowHeaderFiltering]="false"> </dxi-column>
										<dxi-column dataField="caw_1600" dataType="int" caption="Caw"  format="#,##0.##" [allowHeaderFiltering]="false"> </dxi-column>
									</dxi-column>

									<dxi-column caption="Final" alignment="center" [visible]="cFinal">
										<dxi-column dataField="koli_Final" dataType="int" caption="Koli"  format="#,##0.##" [allowHeaderFiltering]="false"> </dxi-column>
										<dxi-column dataField="aw_Final" dataType="int" caption="Aw"  format="#,##0.##" [allowHeaderFiltering]="false"> </dxi-column>
										<dxi-column dataField="caw_Final" dataType="int" caption="Caw"  format="#,##0.##" [allowHeaderFiltering]="false"> </dxi-column>
									</dxi-column>

									<dxo-grouping
										[expandMode]="'rowClick'"
										[contextMenuEnabled]="true">
									</dxo-grouping>
									<dxo-group-panel
										[visible]="true"> <!-- or "auto" -->
									</dxo-group-panel>


									<dxo-summary>
										<dxi-total-item column="destinationCityCode" summaryType="count" > </dxi-total-item>

										<dxi-total-item column="koli_1200" summaryType="sum" [customizeText]="thousandSeparator" > </dxi-total-item>
										<dxi-group-item column="koli_1200" [alignByColumn]="true" summaryType="sum" [customizeText]="thousandSeparator" > </dxi-group-item>

										<dxi-total-item column="aw_1200" summaryType="sum" [customizeText]="thousandSeparator" > </dxi-total-item>
										<dxi-group-item column="aw_1200" [alignByColumn]="true" summaryType="sum" [customizeText]="thousandSeparator"> </dxi-group-item>

										<dxi-total-item column="caw_1200" summaryType="sum" [customizeText]="thousandSeparator" > </dxi-total-item>
										<dxi-group-item column="caw_1200" [alignByColumn]="true" summaryType="sum" [customizeText]="thousandSeparator"> </dxi-group-item>


										<dxi-total-item column="koli_1400" summaryType="sum" [customizeText]="thousandSeparator" > </dxi-total-item>
										<dxi-group-item column="koli_1400" [alignByColumn]="true" summaryType="sum" [customizeText]="thousandSeparator" > </dxi-group-item>

										<dxi-total-item column="aw_1400" summaryType="sum" [customizeText]="thousandSeparator" > </dxi-total-item>
										<dxi-group-item column="aw_1400" [alignByColumn]="true" summaryType="sum" [customizeText]="thousandSeparator"> </dxi-group-item>

										<dxi-total-item column="caw_1400" summaryType="sum" [customizeText]="thousandSeparator" > </dxi-total-item>
										<dxi-group-item column="caw_1400" [alignByColumn]="true" summaryType="sum" [customizeText]="thousandSeparator"> </dxi-group-item>


										<dxi-total-item column="koli_1530" summaryType="sum" [customizeText]="thousandSeparator" > </dxi-total-item>
										<dxi-group-item column="koli_1530" [alignByColumn]="true" summaryType="sum" [customizeText]="thousandSeparator" > </dxi-group-item>

										<dxi-total-item column="aw_1530" summaryType="sum" [customizeText]="thousandSeparator" > </dxi-total-item>
										<dxi-group-item column="aw_1530" [alignByColumn]="true" summaryType="sum" [customizeText]="thousandSeparator"> </dxi-group-item>

										<dxi-total-item column="caw_1530" summaryType="sum" [customizeText]="thousandSeparator" > </dxi-total-item>
										<dxi-group-item column="caw_1530" [alignByColumn]="true" summaryType="sum" [customizeText]="thousandSeparator"> </dxi-group-item>


										<dxi-total-item column="koli_1600" summaryType="sum" [customizeText]="thousandSeparator" > </dxi-total-item>
										<dxi-group-item column="koli_1600" [alignByColumn]="true" summaryType="sum" [customizeText]="thousandSeparator" > </dxi-group-item>

										<dxi-total-item column="aw_1600" summaryType="sum" [customizeText]="thousandSeparator" > </dxi-total-item>
										<dxi-group-item column="aw_1600" [alignByColumn]="true" summaryType="sum" [customizeText]="thousandSeparator"> </dxi-group-item>

										<dxi-total-item column="caw_1600" summaryType="sum" [customizeText]="thousandSeparator" > </dxi-total-item>
										<dxi-group-item column="caw_1600" [alignByColumn]="true" summaryType="sum" [customizeText]="thousandSeparator"> </dxi-group-item>



										<dxi-total-item column="koli_Final" summaryType="sum" [customizeText]="thousandSeparator" > </dxi-total-item>
										<dxi-group-item column="koli_Final" [alignByColumn]="true" summaryType="sum" [customizeText]="thousandSeparator" > </dxi-group-item>

										<dxi-total-item column="aw_Final" summaryType="sum" [customizeText]="thousandSeparator" > </dxi-total-item>
										<dxi-group-item column="aw_Final" [alignByColumn]="true" summaryType="sum" [customizeText]="thousandSeparator"> </dxi-group-item>

										<dxi-total-item column="caw_Final" summaryType="sum" [customizeText]="thousandSeparator" > </dxi-total-item>
										<dxi-group-item column="caw_Final" [alignByColumn]="true" summaryType="sum" [customizeText]="thousandSeparator"> </dxi-group-item>



									</dxo-summary>


								</dx-data-grid>



							</ng-template>

						</mat-tab>

					</mat-tab-group>

				</div>
			</kt-portlet-body>
		</kt-portlet>

	</div>
</div>

