<div class="row">
	<div class="col-12">
		<kt-portlet>
			<kt-portlet-header title="Terima Barang >> Monitoring SPB">
				<ng-container ktPortletTools> </ng-container>
			</kt-portlet-header>

			<kt-portlet-body>
				<div *ngIf="menuForb" class="alert alert-warning box-msg" role="alert">
					<strong>Warning!</strong>
					<span style="padding-left: 10px;">You doesn't have permission.</span>
				</div>

				<div *ngIf="menuPriv">

					<form (submit)="onFormSubmit($event)">
						<dx-form id="formSpbList" [formData]="searchForm">

							<dxi-item itemType="group" cssClass="second-group" [colCount]="2" [cssClass]="'filter-background'" caption="Cari">
								<dxi-item itemType="group">
									<dxi-item dataField="date" [label]="{text: 'Tanggal'}"
											editorType="dxDateBox"
											[editorOptions]="{  showClearButton: true}"
									></dxi-item>

								</dxi-item>
								<dxi-item itemType="group">

								</dxi-item>
								<dxi-item itemType="group" [colSpan]="2">
									<dxi-item
										itemType="button"
										horizontalAlignment="right"
										[buttonOptions]="{ text: 'Cari', type: 'success', useSubmitBehavior: true }">
									</dxi-item>
								</dxi-item>


							</dxi-item>

						</dx-form>
					</form>

					<br/>


					<mat-tab-group>
						<mat-tab label="Monitoring SPB">
							<ng-template matTabContent>

								<!-- <button (click)="expandGrid()" > expand</button> -->

								<dx-data-grid id="gridContainer" #targetDataGrid
											[dataSource]="gmDs" [showBorders]="true">
									<dxo-filter-row [visible]="true"></dxo-filter-row>
									<dxo-header-filter [visible]="true"></dxo-header-filter>
									<dxo-grouping #expand [autoExpandAll]="false" ></dxo-grouping>
									<dxo-paging [pageSize]="1000"></dxo-paging>


									<!--					<dxi-column dataField="originCityCode" dataType="string" caption="Kota Asal"> </dxi-column>-->
									<dxi-column dataField="originCityCode" dataType="string" caption="Asal" > </dxi-column>
									<dxi-column dataField="carrier" dataType="string" caption="Moda" > </dxi-column>
									<dxi-column dataField="destinationCityCode" dataType="string" caption="Tujuan" > </dxi-column>
									<dxi-column dataField="alphabet" dataType="string" caption="Manifest" [calculateDisplayValue]="ColManifestNo" > </dxi-column>
										<dxi-column dataField="originBranch" dataType="string" caption="Kantor Asal"> </dxi-column>
										<!-- <dxi-column dataField="destinationBranch" dataType="string" caption="Kantor Tujuan"> </dxi-column> -->
									<!--	<dxi-column dataField="carrier" dataType="string" caption="Moda"> </dxi-column>-->
									<!--	<dxi-column dataField="originCityCode" dataType="string" caption="Asal" > </dxi-column>-->
									<!--	<dxi-column dataField="destinationCityCode" dataType="string" caption="Tujuan"> </dxi-column>-->
									<dxi-column dataField="totalKoli" caption="Koli" [allowHeaderFiltering]="false"> </dxi-column>
									<dxi-column dataField="totalAw"  caption="AW" [allowHeaderFiltering]="false">  </dxi-column>
									<dxi-column dataField="totalCaw" caption="CAW" [allowHeaderFiltering]="false"> </dxi-column>
									<dxi-column dataField="ta" caption="Tunai Pengirim"  dataType="number" alignment="right" format="#,##0.##" [allowHeaderFiltering]="false"> </dxi-column>
									<dxi-column dataField="tt" dataType="number" alignment="right" format="#,##0.##" caption="Tunai Penerima" [allowHeaderFiltering]="false"> </dxi-column>
									<dxi-column dataField="totalTaTt" dataType="number" alignment="right" format="#,##0.##" caption="Tunai Total" [allowHeaderFiltering]="false"> </dxi-column>


									<dxo-grouping
										[expandMode]="'rowClick'"
										[contextMenuEnabled]="true">
									</dxo-grouping>
									<dxo-group-panel
										[visible]="true"> <!-- or "auto" -->
									</dxo-group-panel>

									<dxo-summary>
										<dxi-total-item column="destinationCityCode" summaryType="count" > </dxi-total-item>

										<dxi-total-item column="totalKoli" summaryType="sum" [customizeText]="thousandSeparator" > </dxi-total-item>
										<dxi-group-item column="totalKoli" [alignByColumn]="true" summaryType="sum" [customizeText]="thousandSeparator" > </dxi-group-item>

										<dxi-total-item column="totalAw" summaryType="sum" [customizeText]="thousandSeparator" > </dxi-total-item>
										<dxi-group-item column="totalAw" [alignByColumn]="true" summaryType="sum" [customizeText]="thousandSeparator"> </dxi-group-item>

										<dxi-total-item column="totalCaw" summaryType="sum" [customizeText]="thousandSeparator" > </dxi-total-item>
										<dxi-group-item column="totalCaw" [alignByColumn]="true" summaryType="sum" [customizeText]="thousandSeparator"> </dxi-group-item>

										<dxi-total-item column="ta" summaryType="sum" [customizeText]="thousandSeparator" > </dxi-total-item>
										<dxi-group-item column="ta" [alignByColumn]="true" summaryType="sum" [customizeText]="thousandSeparator"> </dxi-group-item>

										<dxi-total-item column="tt" summaryType="sum" [customizeText]="thousandSeparator" > </dxi-total-item>
										<dxi-group-item column="tt" [alignByColumn]="true" summaryType="sum" [customizeText]="thousandSeparator"> </dxi-group-item>

										<dxi-total-item column="totalTaTt" summaryType="sum" [customizeText]="thousandSeparator" > </dxi-total-item>
										<dxi-group-item column="totalTaTt" [alignByColumn]="true" summaryType="sum" [customizeText]="thousandSeparator"> </dxi-group-item>

									</dxo-summary>
								</dx-data-grid>


							</ng-template>

						</mat-tab>

					</mat-tab-group>

				</div>
			</kt-portlet-body>
		</kt-portlet>

	</div>
</div>

