<div class="row">
	<div class="col-12">
		<kt-portlet>
			<kt-portlet-header title="{{this.userName}}" style="font-size: larger;">
				<ng-container ktPortletTools> </ng-container>
			</kt-portlet-header>
            
			<kt-portlet-body>
                <div class="row  ml-2 mr-3" style="margin-top: -2%;">
                    <div class="col-md">
                        <div class="dx-fieldset">
                            
                            <strong>Privilege</strong>
                            <div class="dx-field">
                                <dx-radio-group
                                    id="radio-group-with-selection"
                                    [items]="dataItems"
                                    valueExpr="id"
                                    displayExpr="name"
                                    [(value)]="selectionPriorityId"
                                    (onValueChanged)="onValueChanged($event)">
                                </dx-radio-group>
                            </div>  
                        </div>
                    </div>
                </div>

               
                <div class="row  ml-2 mr-3">
                    <div class="col-md text-right">
                        <dx-button text="Kembali" type="default" (onClick)="onBack()"></dx-button>
                    </div>
                </div>

				<!-- </div> -->
			</kt-portlet-body>
		</kt-portlet>

	</div>
</div>