<div class="row">
	<div class="col-12">
		<kt-portlet>
			<kt-portlet-header title="Transit Route">
				<ng-container ktPortletTools> </ng-container>
			</kt-portlet-header>

			<kt-portlet-body>
				
				<div *ngIf="menuForb" class="alert alert-warning box-msg" role="alert">
					<strong>Warning!</strong>
					<span style="padding-left: 10px;">You doesn't have permission to access this page.</span>
				</div>

				<div *ngIf="menuPriv">

                    <div align="left">
                        <dx-button icon="plus" [width]="25" [height]="25" type="success" (onClick)="addTransit()"></dx-button>
                    </div>
                    
					<br/>
                    <dx-data-grid id="gridContainer" 
                                    [dataSource]="transitListDs" [showBorders]="true" alignment="left">
                        <dxo-filter-row [visible]="true"></dxo-filter-row>
                        <dxo-header-filter [visible]="true"></dxo-header-filter>
                        <dxo-paging [pageSize]="10"></dxo-paging>

                        <dxi-column dataField="transitRouteId"  [allowFiltering]="false" [fixed]="true" caption="Action" alignment="left"
                                    [allowSorting]="false" cellTemplate="cellTemplate"></dxi-column>

                        <dxi-column dataField="originStationName" dataType="string" caption="Bandara Pertama"> </dxi-column>
                        <dxi-column dataField="firstFlightCode" dataType="string" caption="Penerbangan Pertama"> </dxi-column>
                        <dxi-column dataField="transitStationName" dataType="string" caption="Bandara Transit"> </dxi-column>
                        <dxi-column dataField="lastFlightCode" dataType="string" caption="Penerbangan Berikut nya"> </dxi-column>
                        <dxi-column dataField="finalDestinationStationName" dataType="string" caption="Bandara Tujuan Akhir"> </dxi-column>
                        <dxi-column dataField="vendorName" dataType="string" caption="Vendor Name"> </dxi-column>
                        <dxi-column dataField="sequenceTransit" dataType="number" caption="Transit Ke"> </dxi-column>

                        <div *dxTemplate="let data of 'cellTemplate'">
                            <dx-drop-down-button
                                icon="edit"
                                [items]="[
                                        {key: 'delete', value: 'Delete', data: data.data}
                                    ]"
                                (onItemClick)="actionCLick($event)"
                                [displayExpr]="'value'"
                                [keyExpr]="'key'"
                                [dropDownOptions]="{
                                    width: 100
                                }"
                            ></dx-drop-down-button>
                        </div>
                    </dx-data-grid>

				</div>
			</kt-portlet-body>
		</kt-portlet>

	</div>
</div>




