<div class="row">
	<div class="col-12">
		<kt-portlet>
			<kt-portlet-header title="Coa Accounts Receivable Management">
				<ng-container ktPortletTools> </ng-container>
			</kt-portlet-header>

			<kt-portlet-body>
				<div *ngIf="menuForb" class="alert alert-warning box-msg" role="alert">
					<strong>Warning!</strong>
					<span style="padding-left: 10px">You doesn't have permission to access this page.</span>
				</div>

				<div *ngIf="menuPriv">
					<dx-button icon="plus" type="success" (onClick)="coaArManagementCreate()"> </dx-button>
					<dx-data-grid id="gridContainer" [dataSource]="ds" [showBorders]="true">
						<dxo-filter-row [visible]="true"></dxo-filter-row>
						<dxo-paging [enabled]="false" [pageSize]="50"></dxo-paging>
						<dxo-header-filter [visible]="true"></dxo-header-filter>
						<dxi-column caption="No" [width]="35" alignment="center" [allowSorting]="false" [cellTemplate]="'rowNumberTemplate'"> </dxi-column>
						<dxi-column [allowFiltering]="false" [fixed]="true" caption="Action" alignment="left" [allowSorting]="false" cellTemplate="cellTemplate"></dxi-column>
						<dxi-column dataField="coaArCode" [width]="100" dataType="string" caption="Piutang"> </dxi-column>
						<dxi-column dataField="coaArName" [width]="280" dataType="string" caption="CoaName Piutang"> </dxi-column>
						<dxi-column dataField="masterCityName" [width]="105" dataType="string" caption="Kota"> </dxi-column>
						<dxi-column dataField="coaRevenueCode" [width]="80" dataType="string" caption="Pendapatan"> </dxi-column>
						<dxi-column dataField="coaRevenueName" [width]="230" dataType="string" caption="CoaName Pendapatan"> </dxi-column>
						<dxi-column dataField="moda" [width]="60" dataType="string" caption="Moda"> </dxi-column>
						<dxi-column dataField="coaLiabilityCode" [width]="100" dataType="string" caption="Pembayaran"> </dxi-column>
						<dxi-column dataField="coaLiabilityName" [width]="280" dataType="string" caption="CoaName Pembayaran"> </dxi-column>
						<div *dxTemplate="let data of 'cellTemplate'">
							<dx-drop-down-button
								icon="edit"
								[items]="[{ key: 'delete', value: 'Hapus', data: data.data }]"
								(onItemClick)="ChooseAction($event)"
								[displayExpr]="'value'"
								[keyExpr]="'key'"
								[dropDownOptions]="{
									width: 100
								}"
							></dx-drop-down-button>
						</div>
						<div *dxTemplate="let data of 'rowNumberTemplate'">
							<span>{{ data.rowIndex + 1 }}</span>
						</div>
					</dx-data-grid>
				</div>
			</kt-portlet-body>
		</kt-portlet>
	</div>
</div>
