<div class="row">
	<div class="col-12">
		<kt-portlet>
			<kt-portlet-header title="Change Password">
				<ng-container ktPortletTools> </ng-container>
			</kt-portlet-header>

			<kt-portlet-body>
				<form (ngSubmit)="createSubmit($event)">
                    <div>
                        <div class="row  ml-2 mr-5">
                            <div class="col-md">
                                <div class="dx-fieldset" style=" width: 100%;">
                                    <div class="dx-field" >
                                        <div class="dx-field-label">Userlogin</div>
                                        <div class="dx-field-value">
                                            {{userGlobalVar.USERNAME}}
                                        </div>
                                    </div>
                                    <div class="dx-field" hidden>
                                        <div class="dx-field-label">Email</div>
                                        <div class="dx-field-value">
                                            <dx-text-box [(value)]="formChange.email"></dx-text-box>
                                        </div>
                                    </div>
                                    <div class="dx-field">
                                        <div class="dx-field-label">Password Sebelumnya</div>
                                        <div class="dx-field-value">
                                            <!-- <dx-text-box mode="password" [(value)]="formChange.currentPassword"></dx-text-box> -->
                                            <dx-text-box [(value)]="formChange.currentPassword" placeholder="password" stylingMode="filled" [(mode)]="passwordMode">
                                                <dxi-button name="today" location="after" [options]="passwordButton"></dxi-button>
                                            </dx-text-box>
                                        </div>
                                    </div>
                                    <br/>
                                    <div class="row  ml-2 mr-3">
                                        <div class="col-md text-right">
                                            <a href="javascript:;"  (click)="checkPassword()" style="padding: 0.5%;" class="dx-button dx-button-success dx-button-mode-contained dx-widget dx-button-has-text dx-state-hover">Check</a>
                                        </div>
                                    </div>
                                    <br/>

                                    <!-- <div class="dx-field" >
                                        <div class="dx-field-label">New Password</div>
                                        <div class="dx-field-value">
                                            <dx-text-box> </dx-text-box>
                                        </div>
                                    </div>

                                    <div class="dx-field" >
                                        <div class="dx-field-label">Confirm Password</div>
                                        <div class="dx-field-value">
                                            <dx-text-box> </dx-text-box>
                                        </div>
                                    </div> -->
                                    <div *ngIf="new_password">
                                        <div class="dx-field">
                                            <div class="dx-field-label">Password Baru</div>
                                            <div class="dx-field-value">
                                                <!-- <dx-text-box
                                                    mode="password"
                                                    [(value)]="formChange.newPassword">
                                                    <dx-validator>
                                                    </dx-validator>
                                                </dx-text-box> -->
                                                <!-- <dxi-validation-rule type="required" message="Password is required"></dxi-validation-rule> -->

                                                <dx-text-box [(value)]="formChange.newPassword" placeholder="password" stylingMode="filled" [(mode)]="passwordMode">
                                                    <dxi-button name="today" location="after" [options]="passwordButton"></dxi-button>
                                                </dx-text-box>
                                            </div>
                                        </div>
                                        <div class="dx-field">
                                            <div class="dx-field-label">Konfirmasi Password</div>
                                            <div class="dx-field-value">
                                                <!-- <dxi-validation-rule type="required" message="Confirm Password is required"></dxi-validation-rule> -->
                                                <dx-text-box mode="password">
                                                    <dx-validator>
                                                        <dxi-validation-rule type="compare" [comparisonTarget]="passwordComparison"
                                                            message="Password and Confirm Password do not match"></dxi-validation-rule>
                                                    </dx-validator>
                                                </dx-text-box>
                                            </div>
                                        </div>
                                    </div>
    
                                </div>
                            </div>
                            
                        </div>
                        <div class="row  ml-2 mr-7">&nbsp;</div>
                        
                        <div *ngIf="new_password">
                            <div class="row  ml-2 mr-5">
                                <div class="col-md text-right">
                                    <dx-button text="Simpan" type="success" [useSubmitBehavior]="true"></dx-button>
                                </div>
                            </div>
                        </div>
    
                    </div>
    
                </form>

			</kt-portlet-body>
		</kt-portlet>

	</div>
</div>
