<div class="row">
	<div class="col-12">
		<kt-portlet>
			<kt-portlet-header title="SPB >> Statistik Input">
				<ng-container ktPortletTools> </ng-container>
			</kt-portlet-header>

			<kt-portlet-body>

				<div *ngIf="menuForb" class="alert alert-warning box-msg" role="alert">
					<strong>Warning!</strong>
					<span style="padding-left: 10px;">You doesn't have permission to access this page.</span>
				</div>


				<div *ngIf="menuPriv">
				<mat-tab-group>
					<mat-tab label="Harian">
						<form (submit)="onFormSearchSubmit($event)">
							<dx-form id="formSpbList" [formData]="formSearch" >

								<dxi-item itemType="group" cssClass="second-group" [colCount]="2" [cssClass]="'filter-background'" caption="Statistik Input Harian">
									<dxi-item itemType="group">
										<dxi-item dataField="date"
												  editorType="dxDateBox" [label]="{text: 'Tanggal'}"
												  [editorOptions]="{ pickerType: 'calendar', showClearButton: true, type: 'date'}"
										></dxi-item>
									</dxi-item>
									<dxi-item itemType="group">
									</dxi-item>
									<dxi-item
										itemType="button"
										horizontalAlignment="left"
										[buttonOptions]="{ text: 'Cari', type: 'success', useSubmitBehavior: true }">
									</dxi-item>
								</dxi-item>

							</dx-form>
						</form>

						<br />


						<dx-data-grid
							id="gridContainer"
							[hoverStateEnabled]="true"
							[dataSource]="readDs"
							[showBorders]="true">

							<dxo-selection mode="single"></dxo-selection>
							<dxo-scrolling showScrollbar="always" [useNative]="false"></dxo-scrolling>
							<dxo-filter-row [visible]="false"></dxo-filter-row>
							<dxo-header-filter [visible]="false"></dxo-header-filter>
							<dxo-export [enabled]="true" fileName="Spb Statistik Input Harian _ {{formSearch.dateString}}"></dxo-export>




							<dxi-column dataField="username" dataType="string" caption="Username" > </dxi-column>
							<dxi-column caption="SPB" alignment="center">
								<dxi-column dataField="totalSpb" dataType="string" caption="Total" > </dxi-column>
								<dxi-column dataField="totalSpbAvgPerHour" dataType="string" caption="Rata - Rata / Jam" > </dxi-column>
							</dxi-column>

							<dxi-column caption="Menit" alignment="center">
								<dxi-column dataField="minuteTotal" dataType="string" caption="Total" > </dxi-column>
								<dxi-column dataField="minuteAvg" dataType="string" caption="Rata - Rata" > </dxi-column>
								<dxi-column dataField="minuteMin" dataType="string" caption="Min" > </dxi-column>
								<dxi-column dataField="minuteMax" dataType="string" caption="Max" > </dxi-column>
							</dxi-column>

							<dxi-column caption="1" alignment="center">
								<dxi-column dataField="s1_30" dataType="string" caption="1_30" > </dxi-column>
								<dxi-column dataField="s31_60" dataType="string" caption="31_60" > </dxi-column>
							</dxi-column>

							<dxi-column caption="2" alignment="center">
								<dxi-column dataField="s61_90" dataType="string" caption="61_90" > </dxi-column>
								<dxi-column dataField="s91_120" dataType="string" caption="91_120" > </dxi-column>
							</dxi-column>

							<dxi-column caption="3" alignment="center">
								<dxi-column dataField="s121_150" dataType="string" caption="121_150" > </dxi-column>
								<dxi-column dataField="s151_180" dataType="string" caption="151_180" > </dxi-column>
							</dxi-column>

							<dxi-column caption="4" alignment="center">
								<dxi-column dataField="s181_210" dataType="string" caption="181_210" > </dxi-column>
								<dxi-column dataField="s211_240" dataType="string" caption="211_240" > </dxi-column>
							</dxi-column>

							<dxi-column caption="5" alignment="center">
								<dxi-column dataField="s241_270" dataType="string" caption="241_270" > </dxi-column>
								<dxi-column dataField="s271_300" dataType="string" caption="271_300" > </dxi-column>
							</dxi-column>

							<dxi-column caption="6" alignment="center">
								<dxi-column dataField="s301_330" dataType="string" caption="301_330" > </dxi-column>
								<dxi-column dataField="s331_360" dataType="string" caption="331_360" > </dxi-column>
							</dxi-column>

							<dxi-column caption="7" alignment="center">
								<dxi-column dataField="s361_390" dataType="string" caption="361_390" > </dxi-column>
								<dxi-column dataField="s391_420" dataType="string" caption="391_420" > </dxi-column>
							</dxi-column>

							<dxi-column caption="8" alignment="center">
								<dxi-column dataField="s421_450" dataType="string" caption="421_450" > </dxi-column>
								<dxi-column dataField="s451_480" dataType="string" caption="451_480" > </dxi-column>
							</dxi-column>

							<dxi-column caption="9" alignment="center">
								<dxi-column dataField="s481_510" dataType="string" caption="481_510" > </dxi-column>
								<dxi-column dataField="s511_540" dataType="string" caption="511_540" > </dxi-column>
							</dxi-column>

							<dxi-column caption="10" alignment="center">
								<dxi-column dataField="s541_570" dataType="string" caption="541_570" > </dxi-column>
								<dxi-column dataField="s571_600" dataType="string" caption="571_600" > </dxi-column>
							</dxi-column>

							<dxi-column dataField="s601_" dataType="string" caption="11+" > </dxi-column>


							<dxo-summary>

								<dxi-total-item column="totalSpb" summaryType="sum" > </dxi-total-item>
								<dxi-total-item column="totalSpbAvgPerHour" summaryType="avg" > </dxi-total-item>
								<dxi-total-item column="s1_30" summaryType="sum" > </dxi-total-item>
								<dxi-total-item column="s31_60" summaryType="sum" > </dxi-total-item>
								<dxi-total-item column="s61_90" summaryType="sum" > </dxi-total-item>
								<dxi-total-item column="s91_120" summaryType="sum" > </dxi-total-item>
								<dxi-total-item column="s121_150" summaryType="sum" > </dxi-total-item>
								<dxi-total-item column="s151_180" summaryType="sum" > </dxi-total-item>
								<dxi-total-item column="s181_210" summaryType="sum" > </dxi-total-item>
								<dxi-total-item column="s211_240" summaryType="sum" > </dxi-total-item>
								<dxi-total-item column="s241_270" summaryType="sum" > </dxi-total-item>
								<dxi-total-item column="s271_300" summaryType="sum" > </dxi-total-item>
								<dxi-total-item column="s301_330" summaryType="sum" > </dxi-total-item>
								<dxi-total-item column="s331_360" summaryType="sum" > </dxi-total-item>
								<dxi-total-item column="s361_390" summaryType="sum" > </dxi-total-item>
								<dxi-total-item column="s391_420" summaryType="sum" > </dxi-total-item>
								<dxi-total-item column="s421_450" summaryType="sum" > </dxi-total-item>
								<dxi-total-item column="s451_480" summaryType="sum" > </dxi-total-item>
								<dxi-total-item column="s481_510" summaryType="sum" > </dxi-total-item>
								<dxi-total-item column="s511_540" summaryType="sum" > </dxi-total-item>
								<dxi-total-item column="s541_570" summaryType="sum" > </dxi-total-item>
								<dxi-total-item column="s571_600" summaryType="sum" > </dxi-total-item>
								<dxi-total-item column="s601_" summaryType="sum" > </dxi-total-item>

							</dxo-summary>

						</dx-data-grid>

					</mat-tab>

					<mat-tab label="Custom">
						<form (submit)="onFormSearchCustomSubmit($event)">
							<dx-form id="formCustom" [formData]="formSearchCustom" >

								<dxi-item itemType="group" cssClass="second-group" [colCount]="2" [cssClass]="'filter-background'" caption="Statistik Input Custom">
									<dxi-item itemType="group">
										<dxi-item dataField="dateFrom"
												  editorType="dxDateBox" [label]="{text: 'Dari Tanggal'}"
												  [editorOptions]="{ pickerType: 'calendar', showClearButton: true, type: 'date'}"
										></dxi-item>

										<dxi-item dataField="dateTo"
												  editorType="dxDateBox" [label]="{text: 'Hingga Tanggal'}"
												  [editorOptions]="{ pickerType: 'calendar', showClearButton: true, type: 'date'}"
										></dxi-item>
									</dxi-item>
									<dxi-item itemType="group">
									</dxi-item>
									<dxi-item
										itemType="button"
										horizontalAlignment="left"
										[buttonOptions]="{ text: 'Cari', type: 'success', useSubmitBehavior: true }">
									</dxi-item>
								</dxi-item>

							</dx-form>
						</form>

						<br />


						<dx-data-grid
							id="custom"
							[hoverStateEnabled]="true"
							[dataSource]="readCustomDs"
							[showBorders]="true">

							<dxo-selection mode="single"></dxo-selection>
							<dxo-scrolling showScrollbar="always" [useNative]="false"></dxo-scrolling>
							<dxo-filter-row [visible]="false"></dxo-filter-row>
							<dxo-header-filter [visible]="false"></dxo-header-filter>
							<dxo-export [enabled]="true" fileName="Spb Statistik Input Custom _ {{formSearchCustom.dateFromString}} _ {{formSearchCustom.dateToString}}"></dxo-export>



							<dxi-column dataField="username" dataType="string" caption="Username" > </dxi-column>
							<dxi-column caption="SPB" alignment="center">
								<dxi-column dataField="totalSpb" dataType="string" caption="Total" > </dxi-column>
								<dxi-column dataField="totalSpbAvgPerHour" dataType="string" caption="Rata - Rata / Jam" > </dxi-column>
							</dxi-column>

							<dxi-column caption="Menit" alignment="center">
								<dxi-column dataField="minuteTotal" dataType="string" caption="Total" > </dxi-column>
								<dxi-column dataField="minuteAvg" dataType="string" caption="Rata - Rata" > </dxi-column>
								<dxi-column dataField="minuteMin" dataType="string" caption="Min" > </dxi-column>
								<dxi-column dataField="minuteMax" dataType="string" caption="Max" > </dxi-column>
							</dxi-column>

							<dxi-column caption="1" alignment="center">
								<dxi-column dataField="s1_30" dataType="string" caption="1_30" > </dxi-column>
								<dxi-column dataField="s31_60" dataType="string" caption="31_60" > </dxi-column>
							</dxi-column>

							<dxi-column caption="2" alignment="center">
								<dxi-column dataField="s61_90" dataType="string" caption="61_90" > </dxi-column>
								<dxi-column dataField="s91_120" dataType="string" caption="91_120" > </dxi-column>
							</dxi-column>

							<dxi-column caption="3" alignment="center">
								<dxi-column dataField="s121_150" dataType="string" caption="121_150" > </dxi-column>
								<dxi-column dataField="s151_180" dataType="string" caption="151_180" > </dxi-column>
							</dxi-column>

							<dxi-column caption="4" alignment="center">
								<dxi-column dataField="s181_210" dataType="string" caption="181_210" > </dxi-column>
								<dxi-column dataField="s211_240" dataType="string" caption="211_240" > </dxi-column>
							</dxi-column>

							<dxi-column caption="5" alignment="center">
								<dxi-column dataField="s241_270" dataType="string" caption="241_270" > </dxi-column>
								<dxi-column dataField="s271_300" dataType="string" caption="271_300" > </dxi-column>
							</dxi-column>

							<dxi-column caption="6" alignment="center">
								<dxi-column dataField="s301_330" dataType="string" caption="301_330" > </dxi-column>
								<dxi-column dataField="s331_360" dataType="string" caption="331_360" > </dxi-column>
							</dxi-column>

							<dxi-column caption="7" alignment="center">
								<dxi-column dataField="s361_390" dataType="string" caption="361_390" > </dxi-column>
								<dxi-column dataField="s391_420" dataType="string" caption="391_420" > </dxi-column>
							</dxi-column>

							<dxi-column caption="8" alignment="center">
								<dxi-column dataField="s421_450" dataType="string" caption="421_450" > </dxi-column>
								<dxi-column dataField="s451_480" dataType="string" caption="451_480" > </dxi-column>
							</dxi-column>

							<dxi-column caption="9" alignment="center">
								<dxi-column dataField="s481_510" dataType="string" caption="481_510" > </dxi-column>
								<dxi-column dataField="s511_540" dataType="string" caption="511_540" > </dxi-column>
							</dxi-column>

							<dxi-column caption="10" alignment="center">
								<dxi-column dataField="s541_570" dataType="string" caption="541_570" > </dxi-column>
								<dxi-column dataField="s571_600" dataType="string" caption="571_600" > </dxi-column>
							</dxi-column>

							<dxi-column dataField="s601_" dataType="string" caption="11+" > </dxi-column>


							<dxo-summary>

								<dxi-total-item column="totalSpb" summaryType="sum" > </dxi-total-item>
								<dxi-total-item column="totalSpbAvgPerHour" summaryType="avg" > </dxi-total-item>
								<dxi-total-item column="s1_30" summaryType="sum" > </dxi-total-item>
								<dxi-total-item column="s31_60" summaryType="sum" > </dxi-total-item>
								<dxi-total-item column="s61_90" summaryType="sum" > </dxi-total-item>
								<dxi-total-item column="s91_120" summaryType="sum" > </dxi-total-item>
								<dxi-total-item column="s121_150" summaryType="sum" > </dxi-total-item>
								<dxi-total-item column="s151_180" summaryType="sum" > </dxi-total-item>
								<dxi-total-item column="s181_210" summaryType="sum" > </dxi-total-item>
								<dxi-total-item column="s211_240" summaryType="sum" > </dxi-total-item>
								<dxi-total-item column="s241_270" summaryType="sum" > </dxi-total-item>
								<dxi-total-item column="s271_300" summaryType="sum" > </dxi-total-item>
								<dxi-total-item column="s301_330" summaryType="sum" > </dxi-total-item>
								<dxi-total-item column="s331_360" summaryType="sum" > </dxi-total-item>
								<dxi-total-item column="s361_390" summaryType="sum" > </dxi-total-item>
								<dxi-total-item column="s391_420" summaryType="sum" > </dxi-total-item>
								<dxi-total-item column="s421_450" summaryType="sum" > </dxi-total-item>
								<dxi-total-item column="s451_480" summaryType="sum" > </dxi-total-item>
								<dxi-total-item column="s481_510" summaryType="sum" > </dxi-total-item>
								<dxi-total-item column="s511_540" summaryType="sum" > </dxi-total-item>
								<dxi-total-item column="s541_570" summaryType="sum" > </dxi-total-item>
								<dxi-total-item column="s571_600" summaryType="sum" > </dxi-total-item>
								<dxi-total-item column="s601_" summaryType="sum" > </dxi-total-item>

							</dxo-summary>

						</dx-data-grid>

					</mat-tab>

				</mat-tab-group>

			
			</div>
			</kt-portlet-body>
		</kt-portlet>

	</div>
</div>

